/* table {
  width: 100%;
}
.header {
  margin-left: 50%;
}

.example-button-row {
  padding: 10px 20px;
  border-radius: 5px;
}

.serach-class {
  width: 30%;
}

.header-class {
  background-color: #004869;
}
.btn-class {
  margin-left: 60%;
}

mat-card {
  margin-left: 2%;
  margin-right: 2%;
} */
