<div style="width: 100%; height: 100%; overflow: auto">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <h1 class="head-text">Dashboard</h1>
        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
    </div>
    <div style="margin: 0px 20px; width: 100%">
      <div class="day-selector"
      [formGroup]="formData"
      style="text-align: center; display: inline-flex"
    >
        <!-- Select Day Dropdown -->
        <mat-form-field appearance="outline" style="margin-right: 15px">
          <mat-label>Select Day</mat-label>
          <mat-select (selectionChange)="handleDaySelection($event.value)">
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field
          *ngIf="showDateRangePicker"
          class="time-picker"
          appearance="outline"
        >
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="customStartDate"
              (focus)="picker.open()"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="customEndDate"
              (focus)="picker.open()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Shifts</mat-label>
          <mat-select (selectionChange)="selectedShift($event.value)">
            <mat-option *ngFor="let element of shiftTimingList" [value]="element.id">
              {{ element.commonRefKey }} {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select (selectionChange)="selectedLocation($event.value)">
            <mat-option value="0">All</mat-option>
            <mat-option *ngFor="let element of locationForOrg" [value]="element.id">
           {{ element.location }}
            </mat-option>
          </mat-select>
        </mat-form-field> 

      </div>
    </div>

    <div class="cards">
      <mat-card (click)="navigateToPresent()" class="mat-card bg-three">
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Logged In</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ newPresent }}</h2>
          </div>

        </div>
      </mat-card>
      <mat-card (click)="navigateToAbsent()" class="mat-card bg-five">
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Not Logged In</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ newAbsent }}</h2>
          </div>

        </div>
      </mat-card>

      <!-- <mat-card
        (click)="navigateToLateCommer()"
        class="mat-card bg-two"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Late Comer</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ lateComerCount }}</h2>
          </div>

        </div>
      </mat-card>

      <mat-card
        (click)="navigateToEarlyLeaver()"
        class="mat-card bg-nine"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Early Leaver</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ earlyLeaverCount }}</h2>
          </div>

        </div>
      </mat-card> -->
    </div>
  </div>
</div>