<div class="lead-header">Account Entry</div>
<div class="main-filter-container" style="height: 18vh">
  <div class="example-button-row">
    <mat-form-field
      class="example-full-width search-class"
      appearance="outline"
    >
      <mat-label> Remiter Name</mat-label>
      <input type="text" matInput (input)="searchremiterName($event)" />
    </mat-form-field>

    <mat-form-field
      class="example-full-width search-class"
      appearance="outline"
    >
      <mat-label> Beneficiary Name</mat-label>
      <input type="text" matInput (input)="searchBenificiaryName($event)" />
    </mat-form-field>
    <mat-form-field
      class="example-full-width search-class"
      appearance="outline"
    >
      <mat-label>Select Transaction Type</mat-label>
      <input
        type="text"
        matInput
        (input)="searchTransactionType($event)"
        [matAutocomplete]="transactionTypeAuto"
      />
      <mat-autocomplete
        #transactionTypeAuto="matAutocomplete"
        (optionSelected)="onselectTransactionType($event)"
        [displayWith]="displayAccountEntryTransationType"
      >
        <mat-option *ngFor="let option of transactionTypes" [value]="option">
          {{ option.traType }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <span>
      <mat-form-field
        *ngIf="showDateRangePicker"
        class="time-picker ml-4"
        appearance="outline"
      >
        <mat-label>Select Date Range</mat-label>
        <mat-date-range-input
          [formGroup]="formData"
          [rangePicker]="picker"
          (click)="picker.open()"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="customStartDate"
            (focus)="picker.open()"
            (dateChange)="onDateChange()"
          />
          <input
            matEndDate
            placeholder="End date"
            formControlName="customEndDate"
            (focus)="picker.open()"
            (dateChange)="onDateChange()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button
        style="margin-bottom: 12px"
        mat-button
        (click)="clearDateRange()"
        [disabled]="
          !formData.get('customStartDate')?.value &&
          !formData.get('customEndDate')?.value
        "
      >
        Clear
      </button>
    </span>
  </div>
  <div class="value-search">
    <div class="search-div">
      <!-- Search Amount Field -->
      <mat-form-field
        class="example-full-width search-class"
        appearance="outline"
      >
        <mat-label>Select Amount</mat-label>
        <input
          type="text"
          matInput
          (input)="searchAmountType($event)"
          [matAutocomplete]="AmountAuto"
        />
        <mat-autocomplete
          #AmountAuto="matAutocomplete"
          (optionSelected)="onselectAmountType($event)"
          [displayWith]="displayAccountEntryAmount"
        >
          <mat-option *ngFor="let option of amountFilters" [value]="option">
            {{ option.value }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Conditionally Render Input Fields -->
      <div *ngIf="!isBetween && isRemaining">
        <mat-form-field
          class="example-full-width search-class"
          appearance="outline"
        >
          <mat-label>Enter Amount</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="amount"
            (input)="searchAmount($event)"
          />
        </mat-form-field>
      </div>
      <!-- Two Input Fields for "Between" Option -->
      <div *ngIf="isBetween">
        <mat-form-field
          class="example-full-width search-class"
          appearance="outline"
        >
          <mat-label>Min Amount</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="minAmount"
            (input)="searchMinAmount($event)"
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width search-class"
          appearance="outline"
        >
          <mat-label>Max Amount</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="maxAmount"
            (input)="searchMaxAmount($event)"
          />
        </mat-form-field>
      </div>
      <div class="submit-btn-container">
        <button
          mat-raised-button
          color="primary"
          (click)="onClear()"
          class="mr-10 clr-button clear-top1 clr-btn-color"
        >
          Clear
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
          class="clr-button clear-top1 submit-color"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<div class="entry-records">
  <div class="template-div">
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="downloadTemplate()"
      class="btn-class"
    >
      <mat-icon class="font">download</mat-icon>Download Template
    </button>
  </div>
  <div class="file-related-div">
    <div class="pr-1">
      <div class="file-select">
        <div class="choose-file">
          <input
            type="file"
            id="fileInput"
            (change)="onFileChange($event)"
            #fileInput
          />
          <label for="fileInput" class="custom-file-label">Choose File</label>
          <span class="file-chosen">{{ fileSizeDisplay }}</span>
        </div>
        <span class="file-note"> <b>File Type :</b> .xls , .xlsx</span>
        <div *ngIf="fileTypeError" class="error-message">
          Invalid file type. Please select a .xls or .xlsx file.
        </div>
      </div>
      <div class="upload-mob-top">
        <button mat-flat-button class="btn-class" (click)="uploadFiles()">
          Upload
        </button>
      </div>
    </div>
  </div>
  <div class="template-div">
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="downloadExcel()"
      class="btn-class"
    >
      <mat-icon class="font">download</mat-icon>Download Records
    </button>
  </div>
  <div class="button-container">
    <button mat-flat-button (click)="addaccountEntry()" class="btn-class">
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<!-- Totals Summary Section Styled Like Table Header -->
<div class="totals-summary-header">
  <div class="totals-summary-item">
    Total Credit<br /><span style="color: rgb(40, 178, 9)">{{
      totalCredit
    }}</span>
  </div>
  <div class="totals-summary-item">
    Total Debit<br /><span style="color: rgb(218, 73, 73)">{{
      totalDebit
    }}</span>
  </div>
  <div class="totals-summary-item">Total Gross<br />{{ GrossTotal }}</div>
</div>

<mat-card class="cmn-card" style="height: 78vh">
  <mat-card-content class="cmn-card-content">
    <div class="table-container">
      <table
        matSort
        mat-table
        [dataSource]="accountEntryDto"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Date
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.date | date : "dd-MM-yy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remiterName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Remiter Name
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.remiterName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="remiterBankName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            BankName
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.remiterBankName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="beneficiaryName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Beneficiary Name
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.beneficiaryName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="beneficiaryBankName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Beneficiary BankName
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.beneficiaryBankName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="transactionType">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Transaction Type
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.transactionType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chequeNo">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Cheque No
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.chequeNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="formattedCreditAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Credit Amount
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.formattedCreditAmount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="formattedDebitAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Debit Amount
          </th>
          <td mat-cell *matCellDef="let accountEntry">
            {{ accountEntry.formattedDebitAmount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let accountEntry">
            <i
              class="bi bi-pencil"
              style="cursor: pointer"
              (click)="editAccountEntry(accountEntry)"
            ></i>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i
              (click)="openConfirmDialog(accountEntry.id)"
              style="color: red; cursor: pointer"
              class="bi bi-trash text-danger"
              *ngIf="accountEntry.status == 'A'"
            ></i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="
            let accountEntry of accountEntryDto;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
