/* table {
    width: 100%;
  }

  .header {
    margin-left: 50%;
  }

  .mat-mdc-form-field {
    font-size: 10px;
  }

  .example-button-row {
    padding: 10px 20px;
    border-radius: 5px;
  }

  

  .header-class {
    background-color: #004869;
  }

  .btn-class {
    margin-left: 60%;
  }

  mat-card {
    margin-left: 2%;
    margin-right: 2%;
  }  */
/* .example-button-row {
  justify-content: initial !important;
} */
.main-filter-container {
  width: 96%;
  background: #fff;
  margin: 20px auto;
  padding: 15px 15px 5px 15px;
  border: 1px solid #b9b8b8;
  border-radius: 10px;
}
.example-full-width {
  padding-right: 20px;
}
.example-button-row {
  padding: 0 !important;
}

.value-search {
  display: flex;
}
.entry-records {
  padding: 15px;
  display: flex;
  /* padding-left: 1.3rem; */
  /* justify-content: space-between; */
  width: 96%;
  margin: 20px auto;
  border: 1px solid #dfdcdc;
  border-radius: 10px;
}
.pr-1 {
  padding-right: 1rem;
  display: flex;
  padding-left: 1.3rem;
  /* justify-content: space-between; */
}

.template-div {
  width: 30%;
}
.search-div {
  width: 100%;
  display: flex;
}
.clr-button {
  padding: 5px 20px;
  transform: translateY(-50%);
  color: #fff;
  margin-left: 15px;
}
.clr-btn-color {
  background-color: #306591;
}
.submit-color {
  background-color: #338999;
}
.clear-top {
  margin-top: 18px;
}
.clr-button:hover {
  cursor: pointer;
}
.clear-top1 {
  margin-top: 17px;
}
.submit-btn-container {
  display: flex;
}

.btn-class {
  background-color: #338999 !important;
  color: white !important;
  margin-left: 0;
  font-weight: normal;
}
.mr-10 {
  margin-right: 10px;
}
.file-related-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.file-note {
  margin-left: 5px;
  font-size: 11px;
}
.file-select {
  margin-right: 10px;
}
.choose-file {
  padding-right: 10px;
  border-radius: 5px;
  border: 2px solid #306591;
}
.icon-spacing {
  margin-right: 0.5rem;
}
.icon-spacing {
  margin-right: 0.5rem;
}
.button-container {
  text-align: right;
  width: 20%;
}
.button-back {
  margin-bottom: 20px;
  text-align: right;
  width: 98%;
}
.error-message {
  color: red;
  font-weight: bolder;
}

.file-upload-wrapper {
  position: relative;
  display: inline-block;
}

#fileInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-file-label {
  display: inline-block;
  padding: 7px 20px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  /* border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; */
  border: 2px solid #306591;
  background: #306591;
}

/* .custom-file-label:hover {
      background-color: #0056b3;
    } */

.file-chosen {
  margin-left: 10px;
  font-size: 0.9em;
  color: #000;
}
/* Styles for the totals summary header to match table header */
.totals-summary-header {
  display: flex;
  justify-content: space-between;
  background-color: #e0f5d7; /* Matches the table header background */
  color: black; /* Matches the table header text color */
  padding: 8px 16px;
  border-radius: 10px;
  margin: 20px auto;
  font-weight: bold;
  width: 96%;
  line-height: 27px;
}

/* Individual item styles */
.totals-summary-item {
  flex: 1;
  text-align: center;
  padding: 8px;
  border-right: 1px solid #333; /* Light border to separate items */
}

.totals-summary-item:last-child {
  border-right: none; /* Remove border from the last item */
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
}

/* Header styles */
.table-header {
  background-color: #004869;
  color: white;
  font-weight: bold;
}
.lead-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
