<div class="app-qo-pac-header">INVENTORY RECEIVABLES</div>
<div class="app-qo-filters-div">
  <div class="app-qo-search-container">
    <mat-form-field appearance="outline" class="app-qo-serach-class">
      <mat-label>Search PO Code</mat-label>
      <input
        matInput
        [(ngModel)]="purchaseOrderCode"
        (input)="onSearchPurchaseOrderCode($any($event).target?.value)"
        placeholder="Enter PO Code"
      />
    </mat-form-field>

    <mat-form-field
      class="app-qo-serach-class app-qo-ml-2"
      appearance="outline"
    >
      <mat-label> Search/Select Vendor</mat-label>
      <input
        type="text"
        matInput
        (input)="searchVendor($event)"
        [formControl]="vendor"
        [matAutocomplete]="vendorAuto"
      />
      <mat-autocomplete
        #vendorAuto="matAutocomplete"
        (optionSelected)="onVendorSelect($event)"
        [displayWith]="displayVendor"
      >
        <mat-option *ngFor="let option of vendors" [value]="option">
          {{ option.vendorName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      class="app-qo-serach-class app-qo-ml-2"
      appearance="outline"
    >
      <mat-label> Search/Select Project</mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.displayProjectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="app-qo-serach-class app-qo-ml-2"
    >
      <mat-label>Search On Stage Owner</mat-label>
      <input
        matInput
        [(ngModel)]="stageOwnerName"
        (input)="onSearchStageOwnerName($any($event).target?.value)"
        placeholder="Enter Stage Owner"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="app-qo-serach-class app-qo-ml-2"
    >
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-icon
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div"
      >sync</mat-icon
    >
    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="clear-date-div"
      >filter_list_off</mat-icon
    >
  </div>
</div>

<app-table
  [displayedColumns]="displayedColumns"
  [customHeaderNames]="customHeaderNames"
  [dataSource]="inventoryReceivables"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [actionButtons]="actionButtons"
  (pageChanged)="onPageChange($event)"
  [pipes]="pipes"
  (actionClicked)="onActionClicked($event)"
></app-table>
