mat-card {
  width: 92%;
  height: 78vh;
  padding: 2%;
  margin: 2%;
}

.tree-table {
  width: 100%;
  border-collapse: collapse;
}

.tree-table th,
.tree-table td {
  padding: 10px;
  border: 1px solid black;
}

.tree-table .row-heads {
  background-color: #00405e;
  text-align: center;
  color: white;
}

.head {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.menu-icon {
  vertical-align: middle;
  font-size: 25px;
  padding-right: 2rem;
}
