.column1 {
    width: 25%;
  }
  .column2 {
    width: 25%;
  }
  .column3 {
    width: 25%;
  }
  .column4 {
    width: 25%;
  }
  .crm-payment {
    border: 0.5px solid #004869;
    border-radius: 8px;
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding: 3px;
    margin: auto;
  }
  .example-container {
    text-align: center;
    margin-top: 30px;
  }
  .pac-header {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 1% !important;
    color: #306e03;
  }
  .row {
    display: flex;
    /* justify-content: space-between; */
    text-align: start;
    margin-top: 10px;
  }
  .mat-card-scroll {
    max-height: 98vh;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .mat-45 {
    width: 30%;
  }
  .card {
    margin: 0px;
    text-align: left;
    width: 75%;
    margin: auto;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  