<div class="pac-header">Filed Officer Patrol</div>
<div class="example-button-row">
  <div class="search-container">
    <mat-form-field appearance="outline" class="serach-class">
        <mat-label>Search On Name</mat-label>
        <input
          matInput
          (input)="onSearch($any($event).target?.value)"
          placeholder="Enter User Name"
        />
      </mat-form-field>
    <mat-form-field class="search-class" appearance="outline">
      <mat-label>Search/Select Project</mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="search-class" appearance="outline">
        <mat-label>Search/Select User</mat-label>
        <input
          type="text"
          matInput
          (input)="searchUser($event)"
          [formControl]="user"
          [matAutocomplete]="userAuto"
        />
        <mat-autocomplete
          #userAuto="matAutocomplete"
          (optionSelected)="onUserSelect($event)"
          [displayWith]="displayUser"
        >
          <mat-option *ngFor="let option of userNames" [value]="option">
            {{ option.userName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div
      class="day-selector"
      [formGroup]="formData"
      style="text-align: center; display: inline-flex"
    >
      <mat-form-field appearance="outline" style="margin-right: 15px">
        <mat-label>Select Day</mat-label>
        <mat-select (selectionChange)="handleDaySelection($event.value)"  [value]="selectedDay">
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field style="margin-right: 15px"
        *ngIf="showDateRangePicker"
        class="time-picker"
        appearance="outline"
      >
        <mat-label>Select Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="startDate"
            (focus)="picker.open()"
          />
          <input
            matEndDate
            placeholder="End date"
            formControlName="endDate"
            (focus)="picker.open()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      </div>
      
  </div>
</div>
<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="feildOfficerPatrolData"
        class="mat-elevation-z8"
      >
      <ng-container matColumnDef="rowNumber">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">
          {{ pageIndex * pageSize + i + 1 }}
        </td>
      </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td
            mat-cell
            *matCellDef="let patrol"
            matTooltip="{{ patrol.createdDate | date : 'medium' }}"
          >
            {{ patrol.createdDate | date : "mediumDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            User Name
          </th>
          <td mat-cell *matCellDef="let patrol">
            {{ patrol.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="projectName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Project Name
          </th>
          <td mat-cell *matCellDef="let patrol">
            {{ patrol.projectName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Location
          </th>
          <td mat-cell *matCellDef="let patrol">
            {{ patrol.location }}
          </td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Phone Number
            </th>
            <td mat-cell *matCellDef="let patrol">
              {{ patrol.phoneNumber }}
            </td>
          </ng-container>
        <ng-container matColumnDef="inTime">
            <th mat-header-cell *matHeaderCellDef> Login Time</th>
            <td
              mat-cell
              *matCellDef="let patrol"
              matTooltip="{{ patrol.inTime | date : 'medium' }}"
            >
              {{ patrol.inTime | date : "mediumDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="outTime">
            <th mat-header-cell *matHeaderCellDef>Logout Time</th>
            <td
              mat-cell
              *matCellDef="let patrol"
              matTooltip="{{ patrol.outTime | date : 'medium' }}"
            >
              {{ patrol.outTime | date : "mediumDate" }}
            </td>
          </ng-container>
          

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let patrol">
            <!-- <i
                class="bi bi-pencil"
                style="cursor: pointer"
                (click)="editInventoryTransfer(inventoryTransfer)"
              ></i> -->
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <i
                (click)="openConfirmDialog(patrol.fieldOfficerPatrolId)"
                style="color: red; cursor: pointer"
                class="bi bi-trash text-danger"
              ></i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="
            let patrol of feildOfficerPatrolData;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
