<div class="customer-component-bg-color">
  <h2 class="stage-header">STAGES & PAYMENTS</h2>
  <div
    class="row woquantities"
    *ngIf="stageAndPayments?.stagesDto && stageAndPayments.stagesDto.length > 0"
  >
    <div class="flex-display padding-zero">
      <div class="column1">
        <div *ngIf="stageAndPayments.projectName; else noProject">
          <div class="mb-10">Project Name</div>
          <div style="font-size: 16px">
            {{ stageAndPayments.projectName }}
          </div>
        </div>
        <ng-template #noProject>
          <div class="mb-10">Project</div>
          <div style="font-size: 16px">Not Available</div>
        </ng-template>
      </div>
      <div class="column1">
        <div *ngIf="stageAndPayments.unitName; else noUnit">
          <div class="mb-10">Unit Name</div>
          <div style="font-size: 16px">
            {{ stageAndPayments.unitName }}
          </div>
        </div>
        <ng-template #noUnit
          ><div class="mb-10">Unit Name</div>
          <div style="font-size: 16px">Not Available</div></ng-template
        >
      </div>
      <div class="column1">
        <div *ngIf="stageAndPayments.levelName; else noLevel">
          <div class="mb-10">Floor</div>
          <div style="font-size: 16px">
            {{ stageAndPayments.levelName }}
          </div>
        </div>
        <ng-template #noLevel
          ><div class="mb-10">Floor</div>
          <div style="font-size: 16px">Not Available</div></ng-template
        >
      </div>
      <div class="column1">
        <!-- Balance Amount Styling -->
        <div>
          <div class="mb-10">Total Unit Cost With Tds</div>
          <div style="font-size: 16px">
            {{ stageAndPayments.formattedFinalPriceWithTds }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex-display padding-zero">
      <div class="column">
        <!-- Balance Amount Styling -->
        <div>
          <div class="mb-10">Total Unit Cost Without Tds</div>
          <div style="font-size: 16px">
            {{ stageAndPayments.formattedFinalPriceWithoutTds }}
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <div>
            <div class="mb-10">Total Demand Amount With Tds</div>
            <div style="font-size: 16px">
              {{ stageAndPayments.formattedTotalInitiatedAmountWithTds }}
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <div>
            <div class="mb-10">Total Demand Amount Without Tds</div>
            <div style="font-size: 16px">
              {{ stageAndPayments.formattedTotalInitiatedAmountWithoutTds }}
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div>
          <div class="mb-10">Total Paid Amount</div>
          <div style="font-size: 16px">
            {{ stageAndPayments.formattedTotalPaidAmount }}
          </div>
        </div>
      </div>

      <div class="column">
        <!-- Balance Amount Styling -->
        <div>
          <div class="mb-10">Total Balance Amount Without TDS</div>
          <div style="font-size: 16px">
            <span
              style="margin-left: 0px"
              [ngStyle]="{
                color:
                  stageAndPayments.formattedTotalBalanceAmount != '₹0.00'
                    ? 'red'
                    : stageAndPayments.formattedTotalBalanceAmount === '₹0.00'
                    ? 'white'
                    : 'green'
              }"
            >
              {{ stageAndPayments.formattedTotalBalanceAmount }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="example-button-row">
    <!-- Display the mat-select dropdown if there are multiple units -->
    <mat-form-field
      class="mat-20 stages-mdc-text-field"
      appearance="outline"
      *ngIf="units.length > 1"
    >
      <mat-label>Please Select Booked Units</mat-label>
      <mat-select (selectionChange)="onUnitSelected($event)">
        <mat-option *ngFor="let element of units" [value]="element.unitId">
          {{ element.unitName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Automatically display stages if there's only one unit -->
    <div *ngIf="units.length === 1">
      <mat-form-field
        class="mat-45 stages-mdc-text-field"
        appearance="outline"
        [disabled]="true"
      >
        <mat-label>Selected Unit</mat-label>
        <mat-select
          class="mat-mini"
          [value]="units[0].unitName"
          (selectionChange)="onUnitSelected({ value: units[0].unitId })"
        >
          <mat-option [value]="units[0].unitName">
            {{ units[0].unitName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="stages-div flex-display">
    <!-- Display stages for the selected unit -->
    <mat-accordion
      *ngIf="stageAndPayments.stagesDto?.length"
      class="stages-accordion"
    >
      <mat-expansion-panel
        *ngFor="let stage of stageAndPayments.stagesDto"
        [expanded]="expandedStageStates[stage.stageId]"
        (opened)="setExpandedState(stage.stageId, true)"
        (closed)="setExpandedState(stage.stageId, false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="stages-display">
              <div class="stages-display-div txt-bold">
                {{ stage.stageName }}
              </div>

              <div class="stages-display-div txt-center">
                <div>Stage Total Amount With Tds:</div>
                <div>{{ stage.formattedStageAmountWithTds }}</div>
              </div>

              <!-- <span style="margin-left: 10px;">{{ " " }}</span> -->
              <div class="stages-display-div txt-center">
                <div>Paid Amount:</div>
                <div
                  [ngStyle]="{
                    color:
                      stage.formattedStagePaidAmount != '₹0.00'
                        ? 'green'
                        : 'black'
                  }"
                >
                  {{ stage.formattedStagePaidAmount }}
                </div>
              </div>
              <!-- <span style="margin-left: 10px;">{{ " " }}</span> -->
              <div class="stages-display-div txt-center">
                <div>Pending Amount:</div>
                <div
                  [ngStyle]="{
                    color:
                      stage.formattedStagePendingAmount != '₹0.00'
                        ? 'red'
                        : 'black'
                  }"
                >
                  {{ stage.formattedStagePendingAmount }}
                </div>
              </div>

              <div class="stages-display-div txt-center">
                <div class="mob-prgt">TDS:</div>
                <div>{{ stage.formattedStageTds }}</div>
              </div>
              <!-- <div class="stages-icon-div">
                <mat-icon
                  matTooltip="payment"
                  (click)="
                    getStageDetails(stageAndPayments.applicantId, stage.stageId)
                  "
                  *ngIf="
                    stage.paymentDto?.length &&
                    stage.paymentDto[0].paymenetStatus!='Payment Completed'
                  "
                >
                  payment
                </mat-icon>
              </div> -->
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="expandedStageStates[stage.stageId]" class="payment-details">
          <table
            mat-table
            [dataSource]="stage.paymentDto"
            class="mat-elevation-z8"
          >
            <!-- Payment ID Column -->

            <!-- Applicant Name Column -->
            <ng-container matColumnDef="applicantName">
              <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.firstApplicantName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="paidAmountForApproval">
              <th mat-header-cell *matHeaderCellDef>
                Paid Amount For Approval
              </th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.formattedPendingAmount }}
              </td>
            </ng-container>
            <!-- Paid Amount Column -->
            <ng-container matColumnDef="paidAmount">
              <th mat-header-cell *matHeaderCellDef>Paid Amount</th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.formattedPaidAmount }}
              </td>
            </ng-container>
            <!-- Total Amount Column -->

            <!-- Payment Date Column -->
            <ng-container matColumnDef="paymentDate">
              <th mat-header-cell *matHeaderCellDef>Payment Date</th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.paymentDate | date : "MMM d, yyyy" }}
              </td>
            </ng-container>

            <!-- Payment Mode Column -->
            <ng-container matColumnDef="paymentMode">
              <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.paymentMode }}
              </td>
            </ng-container>

            <!-- Bank Name Column -->
            <ng-container matColumnDef="bankName">
              <th mat-header-cell *matHeaderCellDef>Bank Name</th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.customerBankName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="paymentstatus">
              <th mat-header-cell *matHeaderCellDef>Paymenet Status</th>
              <td mat-cell *matCellDef="let payment">
                {{ payment.paymenetStatus }}
              </td>
            </ng-container>

            <!-- Payment Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let payment">
                <span
                  [ngStyle]="{
                    color:
                      payment.actionStatus === 'Approved'
                        ? 'green'
                        : payment.actionStatus === 'Rejected'
                        ? 'red'
                        : payment.actionStatus === 'Waiting For Approval'
                        ? 'blue'
                        : payment.actionStatus === 'Not Paid'
                        ? 'orange'
                        : 'black'
                  }"
                >
                  <strong>{{ payment.actionStatus }}</strong>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="paymentReceiptUrl">
              <th mat-header-cell *matHeaderCellDef>Download Receipt</th>
              <td mat-cell *matCellDef="let payment">
                <i
                  *ngIf="payment.paymentReceiptUrl"
                  class="bi bi-file-earmark-arrow-down-fill"
                  style="font-size: 23px; padding-left: 30px"
                  (click)="downloadReceipt(payment.paymentReceiptUrl)"
                ></i>
                <span *ngIf="!payment.paymentReceiptUrl">No Receipt</span>
              </td>
            </ng-container>

            <!-- Table Header and Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div class="button-div">
            <button
              *ngIf="stage.demandLetter"
              mat-button
              (click)="downloadDemandLetter(stage.demandLetter)"
              class="download-button"
            >
              <i class="bi bi-file-earmark-arrow-down-fill"></i> Download
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
