/* Booking container */
.stage-container {
  padding: 20px;
  background-color: #f6f7fb;
}
.stage-header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 1.2px;
  padding: 0px 25px 20px;
  border-radius: 8px;
  color: #333;
}

.woquantities {
  /* border: 0.5px solid #004869; */
  border-radius: 8px;
  /* background-color: #f8f9fa; */
  display: flex;
  flex-wrap: wrap;
  margin: 17px 17px 17px 17px;
  text-align: center;
  width: 80%;
  margin: auto;
  color: #fff;
}
.woquantities b {
  font-weight: bold;
  font-size: 15px;
}
.woquantities .balance-red {
  color: red;
  font-size: 15px;
}
.woquantities .balance-normal {
  color: #fff;
  font-size: 15px;
}
.flex-display {
  display: flex;
}
.padding-zero {
  padding: 0px;
}
.column {
  width: 25%;
  padding: 20px 0px;
  /* border: 1px solid #b1b0b0; */
  margin: 10px;
  background-color: rgba(14, 98, 81, 0.8);
  border-radius: 10px;
}
.column1 {
  width: 33%;
  padding: 20px 0px;
  /* border: 1px solid #b6a9a9; */
  margin: 10px;
  background-color: rgba(14, 98, 81, 0.8);
  border-radius: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.example-button-row {
  padding: 0;
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}
.center-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  /* height: 100%; Ensure it takes the full height of the cell */
}


.stages-div {
  width: 80%;
  margin: auto;
}
.stages-accordion {
  width: 100%;
  margin: 10px;
}
.stages-display {
  /* margin-left: 20px; */
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  color: #333;
  font-size: 13px;
  line-height: 22px;
}
.stages-display-div {
  width: 18%;
}
.stages-icon-div {
  text-align: center;
  width: 7%;
  padding-top: 8px;
}
.button-div {
  margin: 10px 0px 0px 10px !important;
}
.download-button {
  border: 1px solid #d5d3d3;
  background-color: rgba(14, 98, 81, 0.8);
  color: #fff;
  padding: 0px 20px;
}
.mat-expansion-panel {
  margin-bottom: 20px;
  background: none !important;
  color: #333 !important;
}
.mat-expansion-indicator::after {
  color: #333 !important;
}
.mat-expansion-panel-header.mat-expanded {
  height: 54px !important;
  border-bottom: 1px solid #b1b0b0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.3) !important;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}
.mat-expansion-panel-header {
  height: 70px !important;
  background: rgba(255, 255, 255, 0.3);
}

.txt-center {
  text-align: center;
}
.txt-bold {
  font-weight: bold;
  line-height: 42px;
}
.mat-mdc-table .mdc-data-table__row {
  border-bottom: 1px solid #e9e7e7;
}
.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.mat-mdc-text-field-wrapper {
  background: none !important;
}
@media screen and (max-device-width: 480px) {
  .woquantities {
    width: 100%;
  }
  .stage-header {
    padding: 0px;
    font-size: 20px;
  }
  .flex-display {
    display: block;
  }
  .column1 {
    width: 90%;
    margin: 10px auto;
    background-color: rgba(14, 98, 81, 0.8);
  }
  .column {
    width: 90%;
    margin: 10px auto;
    background-color: rgba(14, 98, 81, 0.8);
  }
  .mat-expansion-panel {
    background: rgba(255, 255, 255, 0.6) !important;
  }
  .stages-div {
    width: 96%;
  }
  .mat-expansion-panel-header {
    padding: 0 15px;
    height: 192px !important;
  }
  .mat-expansion-panel-header.mat-expanded {
    height: 192px !important;
  }
  .mob-prgt {
    padding-right: 5px;
  }
  .stages-display {
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 26px;
  }
  .download-button {
    margin-bottom: 10px;
  }
  .stages-display-div {
    width: 100%;
    display: flex;
  }
  .payment-details {
    overflow-x: auto;
    /* overflow-y: hidden; */
    min-height: 120px;
  }
  .mat-elevation-z8 {
    white-space: nowrap !important;
  }
  .txt-center {
    text-align: left;
  }
}
.customer-component-bg-color {
  background-color: rgba(213, 216, 220, 0.9);
  height: 80vh;
  padding-bottom: 30px;
}
