<div class="pac-header">VIEW WORK ORDER</div>
<form [formGroup]="formData">
  <div>
    <mat-card class="wo-app-cmn-card">
      <mat-card-content class="cmn-card-content">
        <div class="tab-head">
          <div class="row" class="upload-doc-div">
            <div class="green-amount">
              <b style="font-size: 14px">TOTAL AMOUNT EXCLUDE GST:</b>
              {{ workOrder.totalAmount | currency : "INR" }}
            </div>

            <div class="green-amount">
              <b style="font-size: 14px"> TOTAL AMOUNT INCLUDE GST:</b>
              {{ workOrder.totalAmountWithGst | currency : "INR" }}
            </div>

            <button
              mat-flat-button
              class="btn-class primary woa-btns"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#serviceCodeSearchModal"
              (click)="openTermsAdnConditionsModel(workOrder.workOrderId)"
            >
              View Terms And Conditions
            </button>

            <button
              mat-flat-button
              class="btn-class primary woa-btns"
              type="button"
              (click)="openAmountModel(workOrder.workOrderId)"
            >
              View Amount Details
            </button>
          </div>

          <div class="row woQuantities">
            <div class="column1">
              <div *ngIf="workOrder?.workOrderNumber">
                <b class="column-div">WO NUMBER:</b>
                {{ workOrder.workOrderNumber }}
              </div>
              <br />
              <div *ngIf="workOrder?.plantCode">
                <b class="column-div">PLANT CODE:</b> {{ workOrder.plantCode }}
              </div>
              <br />

              <!-- <div
                *ngIf="
                  workOrder?.actionStatus !== 'Pending' &&
                  workOrder?.actionStatus
                "
              >
                <b class="column-div">STATUS:</b> {{ workOrder.actionStatus }}
              </div>
              <br /> -->
            </div>

            <div class="column2">
              <div *ngIf="workOrder?.vendorName">
                <b class="column-div">VENDOR NAME:</b>
                {{ workOrder.vendorName }}
              </div>
              <br />
              <div *ngIf="workOrder?.createdBy">
                <b class="column-div">CREATED BY:</b> {{ workOrder.createdBy }}
              </div>
              <br />
            </div>

            <div class="column2">
              <div *ngIf="workOrder?.vendorCode">
                <b class="column-div">VENDOR CODE:</b>
                {{ workOrder.vendorCode }}
              </div>
              <br />
              <div *ngIf="workOrder?.createdDate">
                <b class="column-div">CREATED DATE:</b>
                {{ workOrder.createdDate | date : "medium" }}
              </div>
              <br />
            </div>
          </div>

          <div
            class="row woQuantities"
            *ngIf="workOrder.subject && workOrder.subject.trim() !== ''"
          >
            <span>
              <b style="color: #004869">SUBJECT:</b>
              <div
                [innerHTML]="getSanitizedHtml(workOrder.subject)"
                style="margin-top: 1%"
              ></div>
            </span>
            <br />
          </div>

          <div
            class="row woQuantities"
            *ngIf="
              workOrder?.actionStatus !== 'Pending' && workOrder?.actionStatus
            "
          >
            <span style="color: #004869; font-size: 13px">
              <b>REASON:</b> {{ stages[0].actionComments }} </span
            ><br />
          </div>

          <div style="padding: 0rem 1rem">
            <!-- <div class="radio-button">WORK ORDER QUANTITIES</div>
          <app-workorder-quantity
            [workOrderQuantitiesDto]="workOrder.workOrderQuantitiesDto"
          ></app-workorder-quantity> -->

            <ng-container *ngIf="workOrderQuantities">
              <ng-container
                *ngIf="hasAmendment1 && workOrderQuantities.length > 0"
              >
                <div class="radio-button">AMENDMENT WORK ORDER QUANTITIES</div>
                <app-amendment-workorder-quantity
                  [workOrderQuantitiesDto]="workOrderQuantities"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                >
                </app-amendment-workorder-quantity>
                <mat-paginator
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>

              <ng-container
                *ngIf="!hasAmendment1 && workOrderQuantities.length > 0"
              >
                <div class="radio-button">WORK ORDER QUANTITIES</div>
                <app-workorder-quantity
                  [workOrderQuantitiesDto]="workOrderQuantities"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                >
                </app-workorder-quantity>
                <mat-paginator
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>
            </ng-container>

            <div *ngIf="previousworkOrderQuantities as previousQuantities">
              <ng-container
                *ngIf="hasAmendment && previousQuantities.length > 0"
              >
                <div class="radio-button">PREVIOUS WORK ORDER QUANTITIES</div>
                <app-amendment-workorder-quantity
                  [workOrderQuantitiesDto]="previousQuantities"
                  [pageIndex]="pageIndex1"
                  [pageSize]="pageSize1"
                ></app-amendment-workorder-quantity>
                <mat-paginator
                  [length]="totalItems1"
                  [pageSize]="pageSize1"
                  [pageSizeOptions]="pageSizeOptions1"
                  (page)="onPreviousQuantitiesPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>

              <ng-container
                *ngIf="!hasAmendment && previousQuantities.length > 0"
              >
                <div class="radio-button">PREVIOUS WORK ORDER QUANTITIES</div>
                <app-workorder-quantity
                  [workOrderQuantitiesDto]="previousQuantities"
                  [pageIndex]="pageIndex1"
                  [pageSize]="pageSize1"
                ></app-workorder-quantity>
                <mat-paginator
                  [length]="totalItems1"
                  [pageSize]="pageSize1"
                  [pageSizeOptions]="pageSizeOptions1"
                  (page)="onPreviousQuantitiesPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>
            </div>
          </div>

          <div>
            <div class="radio-button">STAGE DETAILS</div>
            <ng-container>
              <app-workorder-stage
                [stagesDto]="stages"
                [status]="status"
              ></app-workorder-stage>
            </ng-container>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div *ngIf="status === 'pending'; else backButton">
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoApprovals()"
          >
            BACK
          </button>
          <button
            mat-flat-button
            class="btn-class warn"
            type="button"
            (click)="approvalStatus('Rejected')"
          >
            REJECT
          </button>
          <button
            mat-flat-button
            class="btn-class primary"
            type="button"
            (click)="approvalStatus('Rework')"
          >
            REWORK
          </button>
          <button
            mat-flat-button
            class="btn-class success"
            type="button"
            (click)="approvalStatus('Approval')"
            type="button"
          >
            APPROVE
          </button>
        </div>
        <ng-template #backButton>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoApprovals()"
          >
            BACK
          </button>
        </ng-template>
      </mat-card-footer>
    </mat-card>
  </div>
</form>

<div
  *ngIf="openDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="color: #004869">
          WORK ORDER AMOUNT DETAILS
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body-div">
        <table
          matSort
          mat-table
          [dataSource]="workOrderAmount"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="workOrderStatus">
            <th mat-header-cell *matHeaderCellDef>WorkOrder Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.workOrderStatus }}
            </td>
          </ng-container>

          <ng-container matColumnDef="stageOrder">
            <th mat-header-cell *matHeaderCellDef>Stage Order</th>
            <td mat-cell *matCellDef="let element">
              {{ element.stageOrder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef>Total Amount</th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalAmount | currency : "INR" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalAmountWithGst">
            <th mat-header-cell *matHeaderCellDef>Total Amount With Gst</th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalAmountWithGst | currency : "INR" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr
            class="table-row"
            mat-row
            *matRowDef="let row; columns: displayedColumns1"
          ></tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade modal-xl"
  id="serviceCodeSearchModal"
  tabindex="-1"
  aria-labelledby="serviceCodeSearchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="color: #004869">TERMS AND CONDITIONS</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body wo-modal-body">
        <table
          matSort
          mat-table
          [dataSource]="termsAndConditions"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="headerName">
            <th mat-header-cell *matHeaderCellDef>Header Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.headerName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="headerOrder">
            <th mat-header-cell *matHeaderCellDef>Header Order</th>
            <td mat-cell *matCellDef="let element">
              {{ element.headerOrder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="headerTermsAndConditions">
            <th mat-header-cell *matHeaderCellDef>
              HeaderTerms And Conditions
            </th>
            <td mat-cell *matCellDef="let element">
              <div [innerHTML]="element.headerTermsAndConditions"></div>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedTermsAndConditions"
          ></tr>
          <tr
            class="table-row"
            mat-row
            *matRowDef="let row; columns: displayedTermsAndConditions"
          ></tr>
        </table>
      </div>
      <div>
        <mat-card-footer class="pagination-sec">
          <mat-paginator
            [length]="headerTotalItems"
            [pageSize]="headerPageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onHeaderPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
          ></mat-paginator>
        </mat-card-footer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
