<h4 class="head">
  <b>{{ isApprovel ? "APPROVE CHANNEL PARTNER" : "VIEW CHANNEL PARTNER" }}</b>
</h4>

<form>
  <div class="container">
    <mat-card class="card">
      <mat-card-content class="mat-content">
        <div class="row">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Name</mat-label>
            <input matInput [value]="CPData?.name" [readonly]="true" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Email</mat-label>
            <input matInput [value]="CPData?.email" [readonly]="true" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Contact Number</mat-label>
            <input matInput [value]="CPData?.phoneNumber" [readonly]="true" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Registration Date</mat-label>
            <input
              matInput
              [readonly]="true"
              [value]="CPData?.registeredDate"
            />
          </mat-form-field>
        </div>

        <!-- <div class="row">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>PAN Number</mat-label>
            <input matInput [value]="CPData.panCardNumber" [readonly]="true" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Aadhar Number</mat-label>
            <input matInput [value]="CPData.aadharNumber" [readonly]="true" />
          </mat-form-field>
        </div> -->

        <div class="row">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Company Website</mat-label>
            <input
              matInput
              [value]="CPData?.companyWebsite"
              [readonly]="true"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Designation</mat-label>
            <input matInput [value]="CPData?.designation" [readonly]="true" />
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <div style="text-align: right" class="button">
          <button
            mat-flat-button
            style="color: white; background-color: rgb(97, 97, 38)"
            class="btn-class"
            (click)="gotoViewApproval()"
            *ngIf="!isApprovel"
          >
            Back
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="closeForm()"
            *ngIf="isApprovel"
            style="margin-right: 0px"
          >
            BACK
          </button>

          <button
            mat-flat-button
            style="color: white; background-color: red"
            class="btn-class"
            (click)="handleChannelPartnerApproval('cancel')"
            *ngIf="isApprovel"
          >
            REJECT
          </button>

          <!-- <button
            mat-flat-button
            style="color: white; background-color: rgb(30, 163, 154)"
            class="btn-class"
            (click)="handleChannelPartnerApproval('rework')"
            *ngIf="isApprovel"
          >
            REWORK
          </button> -->

          <button
            mat-flat-button
            style="color: white; background-color: #004869"
            class="btn-class"
            (click)="handleChannelPartnerApproval('approval')"
            *ngIf="isApprovel"
          >
            APPROVE
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
