<h4 class="header"><b>LEAD</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header>
        <b>{{ isAdding ? "ADD LEAD" : "EDIT LEAD" }}</b>
      </mat-card-header>
      <mat-card-content style="margin-top: 2%">
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Alter Contact Number</mat-label>
          <input matInput formControlName="altContactNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Pincode</mat-label>
          <input matInput formControlName="pincode" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Designation</mat-label>
          <input matInput formControlName="designation" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Gender</mat-label>
          <input matInput formControlName="gender" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="companyName" />
        </mat-form-field>
      </mat-card-content>

      <mat-card-footer>
        <div style="text-align: right" class="button">
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
          <button mat-flat-button class="btn-class warn" (click)="clearForm()">
            RESET
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoLeadRegister()"
          >
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
