.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1rem;
}
