/* .mat-50 {
  width: 100%;
  padding-top: 1rem;
}

.card {
  margin: 2%;
  text-align: left;
  width: 70%;
  margin-left: 15%;
}
.button {
  margin: 2%;
}
.mat-content {
  margin-top: 10px;
}
.btn-class {
  margin-left: 5px;
}

.header {
  font-weight: bold;
  text-align: center;
  margin: 3%;
} */
