<div (contextmenu)="onRightClick($event)">
  <h3 class="header">ATTENDANCE LIST</h3>
  <div class="example-button-row">
    <div class="sac-search-container">
      <mat-form-field appearance="outline" class="sac-serach-class sac-ml-2">
        <mat-label>Search On User Name</mat-label>
        <input
          matInput
          (input)="onSearch($any($event).target?.value)"
          placeholder="Enter User Name"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="margin-right: 15px"
        class="sac-serach-class sac-ml-2"
      >
        <mat-label>Shift</mat-label>
        <mat-select
          (selectionChange)="selectedShift($event.value)"
          [(value)]="shiftId"
        >
          <mat-option
            *ngFor="let element of shiftTimingList"
            [value]="element.id"
          >
            {{ element.commonRefKey }} {{ element.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-flat-button
        style="color: white; background-color: #004869"
        class="btn-class"
        data-bs-toggle="modal"
        data-bs-target="#attendanceModel"
        (click)="getMonths()"
      >
        Generate Report
      </button>

      <button
        mat-flat-button
        style="color: white; background-color: #004869"
        class="btn-class"
        (click)="goToDashBoard()"
      >
        Back
      </button>
      <mat-form-field appearance="outline" class="sac-serach-class sac-ml-2">
        <mat-label>Attendance Status</mat-label>
        <mat-select
          (selectionChange)="selectedStatus($event.value)"
          [(value)]="status"
        >
          <mat-option
            *ngFor="let element of attendanceStatusList"
            [value]="element.commonRefValue"
          >
            {{ element.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" >
        <mat-label>Location</mat-label>
        <mat-select
          (selectionChange)="selectedLocation($event.value)"
          [(value)]="selectlocationId"
        >
          <mat-option value="0">All</mat-option>
          <mat-option
            *ngFor="let element of locationForOrg"
            [value]="element.id"
          >
            {{ element.location }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      
        <mat-form-field appearance="outline" class="sac-serach-class sac-ml-2">
          <mat-label>Location</mat-label>
          <mat-select
            [(value)]="selectlocationId"
            (selectionChange)="selectedLocation($event.value)"
          >
            <mat-option [value]="0">All</mat-option>
            <mat-option
              *ngFor="let element of locationForOrg"
              [value]="element.id"
            >
              {{ element.location }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <div
        [formGroup]="formData"
        style="text-align: center; display: inline-flex"
      >
        <mat-form-field appearance="outline" class="day-select">
          <mat-label>Select Day</mat-label>
          <mat-select
            (selectionChange)="handleDaySelection($event.value)"
            [value]="selectedDay"
          >
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          style="margin-right: 15px"
          *ngIf="showDateRangePicker"
          class="time-picker"
          appearance="outline"
        >
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="customStartDate"
              (focus)="picker.open()"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="customEndDate"
              (focus)="picker.open()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <button
          mat-flat-button
          style="color: white; background-color: #004869"
          (click)="addAttendance()"
          class="btn-class"
        >
          <i class="bi bi-sign-intersection-fill h6"></i> ADD
        </button>
      </div>
    </div>
  </div>
  <mat-card class="cmn-card">
    <mat-card-content class="cmn-card-content">
      <div class="tab-head">
        <table
          matSort
          mat-table
          [dataSource]="attendanceData"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              User Name
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.userName }}
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="ShiftStartTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Shift Start Time
          </th>
          <td mat-cell *matCellDef="let attendanceUser">
            {{ attendanceUser.shiftStartTime }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ShiftEndTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Shift End Time
          </th>
          <td mat-cell *matCellDef="let attendanceUser">
            {{ attendanceUser.shiftEndTime }}
          </td>
        </ng-container> -->
          <ng-container matColumnDef="InDateTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              In Date & Time
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.attendanceInDateTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="OutDateTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Out Date & Time
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.attendanceOutDateTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="InTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              In Time
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.attendanceInTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="OutTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Out Time
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.attendanceOutTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="logInLocation">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Log In Location
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.logInLocationName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="logOutLocation">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Log Out Location
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.logOutLocationName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="attendanceStatus">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.attendanceStatus }}
            </td>
          </ng-container>

          <ng-container matColumnDef="shift">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Shift
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              {{ attendanceUser.commonRefValue }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Actions
            </th>
            <td mat-cell *matCellDef="let attendanceUser">
              <i
                class="bi bi-pencil"
                style="cursor: pointer"
                (click)="editAttendance(attendanceUser)"
              ></i>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <i
                (click)="openConfirmDialog(attendanceUser.attendanceId)"
                style="color: red; cursor: pointer"
                class="bi bi-trash text-danger"
              ></i>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <!-- ✅ DATA ROW -->
          <tr
            mat-row
            *matRowDef="let attendanceUser; columns: displayedColumns"
            (contextmenu)="onTableRightClick($event, attendanceUser)"
          ></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card>
  <!-- Custom Context Menu -->
  <!-- Context Menu: move to very end -->
  <!-- <div
  class="context-menu"
  *ngIf="contextMenuVisible"
  [ngStyle]="{
    top: contextMenuPosition.y + 'px',
    left: contextMenuPosition.x + 'px'
  }"
>
  <ul>
    <li (click)="editAttendance(selectedRow)">Edit</li>
    <li (click)="deleteAttendance(selectedRow)">Delete</li>
  </ul>
</div>
<div
  class="context-menu"
  *ngIf="contextMenuVisible"
  [ngStyle]="{
    top: contextMenuPosition.y + 'px',
    left: contextMenuPosition.x + 'px'
  }"
  (clickOutside)="contextMenuVisible = false"
></div> -->
</div>
<div
  class="context-menu"
  *ngIf="contextMenuVisible"
  [ngStyle]="{
    top: contextMenuPosition.y + 'px',
    left: contextMenuPosition.x + 'px'
  }"
>
  <ul>
    <li (click)="generateExcel()">Generate Report</li>
  </ul>
</div>
<div
  class="context-menu"
  *ngIf="contextMenuVisible"
  [ngStyle]="{
    top: contextMenuPosition.y + 'px',
    left: contextMenuPosition.x + 'px'
  }"
  (clickOutside)="contextMenuVisible = false"
></div>
<!-- pop up -->

<div
  class="modal fade"
  id="attendanceModel"
  tabindex="-1"
  aria-labelledby="GenerateExcelModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold text-uppercase" id="GenerateExcelModal">
          Attendance Report
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body modal-body-custom">
        <form [formGroup]="attendanceForm">
          <mat-form-field appearance="outline" class="form-field-custom">
            <mat-label>Select Month</mat-label>
            <mat-select
              formControlName="month"
              (selectionChange)="selectedMonth($event.value)"
            >
              <mat-option
                *ngFor="let element of monthsList"
                [value]="element.commonRefKey"
              >
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="attendanceForm.get('month')?.hasError('required')"
            >
              Month is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field-custom">
            <mat-label>Select Year</mat-label>
            <input
              matInput
              [matDatepicker]="yearPicker"
              formControlName="year"
              readonly
            />
            <mat-datepicker
              #yearPicker
              startView="multi-year"
              (yearSelected)="chosenYearHandler($event); yearPicker.close()"
              panelClass="year-picker"
            ></mat-datepicker>
            <mat-datepicker-toggle
              matSuffix
              [for]="yearPicker"
            ></mat-datepicker-toggle>
            <mat-error *ngIf="attendanceForm.get('year')?.hasError('required')">
              Year is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field-custom">
            <mat-label>Location</mat-label>
            <mat-select
              formControlName="location"
              (selectionChange)="selectedLocation($event.value)"
              [(value)]="selectlocationId"
            >
              <mat-option value="0">All</mat-option>
              <mat-option
                *ngFor="let element of locationForOrg"
                [value]="element.id"
              >
                {{ element.location }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="attendanceForm.get('location')?.hasError('required')"
            >
              location is required
            </mat-error>
          </mat-form-field>

          <div class="button-wrapper">
            <button
              mat-flat-button
              color="primary"
              (click)="generateExcel()"
              [disabled]="attendanceForm.invalid"
            >
              Generate Report
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
