<h4 class="header"><b>Attendance</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header class="cmn-mat-card-header">
        <b>{{ isAdding ? "ADD ATTENDANCE" : "EDIT ATTENDANCE" }}</b>
      </mat-card-header>
      <mat-card-content class="cmn-mat-card-content">
        <!-- User Selection -->
        <mat-form-field
          class="example-full-width"
          class="mat-50"
          appearance="outline"
        >
          <mat-label>User Name</mat-label>
          <input
            type="text"
            matInput
            [value]="selectedUser.userName ? selectedUser.userName : ''"
            (input)="searchUserForAuto($event)"
            [formControl]="userControll"
            [matAutocomplete]="usernameauto"
            [readonly]="!isAdding"
          />
          <mat-autocomplete
            #usernameauto="matAutocomplete"
            (optionSelected)="onUserSelectForAuto($event)"
            [displayWith]="displayUserForAuto"
          >
            <mat-option
              *ngFor="let option of userData"
              [value]="option"
              [disabled]="!isAdding"
            >
              {{ option.userName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width mat-50" appearance="outline">
          <mat-label>Shift Assigned</mat-label>
          <mat-select formControlName="shiftId">
            <mat-option *ngFor="let element of shiftList" [value]="element.id">
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" class="mat-50">
          <mat-label>User Name</mat-label>
        
          <input
          type="text"
          matInput
          (input)="getusers($any($event).target?.value)"
          [formControl]="userId"
          [disabled]="!isAdding"
        
        />
        <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onSelect($event)"
        
      >
            <mat-option *ngFor="let usr of user" [value]="usr.userId">
              {{ usr.userName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <!-- 
        <mat-form-field class="mat-50" appearance="fill">
          <mat-label>Project</mat-label>
          <input
            type="text"
            matInput
            (input)="getProjects($any($event).target?.value)"
            [formControl]="project"
            [matAutocomplete]="projectAuto"
          />
          <mat-autocomplete
            #projectAuto="matAutocomplete"
            (optionSelected)="onProjectSelect($event)"
            [displayWith]="displayProject"
          >
            <mat-option *ngFor="let option of projects" [value]="option">
              {{ option.projectName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <!-- Attendance In Date -->
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Attendance In Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInDate"
            (click)="pickerInDate.open()"
            formControlName="attendanceInDate"
            placeholder="Choose a date"
            (dateChange)="onChange($event, 'dateIn')"
            class="input-txt"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerInDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerInDate></mat-datepicker>
          <mat-error
            *ngIf="
              formData.get('attendanceInDate')?.hasError('dateRangeInvalid')
            "
          >
            Out Date must be after In Date.
          </mat-error>
        </mat-form-field>

        <!-- Attendance Out Date -->
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Attendance Out Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickerOutDate"
            (click)="pickerOutDate.open()"
            formControlName="attendanceOutDate"
            placeholder=" Choose a date"
            (dateChange)="onChange($event, 'dateOut')"
            class="input-txt"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerOutDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerOutDate></mat-datepicker>

          <mat-error
            *ngIf="
              formData.get('attendanceOutDate')?.hasError('dateRangeInvalid')
            "
          >
            Out Date must be after In Date.
          </mat-error>
        </mat-form-field>

        <!-- In Time (Conditional) -->
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>In Time</mat-label>
          <input
            matInput
            [ngxTimepicker]="pickerInTime"
            formControlName="attendanceInTime"
            (ngModelChange)="onChange($event, 'timeIn')"
            class="input-txt"
          />
          <ngx-material-timepicker #pickerInTime></ngx-material-timepicker>
          <mat-error
            *ngIf="
              formData.get('attendanceInTime')?.hasError('dateRangeInvalid')
            "
          >
            Out Time must be after In Time.
          </mat-error>
        </mat-form-field>

        <!-- Out Time (Conditional) -->
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Out Time</mat-label>
          <input
            matInput
            [ngxTimepicker]="pickerOutTime"
            formControlName="attendanceOutTime"
            (ngModelChange)="onChange($event, 'timeOut')"
            class="input-txt"
          />
          <ngx-material-timepicker #pickerOutTime></ngx-material-timepicker>
          <mat-error
            *ngIf="
              formData.get('attendanceOutTime')?.hasError('dateRangeInvalid')
            "
          >
            Out Time must be after In Time.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mat-50" appearance="outline">
          <mat-label>Log In Location</mat-label>
          <mat-select formControlName="logInLocationId">
            <mat-option *ngFor="let element of location" [value]="element.id">
              {{ element.location }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width mat-50" appearance="outline">
          <mat-label>Log Out Location</mat-label>
          <mat-select formControlName="logOutLocationId">
            <mat-option *ngFor="let element of location" [value]="element.id">
              {{ element.location }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width mat-50" appearance="outline">
          <mat-label>Attendance Status</mat-label>
          <mat-select formControlName="attendanceStatus">
            <mat-option
              *ngFor="let element of attendanceStatusList"
              [value]="element.commonRefValue"
            >
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- 
        <mat-form-field appearance="outline" class="mat-45">
          <mat-label>Location</mat-label>
          <mat-select
            formControlName="locationId"
            required
            [disabled]="!isAdding"
          >
            <mat-option
              *ngFor="let location of qrLocations"
              [value]="location.id"
            >
              {{ location.location || "No location allocated" }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div class="button-group">
          <!-- Back Button -->
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoUsers()"
          >
            BACK
          </button>
          <!-- Reset Button (Conditional) -->
          <button
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            *ngIf="isAdding"
          >
            RESET
          </button>
          <!-- Submit Button -->
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
