.mat-card-scroll {
  max-height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.mat-card-scroll::-webkit-scrollbar {
  display: none;
}

/* .card {
    width: 80%;
  }
    */
.mat-45 {
  /* padding-top: 1rem; */
  width: 50%;
}

.mat-20 {
  padding: 0 1rem;
  width: 20%;
}
.mat-30 {
  width: 30%;
}

.modal-dialog {
  max-width: 600px;
  margin-left: 30%;
  margin-top: 10%;
}

.dialog-content {
  display: flex;
  gap: 10px;
}

.first-row {
  display: flex;
  align-items: center;
  gap: 16px; /* Space between elements */
  justify-content: space-between;
}

.first-row mat-form-field {
  flex: 1; /* Equal width for dropdowns */
}

.or-divider {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.mat-mdc-card-header {
  display: flex;
  padding: 0;
}
