.mat-50 {
  width: 31%;
  margin-left: 1%;
}
.mat-100 {
  width: 31%;
  margin-left: 1%;
}
.card {
  /* margin: 2%; */
  text-align: left;
  width: 96%;
  margin-left:3%;
}
.button {
  margin: 2%;
}
.mat-content {
  margin-top: 20px;
}
.btn-class {
  margin-left: 5px;
}

.header{
  margin-left: 31%;
}

.mat-30 {
  width: 18%;
  margin-left: 1%;
}
.large-icon {
  font-size: 2rem; /* Adjust this value as needed */
  margin-top: 10mm; /* Move the icon 10 mm down */
}
