<h3 class="pac-header">CUSTOMER DOCUMENTS</h3>

<div class="example-button-row">
  <div class="search-container" [formGroup]="formData">
    <mat-form-field
      appearance="outline"
      class="search-class ml-2"
      *ngIf="!crmMemberRoleName.includes(roleName)"
    >
      <mat-label>Project</mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="search-class ml-2" appearance="outline">
      <mat-label>Search/Select Unit</mat-label>
      <input
        type="text"
        matInput
        (input)="searchUnit($event)"
        [formControl]="unit"
        [matAutocomplete]="unitAuto"
      />
      <mat-autocomplete
        #unitAuto="matAutocomplete"
        (optionSelected)="onUnitSelect($event)"
        [displayWith]="displayUnit"
      >
        <mat-option *ngFor="let option of units" [value]="option">
          {{ option.unitName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="documentsData"
        class="mat-elevation-z8"
      >
        <!-- Row Number Column -->
        <!-- <ng-container matColumnDef="rowNumber">

        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ pageIndex * pageSize + i + 1 }}</td>
      </ng-container> -->

        <!-- Document Name Column -->
        <ng-container matColumnDef="documentName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Document Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fileName }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let row">
            <!-- Check if document has a URL (valid path) -->
            <ng-container *ngIf="row.fileUrl; else noFile">
              <mat-icon
                class="action-icon"
                (click)="downloadDocument(row.fileUrl, row.fileName)"
              >
                download
              </mat-icon>
                <mat-icon
              matTooltip="View Document"
              (click)="viewDocuments(row.fileName,row.fileUrl)"
              class="action-icon"
              *ngIf="row.fileName"
            >
              visibility
            </mat-icon>
            </ng-container>
            <ng-template #noFile>
              <span style="font-size: 14px">No File Present</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Table Headers and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card-footer></mat-card-footer>
