<div style="width: 100%; height: 100%; overflow: auto">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <div>
          <h1 class="head-text">Dashboard</h1>
        </div>

        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
      <!-- <p class="user-txt">
        Hi {{ user.userName }}, here's what's happening today
      </p> -->
    </div>

    <div class="search-container" [formGroup]="formData">
      <div style="display: flex; direction: row; padding-top: 1rem">
        <mat-form-field appearance="outline" id="project-filter">
          <input
            type="text"
            placeholder="Select Projects"
            aria-label="Select projects"
            matInput
            [matAutocomplete]="projectAuto"
            [formControl]="project"
            (input)="searchProject($event)"
          />

          <mat-autocomplete #projectAuto="matAutocomplete">
            <mat-option>
              <mat-checkbox
                #allProjectSelected
                (click)="onAllSelectProject()"
                [checked]="isProjectAllSelected()"
                >All</mat-checkbox
              ></mat-option
            >
            <mat-option
              *ngFor="let project of projects"
              (click)="$event.preventDefault()"
            >
              <div (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="isSelectedProject(project.projectId)"
                  (change)="onProjectSelect(project, $event)"
                  (click)="$event.stopPropagation()"
                >
                  {{ project.projectName }}
                </mat-checkbox>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button
          mat-icon-button
          matSuffix
          (click)="onProjectSelectButtonClick()"
          type="button"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div>
        <!-- <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-45"
          *ngIf="
            !(
              user.roleName.toLowerCase() === 'channel partner' ||
              user.roleName.toLowerCase() === 'cp user'
            )
          "
          style="padding-left: 10px"
        >
          <mat-label>Select Source</mat-label>
          <mat-select
            [value]="sourceIds"
            multiple
            (selectionChange)="onSelectionSourceChange($event)"
          >
            <mat-option value="">All</mat-option>
            <mat-option
              *ngFor="let source of sources"
              [value]="source.leadSourceId"
            >
              {{ source.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <div class="source-filter-v1">
          <mat-form-field
            class="example-full-width"
            class="mat-50"
            id="source-filter"
            appearance="outline"
            *ngIf="
              !(
                user.roleName.toLowerCase() === 'channel partner' ||
                user.roleName.toLowerCase() === 'cp user'
              )
            "
          >
            <mat-label>Select Source</mat-label>
            <mat-select formControlName="sourceIds" multiple>
              <mat-option
                #allSelected
                (click)="toggleAllSelection()"
                [value]="0"
                >All</mat-option
              >
              <mat-option
                (click)="tosslePerOne()"
                *ngFor="let source of sources"
                [value]="source.leadSourceId"
              >
                {{ source.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-45"
          *ngIf="
            !(
              user.roleName.toLowerCase() === 'channel partner' ||
              user.roleName.toLowerCase() === 'cp user'
            )
          "
          style="padding-left: 10px; padding-right: 10px"
        >
          <input
            type="text"
            placeholder="Select Sub Sources"
            aria-label="Select Sub Sources"
            matInput
            [matAutocomplete]="auto"
            [formControl]="subSourceControl"
            (input)="searchSubSource($event)"
          />

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let subSource of filteredSubSources"
              (click)="$event.preventDefault()"
            >
              <div (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="isSelected(subSource.leadSubSourceId)"
                  (change)="onSelectionSubSourceChange(subSource, $event)"
                  (click)="$event.stopPropagation()"
                >
                  {{ subSource.name }}
                </mat-checkbox>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="select-day">
        <mat-form-field appearance="outline">
          <mat-label>Select Day</mat-label>
          <mat-select
            [(value)]="selectedDay"
            (selectionChange)="handleDaySelection($event.value)"
          >
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="showDateRangePicker"
          class="time-picker"
          appearance="outline"
          style="margin-left: 20px"
        >
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="customStartDate"
              (focus)="picker.open()"
              (dateChange)="onDateRangeChange()"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="customEndDate"
              (focus)="picker.open()"
              (dateChange)="onDateRangeChange()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
             <mat-slide-toggle formControlName="isExpried" (change)="onToggle($event)" class="isExpried_toggle" [checked]="!isExpried" style="padding-left:20px">
        Include Expired Leads
      </mat-slide-toggle>
      </div>
      <div class="proxy-srch">
        <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>Proxy Login</mat-label>
          <input
            type="text"
            matInput
            (input)="searchUser($event)"
            [formControl]="User"
            [matAutocomplete]="userAuto"
          />
          <mat-autocomplete
            #userAuto="matAutocomplete"
            (optionSelected)="onUserSelect($event)"
            [displayWith]="displayUser"
          >
            <mat-option *ngFor="let option of UserDetails" [value]="option">
              {{ option.userName | titlecase }}
              <span style="font-weight: bold">
                -
                {{
                  option.roleName.split(" ").length > 1
                    ? (option.roleName | titlecase)
                    : (option.roleName | uppercase)
                }}
              </span>
              <span>
                <ng-container *ngIf="option.companyName">
                  ({{ option.companyName | titlecase }})
                </ng-container>
              </span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button> -->
     
    </div>
  </div>
  <!-- Current Status start -->
  <div class="margin-20">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="panel1Expanded"
        (opened)="onPanelOpen(1)"
        (closed)="onPanelClose(1)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Lead Segmentation </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="margin-left: 1rem; padding: 0.5rem 1rem">
          This section shows the total number of leads received within the
          selected date range and their current status. The sum of all
          categories always equals the total lead count.
        </div>
        <div class="cards">
          <mat-card
            (click)="navigateToLeadsCurrentStatus()"
            class="mat-card bg-six"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="leads">Total Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="leadsCount">
                  {{ currentDashboardTotalLeads }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >assignment_add</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <!-- <mat-card (click)="navigateToSaleLeads()" class="mat-card bg-darkColor">
        <div class="mat-card-hdiv">
          <h3 class="cardtitle" id="assignedLeads">Sales Assigned Leads</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total" id="assignedLeadsCount">{{ salesLeads }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >assignment_add</mat-icon
            >
          </div>
        </div>
      </mat-card> -->
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(newLeadId)"
            class="mat-card bg-nine"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="newLeads">New Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="newLeadsCount">{{ currentNewLeads }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_page</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <!-- <mat-card
        (click)="navigateToUnassignedLeads()"
        class="mat-card bg-twelve"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle" id="unassignedLeads">Unassigned Leads</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total" id="unassignedLeadsCount">
              {{ unassignedLeads }}
            </h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >assignment_sub</mat-icon
            >
          </div>
        </div>
      </mat-card> -->

          <mat-card
            (click)="navigateToLeadsByCurrentStatus(followUpId)"
            class="mat-card bg-seven"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="followups">Follow Ups</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="followupCount">{{ currentFollowups }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_phone</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(siteVisitConfirmId)"
            class="mat-card bg-fifteen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="followups">Site Visit Confirm</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="followupCount">
                  {{ currentSiteVisitConfirm }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >directions_walk</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <!-- <mat-card
        (click)="navigateToFollowups('Site visit Confirm ')"
        class="mat-card bg-purple"
      >
        <h3 class="cardtitle">Scheduled Visits</h3>
        <h2 class="total">{{ scheduledVisits }}</h2>
      </mat-card> -->
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(ncStatusId)"
            class="mat-card bg-eleven"
            *ngIf="user.roleName=='presales manager'"
          >
            <!-- <h3 class="cardtitle">Non Contactable</h3>
        <h2 class="total">{{ nonContactableCount }}</h2> -->
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="nonContactable">Non Contactable</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="nonContactableCount">
                  {{ currentNonContactableCount || 0 }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >phone_disabled</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(siteVisitProspectId)"
            class="mat-card bg-five"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="visitProspect">Visit Prospect</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="visitProspectCount">
                  {{ currentSiteVisitProspectFollowups }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >share_location</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(siteVisitDoneId)"
            class="mat-card bg-one"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="siteVisitDone">Site Visit Done</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="siteVisitDoneCount">
                  {{ currentSiteVisitDoneCount }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >person_pin_circle</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card (click)="navigateToLeadsByCurrentStatus(salesFollwupId)" class="mat-card bg-TwentyOne"
          id="eoiReceivedCount" *ngIf="user.roleName=='sales manager'">
          <div class="mat-card-hdiv">
            <h3 class="cardtitle" id="salesFollowUp">Sales Follow-Up</h3>
          </div>
          <div class="mat-card-countdiv">
            <div class="mat-card-count">
              <h2 class="total" id="salesFollowUp">
                {{ currentSalesFollowupCount || 0 }}
              </h2>
            </div>
            <div class="mat-card-icondiv">
              <mat-icon
                class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">contact_phone</mat-icon>
            </div>
          </div>
        </mat-card>

        <mat-card (click)="navigateToLeadsByCurrentStatus(salesLostId)" class="mat-card bg-TwentyTwo"
          id="salesLostId" *ngIf="user.roleName=='sales manager'">
          <div class="mat-card-hdiv">
            <h3 class="cardtitle" id="salesLost">Sales Lost</h3>
          </div>
          <div class="mat-card-countdiv">
            <div class="mat-card-count">
              <h2 class="total" id="salesLostId">
                {{ currentSalesLostCount || 0 }}
              </h2>
            </div>
            <div class="mat-card-icondiv">
              <mat-icon
                class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">close</mat-icon>
            </div>
          </div>
        </mat-card>

        <mat-card (click)="navigateToLeadsByCurrentStatus(salesNonContactableId)" class="mat-card bg-nineteen"
          id="salesNonContactable" *ngIf="user.roleName=='sales manager'">
          <div class="mat-card-hdiv">
            <h3 class="cardtitle" id="salesNonContactable">Sales Non-Contactable</h3>
          </div>
          <div class="mat-card-countdiv">
            <div class="mat-card-count">
              <h2 class="total" id="salesLostId">
                {{ currentSalesNonContactable || 0 }}
              </h2>
            </div>
            <div class="mat-card-icondiv">
              <mat-icon
                class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">phone_disabled</mat-icon>
            </div>
          </div>
        </mat-card>



        <mat-card (click)="navigateToLeadsByCurrentStatus(salesJunkId)" class="mat-card bg-TwentyThree"
          id="salesJunkId" *ngIf="user.roleName=='sales manager'">
          <div class="mat-card-hdiv">
            <h3 class="cardtitle" id="salesJunkId">Sales Junk</h3>
          </div>
          <div class="mat-card-countdiv">
            <div class="mat-card-count">
              <h2 class="total" id="salesJunkId">
                {{ currentSalesJunkCount|| 0 }}
              </h2>
            </div>
            <div class="mat-card-icondiv">
              <mat-icon
                class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">devices_fold</mat-icon>
            </div>
          </div>
        </mat-card>
        <mat-card (click)="navigateToLeadsByCurrentStatus(salesDNDId)" class="mat-card bg-Twenty" id="salesDND" *ngIf="user.roleName=='sales manager'">
          <div class="mat-card-hdiv">
            <h3 class="cardtitle" id="salesDND">Sales DND</h3>
          </div>
          <div class="mat-card-countdiv">
            <div class="mat-card-count">
              <h2 class="total" id="salesDND">
                {{ currentSalesDNDcount|| 0 }}
              </h2>
            </div>
            <div class="mat-card-icondiv">
              <mat-icon
                class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">person_off</mat-icon>
            </div>
          </div>
        </mat-card>
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(currentReVisitProposedId)"
            class="mat-card bg-eigthteen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="siteVisitDone">ReVisit Proposed</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="siteVisitDoneCount">
                  {{ currentReVisitProposed }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >person_pin_circle</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByCurrentStatus(reVisitDoneId)"
            class="mat-card bg-sixteen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="siteVisitDone">ReVisit Done</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="siteVisitDoneCount">
                  {{ currentrevisitDoneCount }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >person_pin_circle</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(bookedId)"
            class="mat-card bg-three"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="booked">Booked</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="bookedCount">{{ currentBookedCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >real_estate_agent</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByCurrentStatus(bookedCancelledId)"
            class="mat-card bg-eight"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="bookedCancelled">Cancelled Bookings</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="bookedCancelledCount">
                  {{ currentBookedCancelledCount || 0 }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >domain_disabled</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByCurrentStatus(qualifiedId)"
            class="mat-card bg-seventeen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="lost">Qualified</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="lostCount">
                  {{ currentQualified || 0 }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >how_to_reg</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByCurrentStatus(lostId)"
            class="mat-card bg-ten"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="lost">Lost</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="lostCount">{{ currentLost || 0 }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >close</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByCurrentStatus(junkId)"
            class="mat-card bg-twelve"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="lost">Junk</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="lostCount">{{ currentJunk || 0 }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >devices_fold</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <!-- class="mat-card bg-thirteen" -->
          <div style="width: 200px">
            <mat-card
              (click)="navigateToLeadsByCurrentStatus(eoiReceivedId)"
              class="mat-card bg-thirteen"
            >
              <div class="mat-card-hdiv">
                <h3 class="cardtitle" id="eoiReceived">EOI Received</h3>
              </div>
              <div class="mat-card-countdiv">
                <div class="mat-card-count">
                  <h2 class="total" id="eoiReceivedCount">
                    {{ currentEoiReceivedStatus || 0 }}
                  </h2>
                </div>
                <div class="mat-card-icondiv">
                  <mat-icon
                    class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                    >feedback</mat-icon
                  >
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!--current status end   -->

  <div class="margin-20" style="padding-top: 20px">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="panel2Expanded"
        (opened)="onPanelOpen(2)"
        (closed)="onPanelClose(2)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Activity Overview </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="margin-left: 1rem; padding: 0.5rem 1rem">
          This section shows all key activities that occurred within the
          selected date range, regardless of when the lead was created.
        </div>
        <div class="cards">
          <mat-card (click)="navigateToLeads()" class="mat-card bg-six">
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="assignedLeads">Assigned Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="assignedLeadsCount">
                  {{ dashboardnewLeads }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >assignment_add</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(newLeadId)"
            class="mat-card bg-nine"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="newLeadsCount">New Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="newLeadsCount">{{ newLeads }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_page</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(followupId)"
            class="mat-card bg-seven"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="followups">Follow Ups</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="followupsCount">{{ followupCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_phone</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(followupIds)"
            class="mat-card bg-fifteen"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="followups">Site Visit Confirm</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="followupsCount">
                  {{ dashboardFollowups }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_phone</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <!-- <mat-card
            (click)="navigateToFollowups('Non-Contactable', nonContactableId)"
            class="mat-card bg-ten"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Non Contactable</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ nonContactableLeadsCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >phone_disabled</mat-icon
                >
              </div>
            </div>
          </mat-card> -->
          <mat-card
            (click)="navigateToLeadsByStatus(nonContactableId)"
            class="mat-card bg-eleven"
            *ngIf="user.roleName=='presales manager'"
          >
            <!-- <h3 class="cardtitle">Non Contactable</h3>
            <h2 class="total">{{ nonContactableCount }}</h2> -->
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="nonContactable">Non Contactable</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="nonContactableCount">
                  {{ nonContactableCount || 0 }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >phone_disabled</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(visitProspectId)"
            class="mat-card bg-five"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="visitProspect">Visit Prospect</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="visitProspectCount">
                  {{ siteVisitProspectFollowups }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >share_location</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(siteVisitDoneId)"
            class="mat-card bg-one"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="siteVisitDone">Site Visit Done</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="siteVisitDoneCount">
                  {{ siteVisitDoneCount }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >person_pin_circle</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card (click)="navigateToLeadsByStatus(salesFollwupId)" class="mat-card bg-TwentyOne"
              id="eoiReceivedCount" *ngIf="user.roleName=='sales manager'">
              <div class="mat-card-hdiv">
                <h3 class="cardtitle" id="salesFollowUp">Sales Follow-Up</h3>
              </div>
              <div class="mat-card-countdiv">
                <div class="mat-card-count">
                  <h2 class="total" id="salesFollowUp">
                    {{ salesFollowupCount || 0 }}
                  </h2>
                </div>
                <div class="mat-card-icondiv">
                  <mat-icon
                    class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">contact_phone</mat-icon>
                </div>
              </div>
            </mat-card>

            <mat-card (click)="navigateToLeadsByStatus(salesLostId)" class="mat-card bg-TwentyTwo" id="salesLostId" *ngIf="user.roleName=='sales manager'">
              <div class="mat-card-hdiv">
                <h3 class="cardtitle" id="salesLost">Sales Lost</h3>
              </div>
              <div class="mat-card-countdiv">
                <div class="mat-card-count">
                  <h2 class="total" id="salesLostId">
                    {{ salesLostCount || 0 }}
                  </h2>
                </div>
                <div class="mat-card-icondiv">
                  <mat-icon
                    class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">close</mat-icon>
                </div>
              </div>
            </mat-card>

            <mat-card (click)="navigateToLeadsByStatus(salesNonContactableId)" class="mat-card bg-nineteen"
              id="salesNonContactable" *ngIf="user.roleName=='sales manager'">
              <div class="mat-card-hdiv">
                <h3 class="cardtitle" id="salesNonContactable">Sales Non-Contactable</h3>
              </div>
              <div class="mat-card-countdiv">
                <div class="mat-card-count">
                  <h2 class="total" id="salesLostId">
                    {{ salesNonContactable || 0 }}
                  </h2>
                </div>
                <div class="mat-card-icondiv">
                  <mat-icon
                    class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">phone_disabled</mat-icon>
                </div>
              </div>
            </mat-card>



            <mat-card (click)="navigateToLeadsByStatus(salesJunkId)" class="mat-card bg-TwentyThree" id="salesJunkId" *ngIf="user.roleName=='sales manager'">
              <div class="mat-card-hdiv">
                <h3 class="cardtitle" id="salesJunkId">Sales Junk</h3>
              </div>
              <div class="mat-card-countdiv">
                <div class="mat-card-count">
                  <h2 class="total" id="salesJunkId">
                    {{ salesJunkCount|| 0 }}
                  </h2>
                </div>
                <div class="mat-card-icondiv">
                  <mat-icon
                    class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">devices_fold</mat-icon>
                </div>
              </div>
            </mat-card>
            <mat-card (click)="navigateToLeadsByStatus(salesDNDId)" class="mat-card bg-Twenty" id="salesDND" *ngIf="user.roleName=='sales manager'">
              <div class="mat-card-hdiv">
                <h3 class="cardtitle" id="salesDND">Sales DND</h3>
              </div>
              <div class="mat-card-countdiv">
                <div class="mat-card-count">
                  <h2 class="total" id="salesDND">
                    {{ salesDNDcount|| 0 }}
                  </h2>
                </div>
                <div class="mat-card-icondiv">
                  <mat-icon
                    class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">person_off</mat-icon>
                </div>
              </div>
            </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(reVisitDoneId)"
            class="mat-card bg-sixteen"
            *ngIf="userRole == 'sales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="resiteVisitDone">ReVisit Done</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="reVisitDoneCount">
                  {{ revisitDoneCount }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >person_pin_circle</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(bookedId)"
            class="mat-card bg-three"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="booked">Booked</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="bookedCount">{{ bookedCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >real_estate_agent</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(bookedCancelledId)"
            class="mat-card bg-eight"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="bookedCancelled">Cancelled Bookings</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="bookedCancelledCount">
                  {{ bookedCancelledCount }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >domain_disabled</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(lostId)"
            class="mat-card bg-ten"
            *ngIf="user.roleName=='presales manager'"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="lost">Lost</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="lostCount">{{ lostCount || 0 }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >close</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(eoiReceivedId)"
            class="mat-card bg-thirteen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle" id="eoiReceived">EOI Received</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total" id="eoiReceivedCount">
                  {{ eoiReceivedStatus || 0 }}
                </h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >feedback</mat-icon
                >
              </div>
            </div>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <div class="cards"></div> -->

    <div class="content">
      <div class="team-data-table-container leads-asigned-div">
        <h3 class="table-header">Team-wise Leads Report</h3>
        <div class="team-data-table" style="height: 400px">
          <table class="tree-table">
            <thead>
              <tr>
                <th class="row-heads">Leads</th>
                <th class="row-heads">Project</th>

                <th class="row-heads">User</th>
                <th class="row-heads">Assign Leads</th>
                <th class="row-heads">New Leads</th>
                <th class="row-heads" *ngIf="user.roleName=='presales manager'">Junk</th>
                <th class="row-heads" *ngIf="user.roleName=='presales manager'">Non Contactable</th>
                <th class="row-heads">SV Done</th>
                <th class="row-heads" *ngIf="user.roleName=='sales manager'">Sales Follow-Up</th>
                <th class="row-heads" *ngIf="user.roleName=='sales manager'">Sales Lost</th>
                <th class="row-heads" *ngIf="user.roleName=='sales manager'">Sales Non-Contactable</th>
                <th class="row-heads" *ngIf="user.roleName=='sales manager'">Sales Junk</th>
                <th class="row-heads" *ngIf="user.roleName=='sales manager'">Sales DND</th>
                <th class="row-heads">Booked</th>
                <th class="row-heads">Cancelled Booking</th>
                <th class="row-heads" *ngIf="user.roleName=='presales manager'">Lost</th>
                <th class="row-heads" *ngIf="user.roleName=='presales manager'">Follow-Up</th>
                <th class="row-heads">Qualified</th>
                <th class="row-heads">SV Confirm</th>
                <th class="row-heads">Visit Prospect</th>
                <th class="row-heads">Revisit Proposed</th>
                <th class="row-heads">Revisit Done</th>
                <th class="row-heads">EOI Received</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let node of treeData; let i = index">
                <tr
                  [ngClass]="{
                    'main-row-active': isActive(getUniqueId(node, i))
                  }"
                  style="cursor: cell"
                >
                  <td (click)="toggle(getUniqueId(node, i))">
                    <mat-icon
                      class="menu-icon"
                      *ngIf="node.children && node.children.length > 0"
                    >
                      {{ isExpanded(getUniqueId(node, i)) ? "remove" : "add" }}
                    </mat-icon>
                    {{ node.name }}
                  </td>
                  <td></td>
                  <td></td>
                  <td>{{ node.assignedLeads || "0" }}</td>
                  <td>{{ node.newLeads || "0" }}</td>
                  <td *ngIf="user.roleName=='presales manager'">{{ node.junk || "0" }}</td>
                  <td *ngIf="user.roleName=='presales manager'">{{ node.nonContactable || "0" }}</td>
                  <td>{{ node.siteVisitDone || "0" }}</td>
                  <td *ngIf="user.roleName=='sales manager'">{{ node.salesFollowUp || "0" }}</td>
                  <td *ngIf="user.roleName=='sales manager'">{{ node.salesLost || "0" }}</td>
                  <td *ngIf="user.roleName=='sales manager'">{{ node.salesNoncontactable || "0" }}</td>
                  <td *ngIf="user.roleName=='sales manager'">{{ node.salesJunk || "0" }}</td>
                  <td *ngIf="user.roleName=='sales manager'">{{ node.salesDND || "0" }}</td>
                  <td>{{ node.booked || "0" }}</td>
                  <td>{{ node.cancelledBooking || "0" }}</td>
                  <td *ngIf="user.roleName=='presales manager'">{{ node.lost || "0" }}</td>
                  <td *ngIf="user.roleName=='presales manager'">{{ node.followUp || "0" }}</td>
                  <td>{{ node.qualified || "0" }}</td>
                  <td>{{ node.siteVisitConfirm || "0" }}</td>
                  <td>{{ node.visitProspect || "0" }}</td>

                  <td>{{ node.reVisitProposed || "0" }}</td>
                  <td>{{ node.reVisitDone || "0" }}</td>
                  <td>{{ node.eoiReceivedStatus || "0" }}</td>
                </tr>

                <ng-container
                  *ngIf="node.children && isExpanded(getUniqueId(node, i))"
                >
                  <ng-container
                    *ngFor="let child of node.children; let j = index"
                  >
                    <tr
                      [ngClass]="{
                        'child-row-active': isActive(getUniqueId(child, i, j))
                      }"
                      style="cursor: cell"
                    >
                      <td></td>

                      <td (click)="toggle(getUniqueId(child, i, j))">
                        <mat-icon
                          class="menu-icon"
                          *ngIf="child.children && child.children.length > 0"
                        >
                          {{
                            isExpanded(getUniqueId(child, i, j))
                              ? "remove"
                              : "add"
                          }}
                        </mat-icon>
                        {{ child.name }}
                      </td>
                      <td></td>
                      <td>{{ child.assignedLeads || "0" }}</td>
                      <td>{{ child.newLeads || "0" }}</td>
                      <td *ngIf="user.roleName=='presales manager'">{{ child.junk || "0" }}</td>
                      <td *ngIf="user.roleName=='presales manager'">{{ child.nonContactable || "0" }}</td>
                      <td>{{ child.siteVisitDone || "0" }}</td>
                      <td *ngIf="user.roleName=='sales manager'">{{ child.salesFollowUp || "0" }}</td>
                      <td *ngIf="user.roleName=='sales manager'">{{ child.salesLost || "0" }}</td>
                      <td *ngIf="user.roleName=='sales manager'">{{ child.salesNoncontactable || "0" }}</td>
                      <td *ngIf="user.roleName=='sales manager'">{{ child.salesJunk || "0" }}</td>
                      <td *ngIf="user.roleName=='sales manager'">{{ child.salesDND || "0" }}</td>
                      <td>{{ child.booked || "0" }}</td>
                      <td>{{ child.cancelledBooking || "0" }}</td>
                      <td *ngIf="user.roleName=='presales manager'">{{ child.lost || "0" }}</td>
                      <td *ngIf="user.roleName=='presales manager'">{{ child.followUp || "0" }}</td>
                      <td>{{ child.qualified || "0" }}</td>
                      <td>{{ child.siteVisitConfirm || "0" }}</td>
                      <td>{{ child.visitProspect || "0" }}</td>
                      <td>{{ child.reVisitProposed || "0" }}</td>
                      <td>{{ child.reVisitDone || "0" }}</td>
                      <td>{{ child.eoiReceivedStatus || "0" }}</td>
                    </tr>

                    <ng-container
                      *ngIf="
                        child.children && isExpanded(getUniqueId(child, i, j))
                      "
                    >
                      <ng-container
                        *ngFor="let subchild of child.children; let k = index"
                      >
                        <tr
                          [ngClass]="{
                            'sub-child-row-active': isActive(
                              getUniqueId(subchild, i, j, k)
                            )
                          }"
                        >
                          <td></td>
                          <td></td>
                          <td (click)="toggle(getUniqueId(subchild, i, j, k))">
                            <mat-icon
                              class="menu-icon"
                              *ngIf="
                                subchild.children &&
                                subchild.children.length > 0
                              "
                            >
                              {{
                                isExpanded(getUniqueId(subchild, i, j, k))
                                  ? "remove"
                                  : "add"
                              }}
                            </mat-icon>
                            {{ subchild.name }}
                          </td>

                          <td>{{ subchild.assignedLeads || "0" }}</td>
                          <td>{{ subchild.newLeads || "0" }}</td>
                          <td *ngIf="user.roleName=='presales manager'">{{ subchild.junk || "0" }}</td>
                          <td *ngIf="user.roleName=='presales manager'">{{ subchild.nonContactable || "0" }}</td>
                          <td>{{ subchild.siteVisitDone || "0" }}</td>
                          <td *ngIf="user.roleName=='sales manager'">{{ subchild.salesFollowUp || "0" }}</td>
                          <td *ngIf="user.roleName=='sales manager'">{{ subchild.salesLost || "0" }}</td>
                          <td *ngIf="user.roleName=='sales manager'">{{ subchild.salesNoncontactable || "0" }}</td>
                          <td *ngIf="user.roleName=='sales manager'">{{ subchild.salesJunk || "0" }}</td>
                          <td *ngIf="user.roleName=='sales manager'">{{ subchild.salesDND || "0" }}</td>
                          <td>{{ subchild.booked || "0" }}</td>
                          <td>{{ subchild.cancelledBooking || "0" }}</td>
                          <td *ngIf="user.roleName=='presales manager'">{{ subchild.lost || "0" }}</td>
                          <td *ngIf="user.roleName=='presales manager'">{{ subchild.followUp || "0" }}</td>
                          <td>{{ subchild.qualified || "0" }}</td>
                          <td>{{ subchild.siteVisitConfirm || "0" }}</td>

                          <td>{{ subchild.visitProspect || "0" }}</td>
                          <td>{{ subchild.reVisitProposed || "0" }}</td>
                          <td>{{ subchild.reVisitDone || "0" }}</td>
                          <td>{{ subchild.eoiReceivedStatus || "0" }}</td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="display: flex; direction: row; width: 100%; padding-top: 20px">
      <div *ngIf="isShow">
        <div class="pie-title">Lead Summary</div>
        <div class="pie-chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [colors]="chartOptions.colors"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
      <div
        style="
          width: 60%;
          height: 5px;
          padding-left: 180px;
          padding-bottom: 50px;
        "
      >
        <app-lead-followup-calendar
          [isMemberDashBoard]="false"
          [isManagerDashBoard]="true"
          [isSalesHeadDashboard]="false"
        />
      </div>
    </div>
  </div>

  <div
    style="width: 50%; padding-top: 20px"
    *ngIf="userRole == 'sales manager'"
  >
    <mat-card class="remarks-history">
      <h1 style="text-align: center">Sale Member Report</h1>
      <div>
        <div class="table-container">
          <table
            matSort
            mat-table
            [dataSource]="saleMemberReport"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="userName">
              <th
                mat-sort-header
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Member Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.userName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="assignedCount">
              <th
                mat-sort-header
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Lead Assigned
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.assignedCount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="followUpsCount">
              <th
                mat-sort-header
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Follow Up Count
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.followUpCount }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="memberActivityColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: memberActivityColumns"
            ></tr>
          </table>
        </div>
      </div>
      <div>
        <mat-card-footer> </mat-card-footer>
      </div>
    </mat-card>
  </div>

  <div style="width: 40%; margin: 20px" *ngIf="userRole == 'presales manager'">
    <mat-card class="remarks-history">
      <h1 style="text-align: center">Presale Member Report</h1>
      <div>
        <div class="table-container">
          <table
            matSort
            mat-table
            [dataSource]="presaleMemberReport"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="userName">
              <th
                mat-sort-header
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Member Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.userName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="assignedCount">
              <th
                mat-sort-header
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Lead Assigned
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.assignedCount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="followUpsCount">
              <th
                mat-sort-header
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Follow Up Count
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.followUpCount }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="memberActivityColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: memberActivityColumns"
            ></tr>
          </table>
        </div>
      </div>
      <div>
        <mat-card-footer> </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
