<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Privacy Policy | SalesNCrm</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");
      body::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      .section1 {
        height: 80px;
        width: 100%;
        vertical-align: middle;
        background-color: #047290;
      }
      .section1 h2 {
        font-size: 30px;
        font-family: "Roboto", sans-serif;
        color: white;
        text-align: center;
        line-height: 80px;
      }
      .container p {
        font-family: "Quicksand", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #4f4f4f;
        text-align: justify;
      }
      .container h3 {
        color: #047290;
        font-size: 20px;
        margin-top: 30px;
      }
      .container i {
        color: #2b6682;
      }
    </style>
  </head>
  <body>
    <div class="section1">
      <h2>Privacy Policy</h2>
    </div>
    <div class="container">
      <p style="margin-top: 30px">
        SalesNCrm is committed to safeguarding the privacy of its website
        visitors and users of its services. This Privacy Policy explains how we
        collect, use, and protect your personal information in compliance with
        applicable laws. By accessing or using our website, you agree to this
        policy as updated from time to time.
      </p>
      <h3>1. Information We Collect</h3>
      <p>
        We collect information to provide better services and ensure an enhanced
        user experience:
      </p>
      <p style="color: #047290; font-weight: 600; margin-bottom: 5px">
        Personal Identification Information
      </p>
      <p>
        We may collect personal details such as your name, email address, phone
        number, mailing address, job title, company name, and other details
        provided through contact forms, job applications, or service inquiries.
        Users may also visit our website anonymously, but certain activities may
        require sharing information.
      </p>
      <p style="color: #047290; font-weight: 600; margin-bottom: 5px">
        Non-Personal Identification Information
      </p>
      <p>
        We may collect non-personal details, including your browser type,
        operating system, IP address, device type, and internet service
        provider, as well as browsing patterns and technical information
        collected through cookies and similar tracking technologies.
      </p>
      <p style="color: #047290; font-weight: 600; margin-bottom: 5px">
        Service Data
      </p>
      <p>
        Information related to services such as real estate consulting, project
        inquiries, or customer support interactions may also be collected.
      </p>
      <h3>2. How We Use Your Information</h3>
      <p>We use the information collected for the following purposes:</p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >To Improve Customer Service: </span
        >Responding more efficiently to service requests and support needs.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >To Enhance User Experience: </span
        >Understanding how users interact with our website and improving its
        features and content.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >To Provide Services: </span
        >Managing inquiries, applications, or service delivery processes.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >To Send Updates: </span
        >Sharing relevant updates, promotions, or event details (with your
        consent).
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >To Improve Our Website: </span
        >Using feedback to enhance our products, services, and online platforms.
      </p>
      <h3>3. Sharing Your Information</h3>
      <p>
        We do not sell or trade your personal information. However, we may share
        your data under the following circumstances:
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >With Trusted Partners: </span
        >Third-party service providers who assist in delivering our services.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >Legal Compliance: </span
        >When required by law or to comply with legal processes.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<span
          style="color: #047290; font-weight: 600; margin-bottom: 5px"
          >To Protect Rights: </span
        >Safeguarding the rights, property, or safety of SalesNCrm, its
        users, or others.
      </p>
      <p>
        Aggregated, non-personal information may be shared with business
        partners or affiliates for analytical purposes.
      </p>
      <h3>Data Security</h3>
      <p>
        We adopt industry-standard data collection, storage, and security
        measures to protect your information against unauthorized access,
        alteration, or disclosure. However, no method of online transmission or
        electronic storage is completely secure, and we cannot guarantee
        absolute protection.
      </p>
      <h3>5. Cookies and Tracking Technologies</h3>
      <p>Our website may use cookies to:</p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;Enhance user
        experience.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;Track website usage
        and performance.
      </p>
      <p>
        You can set your browser to refuse cookies or alert you when cookies are
        being sent, but some parts of the site may not function properly if
        cookies are disabled.
      </p>
      <h3>6. Your Rights</h3>
      <p>Depending on your jurisdiction, you may have rights to:</p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;Access, update, or
        delete your personal data.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;Withdraw consent for
        data processing.
      </p>
      <p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;File a complaint with
        a data protection authority.
      </p>
      <h3>7. Links to Third-Party Websites</h3>
      <p>
        Our website may contain links to external websites. SalesNCrm is
        not responsible for the privacy practices or content of these sites.
      </p>
      <h3>8. Changes to This Privacy Policy</h3>
      <p>
        We may update this Privacy Policy at our sole discretion. Users are
        encouraged to review this policy periodically to stay informed of how we
        protect their information. Your continued use of the website signifies
        acceptance of any changes.
      </p>
      <p style="font-weight: 500; margin-bottom: 70px">
        By using this site, you signify your agreement to this Privacy Policy.
        If you do not agree, please refrain from accessing our website.
      </p>
      <h3>9. Third-Party Integrations and Use of Facebook/Meta Data</h3>
      <p>
        Our application, <strong>SalesNCRM</strong>, integrates with Meta’s
        platforms, including the WhatsApp Business API. We may collect data
        shared via these platforms, including:
      </p>
      <ul>
        <li>
          <strong>User Contact Information</strong>: Such as phone numbers for
          communication purposes.
        </li>
        <li>
          <strong>Message Interactions</strong>: When users engage with
          businesses via WhatsApp Business, certain message details may be
          collected.
        </li>
      </ul>

      <h4>How We Use Facebook/Meta Data</h4>
      <p>
        - To enable seamless interactions between businesses and users through
        WhatsApp messaging.
        <br />
        - To send notifications, messages, and service updates as requested by
        users.
      </p>

      <h4>Data Sharing</h4>
      <p>
        - We do not sell or share Facebook/Meta data with unauthorized third
        parties.
        <br />
        - We may share user data as required by law, or when users explicitly
        consent to share their data.
      </p>

      <h4>Data Retention</h4>
      <p style="font-weight: 500; margin-bottom: 70px">
        We only retain Facebook/Meta data for as long as is necessary to fulfill
        the purpose for which it was collected. After that, the data is either
        anonymized or deleted.
      </p> 
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script
    src="https://kit.fontawesome.com/5b1b9af20b.js"
    crossorigin="anonymous"
  ></script>
</html>
