<div class="pac-header">INVENTORY TRANSFER</div>

<div class="filters-div">
  <div class="cat-search-container-div">
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search Material Code</mat-label>
      <input
        matInput
        [(ngModel)]="itemName"
        (input)="onSearch($any($event).target?.value)"
      />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="serach-class it-ml-2">
      <mat-label>Item Transfer To </mat-label>
      <mat-select formControlName="transferType">
        <mat-option
          *ngFor="let element of transferTypes"
          [value]="element.transferType"
        >
          {{ element.transferType }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="outline" class="serach-class it-ml-2">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field> -->

    <!-- <mat-icon
      style="margin-left: 0.5rem"
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div"
      >sync</mat-icon
    > -->
<!-- 
    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="cat-clear-date-div"
      >filter_list_off</mat-icon
    > -->
  </div>

  <div class="button-container">
    <button
      mat-flat-button
      (click)="addInventoryTransfer()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="inventoryTransferDto"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TransferDate">
          <th mat-header-cell *matHeaderCellDef>Transfer Date</th>
          <td
            mat-cell
            *matCellDef="let inventoryTransfer"
            matTooltip="{{ inventoryTransfer.transferDate | date : 'medium' }}"
          >
            {{ inventoryTransfer.transferDate | date : "mediumDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="materialCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Material Code
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.materialCode }}
          </td>
        </ng-container>
        <ng-container matColumnDef="QuantityTransferred">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Quantity Transferred
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.quantityTransferred | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="FromStore">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            From Store
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.fromStoreName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ToStore">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            To Store
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.toStoreName || "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ToSite">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            To Site
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.toSiteName || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TransferredBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Transferred By
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.transferredBy }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ReceivedBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Received By
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.receivedBy }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TransferType">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            TransferType
          </th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            {{ inventoryTransfer.transferType }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            <span
              class="remarks-short"
              matTooltip="{{
                inventoryTransfer.remarks?.length
                  ? inventoryTransfer.remarks
                  : 'No remarks'
              }}"
            >
              {{
                inventoryTransfer.remarks?.length
                  ? (inventoryTransfer.remarks | slice : 0 : 10) + "..."
                  : "N/A"
              }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let inventoryTransfer">
            <mat-icon
              matTooltip="Edit"
              (click)="editInventoryTransfer(inventoryTransfer)"
              class="font icon-spacing icon"
              style="color: #004869"
              >edit</mat-icon
            >
            <mat-icon
              matTooltip="Delete"
              (click)="openConfirmDialog(inventoryTransfer.transferId)"
              class="font icon-spacing icon"
              style="color: #d3493f"
            >
              delete_forever</mat-icon
            >
             <mat-icon
              matTooltip="Expand Details"
              (click)="openDetailsPopup(inventoryTransfer)"
              class="font icon-spacing icon"
              style="color: #004869"
            >
              arrow_drop_down
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="
            let inventoryTransfer of inventoryTransferDto;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
