/* .oc-node {
    color:red;
  }
  .lead-header {
    font-weight: normal;
    font-size:20px;
    text-align: center;
    margin: 1% !important;
  } */
.lead-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.node-button-div div {
  padding: 0px !important;
}
