<!-- <h4 class="header" ><b>Issue Approval</b></h4> -->
<mat-card-header ><b>{{ roleName=='Customer' ? "Reopen Issue" : "Issue Approval" }}</b></mat-card-header>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header *ngIf="!isView">
        <b>{{ isAdding ? "ADD PROJECT" : "EDIT PROJECT" }}</b>
      </mat-card-header>
      <mat-card-content style="margin-top: 2%">
        <div class="row" *ngIf="roleName!='Customer'">
          <div class="col-md-4">
            <p><strong>Customer Name:</strong> {{ issueData.customerName }}</p>
            <p><strong>Unit Name:</strong> {{ issueData.unitName }}</p>
            <p><strong>Issue Sub Type:</strong> {{ issueData.issueSubTypeName }}</p>

          </div>
          <div class="col-md-4">
            <p><strong>Block Name:</strong> {{ issueData.blockName }}</p>
            <p><strong>Issue Number:</strong> {{ issueData.issueNumber }}</p>


          </div>
          <div class="col-md-4">
            <p><strong>Level Name:</strong> {{ issueData.levelName }}</p>
            <p><strong>Issue Type:</strong> {{ issueData.commonRefValue }}</p>


          </div>
                  
        </div>
        <div class="row" *ngIf="roleName=='Customer'">
          <div class="col-md-4">
            <p><strong>Issue Number:</strong> {{ issueData.issueNumber }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Issue Type:</strong> {{ issueData.commonRefValue }}</p>
          </div>
                  
        </div>
        <div *ngIf="isImageDisplay; else approvalTemplate">
          <img src="file:///D:/Upload/1721206272478.jpeg" alt="Issue Image" width="100%" />
        </div>
        <img src="file:///D:/Upload/1721206272478.jpeg" alt="">

        <!-- <div *ngIf="isAdding">
          <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </div> -->
        <ng-template #approvalTemplate>
          <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </ng-template>
        
      </mat-card-content>
      <mat-card-footer>
        <div style="text-align: right" class="button">
          <!-- If isView is true, display only the CLOSE button -->
          <button *ngIf="isView" mat-flat-button style="color: white; background-color: rgb(97, 97, 38)"
            class="btn-class" (click)="closeDialog() ">
            
            {{ isImageDisplay ? "Close" : "Send For Approval" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>