.mat-50 {
    width: 50%;
    margin-top: 1%;
    margin-left: 22%;
  }
  
  .card {
    margin: 2%;
    text-align: left;
    width: 85%;
    margin-left: 7%;
  }
  .button {
    margin: 2%;
  }
  .mat-content {
    margin-top: 20px;
  }
  .btn-class {
    margin-left: 6px;
  }
  .card-header {
    text-align: center;
    margin-top: 3%;
  }
  