.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
}

.card {
  width: 80%;
}

.mat-45 {
  width: 50%;
}

.header {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 0 2% 2% 0;
}

.btn-class {
  margin-left: 10px;
}
.head {
  margin-top: 3rem;
  text-align: center;
}
