<h4 class="pac-header">
  {{ isAdding ? "ADD SERVICE CODE" : "EDIT SERVICE CODE" }}
</h4>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-content mat-card-scroll">
        <div class="row d-flex" style="padding: 0 15px">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label [ngClass]="{ 'error-label': showPrimeActivityError }">
              Search/Select Prime Activity Code
            </mat-label>
            <input
              type="text"
              matInput
              (input)="searchPrimeActivityCode($event)"
              [value]="
                selectedPrimeActivity.primeActivityNumber
                  ? selectedPrimeActivity.primeActivityNumber
                  : ''
              "
              [formControl]="primeActivity"
              [matAutocomplete]="primeActivityAuto"
            />
            <mat-autocomplete
              #primeActivityAuto="matAutocomplete"
              (optionSelected)="onPrimeActivityCodeSelect($event)"
              [displayWith]="displayPrimeActivityCode"
            >
              <mat-option
                *ngFor="let option of primeActivityCodes"
                [value]="option"
              >
                {{ option.primeActivityNumber }}
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="showPrimeActivityError" class="error-message">
              Select Prime Activity Code
            </div>
          </mat-form-field>
          <div class="mat-45" *ngIf="isAdding">
            <button
              mat-flat-button
              class="btn-class primary"
              data-bs-toggle="modal"
              data-bs-target="#serviceCodeSearchModal"
              (click)="loadServiceCodes()"
              type="button"
            >
              Fill Service Code From List
            </button>
          </div>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Prime Activity Description</mat-label>
            <input
              matInput
              formControlName="primeActivityDescription"
              type="text"
              readonly="true"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>PA UOM</mat-label>
            <input
              matInput
              formControlName="primeActivityUom"
              type="text"
              readonly="true"
            />
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field
            class="example-full-width"
            class="mat-50"
            appearance="outline"
          >
            <mat-label [ngClass]="{ 'error-label': showServiceGroupCodeError }">
              Search/Select Service Group Code
            </mat-label>
            <input
              type="text"
              matInput
              (input)="searchServiceGroupCode($event)"
              [value]="
                selectedServiceGroup.serviceGroupCode
                  ? selectedServiceGroup.serviceGroupCode
                  : ''
              "
              [formControl]="serviceGroupCode"
              [matAutocomplete]="serviceGroupCodeAuto"
            />
            <mat-autocomplete
              #serviceGroupCodeAuto="matAutocomplete"
              (optionSelected)="onServiceGroupCodeSelect($event)"
              [displayWith]="displayServicegroupCode"
            >
              <mat-option
                *ngFor="let option of serviceGroupCodes"
                [value]="option"
              >
                {{ option.serviceGroupCode }}
              </mat-option>
            </mat-autocomplete>

            <div *ngIf="showServiceGroupCodeError" class="error-message">
              Select Service Group Code
            </div>
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Service Group</mat-label>
            <input
              matInput
              formControlName="serviceGroupName"
              type="text"
              readonly="true"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Service Group Description</mat-label>
            <input
              matInput
              formControlName="serviceGroupDescription"
              type="text"
              readonly="true"
            />
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <!-- <mat-label>Search/Select Service UOM</mat-label> -->

            <mat-label [ngClass]="{ 'error-label': showServiceUomError }">
              Search/Select Service UOM
            </mat-label>
            <input
              type="text"
              matInput
              (input)="searchServiceCode($event)"
              [value]="
                selectedServiceUom.commonRefValue
                  ? selectedServiceUom.commonRefValue
                  : ''
              "
              [formControl]="serviceUom"
              [matAutocomplete]="serviceCodeAuto"
            />
            <mat-autocomplete
              #serviceCodeAuto="matAutocomplete"
              (optionSelected)="onServiceCodeUomSelect($event)"
              [displayWith]="displayServiceCodeUom"
            >
              <mat-option
                *ngFor="let option of serviceCodeUoms"
                [value]="option"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>

            <div *ngIf="showServiceUomError" class="error-message">
              Select Service UOM
            </div>
          </mat-form-field>

          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <!-- <mat-label>Search/Select Service UOM</mat-label> -->

            <mat-label [ngClass]="{ 'error-label': showSACCodeError }">
              Search/Select SAC Code
            </mat-label>
            <input
              type="text"
              matInput
              (input)="searchSacCode($event)"
              [value]="selectedSacCode.sacCode ? selectedSacCode.sacCode : ''"
              [formControl]="sacCode"
              [matAutocomplete]="sacCodeAuto"
            />
            <mat-autocomplete
              #sacCodeAuto="matAutocomplete"
              (optionSelected)="onSacCodeSelect($event)"
              [displayWith]="displaySacCode"
            >
              <mat-option *ngFor="let option of sacCodes" [value]="option">
                {{ option.sacCode }}
              </mat-option>
            </mat-autocomplete>

            <div *ngIf="showSACCodeError" class="error-message">
              Select SAC Code
            </div>
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-label>Sac Code Description</mat-label>
          <div appearance="outline" class="mat-100">
            <textarea
              matInput
              formControlName="sacCodeDescription"
              rows="1"
              placeholder="SAC Code Description"
              style="flex: 1; width: 100%; padding: 5px 5px; font-size: 13px"
              (input)="autoResizeSacCodeDesc()"
              #sacCodeTextarea
            ></textarea>
          </div>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-label>Service Code Description</mat-label>
          <!-- <div appearance="outline" class="mat-100">
            <textarea
              matInput
              formControlName="serviceDescription"
              rows="1"
              placeholder="SAC Code Description"
              style="flex: 1; width: 100%; padding: 5px 5px; font-size: 13px"
              (input)="autoResizeServiceCodeDesc()"
              #serviceCodeTextarea
            ></textarea>
          </div> -->
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
            "
          >
            <quill-editor
              formControlName="serviceDescription"
              id="quill-editor"
            ></quill-editor>
          </div>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45" *ngIf="!isAdding">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">Select Status</mat-option>
              <mat-option
                *ngFor="let element of statuses"
                [value]="element.commonRefKey"
              >
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoServiceCode()"
            type="button"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>

<!-- Bootstrap Modal For Service Code Selection -->
<div
  class="modal fade modal-xl"
  id="serviceCodeSearchModal"
  tabindex="-1"
  aria-labelledby="serviceCodeSearchModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="clearModalFilters()"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="serviceCodeSearchModalLabel">
          Select a Service Code
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-search-fields">
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search service Code</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalServiceCode"
            (input)="modalServiceCodeSearch()"
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search SC description</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalSCDescription"
            (input)="modalSCDescriptionSearch()"
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search SC UOM</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalSCUom"
            (input)="modalSCUomSearch()"
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search Group Code</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalSGCode"
            (input)="modalSGCodeSearch()"
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search Group Name</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalSGDescription"
            (input)="modalSGDescriptionSearch()"
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search Prime Activity code</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalPACode"
            (input)="modalPACodeSearch()"
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="outline"
          class="mat-25"
        >
          <mat-label>Search PA Desc..</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="modalPADescription"
            (input)="modalPADescriptionSearch()"
          />
        </mat-form-field>
        <div>
          <button
            type="button"
            (click)="btnModalClear()"
            class="btn btn-primary clr-btn"
            type="button"
          >
            Clear
          </button>
        </div>
      </div>
      <div class="modal-body wo-modal-body">
        <table class="table table-striped">
          <thead>
            <tr class="modal-table-header">
              <th>Select</th>
              <th>Service Code</th>
              <th>Description</th>
              <th>UOM</th>
              <th>Group Code</th>
              <th>Group Name</th>
              <th>Prime Activity Code</th>
              <th>Prime Activity Description</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let serviceCode of serviceCodeDtos"
              (click)="onRowClick(serviceCode)"
            >
              <td>
                <input
                  type="radio"
                  name="serviceCodeRadio"
                  [checked]="modifiedServiceCode === serviceCode"
                  #radioButton
                  (change)="onServiceCodeSelect(serviceCode)"
                />
              </td>
              <td>{{ serviceCode.serviceCode }}</td>
              <td>{{ serviceCode.serviceDescription }}</td>
              <td>{{ serviceCode.scUomRefValue }}</td>
              <td>{{ serviceCode.serviceGroupCode }}</td>
              <td>{{ serviceCode.serviceGroupName }}</td>
              <td>{{ serviceCode.primeActivityNumber }}</td>
              <td>{{ serviceCode.primeActivityDescription }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <mat-card-footer class="pagination-sec">
          <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
          ></mat-paginator>
        </mat-card-footer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          (click)="selectServiceCode()"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Select
        </button>
      </div>
    </div>
  </div>
</div>
