<h4 class="ir-pac-header">INVENTORY RECEIVABLE</h4>
<div class="ir-filters-div">
  <div class="ir-search-container">
    <mat-form-field appearance="outline" class="ir-serach-class">
      <mat-label>Search/Select Project Name</mat-label>
      <input
        type="text"
        matInput
        [value]="
          selectedProject.displayProjectName
            ? selectedProject.displayProjectName
            : ''
        "
        (input)="searchProject($event)"
        [formControl]="projectFc"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let option of project" [value]="option">
          {{ option.displayProjectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label>Search/Select Purchase Order</mat-label>
      <input
        type="text"
        matInput
        (input)="searchPurchaseOrder($event)"
        [formControl]="purchaseOrderFc"
        [matAutocomplete]="purchaseOrderAuto"
      />
      <mat-autocomplete
        #purchaseOrderAuto="matAutocomplete"
        (optionSelected)="onPurchaseOrderSelect($event)"
        [displayWith]="displayPurchaseOrder"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let po of purchaseOrder" [value]="po">
          {{ po.poCode }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label> Search/Select Vendor </mat-label>
      <input
        type="text"
        matInput
        (input)="searchVendorCode($event)"
        [formControl]="vendor"
        [matAutocomplete]="vendorCodeAuto"
      />
      <mat-autocomplete
        #vendorCodeAuto="matAutocomplete"
        (optionSelected)="onVendorCodeSelect($event)"
        [displayWith]="displayVendorCode"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let option of vendors" [value]="option">
          {{ option.vendorName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label>Select Category Type</mat-label>
      <mat-select
        [(ngModel)]="workTypeId"
        (selectionChange)="onWorkTypeChange($event)"
      >
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let element of options" [value]="element.id">
          {{ element.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label> Search & Select Category </mat-label>
      <input
        type="text"
        matInput
        (input)="searchCategory($event)"
        [formControl]="category"
        [matAutocomplete]="categoryAuto"
      />
      <mat-autocomplete
        #categoryAuto="matAutocomplete"
        (optionSelected)="onCategorySelectionChange($event)"
        [displayWith]="displayFn"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let item of itemCat" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <div class="button-container">
      <button
        mat-flat-button
        (click)="addInventoryReceivable()"
        class="btn-class primary"
      >
        <mat-icon class="font">add</mat-icon> ADD
      </button>
    </div> -->

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label> Search/Select Sub Category </mat-label>
      <input
        type="text"
        matInput
        (input)="onSearchItemSubCategory($event)"
        [formControl]="subCategory"
        [matAutocomplete]="subCategoryAuto"
      />
      <mat-autocomplete
        #subCategoryAuto="matAutocomplete"
        (optionSelected)="onSubCategorySelectionChange($event)"
        [displayWith]="displayFn"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let item of itemSubCategoryData" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label> Search/Select Specification </mat-label>
      <input
        type="text"
        matInput
        (input)="onSearchItemSpecification($event)"
        [formControl]="specification"
        [matAutocomplete]="specificationAuto"
      />
      <mat-autocomplete
        #specificationAuto="matAutocomplete"
        (optionSelected)="onSpecificationSelectionChange($event)"
        [displayWith]="displayFn"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let item of itemSpecifications" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label> Search/Select Item Unit Name </mat-label>
      <input
        type="text"
        matInput
        (input)="onSearchItemUnit($event)"
        [formControl]="unitFc"
        [matAutocomplete]="unitAuto"
      />
      <mat-autocomplete
        #unitAuto="matAutocomplete"
        (optionSelected)="onItemUnitChange($event)"
        [displayWith]="displayUnitFn"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let item of itemUnitData" [value]="item">
          {{ item.inventoryUnitName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label> Search/Select Store Name </mat-label>
      <input
        type="text"
        matInput
        (input)="onSearchStore($event)"
        [formControl]="storeFc"
        [matAutocomplete]="storeAuto"
      />
      <mat-autocomplete
        #storeAuto="matAutocomplete"
        (optionSelected)="onStoreChange($event)"
        [displayWith]="displayStoreFn"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let item of storeData" [value]="item">
          {{ item.storeName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ir-serach-class ir-ml-2">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-icon
      style="margin-left: 0.5rem"
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div-ir"
      >sync</mat-icon
    >

    <mat-icon
      style="margin-left: 1.5rem"
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="clear-date-div-ir"
      >filter_list_off</mat-icon
    >
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="getInventoryReceivableData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <!-- Project Name -->
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.projectName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>PO Code</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.purchaseOrderCode }}
          </td>
        </ng-container>

        <!-- Vendor Name -->
        <ng-container matColumnDef="vendorName">
          <th mat-header-cell *matHeaderCellDef>Vendor</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.vendorName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="materialCode">
          <th mat-header-cell *matHeaderCellDef>Material Code</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.materialCode }}
          </td>
        </ng-container>

        <!-- Category Name -->
        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.categoryName }}
          </td>
        </ng-container>

        <!-- Item Subcategory Name -->
        <ng-container matColumnDef="itemSubCategoryName">
          <th mat-header-cell *matHeaderCellDef>Sub Category</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.itemSubCategoryName }}
          </td>
        </ng-container>

        <!-- Category Name -->
        <ng-container matColumnDef="storeName">
          <th mat-header-cell *matHeaderCellDef>Store</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.storeName }}
          </td>
        </ng-container>

        <!-- Quantity -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Original Qty</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.quantity | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantityReceived">
          <th mat-header-cell *matHeaderCellDef>Received Qty</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.quantityReceived | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalPendingQuantity">
          <th mat-header-cell *matHeaderCellDef>Pending Qty</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.totalPendingQuantity | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalQuantityExceed">
          <th mat-header-cell *matHeaderCellDef>Exceed Qty</th>
          <td mat-cell *matCellDef="let inventoryReceivable">
            {{ inventoryReceivable.totalQuantityExceed | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="invoiceReceivableStatus">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td
            mat-cell
            *matCellDef="let inventoryReceivable"
            [ngClass]="
              getStatusClass(inventoryReceivable.invoiceReceivableStatus)
            "
          >
            {{ inventoryReceivable.invoiceReceivableStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="itemApprovalStatus">
          <th mat-header-cell *matHeaderCellDef>Item Approval Status</th>
          <td
            mat-cell
            *matCellDef="let inventoryReceivable"
            [ngClass]="getStatusClass(inventoryReceivable.itemApprovalStatus)"
          >
            {{ inventoryReceivable.itemApprovalStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="actions-column"
            style="background-color: #004869; color: white"
          >
            Actions
          </th>

          <td
            mat-cell
            *matCellDef="let inventoryReceivable"
            class="actions-column"
          >
            <!-- <mat-icon
              matTooltip="Edit"
              (click)="editInventory(inventoryReceivable)"
              class="font icon-spacing icon"
              style="color: #004869"
              *ngIf="
                inventoryReceivable.itemApprovalStatus !== 'APPROVED' &&
                inventoryReceivable.itemApprovalStatus !== 'PENDING'
              "
            >
              edit
            </mat-icon> -->
            <!-- <mat-icon
              matTooltip="Delete"
              (click)="openConfirmDialog(inventoryReceivable.irId)"
              class="font icon-spacing icon"
              style="color: #d3493f"
              *ngIf="inventoryReceivable.itemApprovalStatus !== 'APPROVED'"
            >
              delete_forever
            </mat-icon> -->

            <mat-icon
              matTooltip="Item History"
              (click)="openDetailsPopup(inventoryReceivable)"
              class="font icon-spacing icon"
              style="color: purple"
            >
              rule
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
