<div class="pac-header">ITEM SPECIFICATION</div>

<div class="filters-div">
  <div class="spec-search-container-div">
    <mat-form-field appearance="outline" class="serach-class-isp">
      <mat-label>Select Category Type</mat-label>
      <mat-select
        [(value)]="workTypeId"
        (selectionChange)="onWorkTypeChange($event)"
      >
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let element of options" [value]="element.id">
          {{ element.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="serach-class-isp spec-ml-div-2">
      <mat-label> Search/Select Category </mat-label>
      <input
        type="text"
        matInput
        (input)="onSearchItemCategories($event)"
        [formControl]="category"
        [matAutocomplete]="categoryAuto"
      />
      <mat-autocomplete
        #categoryAuto="matAutocomplete"
        (optionSelected)="onCategorySelectionChange($event)"
        [displayWith]="displayFn"
      >
        <mat-option *ngFor="let item of itemCategories" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline" class="serach-class-isp spec-ml-div-2">
      <mat-label> Search/Select Sub Category </mat-label>
      <input
        type="text"
        matInput
        (input)="onSearchItemSubCategory($event)"
        [formControl]="subCategory"
        [matAutocomplete]="subCategoryAuto"
      />
      <mat-autocomplete
        #subCategoryAuto="matAutocomplete"
        (optionSelected)="onSubCategorySelectionChange($event)"
        [displayWith]="displayFn"
      >
        <mat-option value="">Select</mat-option>
        <mat-option *ngFor="let item of itemSubCategoryData" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="serach-class-isp spec-ml-div-2">
      <mat-label>Search Specification Name</mat-label>
      <input
        matInput
        [(ngModel)]="itemSpecificationName"
        (input)="onSearchItemSpecification($event)"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="serach-class-isp spec-ml-div-2">
      <mat-label>Search Specification Code</mat-label>
      <input
        matInput
        [(ngModel)]="itemSpecificationNameCode"
        (input)="onSearchItemSpecificationCode($event)"
      />
    </mat-form-field>
    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="spec-clear-date-div"
      >filter_list_off</mat-icon
    >
  </div>

  <div class="button-container">
    <button
      mat-flat-button
      (click)="addItemSpecification()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="itemSpecificationDetails"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="workType">
          <th mat-header-cell *matHeaderCellDef>Category Type</th>

          <td mat-cell *matCellDef="let itemspecification">
            {{ itemspecification.workType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="specificationCode">
          <th mat-header-cell *matHeaderCellDef>Specification Code</th>

          <td mat-cell *matCellDef="let itemspecification">
            {{ itemspecification.specificationCode }}
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>

          <td mat-cell *matCellDef="let itemspecification">
            {{ itemspecification.itemCategoryName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="subCategory">
          <th mat-header-cell *matHeaderCellDef>Material Name</th>

          <td mat-cell *matCellDef="let itemspecification">
            {{ itemspecification.itemSubCategoryName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="itemSpecificationName">
          <th mat-header-cell *matHeaderCellDef>Specification Name</th>

          <td mat-cell *matCellDef="let itemspecification">
            {{ itemspecification.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let itemspecification">
            {{ itemspecification.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let itemspecification">
            <mat-icon
              matTooltip="Edit"
              (click)="editItemSpecification(itemspecification)"
              class="font icon-spacing icon"
              style="color: #004869"
              >edit</mat-icon
            >
            <mat-icon
              matTooltip="Delete"
              (click)="openConfirmDialog(itemspecification.specificationId)"
              class="font icon-spacing icon"
              style="color: #d3493f"
            >
              delete_forever</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let itemspecification; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
