/* .button-row {
  padding: 0 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  flex-grow: 1;
}
.button-container {
  margin-right: 3%;
}
.serach-class {
  width: 20%;
}
.font {
  font-size: 20px;
  cursor: pointer;
} */

/* .head {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 1%;
} 

.mat-content {
  margin: 0% 3% 3% 3%;
  margin-top: 2%;
}

.accordian {
  margin-left: 3%;
  margin-right: 3%;
}

.btn-class-add {
  color: white;
  background-color: #075477;
  margin-left: 5%;
}
button{
  width: 10%;
  margin-left: 5%;
}

mat-card {
  margin-left: 3%;
  margin-right: 3%;
}

.header {
  text-align: center;
}


.no-invoices {
  text-align: center;
  font-size: 18px;
  color: #ff0000;
  margin: 20px 0px;
}  

*/
.dci-search-container {
  display: flex;
  flex-grow: 1;
}
/* .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin: 0;
} */
.action-icon {
  cursor: pointer;
  margin-right: 10px; /* Adjust the value as needed */
}
.mat-45 {
  width: 25%;
  margin-right: 2%;
}
.list-item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.label {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 16px;
  align-items: center;
  flex: 1;
}

.toggle-icon {
  margin-left: auto;
  padding-left: 8px;
}

.mat-list-item {
  display: flex;
  align-items: center;
}

.dci-button-row {
  margin-left: 2% !important;
  margin-bottom: 1%;
  flex-wrap: wrap;
}
