<div class="header">LOG ENTRY</div>
<div class="dci-search-container">
  <div class="dci-button-row">
    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Procedure Name</mat-label>
      <mat-select
        formControlName="procedureName"
        (selectionChange)="onselectProcedureName($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.procedureName"
        >
          {{ logEntry.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Select Log Entry</mat-label>
      <mat-select
        formControlName="message"
        (selectionChange)="onselectMessage($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.message"
        >
          {{ logEntry.message }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Execution Time</mat-label>
      <mat-select
        formControlName="executionTime"
        (selectionChange)="onselectExecutionTime($event)"
      >
        <mat-option
          *ngFor="let logEntry of logEntry"
          [value]="logEntry.executionTime"
        >
          {{ logEntry.executionTime }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-flat-button
      style="width: 10%"
      class="btn-class primary"
      (click)="getLogEntry()"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
</div>

<!-- <div class="example-button-row" *ngIf="flag">
  <span><strong>Client Name : </strong> {{ clientName}}</span>

  </div> -->
<!--
  <mat-card class="cmn-card">
    <mat-card-content class="cmn-card-content">
      <div>
        <table
          matSort
          mat-table
          [dataSource]="logEntry"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="Message">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Message
            </th>
            <td mat-cell *matCellDef="let logEntry">
              {{ logEntry.message }}
            </td>
          </ng-container>

          <ng-container matColumnDef="executionTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
            Execution Time
            </th>
            <td mat-cell *matCellDef="let logEntry">
              {{ logEntry.executionTime }}
            </td>
          </ng-container>
          <ng-container matColumnDef="procedureName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
            Procedure Name
            </th>
            <td mat-cell *matCellDef="let logEntry">
              {{ logEntry.procedureName }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="
              let qrtransactiondata of qrtransactiondataData;
              columns: displayedColumns
            "
          ></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
-->

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table matSort mat-table [dataSource]="logEntry" class="mat-elevation-z8">
        <!-- 'message',
    'executionTime',
    'procedureName' -->
        <ng-container matColumnDef="procedureName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Procedure Name
          </th>
          <td mat-cell *matCellDef="let logEntry">
            {{ logEntry.procedureName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="message">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Message
          </th>
          <td mat-cell *matCellDef="let logEntry">
            {{ logEntry.message }}
          </td>
        </ng-container>

        <ng-container matColumnDef="executionTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Execution Time
          </th>
          <td mat-cell *matCellDef="let logEntry">
            {{ logEntry.executionTime }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="
            let qrtransactiondata of qrtransactiondataData;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>

  <!-- Pagination Controls -->
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
