.app-rej-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.app-rej-filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1.8rem;
}
.app-rej-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.app-rej-serach-class {
  width: 15.7%;
}
.app-rej-div-2 {
  margin-left: 0.1%;
}
