<h3 class="header"><b>MY TEAM WEEKOFF</b></h3>
<div class="example-button-row">
  <div class="search-class">
    <mat-form-field appearance="outline">
      <mat-label>Search On User Name</mat-label>
      <input matInput (input)="fetchTeamWeekOff($any($event).target?.value)" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="">
      <mat-label>Week Off Day</mat-label>

      <mat-select (selectionChange)="onSelectWeekDay($event)">
        <mat-option value="All"> All </mat-option>
        <mat-option *ngFor="let day of weekDays" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="addWeekOff()"
      class="btn-class"
    >
      <i class="bi bi-sign-intersection-fill h6"></i> ADD
    </button>
  </div>
</div>
<div class="table-container">
  <mat-card class="cmn-card">
    <mat-card-content class="cmn-card-content">
      <div>
        <table
          matSort
          mat-table
          [dataSource]="weekOffDtoData"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="rowNumber">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              User Name
            </th>
            <td mat-cell *matCellDef="let leaveRequest">
              {{ leaveRequest.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Week Off Day
            </th>
            <td mat-cell *matCellDef="let weekOff">{{ weekOff.weekOffDay }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let leaveRequest">
              {{ leaveRequest.status === "A" ? "Active" : "InActive" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Actions
            </th>
            <td mat-cell *matCellDef="let leaveRequest">
              <!-- Edit Icon -->
              <i
                class="bi bi-pencil"
                style="cursor: pointer"
                (click)="editWeekOff(leaveRequest)"
              ></i>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <!-- Delete Icon -->
              <i
                class="bi bi-trash text-danger"
                style="cursor: pointer"
                (click)="openConfirmDialog(leaveRequest.id)"
                *ngIf="leaveRequest.status === 'A'"
              ></i>
            </td>
          </ng-container>

          <!-- Header Row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <!-- Data Rows -->
          <tr
            mat-row
            *matRowDef="let menuItem of menuItemData; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </mat-card-content>

    <!-- Pagination Controls -->
    <mat-card-footer class="paginator">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[20, 30, 40, 50]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
