<!-- <h4 class="head"><b>FOLLOWUP</b></h4> -->
<form [formGroup]="followupForm" (ngSubmit)="save()">
  <div class="container">
    <mat-card class="card">
      <mat-card-header class="header">
        <div class="title">
          <div>
            <b>{{ isAdding ? "ADD FOLLOWUP" : "UPDATE FOLLOWUP" }}</b>
          </div>
          <div
            style="margin-top: 10px; display: flex; justify-content: flex-end"
          >
            <button
              mat-flat-button
              class="btn-class back-btn"
              (click)="gotoFollowUps()"
            >
              BACK
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card class="lead-details">
        <div class="row">
          <div class="column1">
            <span><b>Customer Name:</b> {{ lead?.name || "N/A" }}</span
            ><br />
            <span><b>Phone:</b> {{ lead?.phoneNumber }}</span
            ><br />
            <span><b>Email:</b> {{ lead?.email || "N/A" }}</span
            ><br />
            <span><b>Opportunity Id:</b> {{ lead?.opportunityId }}</span>
            <br />
          </div>
          <div class="column2">
            <span><b>Project:</b> {{ lead?.projectName }}</span
            ><br />
            <span><b>Budget:</b> {{ lead?.budget || "N/A" }}</span
            ><br />
            <span
              ><b>Required Flat Type:</b> {{ lead?.preferredFlatType }}</span
            >
            <br />
            <span
              style="display: flex"
              *ngIf="
                (user.roleName.toLocaleLowerCase() === 'presales manager' ||
                  user.roleName.toLocaleLowerCase() === 'sales head') &&
                  !lead?.assignedToSales;
                else presaleElseBlock
              "
            >
              <b>Pre Sales:</b>
              <mat-form-field
                style="margin-left: 10px; width: 44%"
                appearance="outline"
              >
                <mat-label>Search & Select Presale Member</mat-label>
                <input
                  type="text"
                  matInput
                  aria-label="Number"
                  (input)="fetchPresaleUsers($any($event).target?.value)"
                  [formControl]="preSaleUser"
                  [matAutocomplete]="auto1"
                />
                <mat-autocomplete
                  #auto1="matAutocomplete"
                  (optionSelected)="onUserSelect($event)"
                  [displayWith]="displayUser"
                >
                  <mat-option> Select </mat-option>
                  <mat-option *ngFor="let user of userData" [value]="user">
                    {{ user.userName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button
                [disabled]="isDisableAssignment"
                mat-flat-button
                class="btn-class"
                [ngStyle]="{
                  'background-color': isDisableAssignment ? 'gray' : '#004869',
                  color: 'white',
                  height: '28px',
                  padding: '0px'
                }"
                (click)="updatePresale()"
              >
                Assign
              </button>
            </span>

            <ng-template #presaleElseBlock>
              <b>Pre Sales:</b>
              {{
                lead?.assignedPresalesUserName == null
                  ? "NA"
                  : lead.assignedPresalesUserName
              }}
            </ng-template>

            <br />
          </div>
          <div class="column2">
            <span><b>Source:</b> {{ lead?.sourceName }}</span
            ><br />
            <span><b>Sub Source:</b> {{ lead?.subSourceName }}</span
            ><br />
            <span
              ><b>Status:</b>
              {{
                (lead?.isAcquiredLead == null ||
                  lead?.isAcquiredLead == undefined) &&
                isCP
                  ? "N/A"
                  : lead?.status
              }}</span
            ><br />
            <!-- <span><b>Sub Status:</b> {{ lead?.subStatus || "N/A" }}</span> -->
            <!-- <br /> -->
            <span>
              <span
                style="display: flex"
                *ngIf="
                  user.roleName.toLocaleLowerCase() === 'sales manager' ||
                    user.roleName.toLocaleLowerCase() === 'sales head';
                  else saleElseifBlock
                "
              >
                <b>Sales:</b>
                <mat-form-field
                  style="margin-left: 10px; width: 44%"
                  appearance="outline"
                >
                  <mat-label>Search & Select Sales Member</mat-label>
                  <input
                    type="text"
                    matInput
                    aria-label="Number"
                    (input)="fetchSaleUsers($any($event).target?.value)"
                    [formControl]="salesUser"
                    [matAutocomplete]="auto2"
                  />

                  <mat-autocomplete
                    #auto2="matAutocomplete"
                    (optionSelected)="onSaleUserSelect($event)"
                    [displayWith]="displayUser"
                  >
                    <mat-option> Select </mat-option>
                    <mat-option
                      *ngFor="let user of salesUserData"
                      [value]="user"
                    >
                      {{ user.userName }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button
                  mat-flat-button
                  style="
                    color: white;
                    background-color: #004869;
                    height: 28px !important;
                    padding: 0px;
                  "
                  class="btn-class"
                  (click)="updateSale()"
                >
                  Assign
                </button>
              </span>

              <ng-template #saleElseifBlock>
                <b>Sales:</b>
                {{
                  lead?.assignedSalesUserName == null
                    ? "NA"
                    : lead.assignedSalesUserName
                }}
              </ng-template>
            </span>

            <br />
          </div>
          <!-- ---------------------- -->
          <div class="column3">
            <span
              ><b>Created Date:</b>
              {{ lead?.createdDate | date : "medium" }}</span
            ><br />
            <span><b>Created By:</b> {{ lead?.createdBy || "N/A" }}</span
            ><br />
            <span
              ><b>Expire Date:</b>
              {{ lead?.expireDate | date : "mediumDate" }}</span
            ><br />
            <span><b>Type:</b> {{ lead?.type || "N/A" }}</span
            ><br />
          </div>
        </div>
        <div class="row">
          <span
            ><b>Remarks:</b>
            {{
              (lead?.isAcquiredLead == null ||
                lead?.isAcquiredLead == undefined) &&
              isCP
                ? "N/A"
                : lead?.remarks
            }}</span
          >
        </div>
      </mat-card>
      <div class="projects-check">
        <!-- <div *ngFor="let lead of allLeads" class="project-item">
          <input
            type="checkbox"
            [id]="'checkbox-' + lead?.projectId"
            [checked]="isProjectSelected(lead?.projectId)"
            (change)="onProjectChange($event, lead?.projectId)"
          />
          <label [for]="'checkbox-' + lead?.projectId">
            {{ lead?.projectName }} ({{ lead?.sourceName }},{{
              lead?.subSourceName
            }})
          </label>
        </div> -->

        <mat-form-field class="project-auto">
          <mat-label>Select Projects</mat-label>
          <input
            type="text"
            matInput
            [formControl]="projectFilterCtrl"
            [matAutocomplete]="auto"
            placeholder="Search projects..."
            [value]="selectedProjectsText"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let lead of filteredLeads">
              <mat-checkbox
                [checked]="isProjectSelected(lead.id)"
                (change)="onCheckboxChange($event, lead)"
                (click)="$event.stopPropagation()"
              >
                {{ lead.projectName }} ({{ lead.sourceName }},
                {{ lead.subSourceName }}) ({{
                  lead.assignedPresalesUserName
                }}-{{ lead.assignedSalesUserName }}-{{ lead.status }})
              </mat-checkbox>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- <div class="selected-projects">
          <mat-chip-list>
            <mat-chip
              *ngFor="let project of selectedProjects"
              (removed)="removeProject(project)"
            >
              {{ project.projectName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div> -->
      </div>

      <div class="card-content">
        <div *ngIf="shouldShowFormDiv()" class="form-div">
          <mat-card class="content-form">
            <mat-card-content class="mat-content mat-card-scroll-followup">
              <div class="row date-time" style="padding: 0 15px">
                <!-- <div class="date-time"> -->
                <mat-form-field appearance="outline">
                  <mat-label>Choose Followup Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepicker"
                    formControlName="followupDate"
                    (click)="datepicker.open()"
                    (dateChange)="onChange()"
                    [min]="minDate"
                    [max]="maxFollDate"
                  />
                  <mat-error
                    *ngIf="
                      followupForm.get('followupDate')?.hasError('required')
                    "
                  >
                    Followup Date is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      followupForm.get('followupDate')?.hasError('futureDate')
                    "
                  >
                    Date cannot be future
                  </mat-error>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datepicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datepicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <input
                    matInput
                    [ngxTimepicker]="timepicker"
                    placeholder="Choose a time"
                    formControlName="followupTime"
                  />
                  <ngx-material-timepicker
                    (timeSet)="onChange()"
                    #timepicker
                  ></ngx-material-timepicker>
                  <mat-error
                    *ngIf="
                      followupForm.get('followupTime')?.hasError('timeInvalid')
                    "
                  >
                    The selected time cannot be earlier than the current time.
                  </mat-error>
                </mat-form-field>
                <!-- </div> -->
              </div>
              <div class="row" style="padding: 0 15px">
                <mat-form-field appearance="outline">
                  <mat-label>Select Type</mat-label>
                  <mat-select formControlName="typeId">
                    <mat-option value="">Select Type</mat-option>
                    <mat-option
                      *ngFor="let type of followupTypes"
                      [value]="type.id"
                    >
                      {{ type.commonRefValue }}
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error
                  *ngIf="followupForm.get('typeId')?.hasError('required')"
                >
                  Please Choose one option
                </mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Select Status</mat-label>
                  <mat-select
                    formControlName="statusId"
                    (selectionChange)="fetchLostStatusList($event.source.value)"
                  >
                    <mat-option value="">Select Status</mat-option>
                    <mat-option
                      *ngFor="let status of followupStatusList"
                      [value]="status.id"
                    >
                      {{ status.commonRefValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="followupForm.get('statusId')?.hasError('required')"
                  >
                    Please Choose one option
                  </mat-error>
                  <mat-error
                    *ngIf="
                      followupForm
                        .get('statusId')
                        ?.hasError('lessThanOrEqualToZero')
                    "
                  >
                    Please Choose one option
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row" style="padding: 0 15px">
                <mat-form-field appearance="outline" *ngIf="isLostStatus">
                  <mat-label>Select Reason</mat-label>
                  <mat-select
                    formControlName="subStatusId"
                    (selectionChange)="
                      displayReasonForOthers($event.source.value)
                    "
                  >
                    <mat-option value="">Select Reason</mat-option>
                    <mat-option
                      *ngFor="let status of lostStatusList"
                      [value]="status.id"
                    >
                      {{ status.commonRefValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="row">
                <mat-form-field appearance="outline" class="mat-45" *ngIf="isReasonOthers">
                  <mat-label>Reason</mat-label>
                  <textarea matInput formControlName="lostReason" placeholder="Enter reason for lost">
                  </textarea>
                </mat-form-field>
              </div> -->
              <div class="row" style="padding: 0 15px">
                <div appearance="outline">
                  <textarea
                    type="text"
                    matInput
                    formControlName="remarks"
                    rows="3"
                    placeholder="Remarks"
                    style="flex: 1; width: 100%; padding: 4px 10px"
                  ></textarea>
                  <mat-error
                    *ngIf="
                      followupForm.get('remarks')?.hasError('required') &&
                      (followupForm.get('remarks')?.touched ||
                        followupForm.get('remarks')?.dirty)
                    "
                  >
                    Remarks required
                  </mat-error>
                </div>
                <mat-radio-group
                  [formControl]="leadTypeIdControl"
                  *ngIf="isDisplayLeadTypes"
                >
                  <mat-radio-button
                    *ngFor="let option of leadTypes"
                    [value]="option.id"
                    class="mr-3"
                    color="primary"
                  >
                    {{ option.commonRefValue }}
                  </mat-radio-button>
                </mat-radio-group>
                <mat-error
                  *ngIf="
                    (leadTypeIdControl.hasError('required') &&
                      leadTypeIdControl.touched) ||
                    leadTypeIdControl.hasError('min')
                  "
                >
                  Please select one
                </mat-error>
              </div>
            </mat-card-content>
            <div>
              <mat-card-footer>
                <!-- <div class="button">
                  <button
                    mat-flat-button
                    style="color: white; background-color: rgb(97, 97, 38)"
                    class="btn-class"
                    (click)="gotoFollowUps()"
                  >
                    BACK
                  </button>
                  <button
                    *ngIf="
                      (isAdding && lead?.assignedToSales === null) ||
                      lead?.assignedToSales === 0 ||
                      !user.roleName.toLowerCase().includes('presales member')
                    "
                    mat-flat-button
                    style="color: white; background-color: red"
                    class="btn-class"
                    (click)="clearForm()"
                  >
                    RESET
                  </button>
                  
                  <button
                    mat-flat-button
                    style="color: white; background-color: #004869"
                    class="btn-class"
                    type="submit"
                    *ngIf="
                      lead?.assignedToSales === null ||
                      lead?.assignedToSales === 0 ||
                      !user.roleName.toLowerCase().includes('presales member')
                    "
                  >
                    {{ isAdding ? "ADD" : "UPDATE" }}
                  </button>
                </div> -->

                <div
                  class="followup-buttons"
                  style="
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 2rem;
                  "
                >
                  <!-- <button
                    mat-flat-button
                    class="btn-class back-btn"
                    (click)="gotoFollowUps()"
                  >
                    BACK
                  </button> -->
                  <button
                    *ngIf="
                      (isAdding && lead?.assignedToSales === null) ||
                      lead?.assignedToSales === 0 ||
                      !user.roleName.toLowerCase().includes('presales member')
                    "
                    mat-flat-button
                    class="btn-class reset-btn"
                    (click)="clearForm()"
                  >
                    RESET
                  </button>

                  <button
                    mat-flat-button
                    class="btn-class submit-btn"
                    type="submit"
                    *ngIf="
                      lead?.assignedToSales === null ||
                      lead?.assignedToSales === 0 ||
                      !user.roleName.toLowerCase().includes('presales member')
                    "
                  >
                    {{ isAdding ? "ADD" : "UPDATE" }}
                  </button>
                </div>
              </mat-card-footer>
            </div>
          </mat-card>
        </div>
        <div
          [ngStyle]="{
            width: !disableActionButton ? '65%' : '100%',
            'padding-left': !disableActionButton ? '20px' : '0px'
          }"
        >
          <mat-card class="remarks-history">
            <div>
              <div class="table-container">
                <table
                  matSort
                  mat-table
                  [dataSource]="followups"
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="followupDate">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Followup Date
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let followup"
                      matTooltip="{{ followup.followupDate | date : 'medium' }}"
                    >
                      {{ followup.followupDate | date : "mediumDate" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Type
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.type || "N/A" }}
                    </td>
                  </ng-container>
                  <ng-container
                    matColumnDef="remarks"
                    *ngIf="
                      !user.roleName
                        .toLocaleLowerCase()
                        .includes('channel partner')
                    "
                  >
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Remarks
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let followup"
                      style="width: 400px"
                    >
                      <div class="remarks-cell">{{ followup?.remarks }}</div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Status
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.status || "N/A" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="subStatus">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Sub Status
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.subStatus || "N/A" }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="createdBy">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Created By
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.followupCreatedBy || "N/A" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="createdDate">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Created Date
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let followup"
                      matTooltip="{{ followup.createdDate | date : 'medium' }}"
                    >
                      {{ followup.createdDate | date : "mediumDate" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Actions
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      <mat-icon
                        *ngIf="shouldShowFormDiv()"
                        matTooltip="Edit"
                        (click)="onEditClick(followup.id)"
                        class="font edit-icon"
                        >edit</mat-icon
                      >
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let followup; columns: displayedColumns"
                  ></tr>
                </table>
              </div>
            </div>
            <div>
              <mat-card-footer>
                <mat-paginator
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPageChange($event)"
                  showFirstLastButtons
                ></mat-paginator>
              </mat-card-footer>
            </div>
          </mat-card>
          <!-- <button
            *ngIf="
              !(
                lead?.assignedToSales === null || lead?.assignedToSales === 0
              ) && user.roleName.toLowerCase().includes('presales member')
            "
            mat-flat-button
            class="btn-class back-btn"
            (click)="gotoFollowUps()"
          >
            BACK
          </button> -->
        </div>
      </div>

      <!-- <div class="footer"></div> -->
      <!-- <mat-card-footer>
        <div class="button">
          <button *ngIf="
              (isAdding && lead.assignedToSales === null) ||
              lead.assignedToSales === 0 ||
              !user.roleName.toLowerCase().includes('presales member')
            " mat-flat-button style="color: white; background-color: red" class="btn-class" (click)="clearForm()">
            RESET
          </button>
          <button mat-flat-button style="color: white; background-color: rgb(97, 97, 38)" class="btn-class"
            (click)="gotoFollowUps()">
            BACK
          </button>
          <button mat-flat-button style="color: white; background-color: #004869" class="btn-class" type="submit" *ngIf="
              lead.assignedToSales === null ||
              lead.assignedToSales === 0 ||
              !user.roleName.toLowerCase().includes('presales member')
            ">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer> -->
    </mat-card>
  </div>
</form>
