<h3 class="header">My Attendance History</h3>
<div class="example-button-row">
  <div
    class="day-selector"
    [formGroup]="formData"
    style="text-align: center; display: inline-flex"
  >
    <mat-form-field appearance="outline" style="margin-right: 15px">
      <mat-label>Select Day</mat-label>
      <mat-select (selectionChange)="handleDaySelection($event.value)">
        <mat-option *ngFor="let day of days" [value]="day">
          {{ day.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="showDateRangePicker"
      class="time-picker"
      appearance="outline"
    >
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="attendanceData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="inDateTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            In Date & Time
          </th>
          <td mat-cell *matCellDef="let record">
            {{ record.attendanceInDateTime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="outDateTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Out Date & Time
          </th>
          <td mat-cell *matCellDef="let record">
            {{ record.attendanceOutDateTime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="attendanceStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let record">
            {{ record.attendanceStatus }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let record; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
