.mat-card-scroll {
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}

.mat-45 {
  width: 50%;
}

.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}

.work-order-icon {
  height: 18px !important;
  width: 25px !important;
  font-size: 18px !important;
}

/* *********Responsive CSS Start************* */
@media screen and (max-device-width: 480px) {
  .mat-card-scroll {
    max-height: inherit;
    overflow: unset;
    overflow-y: unset;
  }
  .mat-45 {
    width: 97%;
    margin-top: 0px;
    padding-top: 0px;
  }
}
.cmn-mat-content {
  margin-top: 3% !important;
  height: 300px;
  overflow-y: auto;
}

.error-message {
  color: red; /* Set the text color to red */
}

.error-label {
  color: red; /* Change to your desired error color */
}

.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
