<!-- <form [formGroup]="myForm">
    <mat-form-field appearance="fill">
      <mat-label>Select Item</mat-label>
      <mat-select formControlName="selectedItem">
        <mat-select-trigger>
          {{ selectedItem || 'Select an option' }}
        </mat-select-trigger>
        <div class="search-container">
          <input matInput [(ngModel)]="searchText" placeholder="Search" />
        </div>
        <mat-option *ngFor="let item of filteredItems" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form> -->
  