<div style="width: 100%; height: 100%; overflow: scroll">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <div>
          <h1 class="head-text">Dashboard</h1>
        </div>
        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
    </div>
    <!-- <p class="user-txt">
          Hi {{ user.userName }}, here's what's happening today
        </p> -->
    <div class="day-selector" [formGroup]="formData">
      <div class="project-srch">
        <!-- <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
          id="project-filter"
        >
          <mat-label>Project</mat-label>
          <input
            type="text"
            matInput
            (input)="searchProject($event)"
            [formControl]="project"
            [matAutocomplete]="projectAuto"
            id="project-filter"
          />
          <mat-autocomplete
            #projectAuto="matAutocomplete"
            (optionSelected)="onProjectSelect($event)"
            [displayWith]="displayProject"
          >
            <mat-option value=""> All </mat-option>
            <mat-option *ngFor="let option of projects" [value]="option">
              {{ option.projectName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        <div class="search-box" style="padding-top: 1rem;">

          <mat-form-field appearance="outline" id="project-filter">
            <input type="text" placeholder="Select Projects" aria-label="Select projects" matInput
              [matAutocomplete]="projectAuto" [formControl]="project" (input)="searchProject($event)" />
          </mat-form-field>

          <mat-autocomplete #projectAuto="matAutocomplete">
            <mat-option> <mat-checkbox #allProjectSelected (click)="onAllSelectProject()"
                [checked]="isProjectAllSelected()">All</mat-checkbox></mat-option>
            <mat-option *ngFor="let project of projects" (click)="$event.preventDefault()">
              <div (click)="$event.stopPropagation()">

                <mat-checkbox [checked]="isSelectedProject(project.projectId)"
                  (change)="onProjectSelect(project, $event)" (click)="$event.stopPropagation()">
                  {{ project.projectName }}
                </mat-checkbox>
              </div>
            </mat-option>
          </mat-autocomplete>


          <button mat-icon-button matSuffix (click)="onProjectSelectButtonClick()" type="button">
            <mat-icon>search</mat-icon>
          </button>

        </div>
      </div>
      <div class="source-filter-v1">
        <mat-form-field class="example-full-width" class="mat-50" id="source-filter" appearance="outline" *ngIf="
            !(
              user.roleName.toLowerCase() === 'channel partner' ||
              user.roleName.toLowerCase() === 'cp user'
            )
          ">
          <mat-label>Select Source</mat-label>
          <mat-select formControlName="sourceIds" multiple>
            <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
            <mat-option (click)="tosslePerOne()" *ngFor="let source of sources" [value]="source.leadSourceId">
              {{ source.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" class="mat-50" id="subsource-filter" appearance="outline" *ngIf="
            !(
              user.roleName.toLowerCase() === 'channel partner' ||
              user.roleName.toLowerCase() === 'cp user'
            )
          " style="padding-left: 10px; padding-right: 10px">
          <input type="text" placeholder="Select Sub Sources" aria-label="Select Sub Sources" matInput
            [matAutocomplete]="auto" [formControl]="subSourceControl" (input)="searchSubSource($event)" />

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let subSource of filteredSubSources" (click)="$event.preventDefault()">
              <div (click)="$event.stopPropagation()">
                <mat-checkbox [checked]="isSelected(subSource.leadSubSourceId)"
                  (change)="onSelectionSubSourceChange(subSource, $event)" (click)="$event.stopPropagation()">
                  {{ subSource.name }}
                </mat-checkbox>
              </div>
            </mat-option>
          </mat-autocomplete>
          <!-- <mat-hint *ngIf="!sourceIds.length" style="color: red">
              Please select a source first.
            </mat-hint> -->
        </mat-form-field>
      </div>
      <div>
        <span style="padding-right: 10px">
          <mat-form-field appearance="outline" class="mat-50" id="digitalpartner-filter">
            <mat-label>Digital Partner</mat-label>
            <mat-select [(value)]="digitalPartnerName" (selectionChange)="handleDigitalParterSelection($event.value)">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let element of digitalPartner" [value]="element.commonRefValue">
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </div>
      <div>
        <mat-form-field appearance="outline" class="mat-50" id="day-filter" style="padding-left: 10px">
          <mat-label>Select Day</mat-label>
          <mat-select [(value)]="selectedDay" (selectionChange)="handleDaySelection($event.value)">
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="showDateRangePicker" class="time-picker mat-50" appearance="outline"
          style="padding-left: 10px" id="daterange-filter">
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input matStartDate placeholder="Start date" formControlName="customStartDate" (focus)="picker.open()"
              (dateChange)="onDateRangeChange()" />
            <input matEndDate placeholder="End date" formControlName="customEndDate" (focus)="picker.open()"
              (dateChange)="onDateRangeChange()" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="proxy-srch">
        <mat-form-field class="example-full-width" class="mat-45" id="proxy" appearance="outline"
          style="padding-left: 10px">
          <mat-label>Proxy Login</mat-label>
          <input type="text" matInput (input)="searchUser($event)" [formControl]="User" [matAutocomplete]="userAuto" />
          <mat-autocomplete #userAuto="matAutocomplete" (optionSelected)="onUserSelect($event)"
            [displayWith]="displayUser">
            <mat-option *ngFor="let option of UserDetails" [value]="option">
              {{ option.userName | titlecase }}
              <span style="font-weight: bold">
                -
                {{
                option.roleName.split(" ").length > 1
                ? (option.roleName | titlecase)
                : (option.roleName | uppercase)
                }}
              </span>
              <span>
                <ng-container *ngIf="option.companyName">
                  ({{ option.companyName | titlecase }})
                </ng-container>
              </span>
            </mat-option>
          </mat-autocomplete>
          <!-- <input
              type="text"
              matInput
              [value]="
                selectedProject.projectName ? selectedProject.projectName : ''
              "
              (input)="searchProject($event)"
              [formControl]="project"
              [matAutocomplete]="projectAuto"
            />
            <mat-autocomplete
              #projectAuto="matAutocomplete"
              (optionSelected)="onProjectSelect($event)"
              [displayWith]="displayProject"
            >
              <mat-option *ngFor="let option of projects" [value]="option">
                {{ option.projectName }}
              </mat-option>
            </mat-autocomplete> -->
        </mat-form-field>
        
      </div>

      <!-- <div>
        <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button>
      </div> -->
      <mat-icon matTooltip="Clear Filters" (click)="resetAutoInput(projectAuto)"
        class="clear-filter">filter_list_off</mat-icon>
             <mat-slide-toggle formControlName="isExpried" (change)="onToggle($event)" class="isExpried_toggle"
          [checked]="!isExpried" style="padding-left:20px">
          Include Expired Leads
        </mat-slide-toggle>
    </div>

    <!-- Current Status start -->
    <div class="margin-20">
      <mat-accordion>
        <mat-expansion-panel [expanded]="panel1Expanded" (opened)="onPanelOpen(1)" (closed)="onPanelClose(1)">
          <mat-expansion-panel-header>
            <mat-panel-title> Lead Segmentation </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="dashboard-container" id="currentDashBoardCount">
            <div class="heading" id="presales">
              <h2>Pre Sales</h2>
            </div>
            <div class="cards">
              <mat-card (click)="navigateToLeadsCurrentStatus()" class="mat-card bg-six" id="currentTotalLeads">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="leads">Total Leads</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="leadsCount">
                      {{ currentDashboardTotalLeads }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">assignment_add</mat-icon>
                  </div>
                </div>
              </mat-card>
              <mat-card (click)="navigateToLeadsByCurrentStatus(newLeadId)" class="mat-card bg-nine"
                id="currentNewLeadsCount">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="newLeads">Pending Leads</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="newLeadsCount">
                      {{ currentNewLeads }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">contact_page</mat-icon>
                  </div>
                </div>
              </mat-card>

              <mat-card (click)="navigateToLeadsByCurrentStatus(followUpId, 'P')" class="mat-card bg-seven"
                id="currentFollowupCount">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="followups">Follow Ups</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="followupCount">
                      {{ currentFollowups }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">contact_phone</mat-icon>
                  </div>
                </div>
              </mat-card>
              <mat-card (click)="
                  navigateToLeadsByCurrentStatus(siteVisitConfirmId, 'P')
                " class="mat-card bg-fifteen" id="currentSiteVisitConfirmCount">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="siteVisitConfirm">
                    Site Visit Confirm
                  </h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="siteVisitConfirmCount">
                      {{ currentSiteVisitConfirm }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">directions_walk</mat-icon>
                  </div>
                </div>
              </mat-card>
              <mat-card (click)="navigateToLeadsByCurrentStatus(ncStatusId, 'P')" class="mat-card bg-eleven"
                id="currentNonContactableCount">
                <!-- <h3 class="cardtitle">Non Contactable</h3>
          <h2 class="total">{{ nonContactableCount }}</h2> -->
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="nonContactable">Non Contactable</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="nonContactableCount">
                      {{ currentNonContactableCount || 0 }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">phone_disabled</mat-icon>
                  </div>
                </div>
              </mat-card>
              <mat-card (click)="navigateToLeadsByCurrentStatus(siteVisitProspectId)" class="mat-card bg-five"
                id="currentVisitProspectCount">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="visitProspect">Visit Prospect</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="visitProspectCount">
                      {{ currentSiteVisitProspectFollowups }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">share_location</mat-icon>
                  </div>
                </div>
              </mat-card>
              <mat-card (click)="navigateToLeadsByCurrentStatus(junkId)" class="mat-card bg-twelve"
                id="currentJunkCount">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="junk">Junk</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="junkCount">
                      {{ currentJunk || 0 }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">devices_fold</mat-icon>
                  </div>
                </div>
              </mat-card>

              <mat-card (click)="navigateToLeadsByCurrentStatus(lostId, 'P')" class="mat-card bg-ten"
                id="currentLostCount">
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="lost">Lost</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="lostCount">
                      {{ currentLost || 0 }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">close</mat-icon>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="heading" id="presales">
              <h2>Sales</h2>
            </div>

            <div class="cards">
              <div style="width: 100%;display: flex;direction: row;">
                <mat-card (click)="navigateToLeadsByCurrentStatus(siteVisitDoneId, 'S')" class="mat-card bg-one"
                  id="currentSiteVisitDoneCount">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="siteVisitDone">Site Visit Done</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="siteVisitDoneCount">
                        {{ currentSiteVisitDoneCount }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">person_pin_circle</mat-icon>
                    </div>
                  </div>
                </mat-card>
                <mat-card (click)="navigateToLeadsByCurrentStatus(salesFollwupId,'')" class="mat-card bg-TwentyOne"
                  id="eoiReceivedCount">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="salesFollowUp">Sales Follow-Up</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="salesFollowUp">
                        {{ salesFollowupCount || 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">contact_phone</mat-icon>
                    </div>
                  </div>
                </mat-card>

                <mat-card (click)="navigateToLeadsByCurrentStatus(salesLostId,'')" class="mat-card bg-TwentyTwo"
                  id="salesLostId">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="salesLost">Sales Lost</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="salesLostId">
                        {{ salesLostCount || 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">close</mat-icon>
                    </div>
                  </div>
                </mat-card>

                <mat-card (click)="navigateToLeadsByCurrentStatus(salesNonContactableId,'')"
                  class="mat-card bg-nineteen" id="salesNonContactable">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="salesNonContactable">Sales Non-Contactable</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="salesLostId">
                        {{ salesNonContactable || 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">phone_disabled</mat-icon>
                    </div>
                  </div>
                </mat-card>



                <mat-card (click)="navigateToLeadsByCurrentStatus(salesJunkId,'')" class="mat-card bg-TwentyThree"
                  id="salesJunkId">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="salesJunkId">Sales Junk</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="salesJunkId">
                        {{ salesJunkCount|| 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">devices_fold</mat-icon>
                    </div>
                  </div>
                </mat-card>
                <mat-card (click)="navigateToLeadsByCurrentStatus(salesDNDId,'')" class="mat-card bg-Twenty"
                  id="salesDND">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="salesDND">Sales DND</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="salesDND">
                        {{ salesDNDcount|| 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">person_off</mat-icon>
                    </div>
                  </div>
                </mat-card>
                <mat-card (click)="
                  navigateToLeadsByCurrentStatus(currentReVisitProposedId, 'S')
                " class="mat-card bg-eigthteen" id="currentReVisitProposedCount">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="siteVisitProposed">
                      ReVisit Proposed
                    </h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="siteVisitProposedCount">
                        {{ currentReVisitProposed }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">person_pin_circle</mat-icon>
                    </div>
                  </div>
                </mat-card>
                <!-- 
              <mat-card
                (click)="navigateToLeadsByCurrentStatus(reVisitDoneId, 'S')"
                class="mat-card bg-sixteen"
                id="currentRevisitDoneCount"
              >
                <div class="mat-card-hdiv">
                  <h3 class="cardtitle" id="reVisitDone">ReVisit Done</h3>
                </div>
                <div class="mat-card-countdiv">
                  <div class="mat-card-count">
                    <h2 class="total" id="reVisitDoneCount">
                      {{ currentrevisitDoneCount }}
                    </h2>
                  </div>
                  <div class="mat-card-icondiv">
                    <mat-icon
                      class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                      >person_pin_circle</mat-icon
                    >
                  </div>
                </div>
              </mat-card> -->
                <mat-card (click)="navigateToLeadsByCurrentStatus(bookedId)" class="mat-card bg-three"
                  id="currentBookedCount">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="booked">Booked</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="bookedCount">
                        {{ currentBookedCount }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">real_estate_agent</mat-icon>
                    </div>
                  </div>
                </mat-card>
                <mat-card (click)="navigateToLeadsByCurrentStatus(bookedCancelledId, 'S')" class="mat-card bg-eight"
                  id="currentBookedCancelledCount">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="bookedCancelled">
                      Cancelled Bookings
                    </h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="bookedCancelledCount">
                        {{ currentBookedCancelledCount || 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">domain_disabled</mat-icon>
                    </div>
                  </div>
                </mat-card>

                <mat-card (click)="navigateToLeadsByCurrentStatus(eoiReceivedId, 'S')" class="mat-card bg-thirteen"
                  id="currentEoiReceivedCount">
                  <div class="mat-card-hdiv">
                    <h3 class="cardtitle" id="eoiReceived">EOI Received</h3>
                  </div>
                  <div class="mat-card-countdiv">
                    <div class="mat-card-count">
                      <h2 class="total" id="eoiReceivedCount">
                        {{ currentEoiReceivedStatus || 0 }}
                      </h2>
                    </div>
                    <div class="mat-card-icondiv">
                      <mat-icon
                        class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color">feedback</mat-icon>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>