.profile-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
}

.profile-pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-pic .initial {
  font-size: 35px;
  color: #fff;
  background-color: #007bff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-info {
  flex: 1;
  margin-top: 5px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1px;
  color: #333;
}

.profile-role {
  font-size: 18px;
  color: #666;
}

.profile-status {
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.profile-status.active {
  background-color: #34c759;
  color: #fff;
  border: 1px solid #34c759;
}

.profile-status.inactive {
  background-color: #ff9900;
  color: #fff;
  border: 1px solid #ff9900;
}

.profile-body {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-actions {
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

.profile-actions button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.profile-actions button:hover {
  background-color: #818994;
  color: #fff;
}

.edit-mode {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-mode .form-group {
  margin-bottom: 20px;
}

.edit-mode .form-actions {
  margin-top: 20px;
  text-align: right;
}

.edit-mode .btn {
  margin-left: 10px;
}

.change-password-mode {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-password-mode .form-group {
  margin-bottom: 20px;
}

.change-password-mode .form-actions {
  margin-top: 20px;
  text-align: right;
}

.change-password-mode .btn {
  margin-left: 10px;
}
.icon {
  position: absolute;
  bottom: 26px;
  right: 6px;
  cursor: pointer;
  z-index: 10;
}
.user-img {
  margin-left: 2px;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: none;
}
