<h3 class="header">
  <b>{{ isAdding ? "ADD TOWER" : "EDIT TOWER" }}</b>
</h3>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content class="cmn-mat-card-content">
        <mat-form-field appearance="outline" class="block-mat-50">
          <mat-label>Project</mat-label>
          <mat-select formControlName="projectId">
            <mat-option
              *ngFor="let option of projects"
              [value]="option.projectId"
              [disabled]="!isAdding && !option.enabled"
              (click)="
                isAdding && !option.enabled
                  ? setSelectedProject(option.projectId)
                  : null
              "
            >
              {{ option.projectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div formArrayName="blocks">
          <div *ngFor="let block of blocks.controls; let i = index">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline" class="block-mat-40">
                <mat-label>Tower Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="block-mat-40">
                <mat-label>Number Of Floors</mat-label>

                <input matInput formControlName="noOfLevels" />
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="block-mat-40"
                *ngIf="!isAdding"
              >
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="">Select Status</mat-option>
                  <mat-option
                    *ngFor="let element of statuses"
                    [value]="element.commonRefKey"
                  >
                    {{ element.commonRefValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formData.get('status')?.hasError('required')">
                  Please select one option
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div style="text-align: right" class="button">
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoBlocks()"
          >
            BACK
          </button>

          <button
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            *ngIf="isAdding"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
