<div class="container">
  <div style="margin-top: 2%" class="indentinfo">
    <div>
      <div><b>ProjectName :</b> Minara</div>
      <div><b>Indent :</b> QUA1000</div>
    </div>

    <div class="top">
      <div><b>Indent Created Date :</b> 12-5-2014</div>
      <div><b>Expected Date :</b> 10-8-2014</div>
    </div>

    <div><b>Created By:</b> Siva Kumari</div>
  </div>

  <mat-divider style="margin-top: 2%"><></mat-divider>

  <h3 style="margin-top: 2%"><b>Indent Items:</b></h3>
  <div>
    <table mat-table [dataSource]="indentDetails" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="itemCategory">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="background-color: #004869; color: white"
        >
          Item Category
        </th>
        <td mat-cell *matCellDef="let element">{{ element.itemCategory }}</td>
      </ng-container>

      <ng-container matColumnDef="subCategory">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="background-color: #004869; color: white"
        >
          Sub Category
        </th>
        <td mat-cell *matCellDef="let element">{{ element.subCategory }}</td>
      </ng-container>

      <ng-container matColumnDef="specification">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="background-color: #004869; color: white"
        >
          Specification
        </th>
        <td mat-cell *matCellDef="let element">{{ element.specification }}</td>
      </ng-container>

      <ng-container matColumnDef="itemUnit">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="background-color: #004869; color: white"
        >
          Item Unit
        </th>
        <td mat-cell *matCellDef="let element">{{ element.itemUnit }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="background-color: #004869; color: white"
        >
          Quantity
        </th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
    
  </div>
</div>
