<h4 class="header"><b>Client</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header
        ><b>{{ isAdding ? "ADD Client" : "EDIT Client" }}</b></mat-card-header
      >
      <mat-card-content class="cmn-mat-card-content">
        <div class="form-row">
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Client Name</mat-label>
            <input matInput formControlName="clientName" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailId" />
          </mat-form-field>
          <!-- <mat-error *ngIf="formData.get('emailId')?.invalid && formData.get('emailId')?.touched">
                        Enter a valid email address.
                    </mat-error> -->
        </div>
        <div>
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label> PhNumber</mat-label>
            <input matInput formControlName="phoneNumber" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label> Location</mat-label>
            <input matInput formControlName="location" />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Address1</mat-label>
            <input matInput formControlName="address1" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Address2</mat-label>
            <input matInput formControlName="address2" />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Pincode</mat-label>
            <input matInput formControlName="pincode" />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>GSTIN</mat-label>
            <input matInput formControlName="gst" />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>PAN Number</mat-label>
            <input matInput formControlName="pan" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Project Location</mat-label>
            <input matInput formControlName="projectLocation" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="client-mat-45">
            <mat-label>Order Number</mat-label>
            <input matInput formControlName="orderNumber" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
          <button
            mat-flat-button
            type="button"
            class="btn-class warn"
            (click)="clearForm()"
          >
            RESET
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoclients()"
          >
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
