.d-customer-i-search-container {
  display: flex;
  flex-grow: 1;
}

.list-item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.label {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 16px;
  align-items: center;
  flex: 1;
}

.toggle-icon {
  margin-left: auto;
  padding-left: 8px;
}

.mat-list-item {
  display: flex;
  align-items: center;
}
.mat-45 {
  width: 20%;
  margin-right: 2%;
}
.d-customer-i-button-row {
  margin-left: 2% !important;
  margin-bottom: 1%;
  flex-wrap: wrap;
}
.d-customer-card {
  margin-left: 2%;
  margin-right: 2%;
  max-height: 73vh;
}

/* .example-button-row {
    margin-left: 3%;
    margin-bottom: 1%;
}

button{
    width: 10%;
    margin-left: 5%;
}

mat-card {
    margin-left: 3%;
    margin-right: 3%;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin: 0;
}


.no-invoices {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
    margin: 20px 0px;
} */
