<h3 class="header"><b>CUSTOMER INVOICE DETAILS</b></h3>

<div class="d-customer-i-search-container">
  <div class="d-customer-i-button-row">
    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Consumption Type</mat-label>
      <mat-select [(ngModel)]="consumption">
        <mat-option [value]="''"> All </mat-option>
        <mat-option
          *ngFor="let consumption of consumptionTypes"
          [value]="consumption.commonRefValue"
        >
          {{ consumption.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Customer</mat-label>
      <mat-select [(ngModel)]="customerName">
        <mat-option [value]="''"> All </mat-option>
        <mat-option *ngFor="let customer of customers" [value]="customer.name">
          {{ customer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Month</mat-label>
      <mat-select [(ngModel)]="month">
        <mat-option [value]="0"> All </mat-option>
        <mat-option *ngFor="let month of months; let i = index" [value]="i + 1">
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="year">
        <mat-option [value]="0"> All </mat-option>
        <mat-option *ngFor="let year of years" [value]="year.commonRefValue">
          {{ year.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-flat-button
      style="color: white; background-color: #004869; width: 8%"
      class="btn-class"
      (click)="fetchCustomerInvoiceDetails()"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
</div>

<div class="example-button-row" *ngIf="flag">
  <span
    ><strong>Total Cost : </strong>
    {{ allProjectsCost | currency : "INR" : "symbol" : "1.2-2" }}</span
  >
</div>
<mat-card class="d-customer-card">
  <div *ngIf="flag">
    <mat-nav-list>
      <ng-container *ngFor="let data of customerInvoiceDetails; let i = index">
        <mat-list-item class="main-header" (click)="toggle(i)">
          <div class="list-item-content">
            <mat-icon class="menu-icon">description</mat-icon>
            <span mat-subheader class="menu-head">
              <span class="label">{{ data.customerName }}</span>
              <span class="info">
                <span
                  ><strong>Month : </strong> {{ data.consumptionMonth }}</span
                >
                <span
                  ><strong>Total Cost : </strong>
                  {{
                    data.totalCost | currency : "INR" : "symbol" : "1.2-2"
                  }}</span
                >
              </span>
              <mat-icon class="toggle-icon">
                {{
                  expandedIndex.includes(i) ? "expand_more" : "chevron_right"
                }}
              </mat-icon>
            </span>
          </div>
        </mat-list-item>
        <ng-container *ngIf="expandedIndex.includes(i)">
          <div class="container">
            <h4><strong>Consumption Details</strong></h4>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="data.invoices" class="mat-table">
                <ng-container matColumnDef="id">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #004869; color: white"
                  >
                    Id
                  </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #004869; color: white"
                  >
                    Customer Name
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.customerName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="consumptionType">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #004869; color: white"
                  >
                    Consumption Type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.consumptionType }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #004869; color: white"
                  >
                    Amount
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{
                      element.totalValue | currency : "INR" : "symbol" : "1.2-2"
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="invoiceDate">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #004869; color: white"
                  >
                    Invoice Date
                  </th>

                  <td mat-cell *matCellDef="let element">
                    {{ element.invoiceDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #004869; color: white"
                  >
                    Actions
                  </th>
                  <td mat-cell *matCellDef="let customerconsumption">
                    <i
                      class="bi bi-pencil action-icon"
                      (click)="editCustomerconsumption(customerconsumption)"
                    ></i>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <i
                      (click)="
                        openConfirmDialog(
                          customerconsumption.customerconsumptionId
                        )
                      "
                      class="bi bi-trash text-danger action-icon"
                      style="color: red"
                    ></i>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <i
                      (click)="viewCustomerConsumption(customerconsumption)"
                      class="bi bi-eye text-primary action-icon"
                      style="color: blue"
                    ></i>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </div>
          <mat-card-footer></mat-card-footer>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </div>

  <div *ngIf="!flag" class="no-invoices">
    <h4>No Invoices</h4>
  </div>
</mat-card>
