.create-qo-filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-bottom: 1%;
}

.create-qo-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}

.cre-qo-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.cre-qo-ml-2 {
  margin-left: 0.5%;
}
.cre-qo-search-class {
  width: 20%;
}
