.po-mat-card-scroll {
  max-height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}

.po-cmn-mat-content {
  margin-top: 3% !important;
  height: 40vh;
  overflow-y: auto;
}

.po-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.po-card {
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 20px;
}
.po-button-wrapper {
  padding: 0 2rem;
  margin-top: 10px;
  align-items: end;
  text-align: end;
}
.po-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.po-column1 {
  width: 34%;
}
.po-column2 {
  width: 33%;
}
.po-column1 div {
  margin-bottom: 10px;
  margin-top: 0px;
}
.po-column2 div {
  margin-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 1.5rem;
}

.radio-button-id {
  color: #004869;
  font-size: 15px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
