<h4 class="po-pac-header">
  {{ isAdding ? "ADD PURCHASE ORDER" : "EDIT PURCHASE ORDER" }}
</h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="po-card" style="padding: 0">
      <mat-card-content class="po-cmn-mat-content po-mat-card-scroll">
        <div class="po-button-group">
          <div class="po-button-wrapper">
            <button
              mat-flat-button
              class="btn-class primary"
              type="button"
              (click)="viewIndent()"
            >
              VIEW INDENT
            </button>
          </div>

          <div class="po-button-wrapper">
            <button
              mat-flat-button
              class="btn-class primary"
              type="button"
              (click)="viewQuotation()"
            >
              VIEW QUOTATION
            </button>
          </div>

          <div class="po-button-wrapper">
            <button
              mat-flat-button
              class="btn-class primary"
              type="button"
              (click)="viewTermsAndConditions()"
              data-bs-toggle="modal"
              data-bs-target="#termsAndConModel"
            >
              VIEW TERMS & CON
            </button>
          </div>
        </div>

        <div class="row sub-details-div">
          <div class="po-column1">
            <div *ngIf="quotationData?.projectName">
              <b class="column-div">PROJECT NAME:</b>
              {{ quotationData.projectName }}
            </div>
            <div *ngIf="quotationData?.quotationCode">
              <b class="column-div">QUOTATION CODE:</b>
              {{ quotationData.quotationCode }}
            </div>
          </div>

          <div class="po-column2">
            <div *ngIf="quotationData?.code">
              <b class="column-div">INDENT CODE</b>
              {{ quotationData.code }}
            </div>

            <div *ngIf="quotationData?.vendorName">
              <b class="column-div">VENDOR:</b>
              {{ quotationData.vendorName }}
            </div>
          </div>

          <div class="po-column2">
            <div *ngIf="quotationData?.requiredDate">
              <b class="column-div">INDENT REQUIRED DATE:</b>
              {{ quotationData.requiredDate | date : "MMM d, yyyy" }}
            </div>
            <div *ngIf="quotationData?.deliveryInDays">
              <b class="column-div">DELIVERY IN DAYS:</b>
              {{ quotationData.deliveryInDays }}
            </div>
          </div>
        </div>

        <div class="row">
          <app-autocomplete
            [label]="'Search/Select Store'"
            [formControl]="storeIdControl"
            [options]="stores"
            [displayFn]="displayStore"
            (selectionChange)="onStoreSelect($event)"
            (onSearch)="searchStore($event)"
          ></app-autocomplete>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoQuotation()"
            type="button"
          >
            GOTO QO
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoPurchaseOrder()"
            type="button"
          >
            GOTO PO
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>

<!-- indent model -->
<div
  *ngIf="openDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body1">
        <div style="padding: 0rem 1rem">
          <div class="radio-button-id">INDENT ITEMS</div>
          <app-indent-items [indentItems]="indentItems"></app-indent-items>
          <mat-paginator
            [length]="indentTotalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25]"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
            style="border-bottom: 1px solid #999; background-color: #f8f9fa"
          ></mat-paginator>
        </div>

        <div
          *ngIf="!isLoading && indentStages.length > 0"
          style="padding: 0rem 1rem"
        >
          <div class="radio-button-id">INDENT STAGE DETAILS</div>
          <ng-container>
            <app-workorder-stage
              [stagesDto]="indentStages"
            ></app-workorder-stage>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- quotation model -->
<div
  *ngIf="openQuotationDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onCloseQuotation()"
        ></button>
      </div>
      <div class="modal-body1">
        <div style="padding: 0rem 1rem">
          <div class="radio-button-id">QUOTATION ITEMS</div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="quotationItems" class="mat-table">
              <ng-container matColumnDef="ItemId">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.categoryName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="subCategory">
                <th mat-header-cell *matHeaderCellDef>SubCategory</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.subCategoryName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="specification">
                <th mat-header-cell *matHeaderCellDef>Specification</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.specificationName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.unitName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.price | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quantity | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="gst">
                <th mat-header-cell *matHeaderCellDef>GST</th>
                <td mat-cell *matCellDef="let element">{{ element.gst }}</td>
              </ng-container>

              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.discount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quotationItemCostWithGst">
                <th mat-header-cell *matHeaderCellDef>Cost With Gst</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quotationItemCostWithGst | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quotationItemCostWithOutGst">
                <th mat-header-cell *matHeaderCellDef>Cost With Out Gst</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quotationItemCostWithOutGst | number }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25]"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
            style="border-bottom: 1px solid #999; background-color: #f8f9fa"
          ></mat-paginator>
        </div>

        <div style="padding: 0rem 1rem">
          <div class="radio-button-id">QUOTATION CHARGES</div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="quotationCharges" class="mat-table">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="transportCharge">
                <th mat-header-cell *matHeaderCellDef>Transport</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.transportCharge }}
                </td>
              </ng-container>

              <ng-container matColumnDef="loadingCharge">
                <th mat-header-cell *matHeaderCellDef>Loading</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.loadingCharge }}
                </td>
              </ng-container>

              <ng-container matColumnDef="unLoadingCharge">
                <th mat-header-cell *matHeaderCellDef>UnLoading</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.unLoadingChange }}
                </td>
              </ng-container>

              <ng-container matColumnDef="installationCharge">
                <th mat-header-cell *matHeaderCellDef>Installation</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.installationCharge }}
                </td>
              </ng-container>

              <ng-container matColumnDef="otherCharge">
                <th mat-header-cell *matHeaderCellDef>Other</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.otherCharge }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
          </div>
        </div>

        <div *ngIf="!isLoading && stages.length > 0" style="padding: 0rem 1rem">
          <div class="radio-button-id">QUOTATION STAGE DETAILS</div>
          <ng-container>
            <app-workorder-stage [stagesDto]="stages"></app-workorder-stage>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCloseQuotation()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade modal-xl"
  id="termsAndConModel"
  tabindex="-1"
  aria-labelledby="serviceCodeSearchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="color: #004869">TERMS & CONDITIONS</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body wo-modal-body">
        <div
          *ngIf="
            !termsAndConditions || termsAndConditions.length === 0;
            else documentsTable
          "
        >
          <p>No Terms And Conditions available.</p>
        </div>

        <div class="tab-head">
          <ng-template #documentsTable>
            <table
              matSort
              mat-table
              [dataSource]="termsAndConditions"
              class="table table-striped"
            >
              <ng-container matColumnDef="rowNumber">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let i = index">
                  {{ pageIndex * pageSize + i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="termsAndConditions">
                <th mat-header-cell *matHeaderCellDef>Terms & Conditions</th>
                <td mat-cell *matCellDef="let document">
                  {{ document.qoTermsAndConditionDes }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsTermsAndCon"
              ></tr>
              <tr
                class="table-row"
                mat-row
                *matRowDef="let row; columns: displayedColumnsTermsAndCon"
              ></tr>
            </table>
          </ng-template>
        </div>
      </div>
      <div>
        <mat-card-footer class="pagination-sec">
          <mat-paginator
            [length]="termsAndConTotalItems"
            [pageSize]="termsAndConPageSize"
            [pageSizeOptions]="termsAndConPageSizeOptions"
            (page)="onTermsAndCondPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
          ></mat-paginator>
        </mat-card-footer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
