<h4 class="header">Asset Allocation Management Details</h4>

<div class="example-button-row">
  <div class="search-container">
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On First Applicant Name</mat-label>
      <input
        matInput
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter Applicant Name"
      />
    </mat-form-field>
  </div>

  <div class="button-container">
    <button
      mat-flat-button
      class="btn-class-add"
      (click)="addAssetAllocation()"
      style="background-color: #075477; color: white"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="eoiData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="firstApplName">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            First Applicant Name
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.firstApplName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="firstApplPhoneNumber">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            First Applicant Phone Number
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.firstApplPhoneNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="firstApplAddress">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            First Applicant Address
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.firstApplAddress }}
          </td>
        </ng-container>

        <ng-container matColumnDef="secondApplName">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Second Applicant Name
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.secondApplName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="secondApplPhoneNumber">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Second Applicant Phone Number
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.secondApplPhoneNumber }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="chequeDdNumber">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Cheque/DD Number
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.chequeDdNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amountPaid">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Amount Paid
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.amountPaid }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="unitTypeName">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Unit Type Name
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.unitTypeName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Project Name
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.projectName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Status
          </th>
          <td mat-cell *matCellDef="let eoi">
            {{ eoi.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Actions
          </th>
          <td mat-cell *matCellDef="let eoi">
          
            <i
            class="bi bi-pencil"
            style="cursor: pointer"
            (click)="editEoi(eoi)"
          ></i>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

          <!-- Delete Icon -->
          <i
          style="color: red; cursor: pointer"
          class="bi bi-trash text-danger"
          (click)="openConfirmDialog(eoi.id)"
            *ngIf="eoi.status == 'A'"
          ></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
