<div style="padding-bottom: 8px; padding-top: 6px">
  <div style="padding-bottom: 8px; padding-top: 6px">
    <div class="leads-update">
      <div class="title-div">
        <span class="lead-header"> EXPIRING LEADS</span>
      </div>
      <!--*ngIf="isCanBulkUpload && bulkUploadLimit !== 0 && !isCpUserId"  -->
      <!-- <div
        class="template-div"
        *ngIf="isDisplayExcelUpload && !isCpUserId && add"
      >
        <button mat-flat-button class="btn-class" (click)="downloadTemplate()">
          Download Template
        </button>
      </div> -->
      <!--   *ngIf="isCanBulkUpload && bulkUploadLimit !== 0" -->
      <!-- <div class="file-related-div" *ngIf="isDisplayExcelUpload">
        <div class="pr-1" *ngIf="!isCpUserId && add">
          <div class="file-select">
            <div class="choose-file">
              <input
                type="file"
                id="fileInput"
                (change)="onFileSelected($event)"
                #fileInput
              />
              <label for="fileInput" class="custom-file-label"
                >Choose File: .xls, .xlsx</label
              >
              <span class="file-chosen">{{
                selectedFileName || "No file chosen"
              }}</span>
            </div>
            //
            <span class="file-note"> <b>File Type :</b> .xls , .xlsx</span> //
            <div *ngIf="fileTypeError" class="error-message">
              Invalid file type. Please select a .xls or .xlsx file.
            </div>
          </div>
          <div *ngIf="!isCpUserId && add" class="upload-mob-top">
            <button mat-flat-button class="btn-class" (click)="onUpload()">
              Upload
            </button>
          </div>
        </div>
      </div> -->
      <!-- <span class="lead-header" *ngIf="!isCpUserId && add">Leads</span> -->
      <!-- <div
        [ngClass]="
          isCanBulkUpload && bulkUploadLimit !== 0
            ? 'button-container'
            : 'button-back'
        "
      >-->
      <button
        mat-flat-button
        style="
          color: white;
          background-color: #075477;
          margin-right: 1rem;
          width: 150px;
        "
        class="btn-class"
        (click)="generateLeadsReport()"
        *ngIf="user.roleName === 'sales head' || user.roleName === 'CTO'"
      >
        <mat-icon class="font"
          ><span class="material-symbols-outlined" style="padding: 1px">
            download
          </span></mat-icon
        >
        Download
      </button>

      <!-- <div style="display: flex; gap: 8px">
        <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button>

      </div> -->
    </div>
  </div>

  <div style="margin: 1rem">
    <div class="search-container">
      <div class="search-box">
        <mat-form-field appearance="outline" class="search-class">
          <mat-label>Phone No</mat-label>
          <input
            [value]="phoneNumber === undefined ? '' : phoneNumber"
            matInput
            (input)="onSearch($any($event).target?.value)"
            placeholder="Enter Phone No"
          />
        </mat-form-field>
        <button
          mat-icon-button
          matSuffix
          (click)="onClickSearchButton()"
          type="button"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <!-- <mat-form-field appearance="outline" class="search-class ml-2">
        <mat-label>Search by Name</mat-label>
        <input
          matInput
          (input)="onSearchUserName($any($event).target?.value)"
          placeholder="Enter Customer Name"
          [value]="userName || ''"
        />
      </mat-form-field> -->
      <div class="search-box">
        <mat-form-field appearance="outline" class="search-class">
          <mat-label>Name</mat-label>
          <input
            matInput
            [value]="userName === undefined ? '' : userName"
            (input)="onSearchUserName($any($event).target?.value)"
            placeholder="Enter Customer Name"
          />
        </mat-form-field>
        <button
          mat-icon-button
          matSuffix
          (click)="onClickSearchName()"
          type="button"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <mat-form-field class="ml-2" appearance="outline" style="width: 20%">
        <input
          type="text"
          placeholder="Select Projects"
          aria-label="Select projects"
          matInput
          [matAutocomplete]="projectAuto"
          [formControl]="project"
          (input)="searchProject($event)"
        />
      </mat-form-field>

      <mat-autocomplete #projectAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allProjectSelected
            (click)="onAllSelectProject()"
            [checked]="isProjectAllSelected()"
            >All</mat-checkbox
          ></mat-option
        >
        <mat-option
          *ngFor="let project of projects"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedProject(project.projectId)"
              (change)="onProjectSelect(project, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ project.projectName }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onProjectSelectButtonClick()"
        type="button"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="search-class">
        <mat-label>Select Status</mat-label>
        <mat-select
          [(value)]="statusId"
          (selectionChange)="onStatusSelectionChange($event)"
        >
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let item of leadStatus" [value]="item.id">
            {{ item.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="search-class ml-2"
        style="margin-right: 1rem"
      >
        <mat-label>Select Day</mat-label>
        <mat-select
          (selectionChange)="handleDaySelection($event.value)"
          [(value)]="selectedDay"
        >
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="showDateRangePicker"
        class="time-picker ml-4"
        appearance="outline"
      >
        <mat-label>Select Date Range</mat-label>
        <mat-date-range-input
          [formGroup]="formData"
          [rangePicker]="picker"
          (click)="picker.open()"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="customStartDate"
            (focus)="picker.open()"
          />
          <input
            matEndDate
            placeholder="End date"
            formControlName="customEndDate"
            (focus)="picker.open()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button
        mat-flat-button
        (click)="toggleMenu($event)"
        style="background-color: rgb(97, 97, 38); color: white"
      >
        <i class="bi bi-funnel-fill"></i> More
      </button>

      <div
        *ngIf="menuOpen"
        class="custom-dropdown"
        [ngStyle]="dropdownPosition"
      >
        <div class="header-with-close">
          <i class="bi bi-x-lg close-icon" (click)="closeMenu()"></i>
        </div>
        <!-- <div class="search-box">
          <mat-form-field
            appearance="outline"
            class="search-class ml-2"
            style="width: 94%"
          >
            <mat-label>Opportunity Id</mat-label>
            <input
              matInput
              [value]="opportunityId === undefined ? '' : opportunityId"
              (input)="onSearchOpportunityId($any($event).target?.value)"
              placeholder="Enter Opportunity Id"
            />
          </mat-form-field>
          <button
            mat-icon-button
            matSuffix
            (click)="onClickSearchOpportunityId()"
            type="button"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div> -->

        <div>
          <mat-form-field
            class="example-full-width search-class ml-2"
            appearance="outline"
            style="width: 94%"
          >
            <mat-label>Select Source</mat-label>

            <input
              type="text"
              matInput
              (input)="searchSource($event)"
              [formControl]="source"
              [matAutocomplete]="sourceAuto"
            />
            <mat-autocomplete
              #sourceAuto="matAutocomplete"
              (optionSelected)="onSourceSelect($event)"
              [displayWith]="displaySource"
              ><mat-option value="">All</mat-option>
              <mat-option
                *ngFor="let option of filteredSources"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
          <!-- <mat-form-field
            class="search-class ml-2"
            id="source-filter"
            appearance="outline"
            style="width: 94%"
            *ngIf="
              !(
                user.roleName.toLowerCase() === 'channel partner' ||
                user.roleName.toLowerCase() === 'cp user'
              )
            "
          >
            <mat-label>Select Source</mat-label>
            <mat-select formControlName="sourceIds" multiple>
              <mat-option
                #allSelected
                (click)="toggleAllSelection()"
                [value]="0"
                >All</mat-option
              >
              <mat-option
                (click)="togglePerOne()"
                *ngFor="let source of sources"
                [value]="source.leadSourceId"
              >
                {{ source.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div>
          <!-- <mat-form-field
            class="ml-2"
            appearance="outline"
            *ngIf="
              !(
                user.roleName.toLowerCase() === 'channel partner' ||
                user.roleName.toLowerCase() === 'cp user'
              )
            "
            style="width: 94%"
          >
            <input
              type="text"
              placeholder="Select Sub Sources"
              aria-label="Select Sub Sources"
              matInput
              [matAutocomplete]="auto"
              [formControl]="subSourceControl"
              (input)="searchSubSource($event)"
            />
          </mat-form-field> -->

          <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let subSource of filteredSubSources"
              (click)="$event.preventDefault()"
            >
              <div (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="isSelected(subSource.leadSubSourceId)"
                  (change)="onSelectionSubSourceChange(subSource, $event)"
                  (click)="$event.stopPropagation()"
                >
                  {{ subSource.name }}
                </mat-checkbox>
              </div>
            </mat-option>
          </mat-autocomplete> -->

          <!-- <mat-form-field
            appearance="outline"
            class="example-full-width search-class ml-2"
            *ngIf="showDropdown"
            style="width: 94%"
          >
            <mat-label>Assigned To</mat-label>
            <mat-select
              (selectionChange)="onUsernameSelectionChange($event.value)"
              [value]="userNameFromDashBoard"
            >
              <mat-option value="">ALl</mat-option>
              <mat-option
                *ngFor="let item of userDetails"
                [value]="item.userId"
              >
                {{ item.userName }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field
            style="width: 94%"
            class="search-class ml-2"
            appearance="outline"
          >
            <mat-label>Assigned To</mat-label>
            <input
              type="text"
              matInput
              [formControl]="selectedUser"
              [value]="selectedUser?.userName ? selectedUser.userName : ''"
              (input)="searchUser($event)"
              [matAutocomplete]="userAuto"
            />
            <mat-autocomplete
              #userAuto="matAutocomplete"
              (optionSelected)="onUsernameSelectionChange($event)"
              [displayWith]="displaySelectedUser"
            >
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let option of userDetails" [value]="option">
                {{ option.userName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <mat-form-field
              appearance="outline"
              class="search-class ml-2"
              style="width: 94%"
            >
              <mat-label>Digital Partner</mat-label>
              <mat-select
                [(value)]="digitalPartnerName"
                (selectionChange)="handleDigitalParterSelection($event.value)"
              >
                <mat-option value="">All</mat-option>
                <mat-option
                  *ngFor="let element of digitalPartner"
                  [value]="element.commonRefValue"
                >
                  {{ element.commonRefValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- <mat-form-field appearance="outline" class="search-class ml-2">
        <mat-label>Select Status</mat-label>
        <mat-select
          (selectionChange)="onStatusSelectionChange($event)"
          [(value)]="selectedStatus"
        >
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let item of leadStatus" [value]="item.id">
            {{ item.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </div>
</div>

<mat-card class="leads-cmn-card">
  <mat-card-content class="leads-cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="this.leads"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let lead">
            <span matTooltip="{{ lead.name?.length ? lead.name : '' }}">
              {{
                lead.name
                  ? lead.name?.length > 15
                    ? (lead.name | slice : 0 : 15) + "..."
                    : lead.name
                  : "N/A"
              }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project</th>
          <td mat-cell *matCellDef="let lead">{{ lead.projectName }}</td>
        </ng-container>
        <ng-container matColumnDef="sourceName">
          <th mat-header-cell *matHeaderCellDef>Source</th>
          <td mat-cell *matCellDef="let lead">{{ lead.sourceName }}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="subSourceName">
          <th mat-header-cell *matHeaderCellDef>Sub Source</th>
          <td mat-cell *matCellDef="let lead">{{ lead.subSourceName }}</td>
        </ng-container> -->

        <ng-container matColumnDef="subSourceName">
          <th mat-header-cell *matHeaderCellDef>Sub Source</th>
          <td mat-cell *matCellDef="let lead">
            <ng-container
              *ngIf="
                user.roleName === 'DIGITAL_PARTNER' ||
                  user.roleName === 'Digital Marketing';
                else elseifBlock
              "
            >
              <span
                class="remarks-short"
                matTooltip="{{
                  lead.subSourceName?.length ? lead.subSourceName : ''
                }}"
              >
                {{
                  lead.subSourceName?.length
                    ? (lead.subSourceName | slice : 0 : 10) + "..."
                    : "N/A"
                }}
              </span>
            </ng-container>
            <ng-template #elseifBlock>
              <ng-container>
                <!-- {{ lead.subSourceName || "N/A" }} -->
                <span
                  class="remarks-short"
                  matTooltip="{{
                    lead.subSourceName?.length ? lead.subSourceName : ''
                  }}"
                >
                  {{
                    lead.subSourceName?.length
                      ? (lead.subSourceName | slice : 0 : 10) + "..."
                      : "N/A"
                  }}
                </span>
              </ng-container>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let lead">{{ lead.status }}</td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td mat-cell *matCellDef="let lead">
            {{ lead.createdDate | date : "mediumDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expireDate">
          <th mat-header-cell *matHeaderCellDef>Expire Date</th>
          <td mat-cell *matCellDef="let lead">
            {{ lead.expireDate | date : "mediumDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef>Assigned To</th>
          <td mat-cell *matCellDef="let lead">
            <!-- Display based on role -->
            <ng-container
              *ngIf="isRole(['presales manager']) || isChannelPartner"
            >
              {{ lead.assignedPresalesUserName }}
            </ng-container>
            <ng-container
              *ngIf="
                isRole(['sales manager', 'sales member']) || isChannelPartner
              "
            >
              {{ lead.assignedSalesUserName }}
            </ng-container>
            <!-- Add more conditions as needed -->
          </td>
        </ng-container>
        <ng-container matColumnDef="presalesMember">
          <th mat-header-cell *matHeaderCellDef>Presales</th>
          <td mat-cell *matCellDef="let lead">
            {{
              lead.assignedPresalesUserName == null
                ? "NA"
                : lead.assignedPresalesUserName
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salesMember">
          <th mat-header-cell *matHeaderCellDef>Sales</th>
          <td mat-cell *matCellDef="let lead">
            <!-- Show 'NA' if assignedSalesUserName is null, otherwise show the name -->
            {{
              lead.assignedSalesUserName == null
                ? "NA"
                : lead.assignedSalesUserName
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="opportunityId">
          <th mat-header-cell *matHeaderCellDef>Opportunity Id</th>
          <td mat-cell *matCellDef="let lead">{{ lead.opportunityId }}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
          <td mat-cell *matCellDef="let lead">{{ lead.phoneNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let lead">
            <mat-icon
              matTooltip="update"
              (click)="changeLeadExpiry(lead)"
              class="font icon-spacing"
              >update</mat-icon
            >
          </td></ng-container
        >

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          class="table-row"
          mat-row
          *matRowDef="let lead of leads; columns: displayedColumns"
          (click)="isNotLastColumn($event) ? onLeadRowClick(lead.id) : null"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>

<div
  *ngIf="openDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="audioModal"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="audioModal">
          Update Lead Expiry Date
        </h1>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="onDialogClose()"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Do you want to update the expiry date of this lead ? <br />
          <b>Id: </b>
          <span class="text-success">{{ lead.opportunityId }}</span>
          &nbsp;&nbsp;&nbsp;
          <b>Name: </b>
          <span class="text-success">{{ lead.name }}</span>
        </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Select Source</mat-label>
            <mat-select
              formControlName="sourceId"
              panelClass="custom-select-panel"
            >
              <mat-option
                *ngFor="let source of dialogSources"
                [value]="source.leadSourceId"
              >
                {{ source.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div
            *ngIf="
              form.get('sourceId')?.invalid && form.get('sourceId')?.touched
            "
          >
            <small class="text-danger">Source is required.</small>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onDialogClose()"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="form.invalid"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
