.example-button-row {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}

.ir-filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1.8rem;
}

.ir-serach-class {
  width: 18.3%;
}
.ir-ml-2 {
  margin-left: 0.1%;
}

.ir-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.ir-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.clear-date-div-ir {
  color: white;
  cursor: pointer;
  border: 1px solid #333;
  height: 26px !important;
  font-size: 25px;
  background: #fff;
  width: 30px;
  margin-left: 4px;
  text-align: center;
  border-radius: 4px;
  background-color: #004869;
}

.closed {
  color: green;
  font-weight: bold;
}

.short-closed {
  color: rgb(173, 19, 19);
  font-weight: bold;
}

.partially-received {
  color: purple;
  font-weight: bold;
}
.not-applicable {
  color: rgb(34, 34, 164);
  font-weight: bold;
}
