.qr-gen-mat-50 {
  width: 48%;
  margin-left: 1%;
}
/*

.card {
  margin: 2%;
  text-align: left;
  width: 85%;
  margin-left: 7%;
}
.button {
  margin: 5%;
}
.mat-content {
  margin-top: 20px;
}
.btn-class {
  margin-left: 6px;
}
.header{
  margin-left: 40%;
  margin-top: 3%;
} */
