<h4 class="pac-header">
  {{ isAdding ? "ADD INVENTORY TRANSFER" : "EDIT INVENTORY TRANSFER" }}
</h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content class="cmn-mat-content mat-card-scroll">
        <div class="row form-section" style="padding: 0 15px; margin-top: 30px">
          <!-- PO ID Dropdown -->

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label> Search/Select From Store Name </mat-label>
            <input
              type="text"
              matInput
              (input)="onSearchStore($event)"
              [formControl]="storeFromFc"
              [matAutocomplete]="storeAuto"
            />
            <mat-autocomplete
              #storeAuto="matAutocomplete"
              (optionSelected)="onStoreChange($event.option.value)"
              [displayWith]="displayStoreFn"
            >
              <mat-option *ngFor="let item of storeData" [value]="item">
                {{ item.storeName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Search/Select Item</mat-label>
            <input
              type="text"
              id="itemId"
              matInput
              (input)="searchitem($event)"
              [formControl]="itemUnit"
              [matAutocomplete]="auto"
              name="itemUnit"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onitemSelect($event.option.value)"
              [displayWith]="displayitem"
            >
              <mat-option *ngFor="let option of itemUnits" [value]="option">
                {{ option.materialCode }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="it-mat-50">
            <mat-label>Store Stock</mat-label>
            <input
              matInput
              type="number"
              formControlName="storeStock"
              required
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoStoreInventory()"
          >
            BACK
          </button>

          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
