<h4 class="header">
  <b>{{ isAdding ? "ADD ACCOUNT ENTRY" : "EDIT ACCOUNT ENTRY" }}</b>
</h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-card-content mat-card-scroll">
        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Registration Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              (click)="picker.open()"
              formControlName="date"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formData.get('date')?.hasError('required')"
              >Date is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Remiter Name</mat-label>
            <input matInput formControlName="remiterName" type="text" />
            <mat-error
              *ngIf="formData.get('remiterName')?.hasError('required')"
            >
              Remiter Name is required     </mat-error
            >
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Remiter BankName</mat-label>
            <input matInput formControlName="remiterBankName" type="text" />
            <mat-error
              *ngIf="formData.get('remiterBankName')?.hasError('required')"
            >
              Remiter bank name is required     </mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Beneficiary Name</mat-label>
            <input matInput formControlName="beneficiaryName" type="text" />
            <mat-error
              *ngIf="formData.get('beneficiaryName')?.hasError('required')"
            >
              Beneficiary name is required     </mat-error
            >
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Beneficiary BankName</mat-label>
            <input matInput formControlName="beneficiaryBankName" type="text" />
            <mat-error
              *ngIf="formData.get('beneficiaryBankName')?.hasError('required')"
            >
              Beneficiary BankName is required     </mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Cheque Number</mat-label>
            <input matInput formControlName="chequeNo" />
            <mat-error
              *ngIf="formData.get('beneficiaryBankName')?.hasError('required')"
            >
              Cheque Number is required     </mat-error
            >
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Transaction Type </mat-label>
            <mat-select formControlName="transactionType">
              <mat-option>Select TransactionType</mat-option>
              <mat-option
                *ngFor="let element of transactionTypes"
                [value]="element.traType"
              >
                {{ element.traType }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="formData.get('transactionType')?.hasError('required')"
            >
              Please select transaction Type
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="mat-45"
            *ngIf="isCreditType"
          >
            <mat-label>Amount </mat-label>
            <input matInput formControlName="creditAmount" />
            <mat-error *ngIf="isCreditAmountValid">
              Amount is required and must be greater than 0.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="mat-45"
            *ngIf="!isCreditType"
          >
            <mat-label> Amount </mat-label>
            <input matInput formControlName="debitAmount" />
            <mat-error *ngIf="isDebitAmountValid">
              Amount is required and must be greater than 0.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <div appearance="outline" class="mat-45">
            <textarea
              matInput
              formControlName="remarks"
              rows="1"
              placeholder="Remarks"
              style="flex: 1; width: 100%; padding: 8px 10px"
            ></textarea>
          </div>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoAccountEntry()"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
