
.ajna-consmp-card {
  margin: 2%;
  text-align: left;
  width: 70%;
  margin-left: 15%;
  max-height: 77vh;
}

.ajna-customer-consumption-mat-form-field {
  margin-right: 30px;
  width: 28%;
}
.services-list-div {
  margin-top: 2%;
  padding-top: 1%;
  max-height: 42vh;
  overflow: auto;
}
.service-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
