<h2 class="header"><b>FACILITY SERVICE</b></h2>

<form [formGroup]="formData">
  <div class="example-container">
    <mat-card class="ajna-consmp-card">
      <mat-card-header>
        <b>{{
          isAdding ? "ADD CUSTOMER CONSUMPTION" : "EDIT CUSTOMER CONSUMPTION"
          }}</b>
      </mat-card-header>
      <mat-card-content class="cmn-mat-card-content">
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Client</mat-label>
          <mat-select formControlName="clientId" (selectionChange)="onSelect($event)">
            <mat-option *ngFor="let item of clientData" [value]="item.clientId" [disabled]="isView">
              {{ item.projectLocation }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Client Location</mat-label>
          <input matInput [value]="location" readonly />
          <!-- Display location -->
        </mat-form-field>

        <div formArrayName="ClientCustomerconsumptionItem" class="services-list-div">
          <div *ngFor="
              let item of ClientCustomerconsumptionItem.controls;
              let i = index
            " [formGroupName]="i" class="service-div">
            <!-- Form fields for each item in the FormArray -->

            <mat-form-field appearance="outline" class="ajna-customer-consumption-mat-form-field">

              <mat-label>Role</mat-label>
              <mat-select formControlName="serviceName">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let item of roles" [value]="item.roleName" [disabled]="isView">
                  {{ item.roleName }}
                </mat-option>
              </mat-select>
            </mat-form-field>



            <mat-form-field appearance="outline" class="ajna-customer-consumption-mat-form-field">
              <mat-label>Man Power</mat-label>
              <input matInput formControlName="manPower" type="number" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="ajna-customer-consumption-mat-form-field">
              <mat-label>Service Salary</mat-label>
              <input matInput formControlName="serviceSalary" type="number" />
            </mat-form-field>

            <span>
              <i *ngIf="ClientCustomerconsumptionItem.length > 1" style="color: red; cursor: pointer; margin-left: 1%"
                class="bi bi-trash text-danger" (click)="removeIcons(i)"></i>
            </span>
            <span *ngIf="i === ClientCustomerconsumptionItem.length - 1">
              <i class="bi bi-plus h5 large-icon" (click)="addItems()"></i>
            </span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button *ngIf="isView" mat-flat-button class="btn-class primary" (click)="clearForm()">
            CLOSE
          </button>

          <ng-container *ngIf="!isView">
            <button mat-flat-button class="btn-class primary" (click)="save()">
              {{ isAdding ? "ADD" : "UPDATE" }}
            </button>
            <button mat-flat-button type="button" class="btn-class warn" (click)="clearForm()">
              RESET
            </button>
            <button mat-flat-button class="btn-class accent" type="button" (click)="gotoclients()">
              BACK
            </button>
          </ng-container>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>