.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.ml-2 {
  margin-left: 0.3%;
}

.filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}

.modal-body1 {
  margin: 15px 15px 15px 15px;
}
.green-amount {
  color: rgb(34, 34, 164);
  font-weight: bold;
}

.approved {
  color: green;
  font-weight: bold;
}

.rejected {
  color: rgb(173, 19, 19);
  font-weight: bold;
}

.search-class-vendor {
  width: 13.5%;
}
.search-class-wo-type {
  width: 14%;
}
.search-class-status {
  width: 13%;
}
.rework {
  color: rgb(185, 123, 6);
  font-weight: bold;
}

.pending {
  color: green;
  font-weight: bold;
}

.radio-button {
  color: #004869;
  font-size: 15px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.new {
  color: green;
  font-weight: bold;
}

.work-order-icon {
  height: 18px !important;
  width: 25px !important;
  font-size: 18px !important;
}
.amendment {
  color: rgb(34, 34, 164);
  font-weight: bold;
}

@media screen and (max-device-width: 768px) {
  .search-container {
    flex-wrap: wrap;
    margin-left: 2%;
  }
  .ml-4 {
    margin: 0 0px;
  }
  .ml-2 {
    margin-left: 0.5;
  }
  .search-class {
    width: 15%;
  }
  .search-class-vendor {
    width: 10%;
  }
}
@media screen and (max-device-width: 1168px) {
  .ml-4 {
    width: 10%;
    margin: 0px 20px 0px 0px;
  }
  .search-container {
    flex-wrap: wrap;
    margin-left: 2%;
  }
}

.clear-date-div {
  color: white;
  cursor: pointer;
  border: 1px solid #333;
  height: 26px !important;
  font-size: 25px;
  background: #fff;
  width: 30px;
  margin-left: 4px;
  text-align: center;
  border-radius: 4px;
  background-color: #004869;
}

.search-class-date {
  width: 17%;
}

.serach-class {
  width: 15%;
}
.modal-table-header > th {
  background-color: #b8e6fb !important;
  font-size: 14px;
  position: sticky;
  top: 0;
  color: #000 !important;
}
.wo-modal-body {
  padding: 0px 10px 10px 10px;
}
.OLD {
  color: purple;
  font-weight: bold;
}