/* .button-row {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  flex-grow: 1;
}
.button-container {
  margin-right: 3%;
}

.font {
  font-size: 20px;
  cursor: pointer;
}

.head {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 1%;
  margin-top: 5%;
}
.mat-content {
  margin: 0% 3% 3% 3%;
}
mat-card {
  margin-left: 2%;
  margin-right: 2%;
  height: 69vh;
}
mat-card-content {
  height: 100%;
}

.tab-head {
  height: 100% !important;
  overflow: auto;
} */
.dup-search-container {
  display: flex !important;
  /* flex-grow: 1 !important; */
  margin-left: 2% !important;
  gap: 10px !important;
  margin-right: 2% !important;
  flex-wrap: wrap;
}

/* .search-class {
  width: 40%;
} */
.duplicateheader-container {
  display: flex;
  justify-content: space-between; /* Keeps text in center and button on right */
  align-items: center;
  margin-bottom: 0rem;
  padding: 0 1rem; /* Optional: Adds padding */
}

.header {
  flex-grow: 1; /* Makes the text take available space */
  text-align: center;
}

.btn-class {
  color: white;
  background-color: #075477;
}
.title-div {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Align items vertically in the center */
  justify-content: center;
  width: 100%; /* Full width */
  max-width: 100%; /* Ensure it's responsive */
}
.lead-header {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 3px;
  z-index: 1;
}
