<h4 class="header"><b>Additional Shift</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header class="cmn-mat-card-header">
        <b>{{ isAdding ? "Add Additional Shift" : "Edit Additional Shift" }}</b>
      </mat-card-header>
      <mat-card-content class="cmn-mat-card-content">
      
        <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>User Name</mat-label>
          <input
            type="text"
            matInput
            [value]="selectedUser.userName ? selectedUser.userName : ''"
            (input)="searchUserForAuto($event)"
            [formControl]="userControll"
            [matAutocomplete]="usernameauto"
            [readonly]="!isAdding"
          />
          <mat-autocomplete
            #usernameauto="matAutocomplete"
            (optionSelected)="onUserSelectForAuto($event)"
            [displayWith]="displayUserForAuto"
          >
            <mat-option
              *ngFor="let option of userData"
              [value]="option"
              [disabled]="!isAdding"
            >
              {{ option.userName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Shift Date</mat-label>
            <input
              matInput
              [matDatepicker]="pickerInDate"
              (click)="pickerInDate.open()"
              formControlName="additionalShiftDate"
              placeholder="Choose a date"
              (dateChange)="onChange()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerInDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerInDate></mat-datepicker>

          </mat-form-field>
        <!-- <mat-form-field
        class="example-full-width"
        class="mat-45"
        appearance="outline"
      >
        <mat-label>Project</mat-label>
        <input
        type="text"
        matInput
        [value]="
          selectedProject.projectName ? selectedProject.projectName : ''
        "
          matInput
          (input)="searchProject($event)"
          [formControl]="project"
          [matAutocomplete]="projectAuto"
        />
        <mat-autocomplete
          #projectAuto="matAutocomplete"
          (optionSelected)="onProjectSelect($event)"
          [displayWith]="displayProject"
        >
          <mat-option *ngFor="let option of projects" [value]="option">
            {{ option.projectName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->


      <mat-form-field appearance="outline" class="mat-45" appearance="outline" style="margin-top: 8px">
        <mat-label>Location Name</mat-label>
        <mat-select formControlName="locationId" >
          <mat-option *ngFor="let item of locationsList" [value]="item.id">
            {{ item.location }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="formData.get('generatorId')?.hasError('required')">
          Please select location
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width mat-45" appearance="outline">
        <mat-label>Shift</mat-label>
        <mat-select formControlName="shiftTime">
          <mat-option
            *ngFor="let element of shiftTimingList"
            [value]="element.id"
          >
          {{ element.commonRefKey }} {{ element.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div class="button-group">
          <!-- Back Button -->
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoUsers()"
          >
            BACK
          </button>
          <!-- Reset Button (Conditional) -->
          <button
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            *ngIf="isAdding"
          >
            RESET
          </button>
          <!-- Submit Button -->
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
