/* .mat-card {
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .mat-card-hdiv {
    margin-bottom: 5px;
  }

  .mat-card-countdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-card-count {
    font-size: 2rem;
  }

  .mat-card-icondiv {
    .menu-icon {
      font-size: 2rem;
    }
  } */
  .mat-card {
    flex: 1;
    border: 0px solid #b1a6a694;
    margin: 10px;
    color: white;
    cursor: pointer;
    position: static;
    box-shadow: 6px 11px 41px -28px #a99de7;
  }
  
  .mat-card-hdiv {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .mat-card-countdiv {
    width: 100%;
    display: flex;
    margin-top: 25px;

  }
  .mat-card-count {
    width: 75%;
    margin-left: 20px;
    font-weight: 500;
    font-size: x-large;
  
  }
  .mat-card-icondiv {
    width: 25%;
    
  }


  
  

