<div style="width: 100%; height: 100%; overflow: auto">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <h1 class="head-text">Dashboard</h1>
        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
      <!-- <p class="user-txt">
      Hi {{ user.userName }}, here's what's happening today
    </p> -->
    </div>

    <div *ngIf="proxyLoginDisplay">
      <mat-form-field
        class="example-full-width"
        style="margin-left: 20px; padding-top: 10px"
        appearance="outline"
      >
        <mat-label>Proxy Login</mat-label>
        <input
          type="text"
          matInput
          (input)="searchUser($event)"
          [formControl]="User"
          [matAutocomplete]="userAuto"
        />
        <mat-autocomplete
          #userAuto="matAutocomplete"
          (optionSelected)="onUserSelect($event)"
          [displayWith]="displayUser"
        >
          <mat-option *ngFor="let option of UserDetails" [value]="option">
            {{ option.userName }} - {{ option.roleName | uppercase }} 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="day-selector" [formGroup]="formData">
      <mat-form-field appearance="outline">
        <mat-label>Select Day</mat-label>
        <mat-select
          [(value)]="selectedDay"
          (selectionChange)="handleDaySelection($event.value)"
        >
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="showDateRangePicker"
        class="time-picker"
        appearance="outline"
      >
        <mat-label>Select Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="customStartDate"
            (focus)="picker.open()"
            (dateChange)="onDateRangeChange()"
          />
          <input
            matEndDate
            placeholder="End date"
            formControlName="customEndDate"
            (focus)="picker.open()"
            (dateChange)="onDateRangeChange()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="cards" style="padding-top: 0px">
    <mat-card (click)="navigateToLeads()" class="mat-card bg-six">
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Assigned Leads</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ dashBoardTotalLeadCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >assignment_add</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(newLeadId)"
      class="mat-card bg-nine"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">New Leads</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ newLeads }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >contact_page</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToFollowups('Follow-up', followupIds)"
      class="mat-card bg-seven"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Follow Ups</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ followups }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >contact_phone</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <!-- <mat-card
      (click)="navigateToFollowups('Site visit Confirm ')"
      class="mat-card bg-purple"
    >
      <h3 class="cardtitle">Scheduled Visits</h3>
      <h2 class="total">{{ scheduledVisits }}</h2>
    </mat-card> -->
    <!-- <mat-card
      (click)="navigateToFollowups('Non-Contactable', nonContactableId)"
      class="mat-card bg-ten"
    >
     
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Non Contactable</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ noncontactable }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >phone_disabled</mat-icon
          >
        </div>
      </div>
    </mat-card> -->
    <mat-card
      (click)="navigateToLeadsByStatus(nonContactableId)"
      class="mat-card bg-eleven"
    >
      <!-- <h3 class="cardtitle">Non Contactable</h3>
      <h2 class="total">{{ nonContactableCount }}</h2> -->
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Non Contactable</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ nonContactableCount || 0 }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >phone_disabled</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(siteVisitProspectId)"
      class="mat-card bg-five"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Visit Prospect</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ siteVisitProspectFollowups }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >share_location</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(siteVisitDoneId)"
      class="mat-card bg-one"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Site Visit Done</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ siteVisitDoneCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >person_pin_circle</mat-icon
          >
        </div>
      </div>
    </mat-card>

    <mat-card
      (click)="navigateToLeadsByStatus(bookedId)"
      class="mat-card bg-three"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Booked</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ bookedCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >real_estate_agent</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(bookedCancelledId)"
      class="mat-card bg-eight"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Cancelled Bookings</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ bookedCancelledCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >domain_disabled</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card (click)="navigateToLeadsByStatus(lostId)" class="mat-card bg-ten">
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Lost</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ lostCount || 0 }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >close</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card (click)="navigateToLeadsByStatus(eoiReceivedId)"  class="mat-card bg-thirteen">
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">EOI Received</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ eoiReceivedStatus || 0 }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >feedback</mat-icon
          >
        </div>
      </div>
    </mat-card>
  </div>
  <!-- pie chart-->
  <!-- <div *ngIf="isShow">
    <div class="pie-chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [colors]="chartOptions.colors"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
  </div> -->
  <div style="display: flex; direction: row; width: 100%; margin-bottom: 60px">
    <div style="display: flex; direction: column; width: 40%">
      <div *ngIf="isShow" style="width: 100%; padding-right: 20px">
        <div class="pie-title">Lead Summary</div>

        <div class="pie-chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [colors]="chartOptions.colors"
            [responsive]="chartOptions.responsive"
            style="margin: auto"
          ></apx-chart>
        </div>
        <div
          style="width: 100%; padding: 20px"
          *ngIf="userRole == 'sales member'"
        >
          <table
            mat-table
            [dataSource]="bookedCountData"
            class="mat-elevation-z8"
          >
            <!-- Project Name Column -->
            <ng-container matColumnDef="projectName">
              <th mat-header-cell *matHeaderCellDef>Project Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Booking Count Column -->
            <ng-container matColumnDef="bookingCount">
              <th mat-header-cell *matHeaderCellDef>Booking Count</th>
              <td mat-cell *matCellDef="let element">{{ element.booked }}</td>
            </ng-container>

            <!-- Header and Rows -->
            <tr mat-header-row *matHeaderRowDef="bookedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: bookedColumns"></tr>
          </table>
        </div>
      </div>
    </div>

    <div style="width: 60%; padding: 0px 20px">
      <app-lead-followup-calendar
        [isMemberDashBoard]="true"
        [isManagerDashBoard]="false"
        [isSalesHeadDashboard]="false"
      />
    </div>
  </div>

 
</div>
