/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main-head {
  display: flex;
  flex-wrap: wrap;
}

.header-div {
  width: 100%;
  padding: 2px 10px;
  border: 1px solid #b1a6a694;
  margin: 8px 20px;
  border-radius: 5px;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
}
.dash-top {
  display: flex;
}
.select-day {
  width: 40%;
  display: flex;
}
.header-cont {
  display: flex;
  padding: 2px 5px;
  border-bottom: 0px solid #b1a6a694;
}

.head-text {
  font-weight: bolder;
  font-size: 20px;
  width: 50%;
  padding: 0;
  margin: 0;
  line-height: 24px;
}

.date-txt {
  font-size: 14px;
  width: 50%;
  text-align: right;
  line-height: 26px;
}

.user-txt {
  margin: 0;
  padding: 10px 0 2px 0;
}

.cards {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  width: 100%;
}

/* .mat-card {
  flex: 1;
  border: 0px solid #b1a6a694;
  margin: 8px 5px;
  color: white;
  cursor: pointer;
  position: static;
  box-shadow: 6px 11px 41px -28px #a99de7;
} */
.mat-card {
  flex: 1 1 calc(18.33% - 16px);
  /* max-width: calc(18.33% - 16px); */
  border: 0px solid #b1a6a694;
  margin: 8px;
  color: white;
  cursor: pointer;
  position: static;
  box-shadow: 6px 11px 41px -28px #a99de7;
  box-sizing: border-box;
}

.mat-card-hdiv {
  width: 100%;
}
.mat-card-countdiv {
  width: 100%;
  display: flex;
}
.mat-card-count {
  width: 78%;
}
.mat-card-icondiv {
  width: 20%;
}
.dashboard-icon {
  font-size: 22px;
  height: 22px;
  width: 22px;
  color: rgb(209, 210, 213);
  margin-top: 4px;
}

.home-container {
  padding: 20px;
}

/* Table container styles */
.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Table wrapper styles */
.table-wrapper {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 30%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.table-wrapper:hover {
  transform: scale(1.05);
}

/* Table header styles */
.table-wrapper h2 {
  margin: 0;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f1f1f1;
}

.total {
  text-align: left;
  color: "black";
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.cardtitle {
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .table-wrapper {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }

  .table-wrapper {
    max-width: 100%;
  }
}

.day-selector {
  display: flex;
  /* justify-content: flex-end; */
  /* margin-right: 20px; */
  margin-top: 10px;
  width: 60%;
  text-align: right;
  margin-left: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-data-table {
  overflow-y: auto;
  height: 250px;
}

.team-data-th {
  background-color: #b8e6fb !important;
  font-size: 14px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.team-data-td {
  font-size: 12px;
  text-align: center;
}
.team-data-th-tr {
  height: 42px;
}
.team-data-td-tr {
  height: 42px;
}
.team-data-td-tr:hover {
  background-color: #e6e7e8 !important;
}

.date-range-container {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leads-asigned-div {
  background-color: white;
  border: 1px solid #b1a6a694;
  width: 100%;
  margin: 15px;
  margin-bottom: 30px;
}
.leads-asigned-table {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.pie-chart {
  flex: 1;
  width: 100%;
  max-width: 100%;
  display: flex;
  /* justify-content: center; */
  /* padding: 50px; */
  border: 1px solid #b1a6a694;
  margin: 1rem 0 0 2rem;
  background-color: white;
}

.table-header {
  margin: 0;
  padding: 10px;
  color: rgb(5, 31, 63);
  text-align: center;
}
.time-picker {
  margin-left: 15px;
}

#MyChart {
  margin-top: 7%;
}

/* Responsive CSS */

@media screen and (max-device-width: 768px) {
  .leads-asigned-div {
    width: 100%;
  }
  .pie-chart {
    max-width: 100%;
  }
  .header-div {
    width: 100%;
  }
  .day-selector {
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
  }
  .mat-mdc-text-field-wrapper {
    width: 75% !important;
  }
}

@media screen and (max-device-width: 480px) {
  .leads-asigned-div {
    width: 100%;
  }
  .pie-chart {
    max-width: 92%;
  }
  .header-div {
    width: 100%;
  }
  .day-selector {
    margin-top: 10px;
    text-align: left;
    margin-left: 2rem;
    margin-right: 0px;
    width: 100%;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-card {
    width: 100%;
  }
  .head-text {
    width: 50%;
  }
  .date-txt {
    width: 50%;
    text-align: right;
  }
  .toolbar-div-left {
    display: none;
  }
}
.pie-title {
  font-size: 22px;
  margin-left: 200px;
}
