/* .button-row {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  flex-grow: 1;
}
.button-container {
  margin-right: 3%;
}
.search-class {
  width: 50%;
}
.font {
  font-size: 20px;
  cursor: pointer;
}

.head {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 1%;
}
.mat-content {
  margin: 0% 3% 3% 3%;
}
mat-card {
  margin-left: 2%;
  margin-right: 2%;
  height: 69vh;
}
mat-card-content {
  height: 85%;
}

.tab-head {
  height: 100% !important;
  overflow: auto;
}
.table-row {
  cursor: pointer;
}
.btn-class-back {
  color: white;
  background-color: rgb(97, 97, 38);
} */

.lead-history-button-row {
  padding: 15px 0px 0px 20px;
  display: flex;
  justify-content: space-between;
}
.header {
  font-size: 22px;
  font-weight: 300 !important;
  margin: 0px 0 15px 25px !important;
  padding: 0;
  letter-spacing: 2px;
  line-height: 30px;
  z-index: 1;
  text-align: left;
}
.header::before {
  position: absolute;
  top: 104px;
  width: 50px;
  height: 3px;
  background: #00aeef;
  content: "";
}

.lead-details-left {
  display: flex;
  align-items: center; /* Align items in the center */
  gap: 20px; /* Space between elements */
}

.lead-info {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between label and value */
}

.lead-info label {
  font-weight: bold;
}

.lead-data {
  border: 0.5px solid #004869;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 5px 25px 10px 25px;
  gap: 1rem;
}
.common-lead-info {
  border: 0.5px solid #004869;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 10px 1rem 10px 1rem;
}
.column1 {
  width: 34%;
}
.column2 {
  width: 33%;
}
.column3 {
  width: 33%;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-left: 3rem;
  margin-top: 2rem;
}
.title-div {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Align items vertically in the center */
  justify-content: center;
  width: 100%; /* Full width */
  max-width: 100%; /* Ensure it's responsive */
}
.lead-header {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 3px;
  z-index: 1;
}
