<form [formGroup]="formData" style="height: 100%">
  <div style="height: 100%">
    <mat-card-content class="cmn-card-content">
      <div class="tab-head">
        <div class="row sub-details-div">
          <div class="column1">
            <div *ngIf="irData?.projectName">
              <b class="column-div">PROJECT :</b>
              {{ irData.projectName }}
            </div>
            <div *ngIf="irData?.categoryName">
              <b class="column-div">CATEGORY :</b>
              {{ irData.categoryName }}
            </div>

            <div *ngIf="irData?.inventoryUnitName">
              <b class="column-div">UNIT :</b>
              {{ irData.inventoryUnitName }}
            </div>
          </div>

          <div class="column2">
            <div *ngIf="irData?.vendorName">
              <b class="column-div">VENDOR:</b>
              {{ irData.vendorName }}
            </div>
            <div *ngIf="irData?.itemSubCategoryName">
              <b class="column-div">SUB CATEGORY:</b>
              {{ irData.itemSubCategoryName }}
            </div>

            <div *ngIf="irData?.purchaseOrderCode">
              <b class="column-div">PO CODE:</b>
              {{ irData.purchaseOrderCode }}
            </div>
          </div>

          <div class="column2">
            <div *ngIf="irData?.materialCode">
              <b class="column-div">MATERIAL CODE:</b>
              {{ irData.materialCode }}
            </div>

            <div *ngIf="irData?.specificationName">
              <b class="column-div">SPECIFICATION:</b>
              {{ irData.specificationName }}
            </div>
          </div>
        </div>

        <div style="padding: 0rem 1rem">
          <div class="radio-button-id">INVENTORY RECEIVABLE HISTORY</div>
          <div class="mat-elevation-z8">
            <table matSort mat-table [dataSource]="inventoryReceivableHistory">
              <ng-container matColumnDef="rowNumber">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let i = index">
                  {{ pageIndex * pageSize + i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="invoiceNumber">
                <th mat-header-cell *matHeaderCellDef>Invoice Number</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.invoiceNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="invoiceDate">
                <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.invoiceDate | date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="invoiceAmount">
                <th mat-header-cell *matHeaderCellDef>Invoice Amount</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.invoiceAmount | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="receivedDate">
                <th mat-header-cell *matHeaderCellDef>Received Date</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.receivedDate | date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quantityReceived">
                <th mat-header-cell *matHeaderCellDef>Qty Received</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.quantityReceived | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="pendingQuantity">
                <th mat-header-cell *matHeaderCellDef>Pending Qty</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.pendingQuantity | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quantityExceed">
                <th mat-header-cell *matHeaderCellDef>Qty Exceed</th>
                <td mat-cell *matCellDef="let inventoryReceivable">
                  {{ inventoryReceivable.quantityExceed | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="actions-column"
                  style="background-color: #004869; color: white"
                >
                  Actions
                </th>

                <td
                  mat-cell
                  *matCellDef="let inventoryReceivable; let i = index"
                  class="actions-column"
                >
                  <mat-icon
                    matTooltip="Item History"
                    (click)="editInventoryReceivable(inventoryReceivable)"
                    class="font icon-spacing icon"
                    *ngIf="
                      inventoryReceivable.itemApprovalStatus !== 'APPROVED' ||
                      inventoryReceivable.itemApprovalStatus !== 'PENDING'
                    "
                  >
                    edit
                  </mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                class="table-row"
                mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
          </div>
          <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25]"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
            style="border-bottom: 1px solid #999; background-color: #f8f9fa"
          ></mat-paginator>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer class="add-mat-card-footer">
      <div>
        <button
          mat-flat-button
          class="btn-class accent"
          type="button"
          (click)="onClose()"
        >
          Close
        </button>
      </div>
    </mat-card-footer>
  </div>
</form>
