<h1 style="text-align: center; padding-top: 20px; color: #295389; margin: 0">
  Manual Lead Assign
</h1>
<div
  style="display: flex; direction: row; justify-content: center"
  [formGroup]="formData"
>
  <mat-form-field appearance="outline" style="padding-left: 10px">
    <mat-label>Search by Phone No</mat-label>
    <input
      formControlName="phoneNumber"
      matInput
      (input)="onSearch($any($event).target?.value)"
      placeholder="Enter Phone No"
      [value]="phoneNumber || ''"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" style="padding-left: 10px">
    <mat-label>Search by Name</mat-label>
    <input
      formControlName="leadName"
      matInput
      (input)="onLeadNameSearch($any($event).target?.value)"
      placeholder="Enter Customer Name"
      [value]="leadName || ''"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" style="padding-left: 10px">
    <mat-label>Select Source</mat-label>
    <mat-select
      formControlName="sourceId"
      (selectionChange)="onLeadSourceSelect($event.value)"
    >
      <mat-option value="">Select Source</mat-option>
      <mat-option *ngFor="let source of sources" [value]="source.leadSourceId">
        {{ source.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="padding-left: 10px">
    <mat-label>Select Sub Source</mat-label>
    <mat-select
      formControlName="subSourceId"
      (selectionChange)="onLeadSubSourceSelete($event.value)"
    >
      <mat-option value="">Select Sub Source</mat-option>
      <mat-option
        *ngFor="let subSource of subSources"
        [value]="subSource.leadSubSourceId"
      >
        {{ subSource.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="day-selector">
    <mat-form-field
      appearance="outline"
      class="ml-4"
      style="width: 300px; padding-left: 10px"
    >
      <mat-label>Select Day</mat-label>
      <mat-select
        (selectionChange)="handleDaySelection($event.value)"
        [value]="selectedDay"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let day of days" [value]="day">
          {{ day.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="showDateRangePicker"
      class="time-picker ml-4"
      appearance="outline"
      style="width: 300px; padding-left: 10px"
    >
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>

<form class="example-form" style="display: flex; direction: row">
  <mat-form-field class="ml-2" appearance="outline" style="margin: 10px">
    <input
      type="text"
      placeholder="Select Projects"
      aria-label="Select projects"
      matInput
      [matAutocomplete]="projectAuto"
      [formControl]="project"
      (input)="searchProject($event)"
    />
  </mat-form-field>

  <mat-autocomplete #projectAuto="matAutocomplete">
    <mat-option>
      <mat-checkbox
        #allProjectSelected
        (click)="onAllSelectProject()"
        [checked]="isProjectAllSelected()"
        >All</mat-checkbox
      ></mat-option
    >
    <mat-option
      *ngFor="let project of projects"
      (click)="$event.preventDefault()"
    >
      <div (click)="$event.stopPropagation()">
        <mat-checkbox
          [checked]="isSelectedProject(project.projectId)"
          (change)="onProjectSelect(project, $event)"
          (click)="$event.stopPropagation()"
        >
          {{ project.projectName }}
        </mat-checkbox>
      </div>
    </mat-option>
  </mat-autocomplete>
  <button
    mat-icon-button
    matSuffix
    (click)="onProjectSelectButtonClick()"
    type="button"
    style="margin-top: 10px"
  >
    <mat-icon>search</mat-icon>
  </button>

  <mat-form-field appearance="outline" style="margin: 10px">
    <mat-label>Select Status</mat-label>
    <mat-select
      (selectionChange)="onStatusSelectionChange($event)"
      [(value)]="statusId"
    >
      <mat-option value="">Select Status</mat-option>
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let item of leadStatus" [value]="item.id">
        {{ item.commonRefValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin: 10px" appearance="outline">
    <mat-label>Search/Select Source User</mat-label>
    <input
      type="text"
      matInput
      aria-label="Number"
      (input)="onSourceUserSearch($any($event).target?.value)"
      [formControl]="user"
      [matAutocomplete]="auto1"
    />

    <mat-autocomplete
      #auto1="matAutocomplete"
      (optionSelected)="onSourceSelete($event)"
      [displayWith]="displayUser"
    >
      <mat-option value=""> Select</mat-option>
      <mat-option *ngFor="let user of userData" [value]="user">
        {{ user.userName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field
    style="margin: 10px"
    appearance="outline"
    [color]="clone.invalid ? 'warn' : 'primary'"
  >
    <mat-label>Search/Select Target User</mat-label>
    <input
      type="text"
      matInput
      aria-label="Number"
      (input)="fetchTargetUsers($any($event).target?.value)"
      [formControl]="clone"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onTargetSelect($event)"
      [displayWith]="displayUser"
    >
      <mat-option value=""> Select </mat-option>
      <mat-option *ngFor="let user of targetUserList" [value]="user">
        {{ user.userName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="content">
  <div>
    <mat-card class="mat-content" style="height: 430px">
      <mat-card-content style="overflow: auto">
        <div class="tab-head">
          <table
            matSort
            mat-table
            [dataSource]="leads"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="assign">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                <mat-checkbox
                  (click)="checkedAll()"
                  [checked]="allCheck === 1 ? true : false"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let lead">
                <mat-checkbox
                  (click)="onOptionChecked(lead)"
                  [checked]="lead.isAssigned === 1 ? true : false"
                >
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="rowNumber">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let i = index">
                {{ pageIndex * pageSize + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Name
              </th>
              <td mat-cell *matCellDef="let lead">{{ lead.name || "N/A" }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Email
              </th>
              <td mat-cell *matCellDef="let lead">{{ lead.email || "N/A" }}</td>
            </ng-container>
            <ng-container matColumnDef="projectName">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Project
              </th>
              <td mat-cell *matCellDef="let lead">{{ lead.projectName }}</td>
            </ng-container>

            <ng-container matColumnDef="presalesMember">
              <th mat-header-cell *matHeaderCellDef>Presales</th>
              <td mat-cell *matCellDef="let lead">
                {{
                  lead.assignedPresalesUserName == null
                    ? "N/A"
                    : lead.assignedPresalesUserName
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="salesMember">
              <th mat-header-cell *matHeaderCellDef>Sales</th>
              <td mat-cell *matCellDef="let lead">
                <!-- Show 'NA' if assignedSalesUserName is null, otherwise show the name -->
                {{
                  lead.assignedSalesUserName == null
                    ? "N/A"
                    : lead.assignedSalesUserName
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="sourceName">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Source
              </th>
              <td mat-cell *matCellDef="let lead">{{ lead.sourceName }}</td>
            </ng-container>
            <ng-container matColumnDef="subSourceName">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Sub Source
              </th>
              <td mat-cell *matCellDef="let lead">{{ lead.subSourceName }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Status
              </th>
              <td mat-cell *matCellDef="let lead">{{ lead.status }}</td>
            </ng-container>

            <ng-container matColumnDef="createdDate">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Created Date
              </th>
              <td mat-cell *matCellDef="let lead">
                {{ lead.createdDate | date : "medium" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let lead">
                <mat-icon
                  matTooltip="Followups"
                  (click)="handleFollowups(lead.id)"
                  class="font icon-spacing"
                  *ngIf="!isChannelPartner"
                  >event_note</mat-icon
                >
                <!-- <mat-icon
                  matTooltip="Schedule Visits"
                  (click)="handleScheduleVisits(lead.id)"
                  class="font icon-spacing"
                  *ngIf="!isChannelPartner"
                  >schedule</mat-icon
                > -->
                <mat-icon
                  matTooltip="History"
                  (click)="viewLeadHistories(lead.id)"
                  class="font icon-spacing"
                  >history</mat-icon
                >
                <!-- *ngIf="!isChannelPartner" -->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              class="table-row"
              mat-row
              *matRowDef="let lead of leads; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-paginator
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onPageChange($event)"
          showFirstLastButtons
        ></mat-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
  <div
    style="
      display: flex;
      direction: row;
      justify-content: flex-end;
      padding: 0px 3%;
    "
  >
    <button
      mat-raised-button
      class="button-row"
      color="primary"
      (click)="openConfirmDialog()"
    >
      Update
    </button>
  </div>
</div>
