<h4 class="pac-header">
  {{ isAdding ? "GENERATE MATERIAL CODE" : "EDIT MATERIAL CODE" }}
</h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content class="cmn-mat-card-content">
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Select CIVIL/MEP</mat-label>
          <mat-select
            formControlName="workTypeId"
            (selectionChange)="onWorkTypeChange($event)"
          >
            <mat-option *ngFor="let element of options" [value]="element.id">
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label> Search/Select Category </mat-label>
          <input
            type="text"
            matInput
            (input)="onSearchItemCategories($event)"
            [formControl]="category"
            [matAutocomplete]="categoryAuto"
          />
          <mat-autocomplete
            #categoryAuto="matAutocomplete"
            (optionSelected)="onCategorySelectionChange($event)"
            [displayWith]="displayFn"
          >
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let item of itemCategories" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label> Search/Select Sub Category </mat-label>
          <input
            type="text"
            matInput
            (input)="onSearchItemSubCategory($event)"
            [formControl]="subCategory"
            [matAutocomplete]="subCategoryAuto"
          />
          <mat-autocomplete
            #subCategoryAuto="matAutocomplete"
            (optionSelected)="onSubCategorySelectionChange($event)"
            [displayWith]="displayFn"
          >
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let item of itemSubCategoryData" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
         <mat-form-field appearance="outline" class="mat-50">
          <mat-label> Search/Select Specification </mat-label>
          <input
            type="text"
            matInput
            (input)="onSearchItemSpecification($event)"
            [formControl]="specification"
            [matAutocomplete]="specificationAuto"
          />
          <mat-autocomplete
            #specificationAuto="matAutocomplete"
            (optionSelected)="onSpecificationSelectionChange($event)"
            [displayWith]="displayFn"
          >
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let item of itemSpecifications" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> 

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label> Search/Select Inventory Unit </mat-label>
          <input
            type="text"
            matInput
            (input)="onSearchInventoryUnit($event)"
            [formControl]="inventoryUnit"
            [matAutocomplete]="inventoryUnitAuto"
            id="inventoryUnitId"
          />
          <mat-autocomplete
            #inventoryUnitAuto="matAutocomplete"
            (optionSelected)="onInventoryUnitSelectionChange($event)"
            [displayWith]="displayUnit"
          >
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let item of inventoryUnits" [value]="item">
              {{ item.commonRefValue }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50" *ngIf="!isAdding">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">Select Status</mat-option>
            <mat-option
              *ngFor="let element of statuses"
              [value]="element.commonRefKey"
            >
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('status')?.hasError('required')">
            Please select one option
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoItemUnits()"
          >
            BACK
          </button>
          <button mat-flat-button class="btn-class warn" (click)="clearForm()">
            RESET
          </button>

          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
