/* table {
    width: 100%;
  }
  .header{
    margin-top: 2%;
    position: fixed;
    text-align: center;
    margin-left: 45%;
  }
  .mat-mdc-form-field {
    font-size: 10px;
  }
  .example-button-row {
    padding: 10px 20px;
    border-radius: 5px;
  }
    */
/* .serach-class {
  width: 23%;
  margin-left: 0.6%;
  position: fixed;
  margin-top: 4%;
} */
/*
  .header-class {
    background-color: #004869;
  }
  .btn-class {
    margin-left: 73%;
    margin-top: 5%;
    position: fixed;
  }
  
  mat-card {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8%;
    position: fixed;
    height:auto;
    overflow-y: auto;
    width:78%
  } */
.search-box {
  display: flex;
  align-items: flex-start;
}

mat-card {
  position: relative;
  min-height: 400px;
}

mat-card-content {
  /* Give some bottom padding so content doesn't overlap the footer */
  padding-bottom: 50px;
  overflow-y: auto;
}
mat-card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
