.card {
  margin: 0px;
  text-align: left;
  width: 97%;
  margin: auto;
  padding: 10px;
}

.column1 div {
  margin-top: 0px;
}

.column2 div {
  margin-bottom: 5px;
}
.column1 {
  width: 34%;
}
.column2 {
  width: 33%;
}
.mat-table {
  margin-top: 20px;
}

.green-amount {
  color: rgb(34, 34, 164);
  font-weight: bold;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
}

.radio-button {
  color: #004869;
  font-size: 15px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 0.5rem 2rem;
}
.row2 {
  margin-top: 20px;
}
.woQuantities {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem;
}

.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}

.woQuantities1 {
  border: 0.9px solid #004869;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem;
  margin: 0.5rem 2rem;
}

.heading {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.wob-cmn-mat-content {
  margin-top: 3% !important;
  height: 70vh;
  overflow-y: auto;
}