<div class="pac-header">VIEW WORK ORDER BILLING</div>
<form [formGroup]="formData">
  <div>
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="wob-cmn-mat-content mat-card-scroll">
        <mat-accordion class="row woQuantities">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="color: #004869">WON :</div>
                {{ workOrder.workOrderNumber }}
              </mat-panel-title>

              <mat-panel-title>
                <div style="color: #004869">PROJECT :</div>
                {{ workOrder.projectName }}
              </mat-panel-title>

              <mat-panel-title>
                <div style="color: #004869">VENDOR NAME :</div>
                {{ workOrder.vendorName }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <wob-additional-info
              [workOrderBilling]="workOrder"
            ></wob-additional-info>
          </mat-expansion-panel>
        </mat-accordion>

        <div
          class="row woQuantities1"
          *ngIf="
            workOrder?.stageStatus !== 'Pending' && workOrder?.stageComments
          "
        >
          <span>
            <b style="color: #004869; font-size: 14px">REASON:</b>
            {{ workOrder.stageComments }} </span
          ><br />
        </div>

        <div style="padding: 0rem 1rem">
          <div class="radio-button">WORK ORDER QUANTITIES</div>
          <app-workorder-billing-quantity
            [workOrderBillingData]="workOrder.workOrderBillingQuantities"
          ></app-workorder-billing-quantity>

          <div
            *ngIf="
              workOrder.previousWorkOrderBillingQuantities as previousQuantities
            "
          >
            <div class="radio-button" *ngIf="previousQuantities.length > 0">
              PREVIOUS WORK ORDER QUANTITIES
            </div>
            <app-workorder-billing-quantity
              *ngIf="previousQuantities.length > 0"
              [workOrderBillingData]="previousQuantities"
            ></app-workorder-billing-quantity>
          </div>

          <div>
            <div class="radio-button">STAGE DETAILS</div>
            <ng-container>
              <app-workorder-stage
                [stagesDto]="stages"
                [status]="status"
              ></app-workorder-stage>
            </ng-container>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div *ngIf="status === 'pending'; else backButton">
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoApprovals()"
          >
            BACK
          </button>
          <button
            mat-flat-button
            class="btn-class warn"
            type="button"
            (click)="approvalStatus('Rejected')"
          >
            REJECT
          </button>
          <button
            mat-flat-button
            class="btn-class success"
            type="button"
            (click)="approvalStatus('Rework')"
          >
            REWORK
          </button>
          <button
            mat-flat-button
            class="btn-class primary"
            type="button"
            (click)="approvalStatus('Approval')"
            type="button"
          >
            APPROVE
          </button>
        </div>
        <ng-template #backButton>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoApprovals()"
          >
            BACK
          </button>
        </ng-template>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
