<div style="width: 100%; overflow: auto">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <h1 class="head-text">Dashboard</h1>
        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
    </div>
    <div
      class=""
      style="
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      "
      [formGroup]="formData"
    >
      <div class="day-selector">
        <mat-form-field appearance="outline">
          <mat-label>Select Day</mat-label>
          <mat-select
            [(value)]="selectedDay"
            (selectionChange)="handleDaySelection($event.value)"
          >
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="showDateRangePicker"
          class="time-picker"
          appearance="outline"
          style="margin-left: 20px"
        >
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="customStartDate"
              (focus)="picker.open()"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="customEndDate"
              (focus)="picker.open()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="project-srch">
        <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>Project</mat-label>
          <input
            type="text"
            matInput
            (input)="searchProject($event)"
            [formControl]="project"
            [matAutocomplete]="projectAuto"
          />
          <mat-autocomplete
            #projectAuto="matAutocomplete"
            (optionSelected)="onProjectSelect($event)"
            [displayWith]="displayProject"
          >
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let option of projects" [value]="option">
              {{ option.projectName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div *ngIf="proxyLoginDisplay" class="proxy-srch">
        <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>Proxy Login</mat-label>
          <input
            type="text"
            matInput
            (input)="searchUser($event)"
            [formControl]="User"
            [matAutocomplete]="userAuto"
          />
          <mat-autocomplete
            #userAuto="matAutocomplete"
            (optionSelected)="onUserSelect($event)"
            [displayWith]="displayUser"
          >
            <mat-option *ngFor="let option of UserDetails" [value]="option">
              {{ option.userName }} - {{ option.roleName | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div style="width: 33%; text-align: right">
        <mat-slide-toggle
          [(ngModel)]="isToggled"
          (change)="onToggle($event)"
          formControlName="isToggled"
          *ngIf="
            !user.roleName.toLocaleLowerCase().includes('cp approval') &&
            !user.roleName
              .toLocaleLowerCase()
              .includes('assistant manager - channel sales')
          "
          >Need Call Support?</mat-slide-toggle
        >
      </div>
      <!-- <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button> -->
    </div>
  </div>

  <div class="margin-20" style="padding-top: 20px">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="panel2Expanded"
        (opened)="onPanelOpen(2)"
        (closed)="onPanelClose(2)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Lead Status Count </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cards">
          <mat-card (click)="navigateToLeads()" class="mat-card bg-six">
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Registered Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ assignedLeads }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >assignment_add</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(newLeadId)"
            class="mat-card bg-nine"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">New Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ newLeads }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >assignment_add</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToUnassignedLeads(0)"
            class="mat-card bg-twelve"
            *ngIf="
              user.roleName.toLocaleLowerCase().includes('cp approval') ||
              user.roleName
                .toLocaleLowerCase()
                .includes('assistant manager - channel sales')
            "
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">No Call Support Leads</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ unassignedLeads }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >assignment_add</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(followupId)"
            class="mat-card bg-seven"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Follow Ups</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ followupCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_phone</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(followupIds)"
            class="mat-card bg-fifteen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Site Visit Confirm</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ followupsCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >contact_phone</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByStatus(siteVisitDoneStatusId)"
            class="mat-card bg-one"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Site Visit Done</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ siteVisitDoneCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >person_pin_circle</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByStatus(bookedId)"
            class="mat-card bg-three"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Booked</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ bookedCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >real_estate_agent</mat-icon
                >
              </div>
            </div>
          </mat-card>

          <mat-card
            (click)="navigateToLeadsByStatus(bookedCancelledId)"
            class="mat-card bg-eight"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Cancelled Bookings</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ bookedCanceledCount }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >domain_disabled</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(lostId)"
            class="mat-card bg-ten"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">Lost</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ lostCount || 0 }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >close</mat-icon
                >
              </div>
            </div>
          </mat-card>
          <mat-card
            (click)="navigateToLeadsByStatus(eoiReceivedId)"
            class="mat-card bg-thirteen"
          >
            <div class="mat-card-hdiv">
              <h3 class="cardtitle">EOI Received</h3>
            </div>
            <div class="mat-card-countdiv">
              <div class="mat-card-count">
                <h2 class="total">{{ eoiReceivedStatus || 0 }}</h2>
              </div>
              <div class="mat-card-icondiv">
                <mat-icon
                  class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
                  >feedback</mat-icon
                >
              </div>
            </div>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- added -->
  <div *ngIf="isShow">
    <div class="margin-20" style="padding-top: 20px">
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="panel2Expanded"
          (opened)="onPanelOpen(2)"
          (closed)="onPanelClose(2)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Lead Status Count </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="content" *ngIf="isApproval">
      <div class="team-data-table-container leads-asigned-div">
        <h3 class="table-header"><b>Channel partner-wise Leads Report</b></h3>
        <div class="team-data-table">
          <table mat-table [dataSource]="filteredData" class="tableFixHead">
            <!-- added -->

            added
            <!-- CP Name Column -->
            <ng-container matColumnDef="cpName">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                CP Name
                <input
                  matInput
                  (keyup)="applyFilter($event, 'userName')"
                  placeholder="Filter"
                  class="compact-filter"
                />
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                style="text-align: left"
              >
                <b>{{ element.userName }}</b>
              </td>
            </ng-container>

            <!-- Registered Leads Column -->
            <ng-container matColumnDef="registeredLeads">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Registered Leads
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onAssignedLeadsCellClick(element.userId)"
              >
                {{ element.registeredLeads }}
              </td>
            </ng-container>
            <!-- New Leads Column -->
            <ng-container matColumnDef="newLeads">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                New Leads
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.newLeadId, element.userId)"
              >
                {{ element.newLeads || 0 }}
              </td>
            </ng-container>
            <!-- UnAssigned Leads Column -->
            <ng-container matColumnDef="unassignedLeads">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Unassigned Leads
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="navigateToUnassignedLeads(element.userId)"
              >
                {{ element.unassignedLead || 0 }}
              </td>
            </ng-container>

            <!-- Followups Column -->
            <ng-container matColumnDef="noOfFollowups">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Follow Ups
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.followupId, element.userId)"
              >
                {{ element.followUp }}
              </td>
            </ng-container>

            <!--site visit confirm Column -->
            <ng-container matColumnDef="noOfSiteVisit">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Site Visit Confirm
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.followupIds, element.userId)"
              >
                {{ element.followUps }}
              </td>
            </ng-container>

            <!-- Site Visit Done Column -->
            <ng-container matColumnDef="noOfSiteVisitDone">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                SV Done
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.siteVisitDoneId, element.userId)"
              >
                {{ element.noOfSiteVisitDone }}
              </td>
            </ng-container>

            <!-- Booked Column -->
            <ng-container matColumnDef="booked">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Booked
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.bookedId, element.userId)"
              >
                {{ element.booked }}
              </td>
            </ng-container>

            <!-- Booked Cancelled Column -->
            <ng-container matColumnDef="bookedCancelled">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Cancelled Bookings
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="
                  onStatusclick(element.bookedCancelledId, element.userId)
                "
              >
                {{ element.bookedCancelled }}
              </td>
            </ng-container>

            <!-- EOI Received Column -->
            <ng-container matColumnDef="eoiReceived">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                EOI Received
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.eoiReceivedId, element.userId)"
              >
                {{ element.eoiReceived || 0 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="lost">
              <th mat-header-cell *matHeaderCellDef class="team-data-th">
                Lost
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="team-data-td"
                (click)="onStatusclick(element.lostId, element.userId)"
              >
                {{ element.lost }}
              </td>
            </ng-container>

            <!-- Table rows -->
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="team-data-th-tr"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              class="team-data-td-tr"
            ></tr>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="pie-chart">
        <div>
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [colors]="chartOptions.colors"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
        <div style="padding-top: 30px">
          <h3 class="table-header">CP RegisterLeads</h3>
        </div>
      </div> -->
  </div>
  <div style="padding: 20px">
    <!-- <mat-card>
          <mat-card-content>
            <h1 style="padding: 10px">
              <mat-icon>notifications</mat-icon> Notifications
            </h1>
            <mat-list *ngFor="let notification of notifications">
              <mat-list-item>{{ notification.messageBody }}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card> -->
    <!-- <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h1 style="padding: 10px">
                  <mat-icon>notifications</mat-icon> Notifications
                </h1>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let notification of notifications">
              <mat-list-item>{{ notification.messageBody }}</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion> -->
  </div>
</div>
