.si-serach-class {
  width: 22%;
}
.si-u-serach-class {
  width: 10%;
}

.si-cat-serach-class {
  width: 18.5%;
}
.si-ml-2 {
  margin-left: 0.1%;
}

.si-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.si-filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1.8rem;
}
.si-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
