<div style="padding-bottom: 8px; padding-top: 6px">
  <div class="leads-update">
    <div class="title-div">
      <span class="lead-header">CP LEADS</span>
    </div>
    <!-- <div style="display: flex; gap: 8px">
      <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button>
    </div> -->
  </div>
</div>
<div style="margin-bottom: 0rem">
  <div class="search-container" [formGroup]="formData">
    <mat-form-field
      appearance="outline"
      class="search-class"
      style="width: 250px"
    >
      <mat-label>Phone No</mat-label>
      <input
        matInput
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter Phone No"
      />
    </mat-form-field>

   
    <mat-form-field appearance="outline" class="ml-4" style="width: 300px">
      <mat-label>Select Source</mat-label>
      <mat-select [value]="selectedSource">
        <mat-option
          *ngFor="let source of sources"
          [value]="source"
          [disabled]="true"
        >
          {{ source.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ml-4" style="width: 300px" appearance="outline">
      <input
        type="text"
        placeholder="Select Sub Sources"
        aria-label="Select Sub Sources"
        matInput
        [matAutocomplete]="auto"
        [formControl]="subSourceControl"
        (input)="searchSubSource($event)"
      />
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let subSource of filteredSubSources"
        (click)="$event.preventDefault()"
      >
        <div (click)="$event.stopPropagation()">
          <mat-checkbox
            [checked]="isSelected(subSource.leadSubSourceId)"
            (change)="onSelectionSubSourceChange(subSource, $event)"
            (click)="$event.stopPropagation()"
          >
            {{ subSource.name }}
          </mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
    <mat-form-field appearance="outline" class="ml-4" style="width: 300px">
        <mat-label>Select Day</mat-label>
        <mat-select
          (selectionChange)="handleDaySelection($event.value)"
        >
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="showDateRangePicker"
        class="time-picker ml-4"
        appearance="outline"
        style="width: 300px"
      >
        <mat-label>Select Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="customStartDate"
            (focus)="picker.open()"
          />
          <input
            matEndDate
            placeholder="End date"
            formControlName="customEndDate"
            (focus)="picker.open()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    <button
      mat-flat-button
      (click)="toggleMenu($event)"
      style="width: 140px; background-color: rgb(97, 97, 38); color: white"
    >
      <i class="bi bi-funnel-fill"></i> More
    </button>
    <div *ngIf="menuOpen" class="custom-dropdown" [ngStyle]="dropdownPosition">
      <div class="header-with-close">
        <i class="bi bi-x-lg close-icon" (click)="closeMenu()"></i>
      </div>
      <div>
        <mat-form-field
        style="width: 94%"
        class="search-class ml-2"
        appearance="outline"
      >
        <mat-label>Project</mat-label>
        <input
          type="text"
          matInput
          (input)="searchProject($event)"
          [formControl]="project"
          [matAutocomplete]="projectAuto"
        />
        <mat-autocomplete
          #projectAuto="matAutocomplete"
          (optionSelected)="onProjectSelect($event)"
          [displayWith]="displayProject"
        >
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let option of projects" [value]="option">
            {{ option.projectName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="search-class ml-2"
          style="width: 94%"
        >
          <mat-label>Opportunity Id</mat-label>
          <input
            matInput
            (input)="onSearchOpportunityId($any($event).target?.value)"
            placeholder="Enter Opportunity Id"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field
          appearance="outline"
          class="search-class ml-2"
          style="width: 94%"
        >
          <mat-label>Name</mat-label>
          <input
            matInput
            (input)="onSearchUserName($any($event).target?.value)"
            placeholder="Enter Customer Name"
          />
        </mat-form-field>
      </div>
      <div>
        <!-- <div [attr.inert]="menuOpen ? null : ''">
          <mat-form-field
            appearance="outline"
            class="search-class ml-2"
            style="width: 94%"
          >
            <mat-label>Assigned To</mat-label>
            <mat-select
              multiple
              (selectionChange)="onSelectUser($event)"
              [value]="selectedUsers"
              [formControl]="selectedUsersControl"
            >
              <ngx-mat-select-search
                placeholderLabel="Search users..."
              ></ngx-mat-select-search>

              <mat-option *ngFor="let user of filteredUsers" [value]="user">
                {{ user.userName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
      </div>
      <div>
        <mat-form-field
          appearance="outline"
          class="search-class ml-2"
          style="width: 94%"
        >
          <mat-label>Select Status</mat-label>
          <mat-select
            [(value)]="statusId"
            (selectionChange)="onStatusSelectionChange($event)"
          >
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let item of leadStatus" [value]="item.id">
              {{ item.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- <mat-form-field class="ml-2" appearance="outline" style="width: 94%">
          <input
            type="text"
            placeholder="Select Sub Sources"
            aria-label="Select Sub Sources"
            matInput
            [matAutocomplete]="auto"
            [formControl]="subSourceControl"
            (input)="searchSubSource($event)"
          />
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let subSource of filteredSubSources"
            (click)="$event.preventDefault()"
          >
            <div (click)="$event.stopPropagation()">
              <mat-checkbox
                [checked]="isSelected(subSource.leadSubSourceId)"
                (change)="onSelectionSubSourceChange(subSource, $event)"
                (click)="$event.stopPropagation()"
              >
                {{ subSource.name }}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete> -->
      </div>
    </div>
  </div>
</div>
<mat-card class="leads-cmn-card">
  <mat-card-content class="leads-cmn-card-content">
    <div class="tab-head">
      <table matSort mat-table [dataSource]="leads" class="mat-elevation-z8">
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let lead">
            {{ lead.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project</th>
          <td mat-cell *matCellDef="let lead">{{ lead.projectName }}</td>
        </ng-container>
        <ng-container matColumnDef="sourceName">
          <th mat-header-cell *matHeaderCellDef>Source</th>
          <td mat-cell *matCellDef="let lead">{{ lead.sourceName }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Current Status</th>
          <td mat-cell *matCellDef="let lead">{{ lead.status }}</td>
        </ng-container>

        <ng-container matColumnDef="prevStatus">
          <th mat-header-cell *matHeaderCellDef>Preview Status</th>
          <td mat-cell *matCellDef="let lead">{{ lead.prevStatus }}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td
            mat-cell
            *matCellDef="let lead"
            matTooltip="{{ lead.createdDate | date : 'medium' }}"
          >
            {{ lead.createdDate | date : "mediumDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedToSaleDate">
          <th mat-header-cell *matHeaderCellDef>Assigned To Sales On</th>
          <td
            mat-cell
            *matCellDef="let lead"
            matTooltip="{{ lead.assignedToSaleDate | date : 'medium' }}"
          >
            {{
              lead.assignedToSaleDate
                ? (lead.assignedToSaleDate | date : "mediumDate")
                : "NA"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="followUpDate">
          <th mat-header-cell *matHeaderCellDef>Preview Status Updated On</th>
          <td
            mat-cell
            *matCellDef="let lead"
            matTooltip="{{ lead.followUpDate | date : 'medium' }}"
          >
            {{ lead.followUpDate | date : "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="currentFollowUpDate">
          <th mat-header-cell *matHeaderCellDef>Current Status Updated On</th>
          <td
            mat-cell
            *matCellDef="let lead"
            matTooltip="{{ lead.currentFollowUpDate | date : 'medium' }}"
          >
            {{ lead.currentFollowUpDate | date : "mediumDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let lead">
            <span
              class="remarks-short"
              matTooltip="{{
                lead.remarks?.length ? lead.remarks : 'No remarks'
              }}"
            >
              {{
                lead.remarks?.length
                  ? (lead.remarks | slice : 0 : 10) + "..."
                  : "N/A"
              }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="presalesMember">
          <th mat-header-cell *matHeaderCellDef>Presales</th>
          <td mat-cell *matCellDef="let lead">
            {{
              lead.assignedPresalesUserName == null
                ? "NA"
                : lead.assignedPresalesUserName
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salesMember">
          <th mat-header-cell *matHeaderCellDef>Sales</th>
          <td mat-cell *matCellDef="let lead">
            <!-- Show 'NA' if assignedSalesUserName is null, otherwise show the name -->
            {{
              lead.assignedSalesUserName == null
                ? "NA"
                : lead.assignedSalesUserName
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="opportunityId">
          <th mat-header-cell *matHeaderCellDef>Opportunity Id</th>
          <td mat-cell *matCellDef="let lead">{{ lead.opportunityId }}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
          <td mat-cell *matCellDef="let lead">{{ lead.phoneNumber }}</td>
        </ng-container>
        <ng-container matColumnDef="subSource">
          <th mat-header-cell *matHeaderCellDef>Sub Source</th>
          <td mat-cell *matCellDef="let lead">
            <ng-container
              *ngIf="
                user.roleName === 'DIGITAL_PARTNER' ||
                  user.roleName === 'Digital Marketing';
                else elseifBlock
              "
            >
              {{ lead.subSourceName }}
            </ng-container>
            <ng-template #elseifBlock>
              <ng-container
                *ngIf="
                  lead.digitalPartner === null || lead.digitalPartner === '';
                  else elseBlock
                "
              >
                {{ lead.subSourceName }}
              </ng-container>
            </ng-template>

            <ng-template #elseBlock>
              {{ lead.subSourceName }} ({{ lead.digitalPartner }})
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let charge"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="let charge of paymentDetails; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
