<h3 class="header"><b>ISSUES</b></h3>

<div class="example-button-row">
  <span
    ><mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On Issue Name</mat-label>
      <input
        matInput
        (input)="getIssuesByName($any($event).target?.value)"
      /> </mat-form-field
  ></span>

  <mat-form-field appearance="outline" class="mat-45">
    <mat-label>Consumption Type</mat-label>
    <mat-select [(ngModel)]="status" (selectionChange)="getCustomerDetails()">
      <mat-option [value]="''"> All </mat-option>
      <mat-option
        *ngFor="let status of issuesTypeData"
        [value]="status.commonRefValue"
      >
        {{ status.commonRefValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card>
  <mat-card-content>
    <div>
      <table
        matSort
        mat-table
        [dataSource]="projectIssueDetails"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            S.No
          </th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="issueNumber">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Ticket Number
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.issueNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="ProjectName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Project Name
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.projectName }}</td>
        </ng-container>
        <ng-container matColumnDef="issueType">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Type
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.commonRefValue }}</td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Customer Name
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.customerName }}</td>
        </ng-container>
        <ng-container matColumnDef="blockName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Block Name
          </th>
          <td mat-cell *matCellDef="let approvals">
            {{ approvals.blockName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="levelName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Level Name
          </th>
          <td mat-cell *matCellDef="let approvals">
            {{ approvals.levelName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="unitName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Unit Name
          </th>
          <td mat-cell *matCellDef="let approvals">{{ approvals.unitName }}</td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Image
          </th>
          <td mat-cell *matCellDef="let issues">
            <!-- <mat-icon
              matTooltip="Approvals"
              (click)="approvalIssue(issues)"
              class="font"
              >rule</mat-icon> -->
            <mat-icon matTooltip="Show Image" (click)="displayImage(issues)">
              insert_photo</mat-icon
            >

            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Status
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.issueStatus }}</td>
        </ng-container>
        <ng-container matColumnDef="issueStartDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Start Date
          </th>
          <td mat-cell *matCellDef="let issues">
            {{
              issues.issueRequestDate
                ? (issues.issueRequestDate | date : "mediumDate")
                : ""
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="issueDiscription">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Description
          </th>
          <td mat-cell *matCellDef="let issues">
            {{ issues.issueDescription }}
          </td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Assigned To
          </th>
          <td mat-cell *matCellDef="let approvals">{{ approvals.userName }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let issues">
            <!-- <i class="bi bi-pencil " style="cursor: pointer" (click)="editApprovals(approvals)"></i>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i
              (click)="openConfirmDialog(approvals.approvalsId)"
              style="color: red; cursor: pointer"
              class="bi bi-trash text-danger"
            ></i> -->
            <!-- <i class="bi bi-eye-fill" style="cursor: pointer" (click)="viewProject(issues)"></i> -->
            <mat-icon
              matTooltip="Approvals"
              (click)="approvalIssue(issues)"
              class="font"
              >rule</mat-icon
            ><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let approvals of approvalsData; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
<div ngIf="isDisplay">

</div>

<!-- <div ngIf="isDisplay">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content style="margin-top: 2%">
        <div class="row" *ngIf="roleName != 'Customer'">
          <div class="col-md-4">
            <p><strong>Customer Name:</strong> {{ issueData.customerName }}</p>
            <p><strong>Unit Name:</strong> {{ issueData.unitName }}</p>
            <p>
              <strong>Issue Sub Type:</strong> {{ issueData.issueSubTypeName }}
            </p>
          </div>
          <div class="col-md-4">
            <p><strong>Block Name:</strong> {{ issueData.blockName }}</p>
            <p><strong>Issue Number:</strong> {{ issueData.issueNumber }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Level Name:</strong> {{ issueData.levelName }}</p>
            <p><strong>Issue Type:</strong> {{ issueData.commonRefValue }}</p>
          </div>
                  
        </div>
        <div class="row" *ngIf="roleName == 'Customer'">
          <div class="col-md-4">
            <p><strong>Issue Number:</strong> {{ issueData.issueNumber }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Issue Type:</strong> {{ issueData.commonRefValue }}</p>
          </div>
                  
        </div>
        <!-- <div *ngIf="isImageDisplay; else approvalTemplate">
          <img src="file:///D:/Upload/1721206272478.jpeg" alt="Issue Image" width="100%" />
        </div>
        <img src="file:///D:/Upload/1721206272478.jpeg" alt=""> -->

        <!-- <div *ngIf="isAdding">
          <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </div> 
        <ng-template #approvalTemplate>
          <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </ng-template>
        
      </mat-card-content>
      <mat-card-footer>
        <div style="text-align: right" class="button">
        
          <button *ngIf="isView" mat-flat-button style="color: white; background-color: rgb(97, 97, 38)"
            class="btn-class" (click)="closeDialog() ">
            
            {{ isImageDisplay ? "Close" : "Send For Approval" }}
          </button>
        </div>
      </mat-card-footer> 
    </mat-card>
  </div>
</div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
