<div class="addleadheader-container">
  <h4 class="header">
    <b>{{ isAdding ? "ADD LEAD" : "UPDATE LEAD" }}</b>
  </h4>
  <!-- <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button> -->
</div>

<form
  [class.blur-background]="isModalVisible"
  [formGroup]="formData"
  (ngSubmit)="save()"
>
  <div class="example-container add-lead-main">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-card-content mat-card-scroll">
        <div class="row" style="padding: 0 15px">
          <!-- Name Field -->
          <mat-form-field
            appearance="outline"
            class="mat-45"
            style="margin-top: 8px"
          >
            <mat-label>Name</mat-label>
            <input
              id="al-name"
              matInput
              formControlName="name"
              type="text"
              [readonly]="isView"
            />
            <mat-error *ngIf="formData.get('name')?.hasError('required')"
              >Name is required</mat-error
            >
          </mat-form-field>

          <mat-form-field
            class="mat-45"
            appearance="outline"
            style="margin-top: 8px"
          >
            <mat-label>Project</mat-label>
            <input
              id="al-project-name"
              type="text"
              matInput
              [value]="selectedProject?.projectName || ''"
              (input)="searchProject($event)"
              [formControl]="project"
              [matAutocomplete]="projectAuto1"
              [readonly]="isView"
            />
            <mat-autocomplete
              #projectAuto1="matAutocomplete"
              (optionSelected)="onProjectSelect($event)"
              [displayWith]="displayProject"
            >
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let option of projects" [value]="option">
                {{ option?.projectName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-20 pt-20">
            <mat-label>Country</mat-label>
            <input
              type="text"
              matInput
              (input)="searchCountry($event)"
              formControlName="countryCode"
              [matAutocomplete]="countryAuto"
              [readonly]="isView"
            />
            <mat-autocomplete #countryAuto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredCountries"
                [value]="option.commonRefKey"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-30">
            <mat-label>Contact Number</mat-label>
            <input
              id="al-phn"
              matInput
              formControlName="phoneNumber"
              (input)="validatePhoneNumber()"
              [readonly]="isView"
            />

            <!-- Error for required phone number -->
            <mat-error
              *ngIf="formData.get('phoneNumber')?.hasError('required')"
            >
              Phone number is required.
            </mat-error>

            <!-- Error for incorrect phone number length -->
            <mat-error
              *ngIf="formData.get('phoneNumber')?.hasError('requiredLength')"
            >
              Number must be
              {{
                formData.get("phoneNumber")?.getError("requiredLength")
                  ?.expectedLength
              }}
              digits.
            </mat-error>
            <mat-error
              *ngIf="formData.get('phoneNumber')?.hasError('incorrectPrefix')"
            >
              {{
                formData.get("phoneNumber")?.getError("incorrectPrefix")
                  ?.message
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Alternate Contact Number</mat-label>
            <input
              id="al-alphn"
              matInput
              formControlName="alternatePhoneNumber"
              [readonly]="isView"
            />
            <mat-error
              *ngIf="
                formData.get('alternatePhoneNumber')?.invalid &&
                (formData.get('alternatePhoneNumber')?.dirty ||
                  formData.get('phoneNumber')?.touched)
              "
            >
              <span
                *ngIf="formData.get('alternatePhoneNumber')?.errors?.['required']"
                >Customer Contact Number is required.</span
              >
              <span
                *ngIf="
                formData.get('alternatePhoneNumber')?.errors?.['length'] &&
                formData.get('alternatePhoneNumber')?.value?.length !== 10
              "
              >
                Phone number must contain exactly 10 digits.
              </span>

              <span
                *ngIf="
                formData.get('alternatePhoneNumber')?.errors?.['pattern'] &&
                formData.get('alternatePhoneNumber')?.value?.length === 10
              "
              >
                Phone number must start with 6, 7, 8, or 9.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Email</mat-label>
            <input
              id="al-email"
              matInput
              formControlName="email"
              type="email"
              [readonly]="isView"
            />
            <mat-error *ngIf="formData.get('email')?.hasError('email')"
              >Please enter a valid email address</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Gender</mat-label>
            <mat-select id="al-gndr" formControlName="gender">
              <mat-option value="Female" [disabled]="isView">
                Female
              </mat-option>
              <mat-option value="Male" [disabled]="isView"> Male </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-label>Home Location</mat-label> -->
          <!-- <mat-form-field appearance="outline" class="mat-45">
              <mat-label>Home Location</mat-label>
              <mat-select formControlName="homeLocation">
                <mat-option *ngFor="let address of filteredAddresses" [value]="address">
                  {{ address }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Pin Code</mat-label>
            <input
              id="al-pincode"
              matInput
              formControlName="pincode"
              (input)="onSearchPinCode(pincode.value)"
              #pincode
            />
          </mat-form-field>
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Home Location</mat-label>
            <input
              id="al-homel"
              type="text"
              matInput
              (input)="onChangeAddress($event)"
              formControlName="homeLocation"
              [matAutocomplete]="homeLocation"
              [readonly]="isView"
              #homeLocationInput
            />
            <mat-autocomplete #homeLocation="matAutocomplete">
              <mat-option
                *ngFor="let address of filteredAddresses"
                [value]="address"
              >
                {{ address }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div appearance="outline" class="mat-45 txtarea-mobile-mtop">
            <!-- <mat-label>Work Location</mat-label> -->
            <textarea
              matInput
              formControlName="workLocation"
              [readonly]="isView"
              rows="1"
              placeholder="Work Location"
              style="flex: 1; width: 100%; padding: 5px 10px; font-size: 13px"
              (input)="autoResizeWork()"
              #workTextarea
            ></textarea>
          </div>
        </div>
        <div
          class="row"
          style="padding: 0 15px"
          *ngIf="
            !(
              user.roleName.toLowerCase() === 'channel partner' ||
              user.roleName.toLowerCase() === 'cp users'
            )
          "
        >
          <mat-form-field
            appearance="outline"
            class="mat-45 txtarea-mobile-mtop"
          >
            <mat-label>Company Name</mat-label>
            <input
              id="al-cmpname"
              matInput
              formControlName="companyName"
              [readonly]="isView"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Select Source</mat-label>
            <mat-select
              id="al-sorc"
              formControlName="sourceId"
              (selectionChange)="onSelectSource($event.value)"
              [disabled]="isView"
            >
              <!-- <mat-option
                value=""
                [disabled]="
                  dbLeadSourceId > 0 &&
                  !isAdding &&
                  (user.roleName.toLowerCase() === 'sales member' ||
                    user.roleName.toLowerCase() === 'presales member')
                "
                >Select Source</mat-option
              > -->
              <mat-option
                *ngFor="let source of sources"
                [value]="source.leadSourceId"
              >
                {{ source.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- [formControl]="subSourceControl" -->
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Select Sub Source</mat-label>
            <input
              id="al-subsrc"
              type="text"
              matInput
              [formControl]="subSourceControl"
              [matAutocomplete]="subSourceAuto"
              [value]="selectedSubSource.name"
              (input)="filterSubSources($event)"
            />
            <mat-autocomplete
              #subSourceAuto="matAutocomplete"
              (optionSelected)="onSubSourceSelect($event)"
              [displayWith]="displaySubSource"
            >
              <mat-option
                *ngFor="let subSource of filteredSubSources"
                [value]="subSource"
              >
                {{ subSource.name }}
              </mat-option>
            </mat-autocomplete>
            <!-- <div
              *ngIf="formData.get('subSourceId')?.errors?.['required']"
              style="color: red"
            >
              Sub Source is required.
            </div> -->
          </mat-form-field>
          <!-- Additional Fields for Customer Reference -->
          <div *ngIf="showAdditionalFields">
            <mat-form-field appearance="outline" class="mat-p50 pr-10">
              <mat-label>Select Customer Project</mat-label>
              <mat-select
                id="al-rf-cmr-prg"
                formControlName="referredCustomerProjectId"
              >
                <mat-option value="">Select Customer Project</mat-option>
                <mat-option
                  *ngFor="let project of customerProjects"
                  [value]="project.projectId"
                >
                  {{ project?.projectName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-p50 pl-10">
              <mat-label>Customer Unit Name</mat-label>
              <input
                id="al-cun-name"
                matInput
                formControlName="customerUnitName"
                placeholder="Enter Customer Unit Name"
              />
            </mat-form-field>
          </div>
          <!-- <p>showEmployeeReferenceFields: {{ showEmployeeReferenceFields }}</p> -->

          <!-- Additional Fields for Employee Reference -->
          <div *ngIf="showEmployeeReferenceFields">
            <mat-form-field appearance="outline" class="mat-p50 pr-10">
              <mat-label>Employee ID</mat-label>
              <input
                id="al-rf-empid"
                matInput
                formControlName="referredEmployeeId"
                placeholder="Enter Employee ID"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-p50 pl-10">
              <mat-label>Employee Name</mat-label>
              <input
                id="al-rf-emp-name"
                matInput
                formControlName="referredEmployeeName"
                placeholder="Enter Employee Name"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row" style="padding: 0 15px">
          <!-- <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Select Sub Source</mat-label>
            <mat-select
              formControlName="subSourceId"
              [disabled]="
                (formData.get('subSourceId')?.value ?? 0) > 0 &&
                !isAdding &&
                (user.roleName.toLowerCase() === 'sales member' ||
                  user.roleName.toLowerCase() === 'presales member')
              "
              (selectionChange)="onSubSourceChange($event.value)"
            >
              <mat-option
                value=""
                [disabled]="
                  (formData.get('subSourceId')?.value ?? 0) > 0 &&
                  !isAdding &&
                  (user.roleName.toLowerCase() === 'sales member' ||
                    user.roleName.toLowerCase() === 'presales member')
                "
                >Select Sub Source</mat-option
              >
              <mat-option
                *ngFor="let subSource of subSources"
                [value]="subSource.leadSubSourceId"
                [disabled]="isView"
                [disabled]="
                  (formData.get('subSourceId')?.value ?? 0) > 0 &&
                  !isAdding &&
                  (user.roleName.toLowerCase() === 'sales member' ||
                    user.roleName.toLowerCase() === 'presales member')
                "
              >
                {{ subSource.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <!-- <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Select Sub Source</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="subSourceAuto"
              [value]="selectedSubSource.name"
              [disabled]="
                (dbLeadSubSourceId ?? 0) > 0 &&
                !isAdding &&
                (user.roleName.toLowerCase() === 'sales member' ||
                  user.roleName.toLowerCase() === 'presales member')
              "
              (input)="filterSubSources($event)"
            />
            <mat-autocomplete
              #subSourceAuto="matAutocomplete"
              (optionSelected)="onSubSourceSelect($event)"
              [displayWith]="displaySubSource"
            >
              <mat-option
                *ngFor="let subSource of subSources"
                [value]="subSource"
              >
                {{ subSource.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->

          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Budget</mat-label>
            <input
              id="al-bgt"
              type="text"
              matInput
              formControlName="budget"
              [matAutocomplete]="budgetAuto"
              [readonly]="isView"
            />
            <mat-autocomplete #budgetAuto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredBudgets"
                [value]="option.commonRefKey"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Select Lead Status</mat-label>
            <mat-select id="al-ld-sts" formControlName="typeId">
              <mat-option value="">Select Type</mat-option>
              <mat-option
                *ngFor="let type of leadTypes"
                [value]="type.id"
                [disabled]="isView"
              >
                {{ type.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="mat-45"
            *ngIf="user.roleName.toLowerCase() !== 'channel partner'"
          >
            <mat-label>Select Visit Status</mat-label>
            <mat-select
              id="al-sv-sts"
              formControlName="statusId"
              (selectionChange)="fetchLostStatusList($event.source.value)"
            >
              <mat-option value="" [disabled]="isView || !isAdding"
                >Select Status</mat-option
              >
              <mat-option
                *ngFor="let status of leadStatusList"
                [value]="status.id"
                [disabled]="isView || !isAdding"
              >
                {{ status.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 15px">
          <mat-form-field
            appearance="outline"
            class="mat-45"
            *ngIf="isLostStatus"
          >
            <mat-label>Select sub Status</mat-label>
            <mat-select
              id="al-sb-sts"
              formControlName="subStatusId"
              (selectionChange)="displayReasonForOthers($event.source.value)"
            >
              <mat-option value="">Select Reason</mat-option>
              <mat-option
                *ngFor="let status of lostStatusList"
                [value]="status.id"
              >
                {{ status.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div appearance="outline" class="mat-45" *ngIf="isReasonOthers">
            <textarea
              id="al-otr-rsn"
              matInput
              formControlName="otherLostReason"
              [readonly]="isView"
              rows="1"
              placeholder="Other Reason"
              style="flex: 1; width: 100%; padding: 5px 10px; font-size: 13px"
              (input)="autoResizeRemarks()"
              #remarksTextarea
            ></textarea>
          </div>
        </div>

        <div class="row" style="padding: 0 15px"></div>

        <!-- <mat-form-field appearance="outline" class="mat-45">
          <mat-label>Pin Code</mat-label>
          <input matInput formControlName="pincode" />
        </mat-form-field> -->
        <div class="row" style="padding: 0 15px">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Flat Type</mat-label>
            <input
              id="al-flt-type"
              type="text"
              matInput
              formControlName="preferredFlatType"
              [matAutocomplete]="unitAuto"
              [readonly]="isView"
            />
            <mat-autocomplete #unitAuto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredUnitTypes"
                [value]="option.name"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div appearance="outline" class="mat-45">
            <!-- <mat-label>Remarks</mat-label> -->
            <textarea
              id="al-rmrks"
              matInput
              formControlName="remarks"
              [readonly]="isView"
              rows="1"
              placeholder="Remarks"
              style="flex: 1; width: 100%; padding: 5px 10px; font-size: 13px"
              (input)="autoResizeRemarks()"
              #remarksTextarea
            ></textarea>
          </div>
          <!-- <mat-form-field
            appearance="outline"
            class="mat-45 txtarea-mobile-mtop"
          >
            <mat-label>Spoken Language</mat-label>
            <input
              matInput
              formControlName="language"
              type="text"
              [readonly]="isView"
            />
          </mat-form-field> -->
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Spoken Language</mat-label>
            <input
              id="al-lng"
              type="text"
              matInput
              (input)="searchLanguage($event)"
              formControlName="language"
              [matAutocomplete]="languageAuto"
            />
            <mat-autocomplete #languageAuto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredLanguage"
                [value]="option.commonRefValue"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div
          class="row"
          style="padding: 0 15px"
          *ngIf="
            user.roleName.toLowerCase() === 'sales member' ||
            user.roleName.toLowerCase() === 'sales manager'
          "
        >
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Choose Site Visit Date</mat-label>
            <input
              id="al-sv-date"
              matInput
              [matDatepicker]="datepicker"
              formControlName="siteVisitDate"
              (click)="datepicker.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>

          <mat-error *ngIf="formData.get('siteVisitDate')?.hasError('required')"
            >Site visit Date is required</mat-error
          >
        </div>
        <div
          class="row"
          style="padding: 0 15px"
          *ngIf="
            user.roleName.toLowerCase() === 'channel partner' ||
            user.roleName.toLowerCase() === 'cp users'
          "
        >
          <mat-form-field
            appearance="outline"
            class="mat-45 txtarea-mobile-mtop"
          >
            <mat-label>Company Name</mat-label>
            <input
              id="al-cmp-name"
              matInput
              formControlName="companyName"
              [readonly]="isView"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            id="al-bk"
            mat-flat-button
            class="btn-class accent"
            (click)="gotoLeads()"
          >
            BACK
          </button>
          <button
            id="al-rst"
            mat-flat-button
            class="btn-class warn"
            type="button"
            (click)="clearForm()"
          >
            RESET
          </button>
          <button
            id="al-sbt"
            mat-flat-button
            type="submit"
            [disabled]="
              user.roleName === 'sales member' &&
              this.formData.get('assignedToSales')?.value > 0 &&
              this.formData.get('assignedToSales')?.value !== user.userId
            "
            [ngClass]="{
              'disabled-button':
                user.roleName === 'sales member' &&
                this.formData.get('assignedToSales')?.value > 0 &&
                this.formData.get('assignedToSales')?.value !== user.userId,
              'active-button': !(
                user.roleName === 'sales member' &&
                this.formData.get('assignedToSales')?.value > 0 &&
                this.formData.get('assignedToSales')?.value !== user.userId
              )
            }"
          >
            {{
              isAdding
                ? "ADD"
                : user.roleName === "sales member" &&
                  (this.formData.get("assignedToSales")?.value === 0 ||
                    this.formData.get("assignedToSales")?.value === undefined ||
                    this.formData.get("assignedToSales")?.value === null)
                ? "Assign To Me"
                : "UPDATE"
            }}
          </button>
          <button
            *ngIf="isDisplayDialog"
            mat-flat-button
            class="btn-class"
            style="
              margin-left: 10px;
              background-color: rgb(98, 6, 184);
              color: white;
            "
            (click)="openDialogOnClick()"
          >
            SEE SOURCE DETAILS
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
<div *ngIf="">
  <h1>hiii</h1>
</div>

<!-- Button to trigger the modal -->
<!-- Modal Structure -->
<div *ngIf="isModalVisible" class="dialoge">
  <app-channelpatner-registration
    [isVisible]="isModalVisible"
    [errorMessages]="errorMessages"
    [title]="title"
    (close)="onModalClose()"
    (save)="onModalSave($event)"
  >
  </app-channelpatner-registration>
</div>

<!-- Sources Dialog box -->
<div
  *ngIf="openDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="audioModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title fs-5" id="audioModal" style="color: red">
            Lead Already Exists..!
          </h1>
          <h2 class="modal-title fs-6" id="audioModal">
            Source & Sub-Sources Details
          </h2>
        </div>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="onDialogClose()"
        ></button>
      </div>

      <div class="modal-body">
        <div>
          Please select a sub-source to ensure that the lead credit is
          accurately assigned.
        </div>
        <!-- First Row: Source, Sub Source, OK Button -->
        <div class="first-row">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Source</mat-label>
            <mat-select (selectionChange)="fetchLeadSubSources($event.value)">
              <mat-option
                *ngFor="let item of dialogSources"
                [value]="item.leadSourceId"
              >
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Sub Source</mat-label>
            <mat-select (selectionChange)="onLeadSubSourceSelect($event)">
              <mat-option
                *ngFor="let item of leadSubSources"
                [value]="item.leadSubSourceId"
              >
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-flat-button color="primary" (click)="onDialogClose()">
            OK
          </button>
        </div>

        <!-- Second Row: "or" in the center -->
        <div class="or-divider">or</div>
        <div>
          Click the button below to assign this lead to a different CP or
          source.
        </div>
        <!-- Third Row: Centered "Add as a New Lead" Button -->
        <div class="button-container">
          <button mat-flat-button color="primary" (click)="addAsNewLead()">
            Add as a New Lead
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
