.card {
  margin: 0px;
  text-align: left;
  width: 97%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.column1 span {
  margin-left: 80px;
  margin-top: 20px;
}

.column2 span {
  margin-top: 8px;
}
.mat-table {
  margin-top: 20px;
}

.column1 {
  width: 34%;
}
.column2 {
  width: 33%;
}
.column3 {
  width: 33%;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-left: 3rem;
  margin-top: 2rem;
}
.row2 {
  margin-top: 20px;
}
.common-lead-info {
  border: 0.5px solid #004869;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 10px 1rem 10px 1rem;
}
.btn-class-back {
  color: white;
  background-color: rgb(97, 97, 38);
}
/* .button-row {
  margin-left: 89%;
  padding: 0 40px;
  border-radius: 5px;
} */

.cmn-mat-content {
  height: 60vh;
  overflow-y: scroll;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.back-button {
  flex-shrink: 0;
  margin-right: 1rem;
}
.title-div {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Align items vertically in the center */
  justify-content: center;
  width: 100%; /* Full width */
  max-width: 100%; /* Ensure it's responsive */
}
.lead-header {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 3px;
  z-index: 1;
}
