<h4 class="header"><b>CUSTOMER</b></h4>

<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header class="customer-mat-card-header"
        ><b>{{
          isAdding ? "ADD CUSTOMER" : "EDIT CUSTOMER"
        }}</b></mat-card-header
      >
      <mat-card-content class="cmn-mat-card-content">
        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Projects</mat-label>
          <mat-select formControlName="projectId">
            <mat-option
              *ngFor="let project of projectData"
              [value]="project.projectId"
              (click)="getProjectType(project.projectId)"
              (click)="getBlocksBasedOnProjectId(project.projectId)"
            >
              {{ project.projectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Blocks</mat-label>
          <mat-select formControlName="blockId">
            <mat-option
              *ngFor="let block of blocks"
              [value]="block.id"
              (click)="getLevelsBasedOnBlockId(block.id)"
            >
              {{ block.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Levels</mat-label>
          <mat-select formControlName="levelId">
            <mat-option
              *ngFor="let levels of levels"
              [value]="levels.levelId"
              (click)="getAvailableUnits(levels.levelId)"
            >
              {{ levels.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Units</mat-label>
          <mat-select formControlName="levels">
            <mat-option
              *ngFor="let units of availableUnits"
              [value]="units.unitId"
            >
              {{ units.unitName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Customer Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Customer Email</mat-label>
          <input matInput formControlName="emailId" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label>Customer PhNumber</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="customer-mat-45">
          <mat-label> Resident Type:</mat-label>
          <mat-select formControlName="residentType">
            <mat-option
              *ngFor="let residentType of residentTypes"
              [value]="residentType"
              (click)="onResidentTypeChange(residentType)"
            >
              {{ residentType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="isDisplay">
          <form [formGroup]="addressformData" (ngSubmit)="address()">
            <div class="form-row">
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address1" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address2" />
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address3" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>Pincode</mat-label>
                <input matInput formControlName="pincode" />
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" />
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>GSTIN/UIN</mat-label>
                <input matInput formControlName="gstin" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="customer-mat-45">
                <mat-label>PAN/IT Number</mat-label>
                <input matInput formControlName="pan" />
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
          <button
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoCustomers()"
            type="button"
          >
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
