/* .cdk-overlay-pane{
    width:"70%";
} */
/* .mat-50 {
    width: 100%;
  }
  
  .card {
    margin: 2%;
    text-align: left;
    width: 70%;
    margin-left: 15%;
  }
  .button {
    margin: 2%;
  }
  .mat-content {
    margin-top: 20px;
  }
  .btn-class {
    margin-left: 5px;
  }
  
  .header{
    margin-left: 50%;
  }   
  .card {
    margin: 2%;
    text-align: left;
    width: 70%;
    margin-left: 15%;
  }
  .button {
    margin: 2%;
  }.mat-content {
    margin-top: 20px;
  }
  .btn-class {
    margin-left: 5px;
  }
  
  .header{
    margin-left: 50%;
  } */
.customer-mat-card-header {
  margin-left: 3%;
}
.customer-mat-45 {
  width: 45%;
  margin-left: 3%;
}
/* .form-row {
  padding: 1% 3% !important;
} */
