<h4 class="pac-header">
  {{ isAdding ? "ADD PRIME ACTIVITY" : "EDIT PRIME ACTIVITY" }}
</h4>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-content mat-card-scroll">
        <div class="row" style="padding: 0 15px">
          <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Prime Activity Number</mat-label>
            <input matInput formControlName="primeActivityNumber" type="text" />
            <mat-error
              *ngIf="formData.get('primeActivityNumber')?.hasError('required')"
              >Prime Activity is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-50">
            <mat-label>Prime Activity Description</mat-label>
            <input
              matInput
              formControlName="primeActivityDescription"
              type="text"
            />
            <mat-error
              *ngIf="
                formData.get('primeActivityDescription')?.hasError('required')
              "
              >Prime Activity Description is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="row" style="padding: 0 15px">
          <mat-form-field
            class="example-full-width"
            class="mat-50"
            appearance="outline"
          >
            <mat-label [ngClass]="{ 'error-label': showUomError }">
              Search/Select UOM
            </mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedUom.commonRefValue ? selectedUom.commonRefValue : ''
              "
              (input)="searchUom($event)"
              [formControl]="uom"
              [matAutocomplete]="uomAuto"
            />
            <mat-autocomplete
              #uomAuto="matAutocomplete"
              (optionSelected)="onUOMSelect($event)"
              [displayWith]="displayUom"
            >
              <mat-option
                *ngFor="let option of unitOfMeasurements"
                [value]="option"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>

            <div *ngIf="showUomError" class="error-message">
              Select Service Uom
            </div>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Prime Activity Description Code</mat-label>
            <input matInput formControlName="padCode" type="text" />
            <mat-error *ngIf="formData.get('padCode')?.hasError('required')"
              >Prime Activity Description Code is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45" *ngIf="!isAdding">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">Select Status</mat-option>
              <mat-option
                *ngFor="let element of statuses"
                [value]="element.commonRefKey"
              >
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoPrimeActivities()"
            type="button"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
