.header-cont {
  display: flex;
  padding: 2px 5px;
  border-bottom: 0px solid #b1a6a694;
}

.head-text {
  font-weight: bolder;
  font-size: 20px;
  width: 50%;
  padding: 0;
  margin: 0;
  line-height: 24px;
}

.date-txt {
  font-size: 14px;
  width: 50%;
  text-align: right;
  line-height: 26px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main-head {
  display: flex;
  /* flex-wrap: wrap; */
}

.header-div {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #b1a6a694;
  margin: 20px;
  border-radius: 5px;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
}
.proxy {
  width: 20%;
}
