<section >
  <div class="box">
    <div class="container">
      <div class="form">
        <h2>
          <span class="pe-1">
            <img
              src="../../../assets/sbrLogo.png"
              alt="Not Found"
              height="60"
              width="60"
            />
          </span>
          {{ Titile }}
        </h2>
        <form
          #form="ngForm"
          (ngSubmit)="saveLogin(form)"
          *ngIf="isLogin && !isForgotPassword && !forOtp"
          novalidate
        >
          <div class="input__box">
            <label class="form-label" for="form2Example1"
              >Email or Phone Number<span style="color: red"> * </span></label
            >
            <input
              type="email"
              id="form2Example1"
              class="form-control"
              name="email"
              required
              placeholder="Enter Email or PhoneNumber"
              [(ngModel)]="login.identifier"
              #email="ngModel"
            />
            <div
              *ngIf="!email?.valid && (email?.dirty || email?.touched)"
              class="error"
            >
              <div *ngIf="email.errors?.['required']" class="text-danger">
                Email is required
              </div>
              <div *ngIf="email.errors?.['email']" class="text-danger">
                Invalid Email
              </div>
            </div>
          </div>
          <div class="input__box position-relative">
            <label class="form-label" for="form2Example2"
              >Password<span style="color: red"> * </span></label
            >
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              id="form2Example2"
              class="form-control"
              name="password"
              placeholder="Password"
              [(ngModel)]="login.password"
              required
              #pass="ngModel"
            />
            <i
              class="bi"
              [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"
              (click)="togglePasswordVisibility()"
              style="
                position: absolute;
                right: 18px;
                top: 68%;
                transform: translateY(-50%);
                cursor: pointer;
              "
            ></i>
            <div
              *ngIf="!pass?.valid && (pass?.dirty || pass?.touched)"
              class="error"
            >
              <div *ngIf="pass.errors?.['required']" class="text-danger">
                Password is required
              </div>
            </div>
          </div>

          <div style="text-align: right">
            <a (click)="forgotPassword()" class="btn-btn">Forgot Password?</a>
          </div>
          <div class="row mb-4">
            <div class="input__box" style="text-align: center">
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign in
              </button>
            </div>
          </div>
          <div class="text-center">
            <h5 class="text-danger">{{ showMessage }}</h5>
          </div>
        </form>
        <form
          #form="ngForm"
          *ngIf="
            isForgotPassword || (!isLogin && !forOtp && !this.forNewPassword)
          "
          (ngSubmit)="sendResetPasswordEmail(form)"
          novalidate
        >
          <div class="input__box">
            <label class="form-label" for="forgotPasswordEmail">Email</label>
            <input
              type="email"
              id="forgotPasswordEmail"
              class="form-control"
              name="forgotPasswordEmail"
              required
              placeholder="Enter Email"
              [(ngModel)]="forgotPasswordEmail"
              #forgotPasswordEmailInput="ngModel"
            />
            <div
              *ngIf="
                !forgotPasswordEmailInput?.valid &&
                (forgotPasswordEmailInput?.dirty ||
                  forgotPasswordEmailInput?.touched)
              "
              class="error"
            >
              <div
                *ngIf="forgotPasswordEmailInput.errors?.['required']"
                class="text-danger"
              >
                Email is required
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="input__box" style="text-align: center">
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Continue
              </button>
            </div>
          </div>
          <div class="text-center">
            <h5 class="text-danger">{{ showMessage }}</h5>
          </div>
          <div style="text-align: right">
            <a (click)="backToLogin()" class="btn-btn">Back to Login</a>
          </div>
        </form>
        <form
          #form="ngForm"
          *ngIf="forOtp || (!isForgotPassword && !isLogin && !forNewPassword)"
          (ngSubmit)="verifyOtp(form)"
          novalidate
        >
          <div class="input__box">
            <label class="form-label" for="forgotPasswordEmail">Email</label>
            <input
              type="email"
              id="forgotPasswordEmail"
              class="form-control"
              name="forgotPasswordEmail"
              required
              placeholder="Enter Email"
              [(ngModel)]="forgotPasswordEmail"
              #forgotPasswordEmailInput="ngModel"
            />
            <div
              *ngIf="
                !forgotPasswordEmailInput?.valid &&
                (forgotPasswordEmailInput?.dirty ||
                  forgotPasswordEmailInput?.touched)
              "
              class="error"
            >
              <div
                *ngIf="forgotPasswordEmailInput.errors?.['required']"
                class="text-danger"
              >
                Email is required
              </div>
            </div>
          </div>
          <div class="input__box" *ngIf="otpvalid">
            <label class="form-label" for="otp">Enter OTP</label>
            <input
              type="text"
              id="otp"
              class="form-control"
              name="otp"
              required
              placeholder="Enter OTP"
              [(ngModel)]="otp"
              #otpInput="ngModel"
            />
            <div
              *ngIf="!otpInput?.valid && (otpInput?.dirty || otpInput?.touched)"
              class="error"
            >
              <div *ngIf="otpInput.errors?.['required']" class="text-danger">
                OTP is required
              </div>
            </div>
          </div>
          <div class="row mb-4" *ngIf="otpInvalid">
            <div class="input__box" style="text-align: center">
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Submit
              </button>
            </div>
          </div>
          <div class="text-center" *ngIf="otpInvalid">
            <h5 class="text-danger">{{ showMessage }}</h5>
          </div>
          <div class="input__box position-relative" *ngIf="!otpInvalid">
            <label class="form-label" for="newPassword"
              >Enter New Password<span style="color: red"> * </span></label
            >
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              id="newPassword"
              class="form-control"
              name="newPassword"
              placeholder="Enter New Password"
              [(ngModel)]="newPassword"
              #newPasswordInput="ngModel"
            />
            <i
              class="bi"
              [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"
              (click)="togglePasswordVisibility()"
              style="
                position: absolute;
                right: 18px;
                top: 68%;
                transform: translateY(-50%);
                cursor: pointer;
              "
            ></i>
            <div
              *ngIf="
                !newPasswordInput?.valid &&
                (newPasswordInput?.dirty || newPasswordInput?.touched)
              "
              class="error"
            >
              <div
                *ngIf="newPasswordInput.errors?.['required']"
                class="text-danger"
              >
                Password is required
              </div>
            </div>
          </div>
          <div class="row mb-4" *ngIf="!otpInvalid">
            <div class="input__box" style="text-align: center">
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Confirm
              </button>
            </div>
          </div>
          <div class="text-center" *ngIf="!otpInvalid">
            <h5 class="text-success">{{ showMessage }}</h5>
          </div>
        </form>
        <a href="/privacy-policy" class="privacy-link">Privacy-Policy</a>
      </div>
    </div>
  </div>
</section>
