section {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("../../../../assets/sbr-one-residence.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  position: relative;
}

.container {
  width: 450px;
  display: flex;
  min-height: 400px;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
.form {
  width: 95%;
  height: 100%;
  padding: 20px;
  position: relative;
}

.form .input__box {
  width: 100%;
  margin-top: 10px;
}

.form .input__box input {
  width: 100%;
  color: #000;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form .input__box input::placeholder {
  color: #999;
}

.form .input__box input[type="submit"] {
  color: #666;
  cursor: pointer;
  background: rgba(225, 0, 255, 0.05);
  max-width: 100px;
  font-weight: 600;
  margin-bottom: 20px;
}

.label {
  color: #000;
}
mat-form-field {
  margin-right: 12px;
}

.position-relative {
  position: relative;
}

.position-relative .form-control {
  padding-right: 40px; /* Ensure enough space for the icon */
}

.privacy-link {
  color: #978d8d;
  margin-left: 272px;
}
