<h1 style="text-align: center; padding-top: 20px; color: #295389">
  {{ title }}
</h1>

<form class="example-form">
  <ng-container *ngIf="refernceKey == 'SA'">
    <div class="day-selector" style="display: flex; direction: row">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Type</mat-label>
        <mat-select (selectionChange)="handleStageTypeSelection($event.value)">
          <mat-option *ngFor="let type of stageTypes" [value]="type">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="example-full-width"
        style="padding-left: 10px"
      >
        <mat-label>Select Stage</mat-label>
        <mat-select (selectionChange)="handleStageSelection($event.value)">
          <mat-option *ngFor="let stage of stages" [value]="stage">
            {{ stage.workflowStageName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container *ngIf="refernceKey != 'SA'">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Project</mat-label>
    <input
      type="text"
      matInput
      (input)="getProjects($any($event).target?.value)"
      [formControl]="project"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onProjectSelect($event)"
      [displayWith]="displayFn"
    >
      <mat-option *ngFor="let option of projects" [value]="option">
        {{ option.projectName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  </ng-container>
</form>
<mat-card style="padding: 20px; margin: 20px;">
  <div style="display: flex; direction: row; justify-content: center">
    <div style="width: 35%">
      <mat-card
        style="
          height: 400px;
          padding-top: 0px;
          overflow: auto;
          border: 1px solid rgb(0 0 0 / 18%);
        "
      >
        <mat-form-field appearance="outline" class="search-role">
          <mat-label>Search/Select</mat-label>
          <input
            matInput
            (input)="searchRoleManageOnRoleName($any($event).target?.value)"
          />
        </mat-form-field>
        <div>
          <ng-container
            *ngFor="
              let option of roleManageSearchText
                ? searchedRoleManages
                : roleManages
            "
          >
            <mat-card-content>
              <mat-checkbox
                [checked]="option.isAssigned === 1 ? true : false"
                (click)="onOptionChecked(option)"
                >{{ option.roleName }}</mat-checkbox
              >
            </mat-card-content>
          </ng-container>
        </div>
      </mat-card>
    </div>
    <div
      style="width: 10%; font-size: 2rem; margin: auto 0; text-align: center"
    >
      <i class="bi bi-arrow-left-right"></i>
    </div>
    <div style="width: 35%">
      <mat-card
        style="
          height: 400px;
          padding-top: 0px;
          overflow: auto;
          border: 1px solid rgb(0 0 0 / 18%);
        "
      >
        <mat-form-field appearance="outline" class="search-role">
          <mat-label>Search/Select</mat-label>
          <input
            matInput
            (input)="
              searchcheckedRoleManageOnRoleName($any($event).target?.value)
            "
          />
        </mat-form-field>
        <div>
          <ng-container
            *ngFor="
              let option of checkedRoleManageSearchText
                ? searchedSelectedRoleManage
                : checkedRoleManages
            "
          >
            <mat-card-content>
              <mat-checkbox
                [checked]="option.isAssigned === 1 ? true : false"
                (click)="onOptionChecked(option)"
                >{{ option.roleName }}</mat-checkbox
              >
            </mat-card-content>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
  <ng-container *ngIf="referenceId">
    <div
      style="
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 20px;
      "
    >
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Update
      </button>
    </div>
  </ng-container>
</mat-card>
