<h4 class="header">CUSTOMER CONSUMPTION</h4>

<div class="example-button-row">
  <div>
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On Customer Consumption</mat-label>
      <input
        matInput
        (input)="getCustomerconsumption($any($event).target?.value)"
        placeholder="Enter Customer Consumption Name"
      />
    </mat-form-field>
  </div>

  <div>
    <button
      mat-flat-button
      class="btn-class"
      (click)="addCustomerconsumption()"
      style="background-color: #075477; color: white"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="customerconsumptionData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="customerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Customer Name
          </th>
          <td mat-cell *matCellDef="let customerconsumption">
            {{ customerconsumption.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="currentConsumption">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Current Consumption
          </th>
          <td mat-cell *matCellDef="let customerconsumption">
            {{ customerconsumption.currentConsumption }}
          </td>
        </ng-container>

        <ng-container matColumnDef="consumptionDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Consumption Date
          </th>
          <td mat-cell *matCellDef="let customerconsumption">
            {{ customerconsumption.consumptionMonth }}/{{
              customerconsumption.consumptionYear
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="consumptionType">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Consumption Type
          </th>
          <td mat-cell *matCellDef="let customerconsumption">
            {{ customerconsumption.consumptionType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let customerconsumption">
            <i
              class="bi bi-pencil action-icon me-2"
              (click)="editCustomerconsumption(customerconsumption)"
            ></i>
            <i
              (click)="
                openConfirmDialog(customerconsumption.customerconsumptionId)
              "
              class="bi bi-trash text-danger action-icon me-2"
              style="color: red"
            ></i>
            <i
              (click)="viewCustomerConsumption(customerconsumption)"
              class="bi bi-eye text-primary action-icon"
              style="color: blue"
            ></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let customerconsumption; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
