.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}

.green-amount1 {
  color: green;
  font-weight: bold;
}

.action-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #2d2c2c;
  opacity: 0.6;
  font-size: 20px;
}

