<!-- <div class="pac-header">BOOKING CHARGES</div> -->

<div class="example-button-row">

  <!-- <span class="search-container">
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On Customer Name</mat-label>
      <input
        matInput
        (input)="onSearchBookingName($any($event).target?.value)"
        placeholder="Enter Customer Name"
      />
    </mat-form-field>
  </span> -->
  <span class="search-container">
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On Charge Name</mat-label>
      <input
        matInput
        (input)="onSearchChargeName($any($event).target?.value)"
        placeholder="Enter Charge Name"
      />
    </mat-form-field>
  </span>
  <!-- <span class="search-container">
    <mat-form-field
      
      class="serach-class"
      appearance="outline"
    >
      <mat-label>Search/Select Project</mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </span> -->
  
  <span  *ngIf="roleName === 'sales member'">
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="addBookingForm()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </span>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
      <div class="tab-head">
        <table
          matSort
          mat-table
          [dataSource]="bookingChargesDto"
          class="mat-elevation-z8"
        >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bookingName">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.firstApplicantName}}
          </td>
        </ng-container>

          <ng-container matColumnDef="chargeName">
            <th mat-header-cell *matHeaderCellDef>Charge Name</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.chargeName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="unitName">
            <th mat-header-cell *matHeaderCellDef>Unit Name</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.unitName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="chargeIn">
            <th mat-header-cell *matHeaderCellDef>Charge In</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.strChargeIn }}
            </td>
          </ng-container>

         

          <ng-container matColumnDef="amountCalculated">
            <th mat-header-cell *matHeaderCellDef>Amount Calculated</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.strAmountCalculate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.projectName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef>Floor</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phase">
            <th mat-header-cell *matHeaderCellDef>Phase</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.strPhase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let charge" [ngClass]="{ 'green-amount': charge.amount > 0 }">
              {{ charge.amount | currency : "INR"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="discountPercentage">
            <th mat-header-cell *matHeaderCellDef>Discount Percentage(%)</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.discountPercentage }}
            </td>
          </ng-container>

          <ng-container matColumnDef="discountAmount">
            <th mat-header-cell *matHeaderCellDef>Discount Amount</th>
            <td mat-cell *matCellDef="let charge" [ngClass]="{ 'green-amount': charge.discountAmount > 0 }">
              {{ charge.discountAmount | currency : "INR"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="amountAfterDiscount">
            <th mat-header-cell *matHeaderCellDef>Amount After Discount</th>
            <td mat-cell *matCellDef="let charge" [ngClass]="{ 'green-amount1': charge.amountAfterDiscount > 0 }">
              {{ charge.amountAfterDiscount | currency : "INR" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let charge">
              {{ charge.status }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let charge">
              <!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <i class="bi bi-pencil" style="cursor: pointer" (click)="editApplicantInfo(charge)"></i>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
              
              <mat-icon
              matTooltip="Edit"
              (click)="editApplicantInfo(charge)"
              class="font icon-spacing action-icon"
              >edit</mat-icon>
              
                
            </td>
            
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            class="table-row"
            mat-row
            *matRowDef="
              let charge of bookingChargesDto;
              columns: displayedColumns
            "
          ></tr>
        </table>
      </div>

      <!-- Save Button -->
      <!-- <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div> -->
    
    
  </mat-card-content>

  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalPages"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
