<div class="lead-header">Total Leads</div>

<div class="example-button-row">
  <div class="search-container"></div>

  <div class="button-container"></div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div>
      <table
        matSort
        mat-table
        [dataSource]="totalLeads"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="opportunityId">
          <th mat-header-cell *matHeaderCellDef>Opportunity Id</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.opportunityId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.phoneNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.projectName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sourceName">
          <th mat-header-cell *matHeaderCellDef>Source Name</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.sourceName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="subSourceName">
          <th mat-header-cell *matHeaderCellDef>SubSource Name</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.subSourceName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="assignedToPresales">
          <th mat-header-cell *matHeaderCellDef>AssignedTo Presales</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.assignedToPresales }}
          </td>
        </ng-container>

        <ng-container matColumnDef="assignedToSales">
          <th mat-header-cell *matHeaderCellDef>Assigned ToSales</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.assignedToSales }}
          </td>
        </ng-container>

        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef>Budget</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.budget }}
          </td>
        </ng-container>

        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef>Campaign Name</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.campaignName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unitName">
          <th mat-header-cell *matHeaderCellDef>Unit Name</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.unitName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isProcessed">
          <th mat-header-cell *matHeaderCellDef>Is Processed</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.isProcessed }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let totalLead">
            {{ totalLead.status }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="let totalLead of totalLeads; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
