.table-content-rgt {

  text-align: right;
}
.download-button {
  width: 150px;
  color: white;
  background-color: #004869;
}
@media screen and (max-device-width: 480px) {
  .download-button {
    width: 115px;
    font-size: 12px;
  }
  .head {
    font-size: 14px;
  }
  .table-head {
    padding: 10px;
  }
}
@media screen and (max-device-width: 1024px) {
  .mat-45 {
    width: 30%;
  }
}
