<h4 class="header">
  <div class="cpr-mat-card-header">
    <b>{{ isAdding ? "ADD CHANNEL PARTNER" : "UPDATE CHANNEL PARTNER" }}</b>
  </div>
</h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content class="cpr-mat-card-content scrollable-content">
        <br />
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Owner Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error *ngIf="formData.get('name')?.hasError('required')">
            Owner Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Registration Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (click)="picker.open()"
            formControlName="registeredDate"
            [min]="isAdding ? minDate : null"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <mat-error
            *ngIf="formData.get('registeredDate')?.hasError('required')"
          >
            Registered Date is required
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Date Of Birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            (click)="picker1.open()"
            formControlName="dateOfBirth"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <!-- <mat-error *ngIf="formData.get('dateOfBirth')?.hasError('required')">
            Date Of Birth is required
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="formData.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="formData.get('email')?.hasError('email')">
            Invalid Email
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
          <mat-error *ngIf="formData.get('password')?.hasError('required')">
            Password is required
         </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Owner Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" required />
          <mat-error
            *ngIf="
              formData.get('phoneNumber')?.invalid &&
              (formData.get('phoneNumber')?.dirty ||
                formData.get('phoneNumber')?.touched)
            "
          >
            <span *ngIf="formData.get('phoneNumber')?.errors?.['required']">
              Contact number required.
            </span>
            <span
              *ngIf="
              formData.get('phoneNumber')?.errors?.['length'] ||
              formData.get('phoneNumber')?.value?.length !== 10
            "
            >
              Phone number must be 10 digits.
            </span>
            <!-- Error for pattern mismatch -->
            <span
              *ngIf="
              formData.get('phoneNumber')?.errors?.['pattern'] &&
              formData.get('phoneNumber')?.value?.length === 10
            "
            >
              Phone number must start with 6, 7, 8, or 9.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Alternate Phone Number</mat-label>
          <input matInput formControlName="alternatePhoneNumber" />
          <!-- <mat-error *ngIf="formData.get('officeNumber')?.hasError('pattern')">
            Invalid Number
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Office Number</mat-label>
          <input matInput formControlName="officeNumber" />
          <mat-error *ngIf="formData.get('officeNumber')?.hasError('required')">
            Office Number is required
          </mat-error>
          <mat-error *ngIf="formData.get('officeNumber')?.hasError('pattern')">
            Invalid Number
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Rera Number</mat-label>
          <input matInput formControlName="reraNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>RERA File</mat-label>
          <input
            matInput
            formControlName="reraUrl"
            [attr.placeholder]="'Choose File'"
            [attr.type]="'text'"
            [attr.readonly]="true"
            (click)="reraFileInput.click()"
            [value]="fileNames.rera || 'No file chosen'"
          />
          <input
            type="file"
            #reraFileInput
            (change)="onReraChange($event)"
            style="display: none"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="reraFileInput.click()"
            type="button"
          >
            <mat-icon>attach_file</mat-icon>
          </button>

          <div *ngIf="fileErrors.rera && isAdding" style="color: red">
            {{ fileErrors.rera }}
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>RERA Expire date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            (click)="picker2.open()"
            formControlName="reraExpDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <!-- <mat-error *ngIf="formData.get('reraExpDate')?.hasError('required')">
            RERA Expire date is required
          </mat-error>
          <mat-error
            *ngIf="formData.get('reraExpDate')?.hasError('dateInPast')"
          >
            RERA already Expired
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Owner Aadhar</mat-label>
          <input
            matInput
            formControlName="aadharUrl"
            [attr.placeholder]="'Choose File'"
            [attr.type]="'text'"
            [attr.readonly]="true"
            (click)="ownerAadharFileInput.click()"
            [value]="fileNames.ownerAadhar || 'No file chosen'"
          />
          <input
            type="file"
            #ownerAadharFileInput
            (change)="onOwnerAadharCardFileChange($event)"
            style="display: none"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="ownerAadharFileInput.click()"
            type="button"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Aadhar Number</mat-label>
          <input matInput formControlName="aadharNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Owner PanCard</mat-label>
          <input
            matInput
            formControlName="panUrl"
            [attr.placeholder]="'Choose File'"
            [attr.type]="'text'"
            [attr.readonly]="true"
            (click)="ownerPanCardFileInput.click()"
            [value]="fileNames.ownerPanCard || 'No file chosen'"
          />
          <input
            type="file"
            #ownerPanCardFileInput
            (change)="onOwnerPanCardFileChange($event)"
            style="display: none"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="ownerPanCardFileInput.click()"
            type="button"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Pan Number</mat-label>
          <input matInput formControlName="panNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Gst Certificate</mat-label>
          <input
            matInput
            formControlName="gstCertificateUrl"
            [attr.placeholder]="'Choose File'"
            [attr.type]="'text'"
            [attr.readonly]="true"
            (click)="gstCertificateFileInput.click()"
            [value]="fileNames.gstCertificate || 'No file chosen'"
          />
          <input
            type="file"
            #gstCertificateFileInput
            (change)="onGstCertificateFileChange($event)"
            style="display: none"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="gstCertificateFileInput.click()"
            type="button"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
          <div *ngIf="fileErrors.gst && isAdding" style="color: red">
            {{ fileErrors.gst }}
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Gst Number</mat-label>
          <input matInput formControlName="gstNumber" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Id Proofs</mat-label>
          <mat-select formControlName="idProofs" multiple>
            <mat-option *ngFor="let option of idProof" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Id Proof Number</mat-label>
          <input matInput formControlName="idProofNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="companyName" required />
          <mat-error *ngIf="formData.get('companyName')?.hasError('required')">
            Company Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Company Website</mat-label>
          <input matInput formControlName="companyWebsite" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="cpr-mat-50">
          <mat-label>Page Url</mat-label>
          <input matInput formControlName="pageUrl" />
        </mat-form-field>
        <mat-checkbox formControlName="showAdditionalFields">
          Behalf of Owner
        </mat-checkbox>
        <!-- <mat-slide-toggle
          [(ngModel)]="isToggled"
          (change)="onToggle($event)"
          formControlName="isToggled"
          >Need Call Support?</mat-slide-toggle
        > -->

        <!-- Conditionally render additional fields based on the checkbox value -->
        <div *ngIf="formData.get('showAdditionalFields')?.value">
          <mat-card-header class="cpr-mat-card-header">
            <b>Person Details</b>
          </mat-card-header>
          <br />
          <mat-form-field appearance="outline" class="cpr-mat-50">
            <mat-label>Name</mat-label>
            <input matInput formControlName="personName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cpr-mat-50">
            <mat-label>Email</mat-label>
            <input matInput formControlName="personemail" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cpr-mat-50">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="personPhoneNumber" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cpr-mat-50">
            <mat-label>Person Aadhar</mat-label>
            <input
              matInput
              formControlName="personUrl"
              [attr.placeholder]="'Choose File'"
              [attr.type]="'text'"
              [attr.readonly]="true"
              (click)="personAadharFileInput.click()"
              [value]="fileNames.personAadhar || 'No file chosen'"
            />
            <input
              type="file"
              #personAadharFileInput
              (change)="onPersonAadharFileChange($event)"
              style="display: none"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="personAadharFileInput.click()"
              type="button"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
            <mat-error
              *ngIf="
                fileErrors.personAadhar &&
                formData.get('showAdditionalFields')?.value
              "
            >
              {{ fileErrors.personAadhar }}
            </mat-error>
            <mat-error
              *ngIf="
                !fileNames.personAadhar &&
                formData.get('showAdditionalFields')?.value
              "
            >
              Please upload Person Aadhar file
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="cpr-mat-50">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div style="text-align: right" class="button">
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoCpRegister()"
          >
            Back
          </button>
          <button mat-flat-button class="btn-class warn" (click)="clearForm()">
            RESET
          </button>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
