<h4 class="header">Employee</h4>

<div class="example-button-row">
  <div class="search-container">

    <mat-form-field
    appearance="outline"
    class="serach-class"
    style="margin-left: 30px"
  >
    <mat-label>Search On Employee Name</mat-label>
    <input
      [formControl]="searchControl"
      matInput
      (input)="onSearch($any($event).target?.value)"
      placeholder="Enter Employee Name"
    />
  </mat-form-field>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="employeeApproveArray"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="employeeId">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Employee Id
          </th>
          <td mat-cell *matCellDef="let employee">
            {{ employee.employeeId }}
          </td>
        </ng-container>
        <!-- First Name -->
        <!-- Full Name -->
        <ng-container matColumnDef="employeeName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Employee Name
          </th>
          <td mat-cell *matCellDef="let employee">
            {{ employee.empFirstName }}{{ employee.empLastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dateOfJoining">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Date Of Joining
          </th>
          <td mat-cell *matCellDef="let employee">
            {{ employee.employeeDoj }}
          </td>
        </ng-container>

        <ng-container matColumnDef="designation">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Designation
          </th>
          <td mat-cell *matCellDef="let employee">
            {{ employee.designation }}
          </td>
        </ng-container>

        <ng-container matColumnDef="workflowStageName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Stage
          </th>
          <td mat-cell *matCellDef="let employee">
            {{ employee.workflowStageName }}
          </td>
        </ng-container>

        <!-- Phone Number -->
        <ng-container matColumnDef="workFlowStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let employee">
            {{ employee.workFlowStatus }}
          </td>
        </ng-container>
        <ng-container matColumnDef="viewAndApprove">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            View And Approve
          </th>
          <td mat-cell *matCellDef="let employee">
            <mat-icon
              matTooltip="Click to view details"
              class="font"
              (click)="goToApprove(employee.empId)"
            >
              visibility
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
   <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer> 
</mat-card>
