.icon-spacing {
  margin-right: 0.5rem !important;
}
/* .button-row {
  padding: 0 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  flex-grow: 1;
}
.button-container {
  margin-right: 3%;
}
.serach-class {
  width: 30%;
}
.font {
  font-size: 20px;
  cursor: pointer;
}

.head {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 1%;
}

.mat-content {
  margin: 0% 3% 3% 3%;
}

.btn-class-add {
  color: white;
  background-color: #075477;
  margin-left: 4%;
}
.btn-class-back {
  color: white;
  background-color: rgb(97, 97, 38);
} */
.search-container {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

/* .search-class {
  width: 30%;
} */
.ml-4 {
  margin: 0 20px;
  width: 70%;
}
.example-button-row {
  display: flex;
  justify-content: flex-start;
}
