<h4 class="header">
  <b>{{ isAdding ? "ADD EMPLOYEE ASSETS" : "UPDATE EMPLOYEE ASSETS" }}</b>
</h4>
<form
  [class.blur-background]="isModalVisible"
  [formGroup]="formData"
  (ngSubmit)="save()"
>
  <div class="example-container add-lead-main">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-card-content mat-card-scroll">
        <div class="form-row">
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Asset Category</mat-label>
            <mat-select formControlName="assetCategory" (selectionChange)="onCategoryChange($event)">
              <mat-option
                *ngFor="let item of assetCategoryList"
                [value]="item.commonRefValue"
                [disabled]="isView"
              >
                {{ item.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <div *ngIf="showOtherCategory">
            <mat-form-field appearance="outline" class="input-field-33" style="margin-right: 10px;">
              <mat-label>Enter Asset Category</mat-label>
              <input matInput formControlName="assetCategory" placeholder="Specify other category" />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Asset Name</mat-label>
            <input matInput formControlName="assetName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Asset Serial Number</mat-label>
            <input matInput formControlName="assetSerialNumber" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Purchase Date</mat-label>
            <input
              matInput
              [matDatepicker]="purchaseDate"
              formControlName="purchaseDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="purchaseDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #purchaseDate></mat-datepicker>
          </mat-form-field>


          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Asset Condition</mat-label>
            <input matInput formControlName="assetCondition" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Allocated Count</mat-label>
            <input matInput formControlName="allocatedCount" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Warranty Expiry Date</mat-label>
            <input
              matInput
              [matDatepicker]="warrantyExpiryDate"
              formControlName="warrantyExpiryDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="warrantyExpiryDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #warrantyExpiryDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Purchase Price</mat-label>
            <input matInput formControlName="purchasePrice" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Supplier Name</mat-label>
            <input matInput formControlName="supplierName" />
          </mat-form-field>

        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" />
          </mat-form-field>

<!--
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Damage Type</mat-label>
            <input matInput formControlName="damageType" />
          </mat-form-field> -->
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
          <button
            mat-flat-button
            type="button"
            class="btn-class warn"
            (click)="clearForm()"
          >
            RESET
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoAsserts()"
          >
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
