<div class="customer-dashboard">
  <div class="cards">
    <mat-card class="mat-card" (click)="navigateToUnitDetails()">
      <div class="mat-card-hdiv">
        <i class="bi bi-house-add-fill" style="font-size: 30px"></i>
        <h3 class="cardtitle">Unit Details</h3>
      </div>
    </mat-card>
    <mat-card class="mat-card" (click)="navigateToStagesAndPayments()">
      <div class="mat-card-hdiv">
        <i class="bi bi-credit-card" style="font-size: 30px"></i>
        <h3 class="cardtitle">Stages And Payments</h3>
      </div>
    </mat-card>
    <mat-card class="mat-card" (click)="navigateToCustomerPayments()">
      <div class="mat-card-hdiv">
        <i class="bi bi-credit-card-2-front-fill" style="font-size: 30px"></i>
        <h3 class="cardtitle">Customer Payments</h3>
      </div>
    </mat-card>
    <mat-card class="mat-card" (click)="navigateToDisplayDocuments()">
      <div class="mat-card-hdiv">
        <i class="bi bi-folder-fill" style="font-size: 30px"></i>
        <h3 class="cardtitle">Documents</h3>
      </div>
    </mat-card>
    <mat-card class="mat-card" (click)="navigateToCustomerLead()">
      <div class="mat-card-hdiv">
        <i class="bi bi-folder-fill" style="font-size: 30px"></i>
        <h3 class="cardtitle">Leads</h3>
      </div>
    </mat-card>
  </div>
</div>
