.customer-dashboard {
  width: 80%;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: left;
  padding: 15px;
  flex-wrap: wrap;
  height: 204px;
  margin-top: 70px;
}
.mat-card {
  flex: 1;
  justify-content: center;
  border: 0px solid #b1a6a694;
  margin: 8px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
  position: static;
  box-shadow: 6px 11px 41px -28px #a99de7;
  background: rgba(8, 160, 75, 0.8);
}

.mat-card-hdiv {
  width: 100%;
  /* display: flex; */
  justify-content: center;
  text-align: center;
}
.cardtitle {
  margin-top: 15px;
  margin-bottom: 0px;
}
@media screen and (max-device-width: 480px) {
  .customer-dashboard {
    width: 70%;
  }
  .cards {
    display: block;
    height: auto;
    margin-top: 20px;
  }
  .mat-card {
    margin-bottom: 20px !important;
  }
  .mat-card-hdiv {
    padding: 15px;
  }
  .cardtitle {
    margin-top: 10px;
    font-size: 13px;
  }
}
