mat-card {
  overflow-x: scroll;
  height: 68vh;
  margin: 15px 2% 0;
}

.tree-table {
  width: 100%;
  border-collapse: collapse;
}

.tree-table th,
.tree-table td {
  padding: 10px;
  border: 1px solid rgb(185, 183, 183);
}

.tree-table .row-heads {
  background-color: #b8e6fb;
  text-align: center;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1;
}

.head {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.menu-icon {
  vertical-align: middle;
  font-size: 25px;
  padding-right: 2rem;
}
.example-form {
  margin-top: 40px;
  margin: auto;
  display: flex;
  direction: row;
  flex-wrap: wrap;
}
.example-form > div {
  flex: 1 1 calc(10% - 10px);
  min-width: 100px;
  box-sizing: border-box;
}

.example-full-width {
  width: 100%;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}
.menuItemList {
  height: 35px;
  padding-left: 5px;
}
.main-row-active {
  background-color: #c6ebc5;
}
.child-row-active {
  background-color: #aad7d9;
}
.sub-child-row-active {
  background-color: #f4edcc;
}
