.pac-header {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 1% !important;
  }
  .mat-45 {
    margin-left: 10px;
  }
  .ml-2 {
    margin-left: 0.3%;
  }
  /* .button-row {
    padding: 0 2%;
    justify-content: space-between;
  } */
  
  /* .search-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 2%;
  } */
  
  /* .search-class {
    width: 15%;
  }
  
  .search-class-owner {
    width: 15%;
  } */
  
  .search-class-stage {
    width: 30%;
  }
  .Completed {
    color: green;
    font-weight: bold;
  }
  
  .Pending {
    color: rgb(173, 19, 19);
    font-weight: bold;
  }
  
  .Not {
    color: rgb(185, 123, 6);
    font-weight: bold;
  }
  
  .work-order-icon {
    height: 18px !important;
    width: 25px !important;
    font-size: 18px !important;
  }
  .radio-button {
    color: #004869;
    font-size: 15px;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .pending {
    color: rgb(34, 34, 164);
    font-weight: bold;
  }
  
  .approved {
    color: green;
    font-weight: bold;
  }
  
  .rejected {
    color: rgb(173, 19, 19);
    font-weight: bold;
  }
  
  .search-class-status {
    width: 10.5%;
  }
  .search-class-date {
    width: 17%;
  }
  .filters-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .clear-date-div {
    color: white;
    cursor: pointer;
    border: 1px solid #333;
    height: 26px !important;
    font-size: 25px;
    background: #fff;
    width: 30px;
    margin-left: -85px;
    text-align: center;
    border-radius: 4px;
    background-color: #004869;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .advanceSearch{
    margin-left: 10px;
  }
  ::ng-deep mat-menu {
    min-width: 200px !important; /* Adjust the min-width to your preferred size */
  }
  
  ::ng-deep mat-menu mat-menu-item {
    padding: 5px 20px !important; /* Add 20px padding on both sides */
  }
  
  ::ng-deep mat-menu .menu-icon {
    margin-right: 10px; /* Optional: adds space between icon and text */
  }
  
  ::ng-deep mat-menu .menu-label {
    white-space: nowrap; /* Prevents the text from wrapping */
  }
  