.card {
  margin: 0px;
  width: 80%;
  margin: auto;
  padding: 10px;
  height: 80vh;
  overflow-y: auto;
}

.mat-45 {
  width: 50%;
}
.mat-40 {
  width: 49%;
}
.mat-42 {
  margin-left: 18px;
  width: 49%;
}
