.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.action-icon {
  margin-right: 2px;
  cursor: pointer;
  color: #2d2c2c8c;
  /* opacity: 0.6; */
  font-size: 18px;
}
.blue-amount {
  color: rgb(34, 34, 164);
  font-weight: bold;
}

.green-amount {
  color: green;
  font-weight: bold;
}
