<!-- <div class="pac-header">CUSTOMER INSTALLMENTS</div> -->

<div class="example-button-row">
  <mat-form-field class="search-class ml-2" appearance="outline">
    <mat-label>Search/Select Stages</mat-label>
    <input
      type="text"
      matInput
      [formControl]="stageFc"
      (input)="searchStage($event)"
      [matAutocomplete]="stageAuto"
    />
    <mat-autocomplete
      #stageAuto="matAutocomplete"
      (optionSelected)="onStageSelect($event)"
      [displayWith]="displayStage"
    >
      <mat-option *ngFor="let option of stages" [value]="option">
        {{ option.stageName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <span class="search-container">
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On Stage Order</mat-label>
      <input
        matInput
        (input)="onSearchStageOrder($any($event).target?.value)"
        placeholder="Enter Stage Order"
      />
    </mat-form-field>
  </span>

  <mat-form-field appearance="outline" class="search-class-status ml-2">
    <mat-label>Initiated</mat-label>
    <mat-select
      [(value)]="initiated"
      (selectionChange)="onInitiateChange($event)"
    >
      <mat-option value="">All</mat-option>
      <mat-option
        *ngFor="let element of initiate"
        [value]="element.commonRefKey"
      >
        {{ element.commonRefValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span *ngIf="roleName === 'sales member'">
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="addBookingForm()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </span>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="customerStagesDto"
        class="mat-elevation-z8"
      >
        <!-- <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="bookingCode">
          <th mat-header-cell *matHeaderCellDef>Booking Code</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.bookingCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bookingName">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.bookingName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="stageName">
          <th mat-header-cell *matHeaderCellDef>Stage Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.stageName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="planName">
          <th mat-header-cell *matHeaderCellDef>Plan Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.planName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="stageOrder">
          <th mat-header-cell *matHeaderCellDef>Stage Order</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.stageOrder }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unitName">
          <th mat-header-cell *matHeaderCellDef>Unit Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.unitName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="landOwnerOrBuilder">
          <th mat-header-cell *matHeaderCellDef>Unit Belongs To</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.landOwnerOrBuilder }}
          </td>
        </ng-container>

        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef>percentage(%)</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.percentage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expectedAmount">
          <th mat-header-cell *matHeaderCellDef>Expected Amount</th>
          <td
            mat-cell
            *matCellDef="let charge"
            [ngClass]="{ 'green-amount': charge.formattedExpectedAmount }"
          >
            {{ charge.formattedExpectedAmount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="TDS">
          <th mat-header-cell *matHeaderCellDef>TDS</th>
          <td
            mat-cell
            *matCellDef="let charge"
            style="font-weight: bold"
            [ngClass]="{ 'gree-amount': charge.formattedTdsAmount }"
          >
            {{ charge.formattedTdsAmount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="initiated">
          <th mat-header-cell *matHeaderCellDef>Initiated</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.initiated }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let stage">
            <mat-icon
              *ngIf="stage.isLastInitiated == 'Yes'"
              matTooltip="Generate"
              (click)="generateIndividualDemandLetter(stage.bookingId)"
              class="action-icon"
              >manage_history</mat-icon
            >
            <mat-icon
              *ngIf="stage.demandLetter"
              matTooltip="Verify Demand Letter"
              (click)="downloadDocument(stage.demandLetter)"
              class="action-icon"
              >download</mat-icon
            >

            <mat-icon
              matTooltip="View Demand Letter"
              (click)="viewDocument(stage.demandLetter)"
              class="action-icon"
              *ngIf="stage.demandLetter"
            >
              visibility
            </mat-icon>
            <mat-icon
              *ngIf="stage.isLastInitiated == 'Yes'"
              matTooltip="Send Email"
              (click)="sendEmail(stage.bookingId, stage.stageId)"
              class="action-icon"
              >send</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="
            let charge of customerStagesDto;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>

    <!-- Save Button -->
    <!-- <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div> -->
  </mat-card-content>

  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
