<h4 class="header">
  <b>Approve</b>
</h4>

<mat-horizontal-stepper #stepper>
  <!-- Step 1: Basic Details -->
  <mat-step [stepControl]="employeeBasicDetails" label="Basic Details">
    <form
      *ngIf="employeeBasicDetails"
      [class.blur-background]="isModalVisible"
      [formGroup]="employeeBasicDetails"
    >
      <div class="example-container add-lead-main">
        <div class="section-container">
          <h3 class="section-title">Employee Basic Details</h3>

          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Employee Number</mat-label>
              <input matInput formControlName="employeeId" [readonly]="true" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" [readonly]="true" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" [readonly]="true" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" [readonly]="true" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" [readonly]="true" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                [matDatepicker]="dobPicker"
                formControlName="dateOfBirth"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dobPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dobPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" [readonly]="true" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>State</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectOption">
                <input
                  matInput
                  formControlName="state"
                  [readonly]="isReadOnly"
                />
              </ng-container>

              <ng-template #selectOption>
                <mat-select formControlName="state">
                  <mat-option
                    *ngFor="let state of indianStates"
                    [value]="state"
                  >
                    {{ state }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCode" [readonly]="true" />
            </mat-form-field>
          </div>
        </div>

        <div class="section-container">
          <h3 class="section-title">Employee Personal Details</h3>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Enter Aadhaar/Pan Id</mat-label>
              <input matInput formControlName="nationalId" [readonly]="true" />
            </mat-form-field>

            <!-- Gender Field -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Gender</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectGender">
                <input
                  matInput
                  formControlName="gender"
                  [readonly]="isReadOnly"
                />
              </ng-container>

              <ng-template #selectGender>
                <mat-select formControlName="gender" [disabled]="isReadOnly">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Marital Status Field -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Marital Status</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectMaritalStatus">
                <input
                  matInput
                  formControlName="maritalStatus"
                  [readonly]="isReadOnly"
                />
              </ng-container>

              <ng-template #selectMaritalStatus>
                <mat-select
                  formControlName="maritalStatus"
                  [disabled]="isReadOnly"
                >
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Married">Married</mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Religion</mat-label>
              <input matInput formControlName="religion" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Cast</mat-label>
              <input matInput formControlName="cast" [readonly]="true" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Blood Group</mat-label>
              <input matInput formControlName="bloodGroup" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Height</mat-label>
              <input matInput formControlName="height" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Weight</mat-label>
              <input matInput formControlName="weight" [readonly]="true" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Identification Mark</mat-label>
              <input
                matInput
                formControlName="identificationMark"
                [readonly]="true"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Father Name</mat-label>
              <input matInput formControlName="fatherName" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Spouse Name</mat-label>
              <input matInput formControlName="spouseName" [readonly]="true" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Marriage Date</mat-label>
              <input
                matInput
                [matDatepicker]="domPicker"
                formControlName="marriageDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="domPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #domPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Nationality</mat-label>
              <input matInput formControlName="nationality" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" [readonly]="true" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Personal Email</mat-label>
              <input
                matInput
                formControlName="personalEmail"
                [readonly]="true"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Emergency Contact Name</mat-label>
              <input
                matInput
                formControlName="emergencyContactName"
                [readonly]="true"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>emergency Contact Number</mat-label>
              <input
                matInput
                formControlName="emergencyContactNumber"
                [readonly]="true"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Police Station Limits</mat-label>
              <input
                matInput
                formControlName="policeStationLimits"
                [readonly]="true"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Age</mat-label>

              <input matInput formControlName="age" [readonly]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Place Of Birth</mat-label>
              <input
                matInput
                formControlName="plcaeOfBirth"
                [readonly]="true"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-radio-group formControlName="physicallyChallenged">
              <mat-label>Physically Challenged</mat-label>
              <mat-radio-button value="Yes" [disabled]="true"
                >Yes</mat-radio-button
              >
              <mat-radio-button value="No" [disabled]="true"
                >No</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div class="form-row">
            <mat-radio-group
              formControlName="stepperOneStatus"
              class="input-field-33"
            >
              <mat-label>Approval Status</mat-label>
              <mat-radio-button [value]="1" class="approved"
                >Approved</mat-radio-button
              >
              <mat-radio-button [value]="2" class="rejected"
                >Rejected</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
        <mat-card-footer class="add-mat-card-footer">
          <div>
            <!-- Next button will be enabled only if the form is valid -->
            <button
              mat-flat-button
              class="btn-class primary"
              [disabled]="!employeeBasicDetails.valid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="employeeBasicDetails" label="Position Details">
    <form
      *ngIf="employeeBasicDetails"
      [class.blur-background]="isModalVisible"
      [formGroup]="employeeBasicDetails"
    >
      <div class="example-container add-lead-main">
        <div class="section-container">
          <h3 class="section-title">Employee Joining And Position Details</h3>
          <div class="form-row">
            <!-- Date of Joining -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Date of Joining</mat-label>
              <input
                matInput
                [matDatepicker]="dojPicker"
                formControlName="dateOfJoining"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dojPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dojPicker></mat-datepicker>
            </mat-form-field>

            <!-- Reporting Manager -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Reporting Manager</mat-label>
              <ng-container *ngIf="isReadOnly; else selectReportingManager">
                <!-- Input Field for Reporting Manager when isReadOnly is true -->
                <input
                  matInput
                  formControlName="reportingManager"
                  [readonly]="isReadOnly"
                  [value]="selectedManager?.userName"
                />
              </ng-container>

              <!-- Dropdown (mat-select) for Reporting Manager when isReadOnly is false -->
              <ng-template #selectReportingManager>
                <mat-select
                  formControlName="reportingManager"
                  [disabled]="isReadOnly"
                >
                  <mat-option *ngFor="let user of users" [value]="user.userId">
                    {{ user.userName }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Search/Select Project -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Project</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectProject">
                <input
                  matInput
                  formControlName="projectAssigned"
                  [readonly]="isReadOnly"
                  [value]="selectedProject.projectName"
                />
              </ng-container>

              <ng-template #selectProject>
                <mat-select
                  formControlName="projectAssigned"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let option of project"
                    [value]="option.projectId"
                  >
                    {{ option.projectName }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>
          </div>

          <div class="form-row">
            <!-- Employee Status -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Employee Status</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectEmployeeStatus">
                <input
                  matInput
                  formControlName="employeeStatus"
                  [readonly]="isReadOnly"
                  [value]="selectedEmployeeStatus?.commonRefValue"
                />
              </ng-container>

              <ng-template #selectEmployeeStatus>
                <mat-select
                  formControlName="employeeStatus"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let status of employeeStatusList"
                    [value]="status.commonRefValue"
                  >
                    {{ status.commonRefValue }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Department -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Department</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectDepartment">
                <input
                  matInput
                  formControlName="department"
                  [readonly]="isReadOnly"
                  [value]="selectedDepartment?.commonRefValue"
                />
              </ng-container>

              <ng-template #selectDepartment>
                <mat-select
                  formControlName="department"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let dept of departmentList"
                    [value]="dept.id"
                  >
                    {{ dept.commonRefValue }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Shift -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Shift</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectShift">
                <input
                  matInput
                  formControlName="shiftId"
                  [readonly]="isReadOnly"
                  [value]="selectedShift?.commonRefValue"
                />
              </ng-container>

              <ng-template #selectShift>
                <mat-select formControlName="shiftId" [disabled]="isReadOnly">
                  <mat-option
                    *ngFor="let status of shiftIdList"
                    [value]="status.id"
                  >
                    {{ status.commonRefValue }}
                    <!-- Display shift name in dropdown -->
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>
          </div>

          <div class="form-row">
            <!-- Rotational Shift -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Rotational Shift</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectRotationalShift">
                <input
                  matInput
                  formControlName="shift"
                  [readonly]="isReadOnly"
                />
              </ng-container>

              <ng-template #selectRotationalShift>
                <mat-select formControlName="shift" [disabled]="isReadOnly">
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Work Location -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Work Location</mat-label>
              <input
                matInput
                formControlName="workLocation"
                [disabled]="isReadOnly"
              />
            </mat-form-field>

            <!-- Role -->

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Role</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectRole">
                <input
                  matInput
                  formControlName="employeeRoleId"
                  [readonly]="isReadOnly"
                  [value]="selectedRole?.roleName"
                />
              </ng-container>

              <ng-template #selectRole>
                <mat-select
                  formControlName="employeeRoleId"
                  [disabled]="isReadOnly"
                >
                  <mat-option *ngFor="let role of roles" [value]="role.roleId">
                    {{ role.roleName }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>
          </div>

          <div class="form-row">
            <!-- Date of Resignation -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Date of Resignation</mat-label>
              <input
                matInput
                [matDatepicker]="dorPicker"
                formControlName="dateOfResignation"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dorPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dorPicker></mat-datepicker>
            </mat-form-field>

            <!-- Notice Period End Date -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Notice Period End Date</mat-label>
              <input
                matInput
                [matDatepicker]="npedPicker"
                formControlName="noticePeriodEndDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="npedPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #npedPicker></mat-datepicker>
            </mat-form-field>
            <!-- Last Working Day -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Last Working Day</mat-label>
              <input
                matInput
                [matDatepicker]="lwdPicker"
                formControlName="lastWorkingDay"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="lwdPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #lwdPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-row">
            <!-- Division -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Division</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectDivision">
                <input
                  matInput
                  formControlName="divisionId"
                  [readonly]="isReadOnly"
                  [value]="selectedDivision?.commonRefValue"
                />
              </ng-container>

              <ng-template #selectDivision>
                <mat-select
                  formControlName="divisionId"
                  [disabled]="isReadOnly"
                >
                  <mat-option *ngFor="let div of divisionList" [value]="div.id">
                    {{ div.commonRefValue }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Costcenter -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Costcenter</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectCostCenter">
                <input
                  matInput
                  formControlName="costCenterId"
                  [readonly]="isReadOnly"
                  [value]="selectedCostCenter?.commonRefValue"
                />
              </ng-container>

              <ng-template #selectCostCenter>
                <mat-select
                  formControlName="costCenterId"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let cost of costCenterList"
                    [value]="cost.id"
                  >
                    {{ cost.commonRefValue }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Probation Period -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Probation Period</mat-label>
              <input
                matInput
                formControlName="probationPeriod"
                [disabled]="isReadOnly"
              />
            </mat-form-field>
          </div>

          <div class="form-row">
            <!-- Refered By -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Referred By</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectReferredBy">
                <input
                  matInput
                  formControlName="referredBy"
                  [readonly]="isReadOnly"
                  [value]="
                    referedByEmployee?.firstName +
                    ' ' +
                    referedByEmployee?.lastName
                  "
                />
              </ng-container>

              <ng-template #selectReferredBy>
                <mat-select
                  formControlName="referredBy"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let option of employeeData"
                    [value]="option.id"
                  >
                    {{ option.firstName }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Grade Id</mat-label>

              <!-- Conditionally display mat-select or mat-input based on isReadOnly -->
              <ng-container *ngIf="isReadOnly; else selectGrade">
                <input
                  matInput
                  formControlName="gradeId"
                  [readonly]="isReadOnly"
                  [value]="selectedGrade?.commonRefValue"
                />
              </ng-container>

              <ng-template #selectGrade>
                <mat-select formControlName="gradeId" [disabled]="isReadOnly">
                  <mat-option *ngFor="let grd of gradesList" [value]="grd.id">
                    {{ grd.commonRefValue }}
                  </mat-option>
                </mat-select>
              </ng-template>
            </mat-form-field>

            <!-- Company -->
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Company</mat-label>
              <input
                matInput
                formControlName="company"
                [disabled]="isReadOnly"
              />
            </mat-form-field>
          </div>

          <div class="form-row">
            <!-- PMS Eligibility -->
            <mat-radio-group
              formControlName="isPmsEligible"
              [disabled]="isReadOnly"
            >
              <mat-label>Is PMS Eligible</mat-label>
              <mat-radio-button value="Yes" [disabled]="isReadOnly"
                >Yes</mat-radio-button
              >
              <mat-radio-button value="No" [disabled]="isReadOnly"
                >No</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div class="form-row">
            <mat-radio-group
              formControlName="stepperTwoStatus"
              class="input-field-33"
            >
              <mat-label>Approval Status</mat-label>
              <mat-radio-button [value]="1" class="approved"
                >Approved</mat-radio-button
              >
              <mat-radio-button [value]="2" class="rejected"
                >Rejected</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>

        <!-- Next button -->
        <mat-card-footer class="add-mat-card-footer">
          <div>
            <button
              mat-flat-button
              class="btn-class primary"
              [disabled]="!employeeBasicDetails.valid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="employeeBasicDetails" label="Documents">
    <form
      *ngIf="employeeBasicDetails"
      [class.blur-background]="isModalVisible"
      [formGroup]="employeeBasicDetails"
    >
      <div class="example-container add-lead-main"></div>
      <div class="section-container">
        <!-- Adhar Card Section -->
        <div class="form-row">
          <mat-card class="card">
            <mat-card-content class="cpr-mat-card-content">
              <div>
                <label for="adharUrl" class="document-name">Adhar card </label>
              </div>
              <div *ngIf="backEndData?.employeeBean?.adharUrl">
                <!-- Download button if file exists -->
                <button
                  mat-flat-button
                  class="btn-class accent"
                  (click)="downloadFile('adharUrl')"
                >
                  Download Adhar Card
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Pan Card Section -->
        <div class="form-row">
          <mat-card class="card">
            <mat-card-content class="cpr-mat-card-content">
              <div>
                <label for="panUrl" class="document-name">Pan card </label>
              </div>
              <div *ngIf="backEndData?.employeeBean?.panUrl">
                <!-- Download button if file exists -->
                <button
                  mat-flat-button
                  class="btn-class accent"
                  (click)="downloadFile('panUrl')"
                >
                  Download Pan Card
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Voter Card Section -->
        <div class="form-row">
          <mat-card class="card">
            <mat-card-content class="cpr-mat-card-content">
              <div>
                <label for="voterIdUrl" class="document-name"
                  >Voter card
                </label>
              </div>
              <div *ngIf="backEndData?.employeeBean?.voterIdUrl">
                <!-- Download button if file exists -->
                <button
                  mat-flat-button
                  class="btn-class accent"
                  (click)="downloadFile('voterIdUrl')"
                >
                  Download Voter Card
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Passport Section -->
        <div class="form-row">
          <mat-card class="card">
            <mat-card-content class="cpr-mat-card-content">
              <div>
                <label for="passPortUrl" class="document-name">Passport </label>
              </div>
              <div *ngIf="backEndData?.employeeBean?.passPortUrl">
                <!-- Download button if file exists -->
                <button
                  mat-flat-button
                  class="btn-class accent"
                  (click)="downloadFile('passPortUrl')"
                >
                  Download Passport
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Ration Card Section -->
        <div class="form-row">
          <mat-card class="card">
            <mat-card-content class="cpr-mat-card-content">
              <div>
                <label for="rationCardUrl" class="document-name"
                  >Ration Card
                </label>
              </div>
              <div *ngIf="backEndData?.employeeBean?.rationCardUrl">
                <!-- Download button if file exists -->
                <button
                  mat-flat-button
                  class="btn-class accent"
                  (click)="downloadFile('rationCardUrl')"
                >
                  Download Ration Card
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="form-row">
          <mat-radio-group
            formControlName="stepperThreeStatus"
            class="input-field-33"
          >
            <mat-label>Approval Status</mat-label>
            <mat-radio-button [value]="1" class="approved"
              >Approved</mat-radio-button
            >
            <mat-radio-button [value]="2" class="rejected"
              >Rejected</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <!-- Footer with Next Button -->
        <mat-card-footer class="add-mat-card-footer">
          <div>
            <button
              mat-flat-button
              class="btn-class primary"
              [disabled]="!employeeBasicDetails.valid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="educationDetails" label="Education Details">
    <form
      *ngIf="educationDetails"
      [class.blur-background]="isModalVisible"
      [formGroup]="educationDetails"
    >
      <div class="example-container add-lead-main">
        <!-- Form to handle dynamic education entries -->
        <div formArrayName="education">
          <!-- Loop through the education FormArray -->
          <div
            *ngFor="let education of education.controls; let i = index"
            [formGroupName]="i"
            class="section-container"
          >
            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Qualification</mat-label>
                <mat-select
                  formControlName="qualification"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let qua of qualificationList"
                    [value]="qua.id"
                  >
                    {{ qua.commonRefValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Institute</mat-label>
                <input
                  matInput
                  formControlName="institute"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Qualification Area</mat-label>
                <mat-select
                  formControlName="qualificationArea"
                  [disabled]="isReadOnly"
                >
                  <mat-option
                    *ngFor="let qua of qualificationAreaList"
                    [value]="qua.id"
                  >
                    {{ qua.commonRefValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Grade</mat-label>
                <input
                  matInput
                  formControlName="grade"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Remarks</mat-label>
                <input
                  matInput
                  formControlName="remarks"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="stdate"
                  formControlName="startDate"
                  [disabled]="isReadOnly"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="stdate"
                ></mat-datepicker-toggle>
                <mat-datepicker #stdate></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="enddate"
                  formControlName="endDate"
                  [disabled]="isReadOnly"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="enddate"
                ></mat-datepicker-toggle>
                <mat-datepicker #enddate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-radio-group
                formControlName="stepperStatus"
                class="input-field-33"
              >
                <mat-label>Approval Status</mat-label>
                <mat-radio-button [value]="1" class="approved"
                  >Approved</mat-radio-button
                >
                <mat-radio-button [value]="2" class="rejected"
                  >Rejected</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <!-- Remove button for a specific education entry, only visible if not readonly -->
            <button *ngIf="!isReadOnly" mat-button (click)="removeEducation(i)">
              Remove
            </button>
          </div>
        </div>

        <!-- Button to add another education entry, only visible if not readonly -->
        <button *ngIf="!isReadOnly" mat-raised-button (click)="addEducation()">
          Add More Education
        </button>

        <mat-card-footer class="add-mat-card-footer">
          <div>
            <button
              mat-flat-button
              class="btn-class primary"
              [disabled]="!educationDetails.valid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="empBankDetails" label="Bank Details">
    <form
      *ngIf="empBankDetails"
      [class.blur-background]="isModalVisible"
      [formGroup]="empBankDetails"
    >
      <div class="example-container add-lead-main">
        <div class="section-container">
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Bank Name</mat-label>
              <input
                matInput
                formControlName="bankName"
                [readonly]="isReadOnly"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Account Number</mat-label>
              <input
                matInput
                formControlName="bankAccountNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>IFSC Code</mat-label>
              <input
                matInput
                formControlName="bankIfscCode"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Account Type</mat-label>
              <input
                matInput
                formControlName="accountType"
                [readonly]="isReadOnly"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Aadhaar Number</mat-label>
              <input
                matInput
                formControlName="aadhaarNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Pan Number</mat-label>
              <input
                matInput
                formControlName="panNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-radio-group
              formControlName="esicInclude"
              class="input-field-33"
            >
              <mat-label>esic Include</mat-label>
              <mat-radio-button value="Yes" [disabled]="isReadOnly"
                >Yes</mat-radio-button
              >
              <mat-radio-button value="No" [disabled]="isReadOnly"
                >No</mat-radio-button
              >
            </mat-radio-group>

            <mat-radio-group formControlName="pfInclude" class="input-field-33">
              <mat-label>PF Include</mat-label>
              <mat-radio-button value="Yes" [disabled]="isReadOnly"
                >Yes</mat-radio-button
              >
              <mat-radio-button value="No" [disabled]="isReadOnly"
                >No</mat-radio-button
              >
            </mat-radio-group>

            <mat-radio-group
              formControlName="lwfInclude"
              class="input-field-33"
            >
              <mat-label>LWF Include</mat-label>
              <mat-radio-button value="Yes" [disabled]="isReadOnly"
                >Yes</mat-radio-button
              >
              <mat-radio-button value="No" [disabled]="isReadOnly"
                >No</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Phone Number</mat-label>
              <input
                matInput
                formControlName="mobileNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>ESIC Number</mat-label>
              <input
                matInput
                formControlName="esicNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>PF Number</mat-label>
              <input
                matInput
                formControlName="pfNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>UAN Number</mat-label>
              <input
                matInput
                formControlName="uanNumber"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-radio-group
              formControlName="stepperStatus"
              class="input-field-33"
            >
              <mat-label>Approval Status</mat-label>
              <mat-radio-button [value]="1" class="approved"
                >Approved</mat-radio-button
              >
              <mat-radio-button [value]="2" class="rejected"
                >Rejected</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>

        <mat-card-footer class="add-mat-card-footer">
          <div>
            <button
              mat-flat-button
              class="btn-class primary"
              [disabled]="!empBankDetails.valid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressForm" label="Address Details">
    <!-- Permanent Address Form -->
    <form *ngIf="permanentAddress" [formGroup]="permanentAddress">
      <div class="example-container add-lead-main">
        <div class="section-container">
          <h3 class="section-title">Permanent Address</h3>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Door Number</mat-label>
              <input
                matInput
                formControlName="doorNo"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>House Owner Name</mat-label>
              <input
                matInput
                formControlName="houseOwnerName"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Street/Main Road</mat-label>
              <input
                matInput
                formControlName="streetOrRoad"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Post</mat-label>
              <input matInput formControlName="post" [readonly]="isReadOnly" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" [readonly]="isReadOnly" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Pin Code</mat-label>
              <input
                matInput
                formControlName="pincode"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                <mat-option *ngFor="let state of indianStates" [value]="state">
                  {{ state }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Police Station Limits</mat-label>
              <input
                matInput
                formControlName="policeStationLimits"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-radio-group
              formControlName="stepperStatus"
              class="input-field-33"
            >
              <mat-label>Approval Status</mat-label>
              <mat-radio-button [value]="1" class="approved"
                >Approved</mat-radio-button
              >
              <mat-radio-button [value]="2" class="rejected"
                >Rejected</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
    </form>

    <!-- Temporary Address Form -->
    <form *ngIf="temporaryAddress" [formGroup]="temporaryAddress">
      <div class="example-container add-lead-main">
        <div class="section-container">
          <h3 class="section-title">Temporary Address</h3>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Door Number</mat-label>
              <input
                matInput
                formControlName="doorNo"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>House Owner Name</mat-label>
              <input
                matInput
                formControlName="houseOwnerName"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Street/Main Road</mat-label>
              <input
                matInput
                formControlName="streetOrRoad"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Post</mat-label>
              <input matInput formControlName="post" [readonly]="isReadOnly" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" [readonly]="isReadOnly" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Pin Code</mat-label>
              <input
                matInput
                formControlName="pincode"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                <mat-option *ngFor="let state of indianStates" [value]="state">
                  {{ state }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-field-33">
              <mat-label>Police Station Limits</mat-label>
              <input
                matInput
                formControlName="policeStationLimits"
                [readonly]="isReadOnly"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <h5>Set Point of Contact</h5>
            <mat-radio-group [formControl]="selectedContactControl">
              <mat-radio-button value="permanent" [disabled]="isReadOnly">
                Permanent Address
              </mat-radio-button>
              <mat-radio-button value="temporary" [disabled]="isReadOnly">
                Temporary Address
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-row">
            <mat-radio-group
              formControlName="stepperStatus"
              class="input-field-33"
            >
              <mat-label>Approval Status</mat-label>
              <mat-radio-button [value]="1" class="approved"
                >Approved</mat-radio-button
              >
              <mat-radio-button [value]="2" class="rejected"
                >Rejected</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
    </form>

    <!-- Footer with Next Button -->
    <mat-card-footer class="add-mat-card-footer">
      <div>
        <button
          mat-flat-button
          class="btn-class primary"
          [disabled]="!permanentAddress.valid"
          (click)="stepper.next()"
        >
          Next
        </button>
      </div>
    </mat-card-footer>
  </mat-step>
  <mat-step [stepControl]="empFamilyDetails" label="Employee Family Details">
    <form *ngIf="empFamilyDetails" [formGroup]="empFamilyDetails">
      <div class="example-container add-lead-main">
        <!-- Loop through familyDetails FormArray -->
        <div formArrayName="familyDetails">
          <div
            *ngFor="let familyDetail of familyDetails.controls; let i = index"
            [formGroupName]="i"
            class="section-container"
          >
            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Relationship</mat-label>
                <input
                  matInput
                  formControlName="relationship"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Contact No</mat-label>
                <input
                  matInput
                  formControlName="contactNo"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" [readonly]="isReadOnly" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Date Of Birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="famdobpicker"
                  formControlName="dateOfBirth"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="famdobpicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #famdobpicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Remarks</mat-label>
                <input
                  matInput
                  formControlName="remarks"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  formControlName="address"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Country</mat-label>
                <input
                  matInput
                  formControlName="country"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>City</mat-label>
                <input
                  matInput
                  formControlName="city"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-field-33">
                <mat-label>Pincode</mat-label>
                <input
                  matInput
                  formControlName="pincode"
                  [readonly]="isReadOnly"
                />
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-card class="card">
                <mat-card-content class="cpr-mat-card-content">
                  <div style="display: flex;"> 
                    <label for="familyMemberId" class="document-name"
                      >Download ID :
                    </label>
                    <div *ngIf="familyDetail?.value?.familyMemberId">
                      <!-- Download button if file exists -->
  
                      <mat-icon
                        
                        (click)="downloadFile(familyDetail.value.familyMemberId)"
                        >file_download</mat-icon
                      >
                      <!-- You can replace this with any icon -->
                    </div>
                  </div>
                 
                </mat-card-content>
              </mat-card>
            </div>

            <div class="form-row">
              <mat-radio-group
                formControlName="stepperStatus"
                class="input-field-33"
              >
                <mat-label>Approval Status</mat-label>
                <mat-radio-button [value]="1" class="approved"
                  >Approved</mat-radio-button
                >
                <mat-radio-button [value]="2" class="rejected"
                  >Rejected</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <!-- Remove button for a specific family detail entry -->
            <button
              *ngIf="!isReadOnly"
              mat-button
              (click)="removeFamilyDetail(i)"
            >
              Remove
            </button>
          </div>
        </div>

        <!-- Button to add another family detail entry, only visible if not readonly -->
        <button
          *ngIf="!isReadOnly"
          mat-raised-button
          (click)="addFamilyDetail()"
        >
          Add More Family Details
        </button>

        <mat-card-footer class="add-mat-card-footer">
          <div>
            <button
              mat-flat-button
              class="btn-class primary"
              (click)="approvalStatusMethod()"
            >
              Submit
            </button>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
