/* mat-toolbar {
    position: relative;
    z-index: 1;
    background-color: #fff;
     #52a2ff; 
    display: flex;
    justify-content: space-between;
    height: 42px;
    background-color: #2b6682;
  } */

.head-div {
  width: 100%;
  display: flex;
  /* background-color: rgba(231, 238, 240, 0.9); */
}
.menu-text {
  margin-left: 30px;
  font-size: 15px;
  margin-top: 40px;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  padding: 0px 20px !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}
.heading {
  display: flex;
  font-size: 30px;
  width: 48%;
  /* padding-top: 4px; */
  text-align: left;
  padding-left: 60px;
}
.head-logo {
  height: 120px;
}
.heading-h2 {
  color: rgb(17, 17, 17);
  margin-bottom: 0;
  color: #111010;
  font-size: 16px;
}
.user-div {
  width: 52%;
  padding-top: 30px;
  text-align: right;
  padding-right: 20px;
}
.user-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: none;
  margin-right: 10px;
}
.user-name {
  color: #fff;
}

.mdc-list-group__subheader {
  font-size: 14px !important;
  margin: 0 !important;
  line-height: 30px;
}
.sidenav {
  width: 342px;
  height: 92vh;
  overflow: auto;
}
.mdc-menu-surface {
  background: rgba(0, 0, 0, 0.7) !important;
}
.mdc-list-item__primary-text {
  color: #fff !important;
}
.mat-mdc-menu-item .mat-icon-no-color,
.mat-mdc-menu-submenu-icon {
  color: #fff;
}
.content {
  /* padding-left: 14px; */
  transition: margin-left 0.3s;
  background-color: #f6f7fb;
  /* color: #0e0e0e; */
  overflow: auto;
  height: 92vh;
  /* border:0px !important; */
  width: 100%;
  max-width: 100%;
  /* padding-bottom: 4%; */
}
mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-list-item {
  cursor: pointer;
}
.sub-menu-item {
  padding-left: 45px;
  color: #0e0e0e;
  font-size: 14px;
}
.sub-menu-item:hover {
  padding-left: 45px;
  color: #37b7c3;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 300ms ease-in-out;
}
mat-sidenav {
  background-color: #fff;
}
.menu-header {
  color: #0e0e0e;
}
.menu-header:hover {
  color: #37b7c3;
}
/* ::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    background: rgba(1, 52, 55, 0.7);
   }
   ::ng-deep .mdc-list-item__primary-text {
    color: #fff;
   }
   ::ng-deep .mat-mdc-menu-item .mat-icon {
    color: #fff;
   }
    */
/* mat-list-item, */
.active-link {
  color: #00405e !important;
  background-color: #dcdfea !important;

  width: 100%;
}
.active-icon {
  color: #37b7c3; /* or any color/style you prefer */
}
.active-link .sub-menu-item {
  color: #00405e !important;
}

.home-tab {
  color: #00405e !important;
  background-color: #dcdfea !important;
}
.home-tab a.active {
  color: #00405e !important;
  background-color: #dcdfea !important;
}

.home-tab a.active:hover {
  color: #33a0e3 !important;
}
/* .mat-toolbar-single-row {
    padding: 0 !important;
    align-items: inherit;
    color: #fff !important;
  } */

.cdk-overlay-pane {
  min-width: 250px;
  margin-top: 10px;
  top: 167px !important;
}

.cdk-overlay-connected-position-bounding-box {
  top: 57px !important;
  padding-left: 10px;
}

.sidenav-icon-bar {
  width: 70px;
}

.footer-main {
  position: fixed;
  width: 100%;
  background: white;
  color: rgb(102, 99, 99);
  bottom: 0;
  padding: 6px 0px;
  margin-top: 10px;
  font-size: 11px;
  z-index: 9;
  text-indent: 20px;
}
.bold-text {
  font-weight: bold;
}

.small-text {
  font-size: 13px;
  margin-left: 5px;
}

@media screen and (max-device-width: 768px) {
  .toolbar-div {
    width: 34%;
  }
  .user-name {
    display: none;
  }
  .usericon {
    display: none;
  }

  .heading {
    width: 80% !important;
  }
  .sidenav-icon-bar {
    width: 74px;
  }
}

@media screen and (max-device-width: 480px) {
  .toolbar-div-left {
    display: none;
  }
  .toolbar-div {
    width: 45px;
  }
  .heading {
    width: 80% !important;
    padding-left: 20px;
  }
  .head-logo {
    height: 80px;
  }
  .menu-text {
    margin-top: 20px;
    font-size: 12px;
  }
  .user-div {
    width: 20%;
    padding-top: 20px;
    padding-right: 0px;
  }
  .cdk-overlay-connected-position-bounding-box {
    top: 42px !important;
    padding-left: 0px;
  }
  .mdc-menu-surface {
    background: rgba(0, 0, 0, 0.4) !important;
  }
  .sidenav-icon-bar {
    width: 50px;
  }

  /* .mat-toolbar {
      background: rgb(4, 114, 144);
    } */
  .content {
    padding-bottom: 60px;
  }
}

@media screen and (max-device-width: 1024px) {
  .heading {
    width: 52%;
  }
}
