<h2 class="header"><b>Notifications</b></h2>
<div class="example-button-row">
  <div class="search-class"></div>
  <div>
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="addNotification()"
      class="btn-class"
    >
      <i class="bi bi-sign-intersection-fill h6"></i> ADD
    </button>
  </div>
</div>
<div class="table-container">
  <mat-card class="cmn-card">
    <mat-card-content class="cmn-card-content">
      <div>
        <table
          matSort
          mat-table
          [dataSource]="notificationsData"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="rowNumber">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="recipientName">
            <th mat-header-cell *matHeaderCellDef>Recipient Name</th>
            <td mat-cell *matCellDef="let notifications">
              <!-- Check if the recipientTypeName is 'Individual' -->
              <ng-container
                *ngIf="
                  !notifications.recipientTypeName ||
                    notifications.recipientTypeName === 'Individual';
                  else roleName
                "
                >{{ notifications.recipientName }}
              </ng-container>
              <!-- Else block to display recipientRoleName if recipientTypeName is not 'Individual' -->
              <ng-template #roleName>
                {{ notifications.recipientRoleName }}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="eventId">
            <th mat-header-cell *matHeaderCellDef>Event Name</th>
            <td mat-cell *matCellDef="let notifications">
              {{ notifications.eventName || "N/A" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="messageBody">
            <th mat-header-cell *matHeaderCellDef>Message</th>
            <td mat-cell *matCellDef="let notifications">
              {{ notifications.messageBody }}
            </td>
          </ng-container>
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef="let notifications">
              {{
                notifications.startDate
                  ? (notifications.startDate | date : "dd/MM/yyyy")
                  : "N/A"
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>End Date</th>
            <td mat-cell *matCellDef="let notifications">
              {{
                notifications.endDate
                  ? (notifications.endDate | date : "dd/MM/yyyy")
                  : "N/A"
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Actions
            </th>
            <td mat-cell *matCellDef="let notifications">
              <!-- Edit Icon -->
              <i
                class="bi bi-pencil"
                style="cursor: pointer"
                (click)="editNotification(notifications)"
              ></i>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <!-- Delete Icon -->
              <!-- <i
                class="bi bi-trash text-danger"
                style="cursor: pointer"
                (click)="openConfirmDialog(notifications.eventId)"
                *ngIf="notifications.status === 'A'"
              ></i> -->
            </td>
          </ng-container>

          <!-- Header Row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <!-- Data Rows -->
          <tr
            mat-row
            *matRowDef="let notifications; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </mat-card-content>

    <!-- Pagination Controls -->
    <mat-card-footer class="paginator">
      <mat-paginator
        [length]="totalPages"
        [pageSize]="pageSize"
        [pageSizeOptions]="[20, 40,50, 60, 80, 100]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
