.search-class {
  display: flex;
  gap: 1rem;
  /* width: 30%; */
}

.paginator {
  /* display: flex; */

  width: 100%;
}
mat-card {
  position: relative;
  min-height: 400px;
}

mat-card-content {
  /* Give some bottom padding so content doesn't overlap the footer */
  padding-bottom: 50px;
  overflow-y: auto;
}
mat-card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.btn-class {
  margin-bottom: 1rem;
}
