<div class="qo-pac-header">APPROVED QUOTATIONS</div>

<div class="qo-filters-div">
  <div class="qo-search-container">
    <mat-form-field appearance="outline" class="qo-serach-class-div qo-ml-2">
      <mat-label>Search On Quotation Code</mat-label>
      <input
        matInput
        [(ngModel)]="quotationCode"
        (input)="onSearchQuotationCode($any($event).target?.value)"
        placeholder="Enter Quotation Code"
      />
    </mat-form-field>

    <mat-form-field class="qo-serach-class-div qo-ml-2" appearance="outline">
      <mat-label> Search/Select Vendor</mat-label>
      <input
        type="text"
        matInput
        (input)="searchVendor($event)"
        [formControl]="vendor"
        [matAutocomplete]="vendorAuto"
      />
      <mat-autocomplete
        #vendorAuto="matAutocomplete"
        (optionSelected)="onVendorSelect($event)"
        [displayWith]="displayVendor"
      >
        <mat-option *ngFor="let option of vendors" [value]="option">
          {{ option.vendorName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="qo-serach-class-div qo-ml-2" appearance="outline">
      <mat-label> Search/Select Project </mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.displayProjectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="qo-serach-class-div qo-ml-2">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-icon
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div"
      >sync</mat-icon
    >
    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="clear-date-div"
      >filter_list_off</mat-icon
    >

    <!-- <div class="button-container">
      <button mat-flat-button class="btn-class primary">
        <mat-icon class="font">visibility</mat-icon> REVIEW PO
      </button>
    </div> -->

    <!-- <app-autocomplete
      class="aq-mat-40 qo-ml-2"
      [label]="'Search/Select Project'"
      [formControl]="project"
      [options]="projects"
      [displayFn]="displayProject"
      (selectionChange)="onProjectSelect($event)"
      (onSearch)="searchProject($event)"
    ></app-autocomplete>

    <app-autocomplete
      class="aq-mat-40 qo-ml-2"
      [label]="'Search/Select Vendor'"
      [formControl]="vendor"
      [options]="vendors"
      [displayFn]="displayVendor"
      (selectionChange)="onVendorSelect($event)"
      (onSearch)="searchVendor($event)"
    ></app-autocomplete>

    <app-date-filter
      class="qo-ml-2"
      [formData]="formData"
      (dateChanged)="onDateFilterChange($event)"
      (clearFilter)="onClearDateFilter()"
    ></app-date-filter> -->
  </div>
</div>
<app-table
  [displayedColumns]="displayedColumns"
  [customHeaderNames]="customHeaderNames"
  [dataSource]="quotationData"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [actionButtons]="actionButtons"
  (pageChanged)="onPageChange($event)"
  [pipes]="pipes"
  (actionClicked)="onActionClicked($event)"
></app-table>
