<h4 class="header"><b>USER</b></h4>

<form [formGroup]="formData" (ngSubmit)="isCpUser ? saveCpUser() : save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header class="cmn-mat-card-header">
        <b>{{ isAdding ? "ADD USER" : "EDIT USER" }}</b>
      </mat-card-header>
      <mat-card-content class="cmn-mat-card-content">
        <mat-form-field
          appearance="outline"
          class="mat-50"
          *ngIf="organizationId == 0"
        >
          <mat-label> Organization</mat-label>
          <mat-select
            formControlName="organizationId"
            (selectionChange)="onOrganizationSelete($event)"
          >
            <mat-option value="">Select Organization</mat-option>
            <mat-option
              *ngFor="let organization of organizations"
              [value]="organization.organizationId"
            >
              {{ organization.organizationName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="userName" required />
          <mat-error
            *ngIf="
              isAdding && this.formData.get('userName')?.hasError('required')
            "
          >
            User Name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" (blur)="checkEmailUniqueness()"/>
          <mat-error *ngIf="emailExists">
            This email ID already exists. Please enter another email.
          </mat-error>
          <mat-error
            *ngIf="isAdding && this.formData.get('email')?.hasError('required')"
          >
            Email is required.
          </mat-error>
          <mat-error
            *ngIf="isAdding && this.formData.get('email')?.hasError('email')"
          >
            Enter a valid email.
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="mat-50" *ngIf="isAdding">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" (blur)="checkPhoneNumberExists()"/>
          <mat-error *ngIf="formData.get('phoneNumber')?.hasError('required')">
            Phone number is required.
          </mat-error>
          <mat-error *ngIf="formData.get('phoneNumber')?.hasError('pattern')">
            Number must be 10 digits and start with 6, 7, 8, or 9.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!isCpUser" appearance="outline" class="mat-50">
          <mat-label> Role Name</mat-label>
          <mat-select formControlName="roleId">
            <mat-option value="">Select Role</mat-option>
            <mat-option *ngFor="let role of roles" [value]="role.roleId">
              {{ role.roleName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!isCpUser" appearance="outline" class="mat-50">
          <mat-label> Manager Name</mat-label>
          <mat-select formControlName="managerId">
            <mat-option value="">Select Manager</mat-option>
            <mat-option *ngFor="let user of userData" [value]="user.userId">
              {{ user.userName }}{{user.title ? ' (' + user.title + ')' : ''}}
            </mat-option>
          </mat-select>
        </mat-form-field>

     
    

    
        <mat-form-field appearance="outline" class="mat-50" *ngIf="!isAdding">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">Select Status</mat-option>
            <mat-option
              *ngFor="let element of statuses"
              [value]="element.commonRefKey"
            >
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('status')?.hasError('required')">
            Please select one option
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoUsers()"
          >
            BACK
          </button>
          <button
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            *ngIf="isAdding"
          >
            RESET
          </button>

          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
