<h4 class="header"><b>Invoice Management</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()" class="invoices">
  <mat-card>
    <mat-nav-list>
      <ng-container>
        <mat-list-item class="main-header" (click)="toggleQuotation(0)">
          <div class="list-item-content">
            <mat-icon class="menu-icon">description</mat-icon>
            <span mat-subheader class="menu-head">
              <span>Organization details</span>

              <mat-icon class="toggle-icon">{{
                expanded[0] ? "expand_more" : "chevron_right"
              }}</mat-icon>
            </span>
          </div>
        </mat-list-item>
        <ng-container *ngIf="expanded[0]">
          <div class="details-columns">
            <div class="details-column">
              <p>
                <strong>Organization Name:</strong>
                {{ invoice.organizationName }}
              </p>
              <p><strong>Organization Email:</strong> {{ invoice.orgEmail }}</p>
              <p>
                <strong>Organization Address 2:</strong>
                {{ invoice.orgAddress2 }}
              </p>
              <p>
                <strong>Organization Pincode:</strong> {{ invoice.orgPincode }}
              </p>
              <p><strong>Organization State:</strong> {{ invoice.orgState }}</p>
            </div>
            <div class="details-column">
              <p>
                <strong>Organization Contact:</strong>
                {{ invoice.organizationContact }}
              </p>
              <p>
                <strong>Organization Address 1:</strong>
                {{ invoice.orgAddress1 }}
              </p>
              <p><strong>Organization City:</strong> {{ invoice.orgCity }}</p>
              <p>
                <strong>Organization GSTIN/UIN:</strong>
                {{ invoice.orgGstinUin }}
              </p>
              <p>
                <strong>Organization State Code:</strong>
                {{ invoice.orgStateCode }}
              </p>
              <p><strong>Organization PAN:</strong> {{ invoice.orgPan }}</p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container>
        <mat-list-item class="main-header" (click)="toggleQuotation(1)">
          <div class="list-item-content">
            <mat-icon class="menu-icon">description</mat-icon>
            <span mat-subheader class="menu-head">
              <span>Customer details</span>

              <mat-icon class="toggle-icon">{{
                expanded[1] ? "expand_more" : "chevron_right"
              }}</mat-icon>
            </span>
          </div>
        </mat-list-item>
        <ng-container *ngIf="expanded[1]">
          <div class="details-columns">
            <div class="details-column">
              <p><strong>Customer Name:</strong> {{ invoice.customerName }}</p>
              <p>
                <strong>Customer Phone Number:</strong>
                {{ invoice.customerPhoneNumber }}
              </p>
              <p>
                <strong>Customer Address 1:</strong>
                {{ invoice.customerAddress1 }}
              </p>
              <p>
                <strong>Customer Address 2:</strong>
                {{ invoice.customerAddress2 }}
              </p>
              <p><strong>Customer City:</strong> {{ invoice.customerCity }}</p>
              <p>
                <strong>Customer City Pincode:</strong>
                {{ invoice.customerCityPinCode }}
              </p>
              <p>
                <strong>Customer GSTIN/UIN:</strong>
                {{ invoice.customergstinUin }}
              </p>
              <p>
                <strong>Customer State:</strong> {{ invoice.customerState }}
              </p>
            </div>
            <div class="details-column">
              <p>
                <strong>Customer State Code:</strong>
                {{ invoice.customerStateCode }}
              </p>
              <p><strong>Customer PAN:</strong> {{ invoice.customerPan }}</p>
              <p><strong>Unit ID:</strong> {{ invoice.unitId }}</p>
              <p>
                <strong>Customer Resident Type:</strong>
                {{ invoice.customerResidentType }}
              </p>
              <p><strong>Block ID:</strong> {{ invoice.blockId }}</p>
              <p><strong>Level ID:</strong> {{ invoice.levelId }}</p>
              <p><strong>Project ID:</strong> {{ invoice.projectId }}</p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container>
        <mat-list-item class="main-header" (click)="toggleQuotation(2)">
          <div class="list-item-content">
            <mat-icon class="menu-icon">description</mat-icon>
            <span mat-subheader class="menu-head">
              <span>Invoice details</span>

              <mat-icon class="toggle-icon">{{
                expanded[2] ? "expand_more" : "chevron_right"
              }}</mat-icon>
            </span>
          </div>
        </mat-list-item>
        <ng-container *ngIf="expanded[2]">
          <div class="details-columns">
            <div class="details-column">
              <p>
                <strong>Invoice Number:</strong> {{ invoice.invoiceNumber }}
              </p>
              <p><strong>Invoice Date:</strong> {{ invoice.invoiceDate }}</p>
            </div>
            <div class="details-column">
              <p>
                <strong>Invoice Period:</strong>
                {{ invoice.invoicePeriod + " days" }}
              </p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container>
        <mat-list-item class="main-header" (click)="toggleQuotation(3)">
          <div class="list-item-content">
            <mat-icon class="menu-icon">description</mat-icon>
            <span mat-subheader class="menu-head">
              <span>Resource Consumption details</span>

              <mat-icon class="toggle-icon">{{
                expanded[3] ? "expand_more" : "chevron_right"
              }}</mat-icon>
            </span>
          </div>
        </mat-list-item>
        <ng-container *ngIf="expanded[3]">
          <div class="details-columns">
            <div class="details-column">
              <mat-form-field appearance="outline" class="mat-50">
                <mat-label>Consumption Type</mat-label>
                <input
                  matInput
                  formControlName="consumptionType"
                  [readonly]="isView"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-50">
                <mat-label>Previous Consumption</mat-label>
                <input
                  matInput
                  formControlName="previousConsumption"
                  [readonly]="isView"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-50">
                <mat-label>{{
                  showRemainingConsumption
                    ? "Buildup Area"
                    : "Current Consumption"
                }}</mat-label>
                <input
                  matInput
                  formControlName="currentConsumption"
                  [readonly]="isView"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-50">
                <mat-label>Charge Value</mat-label>
                <input matInput formControlName="charge" [readonly]="isView" />
              </mat-form-field>

              <mat-form-field
                *ngIf="!showRemainingConsumption"
                appearance="outline"
                class="mat-50"
              >
                <mat-label>Remaining Consumption</mat-label>
                <input
                  matInput
                  formControlName="remainingConsumption"
                  [readonly]="isView"
                  class="readonly-field"
                />
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" class="mat-50">
                <mat-label>Present Consumption</mat-label>
                <input
                  matInput
                  formControlName="presentConsumption"
                  [attr.readonly]="isView ? true : null"
                  class="readonly-field"
                />
              </mat-form-field> -->

              <div *ngIf="isElectricity">
                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Tl And Dl Charges</mat-label>
                  <input matInput formControlName="tlDl" [readonly]="isView" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Tl And Dl Total Amount</mat-label>
                  <input
                    matInput
                    formControlName="tlDlAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Fac Charges</mat-label>
                  <input matInput formControlName="fac" [readonly]="isView" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Fac Amount</mat-label>
                  <input
                    matInput
                    formControlName="facAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Tod Charges</mat-label>
                  <input matInput formControlName="tod" [readonly]="isView" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label> Tod Amount</mat-label>
                  <input
                    matInput
                    formControlName="todAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="details-column">
              <!-- Show CGST and SGST fields if not Electricity -->
              <div *ngIf="!isElectricity">
                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>CGST</mat-label>
                  <input matInput formControlName="cgst" [readonly]="isView" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>SGST</mat-label>
                  <input matInput formControlName="sgst" [readonly]="isView" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>CGST Amount</mat-label>
                  <input
                    matInput
                    formControlName="cgstAmount"
                    [attr.readonly]="isView ? true : null"
                    class="readonly-field"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>SGST Amount</mat-label>
                  <input
                    matInput
                    formControlName="sgstAmount"
                    [attr.readonly]="isView ? true : null"
                    class="readonly-field"
                  />
                </mat-form-field>
              </div>

              <!-- Show Electricity related fields if Electricity -->
              <div *ngIf="isElectricity">
                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Tc Charge</mat-label>
                  <input matInput formControlName="tc" [readonly]="isView" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Tc Total Amount</mat-label>
                  <input
                    matInput
                    formControlName="tcAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Toe Charges</mat-label>
                  <input matInput formControlName="toe" [readonly]="isView" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Toe Amount</mat-label>
                  <input
                    matInput
                    formControlName="toeAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label> Revenue Arr </mat-label>
                  <input
                    matInput
                    formControlName="revenueArr"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Revenue Arr Amount</mat-label>
                  <input
                    matInput
                    formControlName="revenueArrAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Total Sum Tl And Dl Charge</mat-label>
                  <input
                    matInput
                    formControlName="totalSumTlAndDlCharge"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Total Amount </mat-label>
                  <input
                    matInput
                    formControlName="totalAmount"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Sum Of Total Amount And Tod</mat-label>
                  <input
                    matInput
                    formControlName="sumOfTotalAmountAndTod"
                    [readonly]="isView"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Sum Tod And TcCharge</mat-label>
                  <input
                    matInput
                    formControlName="sumTodAndTcCharge"
                    [readonly]="isView"
                  />
                </mat-form-field> 

                <mat-form-field appearance="outline" class="mat-50">
                  <mat-label>Demand Charges</mat-label>
                  <input
                    matInput
                    formControlName="demandCharges"
                    [readonly]="isView"
                  />
                </mat-form-field>
              </div>

              <mat-form-field appearance="outline" class="mat-50">
                <mat-label>Total Consumption</mat-label>
                <input
                  matInput
                  formControlName="totalValue"
                  [attr.readonly]="isView ? true : null"
                  class="readonly-field"
                />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-card>
  <mat-card-footer>
    <div style="text-align: right; padding: 10px 30px 0 0">
      <ng-container *ngIf="!isView">
        <div>
          <button
            mat-flat-button
            style="color: white; background-color: #004869"
            class="btn-class"
            type="submit"
          >
            {{ isAdding ? "ADD" : "SAVE" }}
          </button>

          <button
            mat-flat-button
            style="color: white; background-color: rgb(97, 97, 38)"
            class="btn-class"
            (click)="onClickGenerateExcel()"
          >
            GENERATE
          </button>

          <button
            mat-flat-button
            style="color: white; background-color: rgb(132, 110, 21)"
            class="btn-class"
            (click)="gotoInvoice()"
          >
            BACK
          </button>
        </div>
      </ng-container>
    </div>
  </mat-card-footer>
</form>
