<div class="pac-header">ITEM CATEGORY</div>

<div class="filters-div">
  <div class="cat-search-container-div">
    <mat-form-field appearance="outline" class="cat-serach-class">
      <mat-label>Select Category Type</mat-label>
      <mat-select
        [(ngModel)]="workTypeId"
        (selectionChange)="onWorkTypeChange($event)"
      >
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let element of options" [value]="element.id">
          {{ element.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="cat-serach-class cat-ml-div-2">
      <mat-label>Search Category Code</mat-label>
        <input
          [(ngModel)]="categoryCode"
          matInput
          (input)="onSearchCategoryCode($any($event).target?.value)"
          placeholder="Enter item category code"
        />
    </mat-form-field>

    <mat-form-field appearance="outline" class="cat-serach-class cat-ml-div-2">
      <mat-label>Search On Category</mat-label>
      <input
        [(ngModel)]="categoryName"
        matInput
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter item category"
      />
    </mat-form-field>

    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="cat-clear-date-div"
      >filter_list_off</mat-icon
    >
  </div>

  <div class="button-container">
    <button
      mat-flat-button
      (click)="addItemCategory()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<app-table
  [displayedColumns]="displayedColumns"
  [customHeaderNames]="customHeaderNames"
  [dataSource]="itemCategories"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [actionButtons]="actionButtons"
  (pageChanged)="onPageChange($event)"
  (actionClicked)="onActionClicked($event)"
></app-table>
