<div class="d-flex">
  <mat-form-field appearance="outline">
    <mat-label>Select Date Range</mat-label>
    <mat-date-range-input [formGroup]="formData" [rangePicker]="picker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="customStartDate"
      />
      <input
        matEndDate
        placeholder="End date"
        formControlName="customEndDate"
      />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <div>
    <mat-icon
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div"
    >
      sync
    </mat-icon>
  </div>
</div>
