<h4 class="header"><b>UNIT TYPE</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card" style="width: 94%">
      <mat-card-header class="cmn-mat-card-header"
        ><b>{{ isAdding ? "ADD UNIT" : "EDIT UNIT" }}</b></mat-card-header
      >
      
      <mat-card-content class="cmn-mat-card-content">
        <mat-form-field appearance="outline"  class="unit-t-mat-40">
          <mat-label>Select  Project</mat-label>
          <mat-select id="projectId" formControlName="projectId">
            <mat-option value="">Select a project</mat-option>
            <mat-option *ngFor="let project of projects" [value]="project.projectId">
              {{ project.projectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Effective Rate Area</mat-label>
          <mat-select formControlName="typeId">
            <mat-option *ngFor="let option of areaType" [value]="option.id">
              {{ option.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Rate</mat-label>
          <input matInput formControlName="rate" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Unit Type</mat-label>
          <mat-select formControlName="areaTypeId">
            <mat-option *ngFor="let option of unitTypes" [value]="option.id">
              {{ option.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Super Area </mat-label>
          <input matInput formControlName="superArea" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Build-Up Area</mat-label>
          <input matInput formControlName="builtUpArea" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Construction Cost</mat-label>
          <input matInput formControlName="constructionCost" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Plot Area</mat-label>
          <input matInput formControlName="plotArea" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>UDSL Cost</mat-label>
          <input matInput formControlName="udslCost" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Carpet Area</mat-label>
          <input matInput formControlName="carpetArea" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Balcony Area</mat-label>
          <input matInput formControlName="balconyArea" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Unit Of Measurement</mat-label>
          <mat-select formControlName="mesurementId">
            <mat-option *ngFor="let option of mesurement" [value]="option.id">
              {{ option.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>USDL Area</mat-label>
          <input matInput formControlName="udslArea" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Phase Type</mat-label>
          <mat-select formControlName="phaseReferenceId">
            <mat-option *ngFor="let phase of phaseTypes" [value]="phase.id">
              {{ phase.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="unit-t-mat-40">
          <mat-label>Show On Payment</mat-label>
          <mat-select formControlName="showOnPayments" multiple>
            <mat-option *ngFor="let option of payments" [value]="option">{{
              option.commonRefValue
            }}</mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-radio-group
          aria-label="Select an option"
          style="padding-right: 62px"
        >
          <span style="margin-left: 2%"> Is Saleable</span>
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>

        <mat-form-field
          appearance="outline"
          class="unit-t-mat-40"
          *ngIf="!isAdding"
        >
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">Select Status</mat-option>
            <mat-option
              *ngFor="let element of statuses"
              [value]="element.commonRefKey"
            >
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('status')?.hasError('required')">
            Please select one option
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="unit-t-mat-70">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field> -->
        <div appearance="outline" class="unit-t-mat-70">
          <textarea
            matInput
            formControlName="description"
            rows="1"
            placeholder="Home Location"
            style="flex: 1; width: 100%; padding: 8px 10px"
          ></textarea>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <div style="text-align: right" class="button">
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoUnits()"
          >
            BACK
          </button>
          <button
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            *ngIf="isAdding"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
