<div style="padding-bottom: 8px; padding-top: 6px">
  <div class="leads-update">
    <div class="title-div">
      <span class="lead-header">SITE VISIT DONE LEADS</span>
    </div>
    <button
      mat-flat-button
      style="
        color: white;
        background-color: #075477;
        margin-right: 1rem;
        width: 150px;
      "
      class="btn-class"
      (click)="generateLeadsReport()"
      *ngIf="user.roleName === 'sales head' || user.roleName === 'CTO'"
    >
      <mat-icon class="font"
        ><span class="material-symbols-outlined">
          download
        </span></mat-icon
      >
      Download
    </button>

    <!-- <div style="display: flex; gap: 8px">
      <app-refresh-button (refreshEvent)="ngOnInit()"></app-refresh-button>

    </div> -->
      <mat-slide-toggle formControlName="isExpried" (change)="onToggle($event)" 
          [checked]="!isExpried" style="padding-top: 2px; width: 270px;">
          Include Expired Leads
        </mat-slide-toggle>
  </div>
</div>
<div class="button-row">
  <div style="margin-bottom: 1rem; margin-left: 1rem">
    <div style="margin-bottom: 0rem">
      <div class="search-container">
        <div class="search-box" style="margin-right: 10px">
          <mat-form-field
            appearance="outline"
            class="search-class"
          >
            <mat-label>Phone No</mat-label>
            <input
              [value]="phoneNumber === undefined ? '' : phoneNumber"
              matInput
              (input)="onSearch($any($event).target?.value)"
              placeholder="Enter Phone No"
            />
          </mat-form-field>
          <button
            mat-icon-button
            matSuffix
            (click)="onClickSearchButton()"
            type="button"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="search-box" style="margin-right: 10px">
          <mat-form-field
            appearance="outline"
            class="search-class ml-2"
          >
            <mat-label>Name</mat-label>
            <input
              matInput
              [value]="userName === undefined ? '' : userName"
              (input)="onSearchUserName($any($event).target?.value)"
              placeholder="Enter Customer Name"
            />
          </mat-form-field>
          <button
            mat-icon-button
            matSuffix
            (click)="onClickSearchName()"
            type="button"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <mat-form-field class="ml-2" appearance="outline" style="width: 25%">
          <input type="text" placeholder="Select Projects" aria-label="Select projects" matInput
            [matAutocomplete]="projectAuto" [formControl]="project" (input)="searchProject($event)" />
        </mat-form-field>
  
        <mat-autocomplete #projectAuto="matAutocomplete">
          <mat-option>  <mat-checkbox #allProjectSelected (click)="onAllSelectProject()" [checked]="isProjectAllSelected()">All</mat-checkbox></mat-option> 
          <mat-option *ngFor="let project of projects" (click)="$event.preventDefault()">
            <div (click)="$event.stopPropagation()">
            
              <mat-checkbox [checked]="isSelectedProject(project.projectId)" (change)="onProjectSelect(project, $event)"
                (click)="$event.stopPropagation()">
                {{ project.projectName }}
              </mat-checkbox>
            </div>
          </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="onProjectSelectButtonClick()" type="button">
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field
          appearance="outline"
          class="search-class ml-2"
          style="margin-right: 10px"
        >
          <mat-label>Select Status</mat-label>
          <mat-select
            (selectionChange)="onStatusSelectionChange($event)"
            [(value)]="selectedStatus"
          >
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let item of leadStatus" [value]="item.id">
              {{ item.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="search-class ml-2">
          <mat-label>Select Day</mat-label>
          <mat-select
            (selectionChange)="handleDaySelection($event.value)"
            [value]="selectedDay"
          >
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="showDateRangePicker"
          class="time-picker ml-2"
          appearance="outline"
        >
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input
            [formGroup]="formData"
            [rangePicker]="picker"
            (click)="picker.open()"
          >
            <input
              matStartDate
              placeholder="Start date"
              formControlName="customStartDate"
              (focus)="picker.open()"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="customEndDate"
              (focus)="picker.open()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="search-class ml-2">
          <mat-label>Assigned To</mat-label>
          <mat-select
            (selectionChange)="onUsernameSelectionChange($event.value)"
            [value]="userNameFromDashBoard"
          >
            <mat-option value="">Select UserName</mat-option>
            <mat-option *ngFor="let item of userDetails" [value]="item.userId">
              {{ item.userName }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <button
          mat-flat-button
          (click)="toggleMenu($event)"
          style="
            width: 140px;
            background-color: rgb(97, 97, 38);
            color: white;
            margin-left: 1rem;
            margin-right: 1rem;
          "
        >
          <i class="bi bi-funnel-fill"></i> More
        </button>
 
        <div
          [formGroup]="formData"
          *ngIf="menuOpen"
          class="custom-dropdown"
          [ngStyle]="dropdownPosition"
        >
          <div class="header-with-close" style="cursor: pointer">
            <i class="bi bi-x-lg close-icon" (click)="closeMenu()"></i>
          </div>
          <div class="search-box">
            <mat-form-field
              appearance="outline"
              class="search-class ml-2"
              style="width: 94%"
            >
              <mat-label>Opportunity Id</mat-label>
              <input
                matInput
                [value]="opportunityId === undefined ? '' : opportunityId"
                (input)="onSearchOpportunityId($any($event).target?.value)"
                placeholder="Enter Opportunity Id"
              />
            </mat-form-field>

            <button
              mat-icon-button
              matSuffix
              (click)="onClickOpportunityIdSearchButton()"
              type="button"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>

          <div>
            <mat-form-field
              class="ml-2"
              style="width: 94%"
              appearance="outline"
              *ngIf="
                !(
                  user.roleName.toLowerCase() === 'channel partner' ||
                  user.roleName.toLowerCase() === 'cp user'
                )
              "
            >
              <mat-label>Select Source</mat-label>
              <mat-select formControlName="sourceIds" multiple>
                <mat-option
                  #allSelected
                  (click)="toggleAllSelection()"
                  [value]="0"
                  >All</mat-option
                >
                <mat-option
                  (click)="tosslePerOne()"
                  *ngFor="let source of sources"
                  [value]="source.leadSourceId"
                >
                  {{ source.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              class="ml-2"
              appearance="outline"
              *ngIf="
                !(
                  user.roleName.toLowerCase() === 'channel partner' ||
                  user.roleName.toLowerCase() === 'cp user'
                )
              "
              style="width: 94%"
            >
              <input
                type="text"
                placeholder="Select Sub Sources"
                aria-label="Select Sub Sources"
                matInput
                [matAutocomplete]="auto"
                [formControl]="subSourceControl"
                (input)="searchSubSource($event)"
              />
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let subSource of filteredSubSources"
                (click)="$event.preventDefault()"
              >
                <div (click)="$event.stopPropagation()">
                  <mat-checkbox
                    [checked]="isSelected(subSource.leadSubSourceId)"
                    (change)="onSelectionSubSourceChange(subSource, $event)"
                    (click)="$event.stopPropagation()"
                  >
                    {{ subSource.name }}
                  </mat-checkbox>
                </div>
              </mat-option>
            </mat-autocomplete>
          </div>
          <div>
            <mat-form-field
              appearance="outline"
              class="search-class ml-2"
              style="width: 94%"
              *ngIf="showDropdown"
            >
              <mat-label>Assigned To</mat-label>
              <mat-select
                (selectionChange)="onUsernameSelectionChange($event.value)"
                [value]="assignedTo"
              >
                <mat-option value="">Select UserName</mat-option>
                <mat-option
                  *ngFor="let item of userDetails"
                  [value]="item.userId"
                >
                  {{ item.userName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-card class="leads-cmn-card">
    <mat-card-content class="leads-cmn-card-content">
      <div class="tab-head">
        <table
          matSort
          mat-table
          [dataSource]="this.leads"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="rowNumber">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="opportunityId">
            <th mat-header-cell *matHeaderCellDef>Opportunity Id</th>
            <td mat-cell *matCellDef="let lead">{{ lead.opportunityId }}</td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef>Created Date</th>
            <td
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{ lead.createdDate | date : 'medium' }}"
            >
              {{ lead.createdDate | date : "mediumDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{ lead.name?.length ? lead.name : 'No Name' }}"
            >
              {{
                lead.name
                  ? lead.name.length > 10
                    ? (lead.name | slice : 0 : 10) + "..."
                    : lead.name
                  : "N/A"
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let lead">{{ lead.projectName }}</td>
          </ng-container>
          <ng-container matColumnDef="sourceName">
            <th mat-header-cell *matHeaderCellDef>Source</th>
            <td mat-cell *matCellDef="let lead">{{ lead.sourceName }}</td>
          </ng-container>
          <ng-container matColumnDef="subSourceName">
            <th mat-header-cell *matHeaderCellDef>Sub Source</th>
            <td
              style="width: 30px"
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{
                lead.subSourceName?.length
                  ? lead.subSourceName
                  : 'No Sub Source'
              }}"
            >
              {{
                lead.subSourceName
                  ? lead.subSourceName.length > 10
                    ? (lead.subSourceName | slice : 0 : 10) + "..."
                    : lead.subSourceName
                  : "N/A"
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="preSalesManagerName">
            <th mat-header-cell *matHeaderCellDef>PreSales</th>
            <td
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{
                lead.assignedPresalesUserName?.length
                  ? lead.assignedPresalesUserName
                  : ''
              }}"
            >
              {{
                lead.assignedPresalesUserName
                  ? lead.assignedPresalesUserName.length > 10
                    ? (lead.assignedPresalesUserName | slice : 0 : 10) + "..."
                    : lead.assignedPresalesUserName
                  : "N/A"
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="salesManagerName">
            <th mat-header-cell *matHeaderCellDef>Sales</th>
            <td
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{
                lead.assignedSalesUserName?.length
                  ? lead.assignedSalesUserName
                  : 'No Sales Person'
              }}"
            >
              {{
                lead.assignedSalesUserName
                  ? lead.assignedSalesUserName.length > 10
                    ? (lead.assignedSalesUserName | slice : 0 : 10) + "..."
                    : lead.assignedSalesUserName
                  : "N/A"
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="unitName">
            <th mat-header-cell *matHeaderCellDef>Unit Type</th>
            <td mat-cell *matCellDef="let lead">
              {{ lead.preferredFlatType || "N/A" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td
              mat-cell
              *matCellDef="let lead"
              (click)="onLeadRowClick(lead.id)"
            >
              <span
                class="remarks-short"
                matTooltip="{{
                  lead.remarks?.length ? lead.remarks : 'No remarks'
                }}"
              >
                {{
                  lead.remarks
                    ? lead.remarks.length > 25
                      ? (lead.remarks | slice : 0 : 25) + "..."
                      : lead.remarks
                    : "N/A"
                }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Current Status</th>
            <td mat-cell *matCellDef="let lead">{{ lead.status }}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="currentFollowUpDate">
            <th mat-header-cell *matHeaderCellDef>Current Status Updated On</th>
            <td
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{ lead.currentFollowUpDate | date : 'medium' }}"
            >
              {{ lead.currentFollowUpDate | date : "mediumDate" }}
            </td>
          </ng-container> -->
          <ng-container matColumnDef="prevStatus">
            <th mat-header-cell *matHeaderCellDef>Preview Status</th>
            <td mat-cell *matCellDef="let lead">{{ lead.prevStatus }}</td>
          </ng-container>
          <ng-container matColumnDef="followUpDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              matTooltip="Preview Status Updated On"
            >
              Preview Status...
            </th>
            <td
              mat-cell
              *matCellDef="let lead"
              matTooltip="{{ lead.followUpDate | date : 'medium' }}"
            >
              {{ lead.followUpDate | date : "mediumDate" }}
            </td>
          </ng-container>
          >
          <ng-container matColumnDef="leadType">
            <th mat-header-cell *matHeaderCellDef>Lead Type</th>
            <td
              mat-cell
              *matCellDef="let lead"
              [ngClass]="getTypeClass(lead.type)"
            >
              {{ lead.type || "N/A" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let lead">
              <mat-icon
                matTooltip="Followups"
                (click)="handleFollowups(lead.id)"
                class="font icon-spacing"
                *ngIf="!isChannelPartner"
                >event_note</mat-icon
              >

              <mat-icon
                matTooltip="History"
                (click)="viewLeadHistories(lead.id)"
                class="font icon-spacing"
                >history</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            class="table-row"
            mat-row
            *matRowDef="let lead of leads; columns: displayedColumns"
            (click)="isNotLastColumn($event) ? onLeadRowClick(lead.id) : null"
          ></tr>
        </table>
      </div>
    </mat-card-content>
    <b>
      <hr style="margin: 0" />
    </b>
    <mat-card-footer class="pagination-sec">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons
        class="custom-paginator"
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
