<h2 class="header"><b>Add Sales Agreement Template</b></h2>

<form [formGroup]="formData">
  <div class="example-container">
    <mat-card class="ajna-consmp-card">
      <mat-card-header>
        <b>{{ isAdding ? "ADD Sales Agreement" : "EDIT Sales Agreement" }}</b>
      </mat-card-header>
      <mat-card-content class="cmn-mat-card-content">
        <div formGroupName="salesAgreementTemplateBean" class="form-grid">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Project</mat-label>
            <input
              type="text"
              matInput
              (input)="searchProject($event)"
              [formControl]="project"
              [matAutocomplete]="projectAuto"
            />
            <mat-autocomplete
              #projectAuto="matAutocomplete"
              (optionSelected)="onProjectSelect($event)"
              [displayWith]="displayProject"
            >
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let option of projects" [value]="option">
                {{ option.projectName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Company Type</mat-label>
            <mat-select (selectionChange)="onUnitTypeBelongsChange($event)">
              <mat-option *ngFor="let element of companyType" [value]="element">
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Sales Agreement Template Name</mat-label>
            <input
              type="text"
              matInput
              formControlName="salesAggrementTemplateName"
              placeholder="Enter the template name"
            />
          </mat-form-field>
        </div>

        <div class="file-related-div">
          <div class="pr-1">
            <div class="file-select">
              <div class="choose-file">
                <input
                  type="file"
                  id="fileInput"
                  (change)="onFileChange($event)"
                />
                <!-- Show 'Choose File' when no file is selected -->
                <label
                  for="fileInput"
                  class="custom-file-label"
                  *ngIf="!fileName"
                  >Choose File</label
                >
                <!-- Show selected file name if file is chosen -->
                <!-- <span class="file-chosen" *ngIf="fileName">{{ fileName }}</span> -->
              </div>
              <!-- <span class="file-note" *ngIf="fileName"> <b>File Type :</b> .xls, .xlsx</span>
              <div *ngIf="fileTypeError" class="error-message">
                Invalid file type. Please select a .xls or .xlsx file.
              </div> -->
            </div>

            <div class="upload-mob-top">
              <button mat-flat-button class="btn-class" (click)="uploadFiles()">
                Upload
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            *ngIf="isView"
            mat-flat-button
            class="btn-class primary"
            (click)="clearForm()"
          >
            CLOSE
          </button>
          <ng-container *ngIf="!isView">
            <button mat-flat-button class="btn-class primary" (click)="save()">
              {{ isAdding ? "ADD" : "UPDATE" }}
            </button>
            <button
              mat-flat-button
              type="button"
              class="btn-class warn"
              (click)="clearForm()"
            >
              RESET
            </button>
            <button
              mat-flat-button
              class="btn-class accent"
              type="button"
              (click)="gotoTemplates()"
            >
              BACK
            </button>
          </ng-container>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
