.mat-card-scroll {
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

.mat-45 {
  width: 50%;
}

/* *********Responsive CSS Start************* */
@media screen and (max-device-width: 480px) {
  .mat-card-scroll {
    max-height: inherit;
    overflow: unset;
    overflow-y: unset;
  }
  .mat-45 {
    width: 97%;
    margin-top: 0px;
    padding-top: 0px;
  }
}
.cmn-mat-content {
  margin-top: 3% !important;
  max-height: 70vh;
  overflow-y: auto;
}
