<h4 class="header">
  <b>{{ isAdding ? "ADD PROJECT CHARGE" : "EDIT PROJECT CHARGE" }}</b>
</h4>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content class="cmn-mat-content mat-card-scroll">
        <div class="row">
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Charge Name</mat-label>
            <input matInput formControlName="name" type="text" />
            <mat-error *ngIf="formData.get('name')?.hasError('required')"
              >Charge Name is required</mat-error
            >
          </mat-form-field>
          <!-- charge Type -->
          <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>Search/Select Charge Type</mat-label>
          <input
            type="text"
            matInput
            [value]="
              selectedChargeType.commonRefValue
                ? selectedChargeType.commonRefValue
                : ''
            "
            (input)="searchChargeType($event)"
            [formControl]="chargeTypes"
            [matAutocomplete]="chargeTypeAuto"
          />
          <mat-autocomplete
            #chargeTypeAuto="matAutocomplete"
            (optionSelected)="onChargeTypeSelect($event)"
            [displayWith]="displayChargeType"
          >
            <mat-option *ngFor="let option of chargeTypeData" [value]="option">
              {{ option.commonRefValue }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formData.get('chargeType')?.hasError('required')"
          >Charge Type is required</mat-error
        >
        </mat-form-field>
          <!-- charge in -->
          
        </div>
        <div class="row">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Search/Select Charge In</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedChargeIn.commonRefValue
                  ? selectedChargeIn.commonRefValue
                  : ''
              "
              (input)="searchCharge($event)"
              [formControl]="chargeIns"
              [matAutocomplete]="chargeInAuto"
            />
            <mat-autocomplete
              #chargeInAuto="matAutocomplete"
              (optionSelected)="onChargeInSelect($event)"
              [displayWith]="displayChargeIn"
            >
              <mat-option *ngFor="let option of chargeInData" [value]="option">
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Search/Select Amount Calculate</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedAmountCalculate.commonRefValue
                  ? selectedAmountCalculate.commonRefValue
                  : ''
              "
              (input)="searchAmountCalculate($event)"
              [formControl]="amountCalculatedFc"
              [matAutocomplete]="acAuto"
            />
            <mat-autocomplete
              #acAuto="matAutocomplete"
              (optionSelected)="onAmountCalculateSelect($event)"
              [displayWith]="displayAmountCalculate"
            >
              <mat-option
                *ngFor="let option of amountCalculateData"
                [value]="option"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          
        </div>
        <div class="row">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Search/Select Project</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedProject.projectName ? selectedProject.projectName : ''
              "
              (input)="searchProject($event)"
              [formControl]="projectFc"
              [matAutocomplete]="projectAuto"
            />
            <mat-autocomplete
              #projectAuto="matAutocomplete"
              (optionSelected)="onProjectSelect($event)"
              [displayWith]="displayProject"
            >
              <mat-option *ngFor="let option of projectsData" [value]="option">
                {{ option.projectName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          

          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Search/Select Floor</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedLevel.name ? selectedLevel.name : ''
              "
              (input)="searchFloor($event)"
              [formControl]="levelFc"
              [matAutocomplete]="levelAuto"
            />
            <mat-autocomplete
              #levelAuto="matAutocomplete"
              (optionSelected)="onFloorSelect($event)"
              [displayWith]="displayLevel"
            >
              <mat-option *ngFor="let option of levelsData" [value]="option">
                {{ option.levelname }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Charge Type</mat-label>
            <mat-select formControlName="chargeType">
              <mat-option *ngFor="let item of costSheetList" [value]="item.id">
                {{ item.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>

        <div class="row">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Search/Select Phase</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedPhase.commonRefValue ? selectedPhase.commonRefValue : ''
              "
              (input)="searchPhase($event)"
              [formControl]="uom"
              [matAutocomplete]="phaseAuto"
            />
            <mat-autocomplete
              #phaseAuto="matAutocomplete"
              (optionSelected)="onPhaseSelect($event)"
              [displayWith]="displayPhase"
            >
              <mat-option *ngFor="let option of phasesData" [value]="option">
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Charge Amount</mat-label>
            <input matInput formControlName="amount" type="text" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-45" *ngIf="!isAdding">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">Select Status</mat-option>
              <mat-option
                *ngFor="let element of statuses"
                [value]="element.commonRefKey"
              >
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div appearance="outline" class="pr-mat-45">
          <mat-label *ngIf="!isAdding">Charge Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            rows="1"
            placeholder="Charge Description"
            style="flex: 1; width: 100%; padding: 8px 10px"
            (input)="autoResize()"
            #textArea
          ></textarea>
        </div>
        <!-- <div class="row">
          <mat-form-field
            class="example-full-width"
            class="mat-45"
            appearance="outline"
          >
            <mat-label>Search/Select UOM</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedUom.commonRefValue ? selectedUom.commonRefValue : ''
              "
              (input)="searchUom($event)"
              [formControl]="uom"
              [matAutocomplete]="uomAuto"
            />
            <mat-autocomplete
              #uomAuto="matAutocomplete"
              (optionSelected)="onUOMSelect($event)"
              [displayWith]="displayUom"
            >
              <mat-option
                *ngFor="let option of unitOfMeasurements"
                [value]="option"
              >
                {{ option.commonRefValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-45" *ngIf="!isAdding">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="">Select Status</mat-option>
              <mat-option
                *ngFor="let element of statuses"
                [value]="element.commonRefKey"
              >
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="goToProjectCharges()"
            type="button"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
