<h4 class="header"><b>ISSUES</b></h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-header><b>{{ isAdding ? "ADD ISSUES" : "EDIT ISSUES" }}</b></mat-card-header>
      <mat-card-content class="mat-content">
        <div class="row" *ngFor="let issue of projectIssueDetails">
          <div class="col-md-4">
            <p><strong>Customer Name:</strong> {{ issue.customerName }}</p>
            <p><strong>Level Name:</strong> {{ issue.levelName }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Project Name:</strong> {{ issue.projectName }}</p>
            <p><strong>Unit Name:</strong> {{ issue.unitName }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>Block Name:</strong> {{ issue.blockName }}</p>
          </div>
                  
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="mat-30">
            <mat-label>IssueTypes</mat-label>
            <mat-select formControlName="issueTypeId">
              <mat-option *ngFor="let issues of issuesTypeData" [value]="issues.id" (click)="getAllIssueTypes()"
                (click)="getAllSubIssueTypes(issues.commonRefValue)">
                {{ issues.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-30">
            <mat-label>IssueSubTypes</mat-label>
            <mat-select formControlName="issueSubTypeId">
              <mat-option *ngFor="let issues of issuesSubTypeData" [value]="issues.id" (click)="getAllIssueTypes()">
                {{ issues.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       <div class="form-row">
        <mat-form-field appearance="outline" class="mat-50">
          <mat-label>Issues Discription</mat-label>
          <input matInput formControlName="issueDescription" />
        </mat-form-field>
        
          <input type="file" (change)="onFileSelect($event)" #fileInput style="width: 50%;margin-left: 3%;" />
          <!-- <button mat-flat-button class="btn-class" style="color: white; background-color: #075477"
            (click)="onUpload()">
            Upload
          </button> -->
    
       </div>



      </mat-card-content>
      <mat-card-footer>
        <div style="text-align: right" class="button">
          <button mat-flat-button style="color: white; background-color: #004869" class="btn-class">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
          <button mat-flat-button style="color: white; background-color: red" class="btn-class" (click)="clearForm()">
            RESET
          </button>
          <button mat-flat-button style="color: white; background-color: rgb(97, 97, 38)" class="btn-class"
            (click)="gotoIssuess()">
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>