<h2 mat-dialog-title class="dialog-title">INVENTORY TRANSFER DETAILS</h2>

<mat-dialog-content class="dialog-content">
  <table class="details-table">
    <tr>
      <td class="label-cell"><strong>Category Name</strong></td>
      <td class="value-cell">{{ ":" }}&emsp;{{ data.categoryName }}</td>
      <td class="label-cell"><strong>Sub-Category Name</strong></td>
      <td class="value-cell">{{ ":" }}&emsp;{{ data.subCategoryName }}</td>
    </tr>

    <tr>
      <td class="label-cell"><strong>Material Code</strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.materialCode || "N/A" }}
      </td>
      <td class="label-cell"><strong>Specification Name</strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.specificationName || "N/A" }}
      </td>
    </tr>
    <tr>
      <td class="label-cell"><strong>Transfered Store </strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.toStoreName || data.toSiteName }}
      </td>
      <td class="label-cell"><strong>Recived Store Or Site</strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.toStoreName || data.toSiteName }}
      </td>
    </tr>

    <tr>
      <td class="label-cell"><strong>Quantity Transfered</strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.quantityTransferred || "N/A" }}
      </td>
      <td class="label-cell"><strong>Unit Name</strong></td>
      <td class="value-cell">{{ ":" }}&emsp;{{ data.unitName || "N/A" }}</td>
    </tr>

    <tr>
      <td class="label-cell"><strong>Transfered By</strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.transferredBy || "N/A" }}
      </td>
      <td class="label-cell"><strong>Recived By</strong></td>
      <td class="value-cell">{{ ":" }}&emsp;{{ data.receivedBy || "N/A" }}</td>
    </tr>

    <tr>
      <td class="label-cell"><strong>Transfered Date</strong></td>
      <td class="value-cell">
        {{ ":" }}&emsp;{{ data.transferDate | date : "dd-MM-yyyy" }}
      </td>
    </tr>
    <!-- <tr>
      <td class="label-cell"><strong>Transfered Store :</strong></td>
      <td class="value-cell">{{ data.toStoreName || data.toSiteName }}</td>
      <td class="label-cell"><strong>Recived Store Or Site</strong></td>
      <td class="value-cell">{{ data.purchaseOrderCode }}</td>
    </tr>

    
    <tr>
      <td class="label-cell"><strong>Quantity Transfered:</strong></td>
      <td class="value-cell">{{ data.quantityTransferred || "N/A" }}</td>
      <td class="label-cell"><strong>Unit Name:</strong></td>
      <td class="value-cell">{{ data.unitName || "N/A" }}</td>
    </tr>

    <tr>
      <td class="label-cell"><strong>Unit Name:</strong></td>
      <td class="value-cell">{{ data.inventoryUnitName || "N/A" }}</td>
      <td class="label-cell"><strong> VendorName Name:</strong></td>
      <td class="value-cell">{{ data.vendorName || "N/A" }}</td>
    </tr>

    <tr>
      <td class="label-cell"><strong>Received By:</strong></td>
      <td class="value-cell">{{ data.userName }}</td>
      <td class="label-cell"><strong>Received Date:</strong></td>
      <td class="value-cell">{{ data.receivedDate | date }}</td>
    </tr> -->
  </table>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onClose()" class="close-button">Close</button>
</mat-dialog-actions>
