.ir-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.example-container {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 100%;
}
.form-section {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem auto;
}
.inline-error {
  color: red;
  font-size: 10px;
  margin-top: 2px;
}
.ir-mat-45 {
  width: 50%;
}

.ir-mat-100 {
  width: 100%;
}
.text-muted {
  color: #004869;
}
