<div
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" *ngIf="storeItems.length > 0">
    <div class="modal-content">
      <div>
        <div class="column-div">AVAILABLE STORE STOCK</div>
      </div>
      <div class="modal-body-div">
        <table
          matSort
          mat-table
          [dataSource]="storeItems"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="rowNumber">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let element">
              {{ element.projectName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="storeName">
            <th mat-header-cell *matHeaderCellDef>Store</th>
            <td mat-cell *matCellDef="let element">
              {{ element.storeName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="materialType">
            <th mat-header-cell *matHeaderCellDef>Category Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.categoryName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="subCategoryName">
            <th mat-header-cell *matHeaderCellDef>Sub Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.subCategoryName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="specificationName">
            <th mat-header-cell *matHeaderCellDef>Specification</th>
            <td mat-cell *matCellDef="let element">
              {{ element.specificationName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="unitName">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let element">
              {{ element.unitName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="storeInventory">
            <th mat-header-cell *matHeaderCellDef>Store Stock</th>
            <td mat-cell *matCellDef="let element">
              {{ element.storeStock | number }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedStoreColumns"></tr>
          <tr
            class="table-row"
            mat-row
            *matRowDef="let row; columns: displayedStoreColumns"
          ></tr>
        </table>
      </div>
      <div>
        <mat-card-footer class="pagination-sec">
          <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
          ></mat-paginator>
        </mat-card-footer>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="onCancelDialog('cancel')"
        >
          {{ status === "raise" ? " No, Don't Raise" : "Cancel" }}
        </button>

        <button type="button" class="btn btn-primary" (click)="raiseIndent()">
          {{ status === "raise" ? "Raise Indent" : "Approve Indent" }}
        </button>
      </div>
    </div>
  </div>
</div>
