
.mat-50 {
  width: 100%;
  /* margin-top: 1%; */
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 2% 2% 2% 0;
}
/* .btn-class {
  margin-left: 10px;
} */
.mat-dialog {
    margin-left: 50%;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 2% 2% 2% 0;
}
.btn-class {
  margin-left: 10px;
}
