<div class="customer-component">
  <div class="cp-documents">
    <div class="units-heading">
      <h2 class="cp-header">CP DOCUMENTS</h2>
    </div>
    <mat-card class="cmn-card">
      <mat-card-content class="cmn-card-content">
        <div class="table-body">
          <table
            matSort
            mat-table
            [dataSource]="channelPartnerDocuments"
            class="mat-elevation-z8"
          >
            <!-- Document Name Column -->
            <ng-container matColumnDef="documentName">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Document Name
              </th>
              <td mat-cell *matCellDef="let row">{{ row.fileName }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: #004869; color: white"
              >
                Actions
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <!-- If file exists, show download -->
                <ng-container *ngIf="row.fileUrl; else uploadBlock">
                  <mat-icon
                    class="font"
                    style="color: #004869; cursor: pointer"
                    matTooltip="Download"
                    (click)="download(row.fileUrl, row.fileName)"
                  >
                    download
                  </mat-icon>
                </ng-container>

                <ng-template #uploadBlock>
                  <input
                    type="file"
                    [id]="'fileInput' + i"
                    (change)="onFileSelected($event, row.varName, i)"
                    style="display: none"
                  />
                  <mat-icon
                    class="font"
                    style="color: #28a745; cursor: pointer"
                    matTooltip="Upload"
                    (click)="triggerFileInput(i)"
                  >
                    upload
                  </mat-icon>
                  <span
                    *ngIf="selectedFileName[i]"
                    class="filename-preview"
                    [matTooltip]="selectedFileName[i]"
                  >
                    {{ selectedFileName[i] }}
                  </span>
                </ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="update-btn">
      <button
        mat-flat-button
        class="btn-class primary"
        style="margin-right: 5px"
        (click)="saveFile()"
      >
        UPLOAD
      </button>
    </div>
  </div>
</div>
