
  <div class="customer-component-bg-color">
<h4 class="header">
    <b>{{ isAdding ? "ADD LEAD" : "UPDATE LEAD" }}</b>
  </h4>
  <form
    [class.blur-background]="isModalVisible"
    [formGroup]="formData"
    (ngSubmit)="save()"
  >
    <div class="example-container add-lead-main">
      <mat-card class="card" style="padding: 0">
        <mat-card-content class="cmn-mat-card-content mat-card-scroll">
          <div class="row" style="padding: 0 15px">
            <!-- Name Field -->
            <mat-form-field
            class="mat-45 stages-mdc-text-field"
              appearance="outline"
            
              style="margin-top: 8px"
            >
              <mat-label>Name</mat-label>
              <input
                id="al-name"
                matInput
                formControlName="name"
                type="text"
                [readonly]="isView"
              />
              <mat-error *ngIf="formData.get('name')?.hasError('required')"
                >Name is required</mat-error
              >
            </mat-form-field>
  
            <mat-form-field
            class="mat-45 stages-mdc-text-field"
            appearance="outline"
              style="margin-top: 8px"
            >
              <mat-label>Project</mat-label>
              <input
                id="al-project-name"
                type="text"
                matInput
                [value]="
                  selectedProject.projectName ? selectedProject.projectName : ''
                "
                (input)="searchProject($event)"
                [formControl]="project"
                [matAutocomplete]="projectAuto1"
                [readonly]="isView"
              />
              <mat-autocomplete
                #projectAuto1="matAutocomplete"
                (optionSelected)="onProjectSelect($event)"
                [displayWith]="displayProject"
              >
                <mat-option *ngFor="let option of projects" [value]="option">
                  {{ option?.projectName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  
            <mat-form-field appearance="outline" 
            class="mat-20 pt-20  stages-mdc-text-field">
              <mat-label>Country</mat-label>
              <input
                type="text"
                matInput
                (input)="searchCountry($event)"
                formControlName="countryCode"
                [matAutocomplete]="countryAuto"
                [readonly]="isView"
              />
              <mat-autocomplete #countryAuto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredCountries"
                  [value]="option.commonRefKey"
                >
                  {{ option.commonRefValue }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="mat-30 stages-mdc-text-field">
              <mat-label>Contact Number</mat-label>
              <input
                id="al-phn"
                matInput
                formControlName="phoneNumber"
                (input)="validatePhoneNumber()"
                [readonly]="isView"
              />
  
              <!-- Error for required phone number -->
              <mat-error
                *ngIf="formData.get('phoneNumber')?.hasError('required')"
              >
                Phone number is required.
              </mat-error>
  
              <!-- Error for incorrect phone number length -->
              <mat-error
                *ngIf="formData.get('phoneNumber')?.hasError('requiredLength')"
              >
                Number must be
                {{
                  formData.get("phoneNumber")?.getError("requiredLength")
                    ?.expectedLength
                }}
                digits.
              </mat-error>
              <mat-error
                *ngIf="formData.get('phoneNumber')?.hasError('incorrectPrefix')"
              >
                {{
                  formData.get("phoneNumber")?.getError("incorrectPrefix")
                    ?.message
                }}
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="row" style="padding: 0 15px">
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Alternate Contact Number</mat-label>
              <input
                id="al-alphn"
                matInput
                formControlName="alternatePhoneNumber"
                [readonly]="isView"
              />
              <mat-error
                *ngIf="
                  formData.get('alternatePhoneNumber')?.invalid &&
                  (formData.get('alternatePhoneNumber')?.dirty ||
                    formData.get('phoneNumber')?.touched)
                "
              >
                <span
                  *ngIf="formData.get('alternatePhoneNumber')?.errors?.['required']"
                  >Customer Contact Number is required.</span
                >
                <span
                  *ngIf="
                  formData.get('alternatePhoneNumber')?.errors?.['length'] &&
                  formData.get('alternatePhoneNumber')?.value?.length !== 10
                "
                >
                  Phone number must contain exactly 10 digits.
                </span>
  
                <span
                  *ngIf="
                  formData.get('alternatePhoneNumber')?.errors?.['pattern'] &&
                  formData.get('alternatePhoneNumber')?.value?.length === 10
                "
                >
                  Phone number must start with 6, 7, 8, or 9.
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Email</mat-label>
              <input
                id="al-email"
                matInput
                formControlName="email"
                type="email"
                [readonly]="isView"
              />
              <mat-error *ngIf="formData.get('email')?.hasError('email')"
                >Please enter a valid email address</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Gender</mat-label>
              <mat-select id="al-gndr" formControlName="gender">
                <mat-option value="Female" [disabled]="isView">
                  Female
                </mat-option>
                <mat-option value="Male" [disabled]="isView"> Male </mat-option>
              </mat-select>
            </mat-form-field>
  
            <!-- <mat-label>Home Location</mat-label> -->
            <!-- <mat-form-field appearance="outline" class="mat-45">
                <mat-label>Home Location</mat-label>
                <mat-select formControlName="homeLocation">
                  <mat-option *ngFor="let address of filteredAddresses" [value]="address">
                    {{ address }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
          </div>
  
          <div class="row" style="padding: 0 15px">
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Pin Code</mat-label>
              <input
                id="al-pincode"
                matInput
                formControlName="pincode"
                (input)="onSearchPinCode(pincode.value)"
                #pincode
              />
            </mat-form-field>
            <mat-form-field
              class="example-full-width"
              class="mat-45 stages-mdc-text-field"
              appearance="outline"
            >
              <mat-label>Home Location</mat-label>
              <input
                id="al-homel"
                type="text"
                matInput
                (input)="onChangeAddress($event)"
                formControlName="homeLocation"
                [matAutocomplete]="homeLocation"
                [readonly]="isView"
                #homeLocationInput
              />
              <mat-autocomplete #homeLocation="matAutocomplete">
                <mat-option
                  *ngFor="let address of filteredAddresses"
                  [value]="address"
                >
                  {{ address }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div appearance="outline" class="mat-45">
              <!-- <mat-label>Work Location</mat-label> -->
              <textarea
                matInput
                formControlName="workLocation"
                [readonly]="isView"
                rows="1"
                placeholder="Work Location"
                style="flex: 1; width: 100%; padding: 5px 10px; font-size: 13px; background-color: rgba(229, 226, 226, 0.5);"
                (input)="autoResizeWork()"
                #workTextarea
              ></textarea>
            </div>
            
          </div>
          <div
            class="row"
            style="padding: 0 15px"
            *ngIf="
              !(
                user.roleName.toLowerCase() === 'channel partner' ||
                user.roleName.toLowerCase() === 'cp users'
              )
            "
          >
            <mat-form-field
              appearance="outline"
              class="mat-45 txtarea-mobile-mtop stages-mdc-text-field"
            >
              <mat-label>Company Name</mat-label>
              <input
                id="al-cmpname"
                matInput
                formControlName="companyName"
                [readonly]="isView"
              />
            </mat-form-field>
           
           
            <mat-form-field appearance="outline"class="mat-45 txtarea-mobile-mtop stages-mdc-text-field">
              <mat-label>Select Customer Project</mat-label>
              <mat-select
                id="al-rf-cmr-prg"
                formControlName="referredCustomerProjectId"
              >
                <mat-option value="">Select Customer Project</mat-option>
                <mat-option
                  *ngFor="let project of customerProjects"
                  [value]="project.projectId"
                >
                  {{ project?.projectName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-45 txtarea-mobile-mtop stages-mdc-text-field">
              <mat-label>Customer Unit Name</mat-label>
              <input
                id="al-cun-name"
                matInput
                formControlName="customerUnitName"
                placeholder="Enter Customer Unit Name"
              />
            </mat-form-field>
          </div>
  
          <div class="row" style="padding: 0 15px">
          
            <mat-form-field
              class="example-full-width "
              class="mat-45 stages-mdc-text-field"
              appearance="outline"
            >
              <mat-label>Budget</mat-label>
              <input
                id="al-bgt"
                type="text"
                matInput
                formControlName="budget"
                [matAutocomplete]="budgetAuto"
                [readonly]="isView"
              />
              <mat-autocomplete #budgetAuto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredBudgets"
                  [value]="option.commonRefKey"
                >
                  {{ option.commonRefValue }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Select Lead Status</mat-label>
              <mat-select id="al-ld-sts" formControlName="typeId">
                <mat-option value="">Select Type</mat-option>
                <mat-option
                  *ngFor="let type of leadTypes"
                  [value]="type.id"
                  [disabled]="isView"
                >
                  {{ type.commonRefValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              class="example-full-width"
              class="mat-45 stages-mdc-text-field"
              appearance="outline"
            >
              <mat-label>Flat Type</mat-label>
              <input
                id="al-flt-type"
                type="text"
                matInput
                formControlName="preferredFlatType"
                [matAutocomplete]="unitAuto"
                [readonly]="isView"
              />
              <mat-autocomplete #unitAuto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredUnitTypes"
                  [value]="option.name"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
  
          <div class="row" style="padding: 0 15px"></div>
  
          <!-- <mat-form-field appearance="outline" class="mat-45">
            <mat-label>Pin Code</mat-label>
            <input matInput formControlName="pincode" />
          </mat-form-field> -->
          <div class="row" style="padding: 0 15px">
            
            <div appearance="outline" class="mat-45" >
              <!-- <mat-label>Remarks</mat-label> -->
              <textarea
                id="al-rmrks"
                matInput
                formControlName="remarks"
                [readonly]="isView"
                rows="1"
                placeholder="Remarks"
                style="flex: 1; width: 100%; padding: 5px 10px; font-size: 13px; background-color: rgba(229, 226, 226, 0.5);"
                (input)="autoResizeRemarks()"
                #remarksTextarea
              ></textarea>
            </div>
            <!-- <mat-form-field
              appearance="outline"
              class="mat-45 txtarea-mobile-mtop"
            >
              <mat-label>Spoken Language</mat-label>
              <input
                matInput
                formControlName="language"
                type="text"
                [readonly]="isView"
              />
            </mat-form-field> -->
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Spoken Language</mat-label>
              <input
                id="al-lng"
                type="text"
                matInput
                (input)="searchLanguage($event)"
                formControlName="language"
                [matAutocomplete]="languageAuto"
              />
              <mat-autocomplete #languageAuto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredLanguage"
                  [value]="option.commonRefValue"
                >
                  {{ option.commonRefValue }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div
            class="row"
            style="padding: 0 15px"
            *ngIf="
              user.roleName.toLowerCase() === 'sales member' ||
              user.roleName.toLowerCase() === 'sales manager'
            "
          >
            <mat-form-field appearance="outline" class="mat-45 stages-mdc-text-field">
              <mat-label>Choose Site Visit Date</mat-label>
              <input
                id="al-sv-date"
                matInput
                [matDatepicker]="datepicker"
                formControlName="siteVisitDate"
                (click)="datepicker.open()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
  
            <mat-error *ngIf="formData.get('siteVisitDate')?.hasError('required')"
              >Site visit Date is required</mat-error
            >
          </div>
          <div
            class="row"
            style="padding: 0 15px"
            *ngIf="
              user.roleName.toLowerCase() === 'channel partner' ||
              user.roleName.toLowerCase() === 'cp users'
            "
          >
            <mat-form-field
              appearance="outline"
              class="mat-45 txtarea-mobile-mtop stages-mdc-text-field"
            >
              <mat-label>Company Name</mat-label>
              <input
                id="al-cmp-name"
                matInput
                formControlName="companyName"
                [readonly]="isView"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-footer class="add-mat-card-footer">
          <div>
            <button
              id="al-bk"
              mat-flat-button
              class="btn-class accent"
              (click)="gotoLeads()"
              *ngIf="!isView"
            >
              BACK
            </button>
            <button
              id="al-rst"
              mat-flat-button
              class="btn-class warn"
              type="button"
              (click)="clearForm()"
            >
              RESET
            </button>
            <button
              id="al-sbt"
              mat-flat-button
              type="submit"
              *ngIf="!isView"
              [disabled]="
                user.roleName === 'sales member' &&
                this.formData.get('assignedToSales')?.value > 0 &&
                this.formData.get('assignedToSales')?.value !== user.userId
              "
              [ngClass]="{
                'disabled-button':
                  user.roleName === 'sales member' &&
                  this.formData.get('assignedToSales')?.value > 0 &&
                  this.formData.get('assignedToSales')?.value !== user.userId,
                'active-button': !(
                  user.roleName === 'sales member' &&
                  this.formData.get('assignedToSales')?.value > 0 &&
                  this.formData.get('assignedToSales')?.value !== user.userId
                )
              }"
            >
              {{
                isAdding
                  ? "ADD"
                  : user.roleName === "sales member" &&
                    (this.formData.get("assignedToSales")?.value === 0 ||
                      this.formData.get("assignedToSales")?.value === undefined ||
                      this.formData.get("assignedToSales")?.value === null)
                  ? "Assign To Me"
                  : "UPDATE"
              }}
            </button>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </form>
  <!-- <div *ngIf="">
    <h1>hiii</h1>
  </div> -->
  
  <!-- Button to trigger the modal -->
  <!-- Modal Structure -->
  <div *ngIf="isModalVisible" class="dialoge">
    <app-channelpatner-registration
      [isVisible]="isModalVisible"
      [errorMessages]="errorMessages"
      [title]="title"
      (close)="onModalClose()"
      (save)="onModalSave($event)"
    >
    </app-channelpatner-registration>
  </div>
  </div>

  