<div class="pac-header">
  <div class="center">STAGE PAYMENT DETAILS</div>
  <div class="right">
    <button
      mat-flat-button
      class="btn-class-home"
      id="goBack"
      style="background-color: rgb(97, 97, 38); color: white; width: 8rem"
      (click)="goBack()"
    >
      Go To Home
    </button>
  </div>
</div>

<div class="example-button-row">
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-class ml-2">
      <mat-label>Search On Customer Name</mat-label>
      <input
        matInput
        [value]="fristapplicantName"
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter Customer Name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="search-class ml-2">
      <mat-label>Search On Phone Number</mat-label>
      <input
        matInput
        (input)="onPhoneNumberSearch($any($event).target?.value)"
        placeholder="Enter Phone Number"
        [value]="phoneNumber"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-class ml-2">
      <mat-label>Payment Status</mat-label>
      <mat-select
        [formControl]="paymentStatusControl"
        [value]="selectedPaymentStatusesValue"
        [compareWith]="comparePaymentStatus"
        multiple
        (selectionChange)="onPaymentStatusSelect($event)"
      >
        <mat-option *ngFor="let status of paymentStatusNames" [value]="status">
          {{ status.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-class ml-2">
      <mat-label>Select TransActionType</mat-label>
      <mat-select
        (selectionChange)="onTransActionTypeSelect($event)"
        [value]="transActionTypeId"
      >
        <mat-option value="All">All</mat-option>
        <mat-option
          *ngFor="let element of transActionTypes"
          [value]="element.id"
        >
          {{ element.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-class ml-2">
      <mat-label>Unit Belongs To</mat-label>
      <mat-select
        (selectionChange)="onUnitTypeBelongsChange($event)"
        [(ngModel)]="typeId"
      >
        <!-- <mat-option value="All">All</mat-option> -->
        <mat-option *ngFor="let element of companyType" [value]="element.id">
          {{ element.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-flat-button
      (click)="toggleMenu($event)"
      style="
        width: 140px;
        margin-left: 10px;
        background-color: rgb(97, 97, 38);
        color: white;
      "
    >
      <i class="bi bi-funnel-fill"></i> More
    </button>
  </div>
  <div *ngIf="menuOpen" class="custom-dropdown" [ngStyle]="dropdownPosition">
    <div class="header-with-close">
      <i class="bi bi-x-lg close-icon" (click)="closeMenu()"></i>
    </div>
    <div>
      <mat-form-field
        appearance="outline"
        class="search-class ml-2"
        style="width: 82%"
      >
        <input
          type="text"
          placeholder="Select Projects"
          aria-label="Select projects"
          matInput
          [matAutocomplete]="projectAuto"
          [formControl]="project"
          (input)="searchProject($event)"
        />
      </mat-form-field>

      <mat-autocomplete #projectAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allProjectSelected
            (click)="onAllSelectProject()"
            [checked]="isProjectAllSelected()"
            >All</mat-checkbox
          ></mat-option
        >
        <mat-option
          *ngFor="let project of userManageprojects"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedProject(project.projectId)"
              (change)="onProjectSelect(project, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ project.projectName }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onProjectSelectButtonClick()"
        type="button"
        style="margin-left: -3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <!-- BLOCK -->
      <mat-form-field
        appearance="outline"
        class="search-class ml-2"
        style="width: 82%"
      >
        <input
          type="text"
          placeholder="Select Block"
          aria-label="Select Blocks"
          matInput
          [matAutocomplete]="blockAuto"
          [formControl]="block"
          (input)="searchBlock($event)"
        />
      </mat-form-field>

      <mat-autocomplete #blockAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allBlockSelected
            (click)="onAllSelectBlock()"
            [checked]="isBlockAllSelected()"
            >All</mat-checkbox
          ></mat-option
        >
        <mat-option
          *ngFor="let block of blocks"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedBlock(block.id)"
              (change)="onBlockSelect(block, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ block.name + " ( " + block.projectCode + " )" }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onBlockSelectButtonClick()"
        type="button"
        style="margin-left: -3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <!-- Payment Plan Selection -->
      <mat-form-field
        appearance="outline"
        class="search-class ml-2"
        style="width: 82%"
      >
        <input
          type="text"
          placeholder="Search Payment Plan"
          aria-label="Select Payments"
          matInput
          [matAutocomplete]="paymentPlanAuto"
          [formControl]="paymentPlan"
          (input)="searchPaymentPlan($event)"
        />
      </mat-form-field>
      <mat-autocomplete #paymentPlanAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allPaymentPlanSelected
            (click)="onAllPaymentPlan()"
            [checked]="isPaymentPlanAllSelected()"
            >All</mat-checkbox
          >
        </mat-option>
        <mat-option
          *ngFor="let option of paymentPlans"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedPaymentPlan(option.id)"
              (change)="onPaymentPlanSelect(option, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ option.planName + "( " + option.planCode + " )" }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onPaymentPlanSelectButtonClick()"
        type="button"
        style="margin-left: -3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field
        appearance="outline"
        class="search-class ml-2"
        style="width: 82%"
      >
        <input
          type="text"
          placeholder="Select Stages"
          aria-label="Select Stages"
          matInput
          [matAutocomplete]="stageAuto"
          [formControl]="stageFc"
          (input)="searchStage($event)"
        />
      </mat-form-field>
      <mat-autocomplete #stageAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allStageSelected
            (click)="onAllStageSelect()"
            [checked]="isStageAllSelected()"
            >All</mat-checkbox
          >
        </mat-option>
        <mat-option
          *ngFor="let option of stages"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedStage(option.stageId)"
              (change)="onStageSelect(option, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ option.stageName + " ( " + option.planCode + " )" }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onStageSelectButtonClick()"
        type="button"
        style="margin-left: -3px"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-form-field
      class="search-class ml-2"
      appearance="outline"
      style="width: 94%"
    >
      <mat-label>Search/Select Unit</mat-label>
      <input
        type="text"
        matInput
        (input)="searchUnit($event)"
        [formControl]="unit"
        [matAutocomplete]="unitAuto"
      />
      <mat-autocomplete
        #unitAuto="matAutocomplete"
        (optionSelected)="onUnitSelect($event)"
        [displayWith]="displayUnit"
      >
        <mat-option *ngFor="let option of units" [value]="option">
          {{ option.unitName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- <mat-form-field appearance="outline" class="search-class ml-2">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field> -->
</div>
<div class="totals-summary-header">
  <div class="totals-summary-item">
    Stage Total Amount(Excluding TDS):&nbsp;&nbsp;<span
      style="color: rgba(60, 9, 178, 0.682)"
      >{{ formatedTotalAmount }}</span
    >
  </div>
  <div class="totals-summary-item">
    Total Paid Amount(Excluding TDS):&nbsp;&nbsp;<span
      style="color: rgb(40, 178, 9)"
      >{{ formatedPaidAmount }}</span
    >
  </div>
  <div class="totals-summary-item">
    Total Pending Amount(Excluding TDS):&nbsp;&nbsp;<span
      style="color: rgb(218, 73, 73)"
      >{{ formatedPendingAmount }}</span
    >
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="paymentDetails"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.firstApplicantName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="firstApplicantPhoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.firstApplicantPhoneNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="stageName">
          <th mat-header-cell *matHeaderCellDef>Stage Name</th>
          <td mat-cell *matCellDef="let charge" [style.width]="'140px'">
            {{ charge.stageName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.projectName }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="block">
          <th mat-header-cell *matHeaderCellDef>Block</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.blockName }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef>Unit</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.unitName }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="unitType">
          <th mat-header-cell *matHeaderCellDef>Unit Type</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.unitTypeName }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef>Payment Date</th>
          <td mat-cell *matCellDef="let charge">
            {{
              charge.paymentDate
                ? (charge.paymentDate | date : "dd-MMM-yyyy")
                : "N/A"
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="stageTotalAmount">
          <th mat-header-cell *matHeaderCellDef>Stage Amount</th>
          <td
            mat-cell
            *matCellDef="let charge"
            [ngClass]="{
              WaitingForApproval:
                (charge.formattedTotalExpectedAmount &&
                  charge.formattedTotalExpectedAmount !== '₹0.00' &&
                  charge.formattedTotalExpectedAmount !== '₹0') ||
                (charge.formattedTotalTds &&
                  charge.formattedTotalTds !== '₹0.00' &&
                  charge.formattedTotalTds !== '₹0')
            }"
          >
            {{
              charge.transactionType === "Payment"
                ? charge.formattedTotalExpectedAmount
                : charge.formattedTotalTds
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="paidAmount">
          <th mat-header-cell *matHeaderCellDef>Paid Amount</th>
          <td
            mat-cell
            *matCellDef="let charge"
            [ngClass]="{
              approved:
                (charge.formattedPaidAmount &&
                  charge.formattedPaidAmount !== '₹0.00' &&
                  charge.formattedPaidAmount !== '₹0') ||
                (charge.formattedPaidTds &&
                  charge.formattedPaidTds !== '₹0.00' &&
                  charge.formattedPaidTds !== '₹0')
            }"
          >
            {{
              charge.transactionType === "Payment"
                ? charge.formattedPaidAmount
                : charge.formattedPaidTds
            }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="paidAmountForApproval">
          <th mat-header-cell *matHeaderCellDef>
            Paid Amount/TDS For Approval
          </th>
          <td
            mat-cell
            *matCellDef="let charge"
            [ngClass]="{
              pending:
                (charge.formattedPaidAmountForApproval &&
                  charge.formattedPaidAmountForApproval !== '₹0.00' &&
                  charge.formattedPaidAmountForApproval !== '₹0') ||
                (charge.formattedPaidTdsForApproval &&
                  charge.formattedPaidTdsForApproval !== '₹0.00' &&
                  charge.formattedPaidTdsForApproval !== '₹0')
            }"
          >
            {{
              charge.transactionType === "Payment"
                ? charge.formattedPaidAmountForApproval
                : charge.formattedPaidTdsForApproval
            }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="pendingAmount">
          <th mat-header-cell *matHeaderCellDef>Pending Amount</th>
          <td
            mat-cell
            *matCellDef="let charge"
            [ngClass]="{
              rejected:
                (charge.formattedPendingAmount &&
                  charge.formattedPendingAmount !== '₹0.00' &&
                  charge.formattedPendingAmount !== '₹0') ||
                (charge.formattedPendingTds &&
                  charge.formattedPendingTds !== '₹0.00' &&
                  charge.formattedPendingTds !== '₹0')
            }"
          >
            {{
              charge.transactionType === "Payment"
                ? charge.formattedPendingAmount
                : charge.formattedPendingTds
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymenetStatus">
          <th mat-header-cell *matHeaderCellDef>Payment Status</th>
          <td
            mat-cell
            *matCellDef="let charge"
            [ngClass]="charge.paymenetStatus"
          >
            {{ charge.paymenetStatus }}
          </td>
        </ng-container>
        <ng-container matColumnDef="transactionType">
          <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.transactionType }}
          </td>
        </ng-container>
        <ng-container matColumnDef="landOwnerOrBuilder">
          <th mat-header-cell *matHeaderCellDef>Unit Belongs To</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.landOwnerOrBuilder }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let charge">
            <mat-icon
              matTooltip="Followups"
              (click)="
                goToFollowups(
                  charge.applicantId,
                  charge.stageId,
                  charge.paymentStatusId,
                  charge.status
                )
              "
              class="font icon-spacing"
              >event_note</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr
          class="table-row"
          mat-row
          *matRowDef="let charge of paymentDetails; columns: displayedColumns"
        ></tr> -->

        <tr
          mat-row
          *matRowDef="let charge of paymentDetails; columns: displayedColumns"
          (contextmenu)="onTableRightClick($event, charge)"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>

<div
  class="context-menu"
  *ngIf="contextMenuVisible"
  [ngStyle]="{
    top: contextMenuPosition.y + 'px',
    left: contextMenuPosition.x + 'px'
  }"
>
  <ul>
    <li
      (click)="
        goToFollowups(
          selectedRow.applicantId,
          selectedRow.stageId,
          selectedRow.paymentStatusId,
          selectedRow.status
        )
      "
    >
      Followups
    </li>
  </ul>
</div>
<div
  class="context-menu"
  *ngIf="contextMenuVisible"
  [ngStyle]="{
    top: contextMenuPosition.y + 'px',
    left: contextMenuPosition.x + 'px'
  }"
  (clickOutside)="contextMenuVisible = false"
></div>
