<div class="add-charges">
  <div class="pac-header">Add Charges</div>

  <button
    type="button"
    class="btn btn-primary booking"
    data-bs-toggle="modal"
    data-bs-target="#bookingChargesModal"
  >
    +
  </button>
</div>

<mat-card class="cmn-card-booking">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="bookingChargesDto"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chargeName">
          <th mat-header-cell *matHeaderCellDef>Charge Name</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.chargeName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chargeIn">
          <th mat-header-cell *matHeaderCellDef>Charge In</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.strChargeIn }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amountCalculated">
          <th mat-header-cell *matHeaderCellDef>Amount Calculated</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.strAmountCalculate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef>Project</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.projectName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="floor">
          <th mat-header-cell *matHeaderCellDef>Floor</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="phase">
          <th mat-header-cell *matHeaderCellDef>Phase</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.strPhase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chargeType">
          <th mat-header-cell *matHeaderCellDef>Charge Type</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.chargeType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let charge">
            {{charge.amount}}
          </td>
        </ng-container>
        

        <ng-container matColumnDef="discountPercentage">
          <th mat-header-cell *matHeaderCellDef>Discount Percentage</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.discountPercentage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="discountAmount">
          <th mat-header-cell *matHeaderCellDef>Discount Amount</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.discountAmount | currency : "INR" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amountAfterDiscount">
          <th mat-header-cell *matHeaderCellDef>Amount After Discount</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.amountAfterDiscount | currency : "INR" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let charge">
            {{ charge.status }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="
            let charge of bookingChargesDto;
            columns: displayedColumns1
          "
        ></tr>
      </table>
    </div>

    <!-- Save Button -->
    <!-- <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div> -->
  </mat-card-content>

  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalPages"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
<!-- <mat-card-footer class="add-mat-card-footer">
  <div>
    <button
      mat-flat-button
      class="btn-class accent"
      (click)="gotoBookingDetails()"
      type="button"
    >
      BACK
    </button>
  </div>
</mat-card-footer> -->

<div
  class="modal fade"
  id="bookingChargesModal"
  tabindex="-1"
  aria-labelledby="bookingChargesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="bookingChargesModalLabel">
          Booking Charges
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div id="project-price-container" class="card">
          <div class="card-content">
          <div class="project-select-container">
            <!-- <select
              id="project-select"
              class="form-select"
              (change)="onProjectSelect($event)"
            >
              <option value="">All</option>
              <option
                *ngFor="let project of projects"
                [value]="project.projectId"
              >
                {{ project.projectName }}
              </option>
            </select> -->
            <!-- <span class="project-select-container">
              <mat-form-field appearance="outline" class="serach-class">
                <mat-label>Search On Charge Name</mat-label>
                <input
                  matInput
                  (input)="onSearchChargeName($any($event).target?.value)"
                  placeholder="Enter Charge Name"
                />
              </mat-form-field>
            </span> -->
          </div>
        
            <div class="price-container" id="price">
              <!-- <p class="price-item"><span>Base Price:</span> {{ basePrice }} +</p> -->
              <form [formGroup]="bookingFormData" class="price-form">
                <mat-form-field class="price-field" appearance="outline">
                  <mat-label class="bold-label">Base Price</mat-label>
                  <input
                    matInput
                    formControlName="basePrice"
                    type="text"
                    class="price-input"
                    readonly
                   
                  />
                </mat-form-field> 
                <span class="icon">
                  <mat-icon>add</mat-icon>
                </span>
                <mat-form-field class="price-field" appearance="outline">
                  <mat-label class="bold-label">
                    Total Charges
                  </mat-label>
                  <input
                    matInput
                    formControlName="totalCharges"
                    type="text"
                    class="price-input"
                    readonly
                   
                  />
                  <!-- <mat-hint class="note-text">(Excludes Maintenance Charges)</mat-hint> -->
                </mat-form-field>
                <span class="icon">
                  <mat-icon>add</mat-icon>
                </span>
                <mat-form-field class="price-field" appearance="outline">
                  <mat-label class="price-label bold-label">GST (5%)</mat-label>
                  <input
                    matInput
                    formControlName="gst"
                    type="text"
                    class="price-input"
                    readonly
                   
                   
                  />
                </mat-form-field>
                <span class="equals-sign">=</span>
                <mat-form-field class="price-field" appearance="outline">
                  <mat-label class="bold-label">Final Price</mat-label>
                  <input matInput formControlName="finalPrice" type="text"
                  class="price-input"
                  readonly
                  
                  />
                </mat-form-field>
              </form>

              <!-- <div class="button-container">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                data-bs-dismiss="modal"
                (click)="updateSelectedCharges()"
              >
                SAVE/EDIT
              </button>
            </div> -->
            </div>
          <!-- <div>
          <span class="search-container">
            <mat-form-field
              
              class="serach-class"
              appearance="outline"
            >
              <mat-label>Search/Select Project</mat-label>
              <input
                type="text"
                matInput
                (input)="searchProject($event)"
                [formControl]="project"
                [matAutocomplete]="projectAuto"
              />
              <mat-autocomplete
                #projectAuto="matAutocomplete"
                (optionSelected)="onProjectSelect($event)"
                [displayWith]="displayProject"
              >
                <mat-option *ngFor="let option of projects" [value]="option">
                  {{ option.projectName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </span>
        </div> -->
      </div>
      </div>
       
        <mat-card class="cmn-card" id="project-booking">
          <mat-card-content class="cmn-card-content">
            <form
              [formGroup]="formData"
              (ngSubmit)="saveBookingCharges()"
            >
              <div>
                <table
                  matSort
                  mat-table
                  [dataSource]="ProjectBookingChargesData"
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox
                        [checked]="isAllSelected"
                        (change)="toggleSelectAll($event.checked)"
                      >
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let charge">
                      <mat-checkbox
                        (change)="toggleSelection(charge, $event.checked)"
                        [checked]="isSelected(charge)"
                      >
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="rowNumber">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let i = index">
                      {{ pageIndex * pageSize + i + 1 }}
                    </td>
                  </ng-container> -->

                  <ng-container matColumnDef="chargeName">
                    <th mat-header-cell *matHeaderCellDef>Charge Name</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="chargeIn">
                    <th mat-header-cell *matHeaderCellDef>Charge In</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.strChargeIn }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amountCalculated">
                    <th mat-header-cell *matHeaderCellDef>Amount Calculated</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.strAmountCalculate }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef>Project</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.projectName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="floor">
                    <th mat-header-cell *matHeaderCellDef>Floor</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.levelName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="phase">
                    <th mat-header-cell *matHeaderCellDef>Phase</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.phaseName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="chargeType">
                    <th mat-header-cell *matHeaderCellDef>Charge Type</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.chargeType }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let charge">
                      <button 
                        class="btn  border-0 "
                        id="charge-amount"
                        [ngStyle]="{ 'color': '#000000DE' ,'font-size': '12px'}"
                        [attr.data-bs-toggle]="charge.strChargeIn== 'Float' ? 'tooltip' : null"
                        [attr.title]="charge.strChargeIn== 'Float' ? charge.amount + ' * ' + superBuildUpArea + ' = ' + (charge.amount * superBuildUpArea) : null"
                      >
                        {{ charge.amount | currency : "INR"}}
                      </button>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="discountPercentage">
                    <th mat-header-cell *matHeaderCellDef>
                      Discount Percentage (%)
                    </th>
                    <td mat-cell *matCellDef="let charge">
                      <input
                        matInput
                        type="number"
                        [(ngModel)]="charge.discountPercentage"
                         (ngModelChange)="onDiscountPercentageChange(charge)"                        
                        (input)="enforceMaxValue($event, charge)"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </td>
                  </ng-container>                                   

                  <ng-container matColumnDef="discountAmount">
                    <th mat-header-cell *matHeaderCellDef>Discount Amount</th>
                    <td mat-cell *matCellDef="let charge">
                      <input
                        matInput
                        type="number"
                        
                        [(ngModel)]="charge.discountAmount"
                        placeholder="Enter amount"
                        (input)="enforceDiscountAmountValue($event, charge)"
                        (ngModelChange)="onDiscountAmountChange(charge)"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amountAfterDiscount">
                    <th mat-header-cell *matHeaderCellDef>Amount After Discount</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.amountAfterDiscount | currency : "INR"}}
                    </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let charge">
                      {{ charge.status }}
                    </td>
                  </ng-container> -->

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    class="table-row"
                    mat-row
                    *matRowDef="
                      let charge of ProjectBookingChargesData;
                      columns: displayedColumns
                    "
                  ></tr>
                </table>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
        <!-- Save Button -->
        <div class="button-container">
          <!-- <button
            mat-raised-button
            color="primary"
            type="submit"
            data-bs-dismiss="modal"
            click="(updateSelectedCharges)"
          >
            Save
          </button> -->

          <mat-card-footer class="add-mat-card-footer">
            <div>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="saveBookingCharges()"
                data-bs-dismiss="modal"
                
              >
                ADD
              </button>
              <!-- <button
                mat-flat-button
                class="btn-class accent"
                (click)="gotoBookingDetails()"
                type="button"
              >
                BACK
              </button> -->
            </div>
          </mat-card-footer>
        </div>
      </div>

      <b>
        <hr style="margin: 0" />
      </b>
      <!-- <mat-card-footer class="pagination-sec">
        <mat-paginator
          [length]="totalPages"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onPageChange($event)"
          showFirstLastButtons
          class="custom-paginator"
        ></mat-paginator>
      </mat-card-footer> -->
    </div>
  </div>
</div>