<div *ngIf="flag">
<h4 class="header"><b>HISTORY DETAILS</b></h4>
<mat-card class="card">
    <mat-card-content class="mat-content">
        <div class="container" *ngFor="let history of historyData">
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Incident Id:</strong> {{ incidentId }}</p>
                    <p><strong>Remarks:</strong> {{ history.remarks }}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Project Name:</strong> {{ commonData.projectName }}</p>
                    <p><strong>Stage Name:</strong> {{ history.stage }}</p>
                    <p><strong>Status:</strong> {{ history.status }}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Workflow Type Name:</strong> {{ history.workflowType }}</p>
                    <p><strong>Received Date:</strong> {{ history.receivedDate }}</p>
                    <p><strong>Approved Date:</strong> {{ history.approvedDate | date: 'mediumDate'}}</p>
                </div>
            </div>
            <hr>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div style="text-align: right" class="button">
            <button mat-flat-button style="color: white; background-color:red" class="btn-class" (click)="closeDialog()">
                CLOSE
            </button>
        </div>
    </mat-card-footer>
</mat-card>
</div>
<div *ngIf="flag==false" class="no-history">
    No history details added for this incident
</div>