.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.card {
    margin: 20px;
    padding: 20px;
}

.mat-content {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.col-md-4 {
    flex: 1;
    min-width: 200px;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
}

.btn-class {
    background-color: red;
    color: white;
}

.no-history {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
    margin-top: 20px;
}