.filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 6.5rem;
  margin-bottom: 1%;
}

.pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.column1 {
  width: 34%;
}
.column2 {
  width: 33%;
}
.column1 div {
  margin-bottom: 10px;
  margin-top: 0px;
}
.column2 div {
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 2rem;
}

.upload-doc-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
}

.qo-details-card {
  margin-left: 2%;
  margin-right: 2%;
  height: 82vh;
}
.amount-column {
  color: rgb(34, 34, 164);
  font-weight: bold;
}
.green-amount {
  margin-right: auto;
  color: rgb(34, 34, 164);
  font-weight: bold;
  font-size: 17px;
  margin-left: 2rem;
}

.qo-details-card {
  margin-left: 2%;
  margin-right: 2%;
  height: 82vh;
}
.amount-column {
  color: rgb(34, 34, 164);
  font-weight: bold;
}
.green-amount {
  margin-right: auto;
  color: rgb(34, 34, 164);
  font-weight: bold;
  font-size: 17px;
  margin-left: 2rem;
}
.radio-button-id {
  color: #004869;
  font-size: 15px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.modal-search-fields {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 0 10px;
  flex-grow: 1;
  margin-left: 2%;
}
.cre-qo-search-class-div {
  width: 40%;
}
.cre-qo-ml-2-div {
  margin: 1%;
}
.model-filter-div {
  display: flex;
  justify-content: space-between;
}

.current-price-div {
  width: 100%;
}
