<h3 class="header">LEGAL DOCUMENTS</h3>

<div class="example-button-row">

  <div class="search-container" [formGroup]="formData">
    <mat-form-field
      style="width: 380px"
      class="search-class ml-2"
      appearance="outline"
    >
      <mat-label>Project</mat-label>
      <input
        type="text"
        matInput
        [value]="
          selectedProject.projectName ? selectedProject.projectName : ''
        "
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>
    <div>
      <button
        mat-flat-button
        style="color: white; background-color: #004869"
        (click)="addDocument()"
        class="btn-class"
      >
        <mat-icon class="font">add</mat-icon> ADD
      </button>
    </div>

</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="documentData"
        class="mat-elevation-z8"
      >
        <!-- Row Number Column -->
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <!-- Document Name Column -->
        <ng-container matColumnDef="documentName">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Document Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.documentName }}</td>
        </ng-container>
        <ng-container matColumnDef="projectName">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Project Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.projectName }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let row" >
            <mat-icon matTooltip="Download Document"
             class="action-icon" (click)="downloadCustomerDocument(row.documentPath)">download</mat-icon>
               <mat-icon
              matTooltip="View Document"
              (click)="viewDocument(row.documentPath)"
              class="action-icon"
              *ngIf="row.documentPath"
            >
              visibility
            </mat-icon>
          </td>
        </ng-container>

        <!-- Table Headers and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="onPageChange($event)"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
