.team-data-table {
    overflow-y: auto;
    height: 250px;
  }
  
  .team-data-th {
    background-color: #b8e6fb !important;
    font-size: 14px;
    text-align: center;
    position: sticky;
    top: 0; 
    z-index: 1; 
  }
  .team-data-td {
    font-size:12px;
    text-align: center;
  }
  .team-data-th-tr {
    height: 42px;
  }
  .team-data-td-tr {
    height: 42px;
  }
  .team-data-td-tr:hover {
    background-color: #e6e7e8 !important;
  }
  
  .date-range-container {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .leads-asigned-div{
    background-color: white;
    border: 1px solid #b1a6a694;
    width:55%;
    margin: 15px;
    
  }
  .leads-asigned-table{
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .table-header {
    margin: 0;
    padding: 10px;
    color: rgb(5, 31, 63);
    text-align: center;
  }
  .time-picker {
    margin-right: 12px;
  }
  
  
  
  