<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container
          *ngIf="displayedColumns.includes('rowNumber')"
          matColumnDef="rowNumber"
        >
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container *ngFor="let column of displayedColumns">
          <ng-container *ngIf="column !== 'rowNumber'" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ customHeaderNames[column] || column | titlecase }}
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="getColumnClass(column, element)"
              [ngStyle]="columnStyles[column]"
            >
              {{ applyPipe(element[column], column) }}
            </td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngFor="let btn of actionButtons">
              <mat-icon
                *ngIf="canShowButton(btn.action, element)"
                matTooltip="{{ btn.label }}"
                class="font icon-spacing icon"
                (click)="onAction(btn.action, element)"
                [ngStyle]="{ 'color': getButtonColor(btn.action) }"
              >
                {{ btn.icon }}
              </mat-icon>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns.concat(['action'])"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns.concat(['action'])"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
