<h4 class="header">
  <b>{{ isAdding ? "ADD EOI" : "UPDATE VENDOR" }}</b>
</h4>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card" style="padding: 0">
      <mat-card-header>
        <b></b>
      </mat-card-header>
      <mat-card-content class="cmn-mat-card-content mat-card-scroll">
        <div class="box">
          <h4 class="text">
            <b>First Applicant Details</b>
          </h4>
          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Applicant Name</mat-label>
              <input matInput formControlName="firstApplName" type="text" />
              <mat-error
                *ngIf="formData.get('firstApplName')?.hasError('required')"
              >
                Applicant Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Contact Number</mat-label>
              <input
                matInput
                formControlName="firstApplPhoneNumber"
                type="text"
              />
              <mat-error
                *ngIf="
                  formData.get('firstApplPhoneNumber')?.hasError('required')
                "
              >
                Contact number required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="firstApplEmail" type="email" />
            </mat-form-field>
          </div>

          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>PAN Number</mat-label>
              <input matInput formControlName="firstApplPanNumber" />
              <mat-error
                *ngIf="formData.get('firstApplPanNumber')?.hasError('required')"
              >
                PAN number required
              </mat-error>
              <mat-error
                *ngIf="formData.get('firstApplPanNumber')?.hasError('pattern')"
              >
                PAN number must be in the format: ABCDE1234F
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Aadhar Number</mat-label>
              <input matInput formControlName="firstApplAadharNumber" />
              <mat-error
                *ngIf="
                  formData.get('firstApplAadharNumber')?.hasError('required')
                "
              >
                Aadhar number required
              </mat-error>
              <mat-error
                *ngIf="
                  formData.get('firstApplAadharNumber')?.hasError('pattern')
                "
              >
                Aadhar number must contain 12 digits
              </mat-error>
            </mat-form-field>

            <div class="flex-field">
              <textarea
                matInput
                formControlName="firstApplAddress"
                rows="0.2"
                placeholder="Present Address"
                style="flex: 1; width: 100%; padding: 8px 10px"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="box">
          <h4 class="text">
            <b>Second Applicant Details</b>
          </h4>
          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Applicant Name</mat-label>
              <input matInput formControlName="secondApplName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Contact Number</mat-label>
              <input
                matInput
                formControlName="secondApplPhoneNumber"
                type="text"
              />
            </mat-form-field>
            <div
              appearance="outline"
              class="flex-field"
              style="margin-bottom: 10px"
            >
              <textarea
                matInput
                formControlName="secondApplAddress"
                rows="1"
                placeholder="Present Address"
                style="flex: 1; width: 100%; padding: 8px 10px"
              ></textarea>
            </div>
          </div>

          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="secondApplEmail" type="email" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>PAN Number</mat-label>
              <input matInput formControlName="secondApplPanNumber" />
              <mat-error
                *ngIf="
                  formData.get('secondApplPanNumber')?.hasError('required')
                "
              >
                PAN number is required.
              </mat-error>
              <mat-error
                *ngIf="formData.get('secondApplPanNumber')?.hasError('pattern')"
              >
                PAN number must be in the format: ABCDE1234F
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Aadhar Number</mat-label>
              <input matInput formControlName="secondAppAadharNumber" />
              <mat-error
                *ngIf="
                  formData.get('secondAppAadharNumber')?.hasError('required')
                "
              >
                Aadhar number is required.
              </mat-error>
              <mat-error
                *ngIf="
                  formData.get('secondAppAadharNumber')?.hasError('pattern')
                "
              >
                Aadhar number must contain 12 digits.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div class="box">
            <h4 class="text">
              <b>Type of Unit Interested</b>
            </h4>
            <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
              <mat-form-field appearance="outline" class="flex-field">
                <mat-label>Select Unit Type</mat-label>
                <mat-select
                  formControlName="unitTypeId"
                  (selectionChange)="onUnitTypeSelected($event.value)"
                >
                  <mat-option value="">Select Unit Type</mat-option>
                  <mat-option
                    *ngFor="let element of unitTypeData"
                    [value]="element.id"
                  >
                    {{ element.commonRefValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Unit details section -->
            <div
              *ngFor="let detail of unitDetails"
              class="row"
              style="padding: 0 15px; display: flex; gap: 15px"
            >
              <mat-form-field appearance="outline" class="flex-field">
                <mat-label>Tentative SBA (sq.ft)</mat-label>
                <input matInput [value]="detail.commonRefKey" readonly />
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-field">
                <mat-label>Tentative Price</mat-label>
                <input matInput [value]="detail.commonRefValue" readonly />
              </mat-form-field>
            </div>
          </div>
          <div class="box">
            <h4 class="text">
              <b>Project</b>
            </h4>
            <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
              <!-- Select Floor Reference Field -->
              <mat-form-field appearance="outline" class="flex-field">
                <mat-label>Select Floor Reference</mat-label>
                <mat-select formControlName="floorReferenceId">
                  <mat-option value="">Select Floor Preference</mat-option>
                  <mat-option
                    *ngFor="let element of floorData"
                    [value]="element.id"
                  >
                    {{ element.commonRefValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Select Source Field -->
              <mat-form-field appearance="outline" class="flex-field">
                <mat-label>Select Source</mat-label>
                <mat-select formControlName="leadSourceId">
                  <mat-option value="">Select Source</mat-option>
                  <mat-option
                    *ngFor="let element of leadSourceData"
                    [value]="element.leadSourceId"
                  >
                    {{ element.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-field">
                <mat-label>Search/Select Project</mat-label>
                <input
                  type="text"
                  matInput
                  [value]="
                    selectedProject.projectName
                      ? selectedProject.projectName
                      : ''
                  "
                  (input)="searchProject($event)"
                  [formControl]="projectFc"
                  [matAutocomplete]="projectAuto"
                />
                <mat-autocomplete
                  #projectAuto="matAutocomplete"
                  (optionSelected)="onProjectSelect($event)"
                  [displayWith]="displayProject"
                >
                  <mat-option
                    *ngFor="let option of projectsData"
                    [value]="option"
                  >
                    {{ option.projectName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="box">
          <h4 class="text">
            <b>KYC Documents</b>
          </h4>
          <div class="row" style="padding: 0 15px">
            <div class="checkbox">
              <mat-checkbox formControlName="panSubmitted">
                Pan Submitted
              </mat-checkbox>
              <mat-checkbox formControlName="aadharSubmitted">
                Aadhar Submitted
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="row" style="padding: 0 15px">
          <div class="box">
            <h4 class="text">
              <b>Terms & Conditions</b>
            </h4>
            <div class="termsNdCon">
              <ul>
                <li>
                  I/We understand that booking for "SBR Residential Project -
                  Apartment" have not been opened yet.
                </li>
                <li>
                  I/We hereby submit our expression of interest to buy the
                  above-mentioned tentative "SBR Residential Project -
                  Apartment" as and when you choose to open the booking.
                </li>
                <li>
                  I/We are fully aware that statutory approvals, including RERA,
                  are currently under process and are awaited.
                </li>
                <li>
                  I/We are fully aware that the selling price (if any indicated
                  by anyone), area of the commercial, specifications, master
                  plan, and amenities indicated to me/us are tentative and are
                  subject to change.
                </li>
                <li>
                  I/We are aware that the Developer reserves the right to
                  release only a specific number of Apartments during the
                  pre-launch stage at an exclusive price for priority customers.
                </li>
                <li>
                  All marketing collaterals/brochures are indicative and
                  conceptual in nature only.
                </li>
              </ul>
            </div>
          </div>

          <div class="box">
            <h4 class="text"><b>Booking Information:</b></h4>
            <h4>Cheque/DD in the favour of <b>"SBR MARATHON"</b></h4>
            <div class="termsNdCon">
              <ul>
                <li>
                  Price in the agreement cost sheet excludes other charges
                  towards Registration and Stamp Duty, floor rise charges,
                  Documentation and legal charges, maintenance charges, sinking
                  fund, and other taxes (present or future) as applicable from
                  time to time excluding registration and stamp duty.
                </li>
                <li>
                  Self-attested proof of address and PAN Card copy needs to be
                  attached along with this form. In lieu of the intended
                  application form in joint names, signatures of both applicants
                  are mandatory.
                </li>
                <li>
                  The Applicant(s) agree to execute the Agreement for Sale in
                  the standard format within 7 days from the date of receiving
                  the agreement of execution by the company.
                </li>
                <li>
                  On receipt of statutory approval, the applicant(s) need to pay
                  the applicable/balance booking amount immediately.
                </li>
                <li>
                  In the case of NRI customers, all payments are to be made
                  through NRE accounts only.
                </li>
                <li>
                  All other Terms and Conditions will be as per the scheme of
                  allotment and the sale agreements to be executed.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box">
          <h4 class="text">
            <b
              >I Hereby agree to the present and future Terms & Conditions of
              SBR GROUP.</b
            >
          </h4>

          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>1st Applicant Name:</mat-label>
              <input matInput formControlName="firstApplName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Signature</mat-label>
              <input
                matInput
                formControlName="firstApplSignature"
                type="text"
              />
            </mat-form-field>
          </div>

          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>2nd Applicant Name:</mat-label>
              <input matInput formControlName="secondApplName" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Signature</mat-label>
              <input
                matInput
                formControlName="secondApplSignature"
                type="text"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="box">
          <h4 class="text">
            <b>Channel Partner</b>
          </h4>
          <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
            <!-- Project Head Selection -->
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Project Head</mat-label>
              <mat-select formControlName="projectHeadId">
                <mat-option value="">Select Project Head</mat-option>
                <mat-option
                  *ngFor="let element of salesTeam"
                  [value]="element.teamHeadId"
                >
                  {{ element.teamHeadName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Search/Select Channel Partner -->
            <mat-form-field appearance="outline" class="flex-field">
              <mat-label>Search/Select Channel Partner</mat-label>
              <input
                type="text"
                [value]="selectedSubSource.name ? selectedSubSource.name : ''"
                matInput
                (input)="searchSubSource($event)"
                [matAutocomplete]="subSourceAuto"
                [formControl]="subSourceFc"
              />
              <mat-autocomplete
                #subSourceAuto="matAutocomplete"
                (optionSelected)="onSubSourceSelect($event)"
                [displayWith]="displaySubSource"
              >
                <mat-option *ngFor="let option of subSource" [value]="option">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="box">
          <h4 class="text">
            <b>payment Details</b>
          </h4>
        <div class="row" style="padding: 0 15px; display: flex; gap: 15px">
          <mat-form-field appearance="outline" class="flex-field">
            <mat-label>Check Number</mat-label>
            <input matInput formControlName="chequeDdNumber" type="text" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="flex-field">
            <mat-label>Upload Check</mat-label>
            <input
              matInput
              [attr.placeholder]="'Choose File'"
              [attr.type]="'text'"
              [attr.readonly]="true"
              (click)="checkFileInput.click()"
              [value]="fileNames.checkFile || 'No file chosen'"
            />
            <input
              type="file"
              #checkFileInput
              (change)="onOwnerPanCardFileChange($event)"
              style="display: none"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="checkFileInput.click()"
              type="button"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </mat-form-field>
        </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoEoi()"
            type="button"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
