/* table {
  width: 100%;
}
.header {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin: 1%;
}
.mat-mdc-form-field {
  font-size: 10px;
}
.example-button-row {
  padding: 0 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.header-class {
  background-color: #004869;
}

mat-card {
  margin-left: 2%;
  margin-right: 2%;
  height: 69vh;
}
mat-card-content {
  height: 100%;
}

.tab-head {
  height: 100% !important;
  overflow: auto;
} */
.unit-header {
  justify-content: space-between;
  margin: 1% !important;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

/* Center div trick */
/* .center {
  text-align: center;
  flex: 1;
} */
.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.ml-2 {
  margin-left: 1%;
  width: 17%;
}
.action-icon {
  margin-right: 2px;
  cursor: pointer;
  color: #2d2c2c8c;
  /* opacity: 0.6; */
  font-size: 18px;
}

.mat-icon-actions {
  width: 8%;
}
.buttons {
  display: flex;
  padding-left: 5px;
  margin-bottom: 10px;
}
.pac-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% !important;
  font-size: 20px;
  font-weight: normal;
}
.center {
  text-align: center;
  flex: 1;
}

/* Left and Right fixed size */
.left,
.right {
  flex: 0 0 auto;
  margin-right: 14px;
}
