<div class="">
  <div class="">
    <div class="booking-container">
      <div class="units-heading">
        <h2 class="units-heading-txt">SBR Group Booking Overview</h2>
      </div>

      <div class="units-body">
        <!-- Accordion to display the booking details -->
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let booking of bookingData"
            [expanded]="expandedBookingStates[booking.bookingId]"
            (opened)="setExpandedState(booking.bookingId, true)"
            (closed)="setExpandedState(booking.bookingId, false)"
            style="background: none"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Unit: {{ booking.unitName }}
              
              
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Booking details to show when expanded -->
            <div
              *ngIf="expandedBookingStates[booking.bookingId]"
              class="booking-details"
            >
              <div class="details-col-left">
                <div class="details-item">
                  <div class="label">Applicant Name</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong
                    >{{ booking.firstApplicantName }}
                  </div>
                </div>
                
                <div class="details-item">
                  <div class="label">Project</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong>{{ booking.projectName }}
                  </div>
                </div>
                <div class="details-item">
                  <div class="label">Tower</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong>{{ booking.towerName }}
                  </div>
                </div>
                <div class="details-item">
                  <div class="label">Block</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong>{{ booking.blockName }}
                  </div>
                </div>
                <div class="details-item">
                  <div class="label">Floor</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong>{{ booking.levelName }}
                  </div>
                </div>
               
                <div class="details-item">
                  <div class="label">Unit</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong>{{ booking.unitName }}
                  </div>
                </div>
                <!-- <div class="details-item">
                  <div class="label">Base Price</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong
                    >{{ booking.basePrice | currency : "INR" }}
                  </div>
                </div>
             <div class="details-item">
                  <div class="label">Total Charges</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong
                    >{{ booking.totalCharges | currency : "INR" }}
                  </div>
                </div>
                <div class="details-item">
                  <div class="label">GST</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong
                    >{{ booking.gst | currency : "INR" }}
                  </div>
                </div> -->
                <div class="details-item">
                  <div class="label">Final Price</div>
                  <div class="value">
                    <strong>{{ ":   " }} </strong
                    >{{ booking.finalPrice | currency : "INR" }}
                  </div>
                </div>
                
              </div>
              <div class="details-col-right">
                <img src="assets/sbr-star.png" alt="SBR" style="width: 80%" />
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
