/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .main-head {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .header-div {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #b1a6a694;
    margin: 20px;
    border-radius: 5px;
  }
  
  .header-cont {
    display: flex;
    padding: 2px 5px;
    border-bottom: 0px solid #b1a6a694;
  }
  
  .head-text {
    font-weight: bolder;
    font-size: 24px;
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .mat-card {
    flex: 1;
    margin: 8px;
    color: white;
    cursor: pointer;
    position: static;
    box-shadow: 6px 11px 41px -28px #a99de7;
    background-color: #007bff;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .mat-card:hover {
    transform: scale(1.05);
  }
  
  .mat-card-hdiv {
    width: 100%;
  }
  
  .mat-card-countdiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .mat-card-count {
    width: 72%;
    display: flex;
    align-items: center;
  }
  
  .cardtitle {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .total {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .mat-card {
      flex-basis: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .mat-card {
      width: 90%;
      margin: 10px 0;
    }
  }
  
  @media (max-width: 480px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .mat-card {
      width: 100%;
      margin: 10px 0;
    }
  
    .head-text {
      font-size: 20px;
    }
  }
  