<div class="qo-pac-header">APPROVED INDENTS</div>
<div class="filters-div">
  <div class="qo-search-container">
    <mat-form-field appearance="outline" class="qo-search-class">
      <mat-label>Search On Indent Code</mat-label>
      <input
        matInput
        [(ngModel)]="indentCode"
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter Indent Code"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="qo-search-class qo-ml-2">
      <mat-label>Search On Created By</mat-label>
      <input
        matInput
        [(ngModel)]="createdUserName"
        (input)="onSearchCreatedBy($any($event).target?.value)"
        placeholder="Enter Created By"
      />
    </mat-form-field>
    <!-- <app-autocomplete
      class="ml-2"
      [label]="'Search/Select Project'"
      [formControl]="projectIdControl"
      [options]="projects"
      [displayFn]="displayProject"
      (selectionChange)="onProjectSelect($event)"
      (onSearch)="searchProject($event)"
    ></app-autocomplete>
    
    <app-date-filter
      class="ml-2"
      [formData]="formData"
      (dateChanged)="onDateFilterChange($event)"
      (clearFilter)="onClearDateFilter()"
    ></app-date-filter>
    -->

    <mat-form-field class="qo-search-class qo-ml-2" appearance="outline">
      <mat-label> Search/Select Project Name </mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.displayProjectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-class-date qo-ml-2">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-icon
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div"
      >sync</mat-icon
    >

    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="clear-date-div"
      >filter_list_off</mat-icon
    >
  </div>
</div>
<app-table
  [displayedColumns]="displayedColumns"
  [customHeaderNames]="customHeaderNames"
  [dataSource]="approvedIndents"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [actionButtons]="actionButtons"
  (pageChanged)="onPageChange($event)"
  [pipes]="pipes"
  (actionClicked)="onActionClicked($event)"
></app-table>
