.qo-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.qo-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.qo-ml-2 {
  margin-left: 0.5%;
}
qo-search-class {
  width: 15%;
}
