.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    margin: 10px 0; /* Optional spacing */
  }
  
  .btn-class-add {
    background-color: #075477;
    color: white;
    margin-right: 20px; /* Adjust spacing as needed */
  }
  .pac-header {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 1% !important;
  }
  .search-container{
    margin-left: 10px;
  }
  