<div class="pac-header">VIEW WORK ORDER</div>
<form [formGroup]="formData">
  <div>
    <mat-card class="wo-details-card">
      <mat-card-content class="cmn-card-content">
        <div class="tab-head">
          <div class="amount-div">
            <div class="upload-doc-div">
              <button
                mat-flat-button
                class="btn-class primary wo-view-btns"
                type="button"
                (click)="openAmountModel(workOrder.workOrderId)"
              >
                View Amount Details
              </button>
            </div>

            <div
              class="upload-doc-div"
              *ngIf="workOrder.workOrderType === 'Approved'"
            >
              <button
                mat-flat-button
                class="btn-class primary"
                type="button"
                (click)="ModifyApprovedWo(workOrder)"
              >
                Amendment
              </button>
            </div>
          </div>

          <div class="row woQuantities">
            <div class="column1">
              <div *ngIf="workOrder?.workOrderNumber">
                <b class="column-div">WO NUMBER:</b>
                {{ workOrder.workOrderNumber }}
              </div>
              <div *ngIf="workOrder?.plantCode">
                <b class="column-div">PLANT CODE:</b> {{ workOrder.plantCode }}
              </div>
              <div class="green-amount">
                <b class="column-div"> AMOUNT WITH OUT GST :</b>
                {{ workOrder.totalAmount | currency : "INR" }}
              </div>
            </div>

            <div class="column2">
              <div *ngIf="workOrder?.vendorName">
                <b class="column-div">VENDOR NAME:</b>
                {{ workOrder.vendorName }}
              </div>
              <div *ngIf="workOrder?.createdBy">
                <b class="column-div">CREATED BY:</b> {{ workOrder.createdBy }}
              </div>

              <div class="green-amount">
                <b class="column-div"> AMOUNT WITH GST:</b>
                {{ workOrder.totalAmountWithGst | currency : "INR" }}
              </div>
            </div>

            <div class="column2">
              <div *ngIf="workOrder?.vendorCode">
                <b class="column-div">VENDOR CODE:</b>
                {{ workOrder.vendorCode }}
              </div>
              <div *ngIf="workOrder?.createdDate">
                <b class="column-div">CREATED DATE:</b>
                {{ workOrder.createdDate | date : "medium" }}
              </div>
            </div>
          </div>

          <div
            class="row woQuantities"
            *ngIf="workOrder.subject && workOrder.subject.trim() !== ''"
          >
            <span>
              <b style="color: #004869">SUBJECT:</b>
              <div
                [innerHTML]="getSanitizedHtml(workOrder.subject)"
                style="margin-top: 1%"
              ></div>
            </span>
            <br />
          </div>

          <div style="padding: 0rem 1rem">
            <ng-container *ngIf="workOrderQuantities">
              <ng-container
                *ngIf="hasAmendment1 && workOrderQuantities.length > 0"
              >
                <div class="radio-button">AMENDMENT WORK ORDER QUANTITIES</div>
                <app-amendment-workorder-quantity
                  [workOrderQuantitiesDto]="workOrderQuantities"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                >
                </app-amendment-workorder-quantity>
                <mat-paginator
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>

              <ng-container
                *ngIf="!hasAmendment1 && workOrderQuantities.length > 0"
              >
                <div class="radio-button">WORK ORDER QUANTITIES</div>
                <app-workorder-quantity
                  [workOrderQuantitiesDto]="workOrderQuantities"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                >
                </app-workorder-quantity>
                <mat-paginator
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>
            </ng-container>

            <div *ngIf="hasValidStages()">
              <div class="radio-button">STAGE DETAILS</div>
              <ng-container>
                <app-workorder-stage
                  [stagesDto]="stages"
                  [status]="status"
                ></app-workorder-stage>
              </ng-container>
            </div>

            <div *ngIf="previousworkOrderQuantities as previousQuantities">
              <ng-container
                *ngIf="hasAmendment && previousQuantities.length > 0"
              >
                <div class="radio-button">PREVIOUS WORK ORDER QUANTITIES</div>
                <app-amendment-workorder-quantity
                  [workOrderQuantitiesDto]="previousQuantities"
                  [pageIndex]="pageIndex1"
                  [pageSize]="pageSize1"
                ></app-amendment-workorder-quantity>
                <mat-paginator
                  [length]="totalItems1"
                  [pageSize]="pageSize1"
                  [pageSizeOptions]="pageSizeOptions1"
                  (page)="onPreviousQuantitiesPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>

              <ng-container
                *ngIf="!hasAmendment && previousQuantities.length > 0"
              >
                <div class="radio-button">PREVIOUS WORK ORDER QUANTITIES</div>
                <app-workorder-quantity
                  [workOrderQuantitiesDto]="previousQuantities"
                  [pageIndex]="pageIndex1"
                  [pageSize]="pageSize1"
                ></app-workorder-quantity>
                <mat-paginator
                  [length]="totalItems1"
                  [pageSize]="pageSize1"
                  [pageSizeOptions]="pageSizeOptions1"
                  (page)="onPreviousQuantitiesPageChange($event)"
                  showFirstLastButtons
                  class="custom-paginator"
                  style="
                    border-bottom: 1px solid #999;
                    background-color: #f8f9fa;
                  "
                ></mat-paginator>
              </ng-container>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoApprovals()"
          >
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>

<!-- model to open work order amount details -->

<div
  *ngIf="openDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="radio-button">WORK ORDER AMOUNT DETAILS</div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body1">
        <table
          matSort
          mat-table
          [dataSource]="workOrderAmount"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ pageIndex * pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="workOrderStatus">
            <th mat-header-cell *matHeaderCellDef>WorkOrder Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.workOrderStatus }}
            </td>
          </ng-container>

          <ng-container matColumnDef="stageOrder">
            <th mat-header-cell *matHeaderCellDef>Stage Order</th>
            <td mat-cell *matCellDef="let element">
              {{ element.stageOrder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef>Total Amount</th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalAmount | currency : "INR" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalAmountWithGst">
            <th mat-header-cell *matHeaderCellDef>Total Amount With Gst</th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalAmountWithGst | currency : "INR" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr
            class="table-row"
            mat-row
            *matRowDef="let row; columns: displayedColumns1"
          ></tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
