<h1 style="text-align: center; padding-top: 20px; color: #295389">
  {{ title }}
</h1>
<!-- <div *ngFor="let option of checkedProjectSalesTeamsSearchText?filteredSelectedProjectSalesTeams:checkedProjectSalesTeams">
  {{ option.userName }}
</div> -->
<form class="example-form">
  <ng-container *ngIf="refernceKey == 'SA'">
    <div class="day-selector" style="display: flex; direction: row">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Type</mat-label>
        <mat-select (selectionChange)="handleStageTypeSelection($event.value)">
          <mat-option *ngFor="let type of stageTypes" [value]="type">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="example-full-width"
        style="padding-left: 10px"
      >
        <mat-label>Select Stage</mat-label>
        <mat-select (selectionChange)="handleStageSelection($event.value)">
          <mat-option *ngFor="let stage of stages" [value]="stage">
            {{ stage.workflowStageName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
  <div style="display: flex; direction: row">
    <!-- Project Field -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Project</mat-label>
      <input
        type="text"
        matInput
        (input)="getProjects($any($event).target?.value)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- QR Generator Field -->
    <ng-container *ngIf="refernceKey == 'SP'">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        style="padding-left: 10px"
      >
        <mat-label>QR LOCATION</mat-label>
        <input
          type="text"
          matInput
          (input)="onQrGeneratorSerach($any($event).target?.value)"
          [formControl]="qrGenerator"
          [matAutocomplete]="qrGeneratorAuto"
        />
        <mat-autocomplete
          #qrGeneratorAuto="matAutocomplete"
          (optionSelected)="onQrGeneratorSelect($event)"
          [displayWith]="displayQrName"
        >
          <mat-option *ngFor="let option of qrgeneratorData" [value]="option">
            {{ option.securityPatrolName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>

    <!-- For Attendance -->
    <ng-container *ngIf="refernceKey == 'SPA'">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        style="padding-left: 10px"
      >
        <mat-label>LOCATIONS</mat-label>
        <input
          type="text"
          matInput
          (input)="onlocationSerach($any($event).target?.value)"
          [formControl]="location"
          [matAutocomplete]="locationAuto"
        />
        <mat-autocomplete
          #locationAuto="matAutocomplete"
          (optionSelected)="onLocationSelect($event)"
          [displayWith]="displayQrName"
        >
          <mat-option *ngFor="let option of locationsData" [value]="option">
            {{ option.location }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="refernceKey == 'UES'">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        style="padding-left: 10px"
      >
        <mat-label>shiftTimings</mat-label>
        <mat-select (selectionChange)="selectedShift($event.value)">
          <mat-option *ngFor="let shift of shiftTimings" [value]="shift">
            {{ shift.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <mat-form-field
      appearance="outline"
      class="example-full-width"
      style="padding-left: 10px"
      *ngIf="refernceKey == 'S'"
    >
      <mat-label>Select Team</mat-label>
      <mat-select (selectionChange)="handleSaleTeamSelect($event.value)">
        <mat-option *ngFor="let team of salesTeams" [value]="team">
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<mat-card style="padding: 20px; margin: 20px">
  <div style="display: flex; direction: row; justify-content: center">
    <div style="width: 32%">
      <mat-card
        style="
          height: 400px;
          padding-top: 0px;
          overflow: auto;
          border: 1px solid rgb(0 0 0 / 18%);
        "
      >
        <mat-form-field appearance="outline" class="search-role">
          <mat-label>Search/Select</mat-label>
          <input
            matInput
            (input)="filterUserTeamManageOnUserName($any($event).target?.value)"
          />
          <!-- <input
        matInput
      /> -->
        </mat-form-field>

        <div>
          <ng-container
            *ngFor="
              let option of userTeamsManageSearchText
                ? filteredUserTeamsManage
                : userTeamsManage
            "
          >
            <mat-card-content>
              <mat-checkbox
                [checked]="option.isAssigned === 1 ? true : false"
                (click)="onOptionChecked(option)"
                >{{
                  option.userName + " " + "(" + option.role + ")"
                }}</mat-checkbox
              >
            </mat-card-content>
          </ng-container>
        </div>
      </mat-card>
    </div>
    <div
      style="width: 10%; font-size: 2rem; margin: auto 0; text-align: center"
    >
      <i class="bi bi-arrow-left-right"></i>
    </div>
    <div style="width: 32%">
      <mat-card
        style="
          height: 400px;
          padding-top: 0px;
          overflow: auto;
          border: 1px solid rgb(0 0 0 / 18%);
        "
      >
        <mat-form-field appearance="outline" class="search-role">
          <mat-label>Search/Select</mat-label>
          <input
            matInput
            (input)="
              filtercheckedUserTeamsManageOnUserName($any($event).target?.value)
            "
          />
          <!-- <input
        matInput
      /> -->
        </mat-form-field>
        <div>
          <ng-container
            *ngFor="
              let option of checkeduserTeamsManageSearchText
                ? filteredSelectedUserTeamsManage
                : checkedUserTeamsManage
            "
          >
            <mat-card-content>
              <mat-checkbox
                [checked]="option.isAssigned === 1 ? true : false"
                (click)="onOptionChecked(option)"
                >{{
                  option.userName + " " + "(" + option.role + ")"
                }}</mat-checkbox
              >
            </mat-card-content>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
  <ng-container *ngIf="referenceId">
    <div
      style="
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 20px;
      "
    >
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Update
      </button>
    </div>
  </ng-container>
</mat-card>
