<div class="main-container">

<mat-tab-group [selectedIndex]="activeIndex">
  <mat-tab>
    <ng-template mat-tab-label>Category</ng-template>
    <div class="container"><mat-divider></mat-divider>Category</div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Sub Category</ng-template>
    <div class="container">
      <mat-divider></mat-divider>
      Sub Category
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Specification</ng-template>
    <div class="container"><mat-divider></mat-divider>Specification</div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Unit</ng-template>
    <div class="container">
      <mat-divider></mat-divider>
      Unit
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Store</ng-template>
    <div class="container">
      <mat-divider></mat-divider>
      <app-storepanel />
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Item Category</ng-template>
    <div class="container">
      <mat-divider></mat-divider>
      <app-item-categories />
    </div>
  </mat-tab>
</mat-tab-group>
</div>