<div style="width: 100%; height: 100%; overflow: auto">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <h1 class="head-text">Dashboard</h1>
        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
      <!-- <p class="user-txt">
      Hi {{ user.userName }}, here's what's happening today
    </p> -->
    </div>

    <div class="day-selector" [formGroup]="formData">
      <div class="project-srch">
        <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>Project</mat-label>
          <input
            type="text"
            matInput
            (input)="searchProject($event)"
            [formControl]="project"
            [matAutocomplete]="projectAuto"
          />
          <mat-autocomplete
            #projectAuto="matAutocomplete"
            (optionSelected)="onProjectSelect($event)"
            [displayWith]="displayProject"
          >
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let option of projects" [value]="option">
              {{ option.projectName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="proxy-srch">
        <mat-form-field
          class="example-full-width"
          class="mat-45"
          appearance="outline"
        >
          <mat-label>Proxy Login</mat-label>
          <input
            type="text"
            matInput
            (input)="searchUser($event)"
            [formControl]="User"
            [matAutocomplete]="userAuto"
          />
          <mat-autocomplete
            #userAuto="matAutocomplete"
            (optionSelected)="onUserSelect($event)"
            [displayWith]="displayUser"
          >
            <mat-option *ngFor="let option of UserDetails" [value]="option">
              {{ option.userName }} - {{ option.roleName | uppercase }} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="select-day">
        <mat-form-field appearance="outline">
          <mat-label>Select Day</mat-label>
          <mat-select
            [(value)]="selectedDay"
            (selectionChange)="handleDaySelection($event.value)"
          >
            <mat-option *ngFor="let day of days" [value]="day">
              {{ day.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="showDateRangePicker"
          class="time-picker"
          appearance="outline"
          style="margin-left: 20px"
        >
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="customStartDate"
              (focus)="picker.open()"
              (dateChange)="onDateRangeChange()"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="customEndDate"
              (focus)="picker.open()"
              (dateChange)="onDateRangeChange()"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="cards">
    <mat-card (click)="navigateToLeads()" class="mat-card bg-six">
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="assignedLeads">Assigned Leads</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="assignedLeadsCount">{{ dashboardnewLeads }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >assignment_add</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(newLeadId)"
      class="mat-card bg-nine"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="newLeadsCount">New Leads</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="newLeadsCount">{{ newLeads }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >contact_page</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToFollowups('', followupIds)"
      class="mat-card bg-seven"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="followups" >Follow Ups</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="followupsCount">{{ dashboardFollowups }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >contact_phone</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <!-- <mat-card
      (click)="navigateToFollowups('Non-Contactable', nonContactableId)"
      class="mat-card bg-ten"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle">Non Contactable</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total">{{ nonContactableLeadsCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >phone_disabled</mat-icon
          >
        </div>
      </div>
    </mat-card> -->
    <mat-card
      (click)="navigateToLeadsByStatus(nonContactableId)"
      class="mat-card bg-eleven"
    >
      <!-- <h3 class="cardtitle">Non Contactable</h3>
      <h2 class="total">{{ nonContactableCount }}</h2> -->
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="nonContactable">Non Contactable</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="nonContactableCount">{{ nonContactableCount || 0 }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >phone_disabled</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(visitProspectId)"
      class="mat-card bg-five"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="visitProspect">Visit Prospect</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="visitProspectCount">{{ siteVisitProspectFollowups }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >share_location</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(siteVisitDoneId)"
      class="mat-card bg-one"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="siteVisitDone">Site Visit Done</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="siteVisitDoneCount">{{ siteVisitDoneCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >person_pin_circle</mat-icon
          >
        </div>
      </div>
    </mat-card>

    <mat-card
      (click)="navigateToLeadsByStatus(bookedId)"
      class="mat-card bg-three"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="booked">Booked</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="bookedCount">{{ bookedCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >real_estate_agent</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card
      (click)="navigateToLeadsByStatus(bookedCancelledId)"
      class="mat-card bg-eight"
    >
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="bookedCancelled">Cancelled Bookings</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="bookedCancelledCount">{{ bookedCancelledCount }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >domain_disabled</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card (click)="navigateToLeadsByStatus(lostId)" class="mat-card bg-ten">
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="lost">Lost</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="lostCount">{{ lostCount || 0 }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >close</mat-icon
          >
        </div>
      </div>
    </mat-card>
    <mat-card (click)="navigateToLeadsByStatus(eoiReceivedId)"  class="mat-card bg-thirteen">
      <div class="mat-card-hdiv">
        <h3 class="cardtitle" id="eoiReceived">EOI Received</h3>
      </div>
      <div class="mat-card-countdiv">
        <div class="mat-card-count">
          <h2 class="total" id="eoiReceivedCount">{{ eoiReceivedStatus || 0 }}</h2>
        </div>
        <div class="mat-card-icondiv">
          <mat-icon
            class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
            >feedback</mat-icon
          >
        </div>
      </div>
    </mat-card>
  </div>
  <!-- <div class="cards"></div> -->

  <!-- <div class="content">
    <div class="team-data-table-container leads-asigned-div">
      <h3 class="table-header">Team-wise Leads Report</h3>
      <div class="team-data-table" style="height: 400px">
        <table class="tree-table">
          <thead>
            <tr>
              <th class="row-heads">Leads</th>
              <th class="row-heads">Project</th>
              <th class="row-heads">Team</th>
              <th class="row-heads">User</th>
              <th class="row-heads">Assign Leads</th>
              <th class="row-heads">New Leads</th>
              <th class="row-heads">Junk</th>
              <th class="row-heads">Non Contactable</th>
              <th class="row-heads">SV Done</th>
              <th class="row-heads">Booked</th>
              <th class="row-heads">Cancelled Booking</th>
              <th class="row-heads">Lost</th>
              <th class="row-heads">Follow-Up</th>
              <th class="row-heads">Qualified</th>
              <th class="row-heads">SV Confirm</th>
              <th class="row-heads">Visit Prospect</th>
              <th class="row-heads">Revisit Proposed</th>
              <th class="row-heads">Revisit Done</th>
              <th class="row-heads">EOI Received</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let node of treeData; let i = index">
              
              <tr
                [ngClass]="{
                  'main-row-active': isActive(getUniqueId(node, i))
                }"
                style="cursor: cell"
              >
                <td (click)="toggle(getUniqueId(node, i))">
                  <mat-icon
                    class="menu-icon"
                    *ngIf="node.children && node.children.length > 0"
                  >
                    {{ isExpanded(getUniqueId(node, i)) ? "remove" : "add" }}
                  </mat-icon>
                  {{ node.name }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ node.assignedLeads || "0" }}</td>
                <td>{{ node.newLeads || "0" }}</td>
                <td>{{ node.junk || "0" }}</td>
                <td>{{ node.nonContactable || "0" }}</td>
                <td>{{ node.siteVisitDone || "0" }}</td>
                <td>{{ node.booked || "0" }}</td>
                <td>{{ node.cancelledBooking || "0" }}</td>
                <td>{{ node.lost || "0" }}</td>
                <td>{{ node.followUp || "0" }}</td>
                <td>{{ node.qualified || "0" }}</td>
                <td>{{ node.siteVisitConfirm || "0" }}</td>
                <td>{{ node.visitProspect || "0" }}</td>

                <td>{{ node.reVisitProposed || "0" }}</td>
                <td>{{ node.reVisitDone || "0" }}</td>
                <td>{{ node.eoiReceivedStatus || "0" }}</td>
              </tr>
              // Child Nodes 
              <ng-container
                *ngIf="node.children && isExpanded(getUniqueId(node, i))"
              >
                <ng-container
                  *ngFor="let child of node.children; let j = index"
                >
                  <tr
                    [ngClass]="{
                      'child-row-active': isActive(getUniqueId(child, i, j))
                    }"
                    style="cursor: cell"
                  >
                    <td></td>
                    <td (click)="toggle(getUniqueId(child, i, j))">
                      <mat-icon
                        class="menu-icon"
                        *ngIf="child.children && child.children.length > 0"
                      >
                        {{
                          isExpanded(getUniqueId(child, i, j))
                            ? "remove"
                            : "add"
                        }}
                      </mat-icon>
                      {{ child.name }}
                    </td>
                    <td></td>
                    <td></td>
                    <td>{{ child.assignedLeads || "0" }}</td>
                    <td>{{ child.newLeads || "0" }}</td>
                    <td>{{ child.junk || "0" }}</td>
                    <td>{{ child.nonContactable || "0" }}</td>
                    <td>{{ child.siteVisitDone || "0" }}</td>
                    <td>{{ child.booked || "0" }}</td>
                    <td>{{ child.cancelledBooking || "0" }}</td>
                    <td>{{ child.lost || "0" }}</td>
                    <td>{{ child.followUp || "0" }}</td>
                    <td>{{ child.qualified || "0" }}</td>
                    <td>{{ child.siteVisitConfirm || "0" }}</td>

                    <td>{{ child.visitProspect || "0" }}</td>
                    <td>{{ child.reVisitProposed || "0" }}</td>
                    <td>{{ child.reVisitDone || "0" }}</td>
                    <td>{{ child.eoiReceivedStatus || "0" }}</td>
                  </tr>
                  // Sub-child Nodes 
                  <ng-container
                    *ngIf="
                      child.children && isExpanded(getUniqueId(child, i, j))
                    "
                  >
                    <ng-container
                      *ngFor="let subchild of child.children; let k = index"
                    >
                      <tr
                        [ngClass]="{
                          'sub-child-row-active': isActive(
                            getUniqueId(subchild, i, j, k)
                          )
                        }"
                      >
                        <td></td>
                        <td></td>
                        <td (click)="toggle(getUniqueId(subchild, i, j, k))">
                          <mat-icon
                            class="menu-icon"
                            *ngIf="
                              subchild.children && subchild.children.length > 0
                            "
                          >
                            {{
                              isExpanded(getUniqueId(subchild, i, j, k))
                                ? "remove"
                                : "add"
                            }}
                          </mat-icon>
                          {{ subchild.name }}
                        </td>
                        <td></td>
                        <td>{{ subchild.assignedLeads || "0" }}</td>
                        <td>{{ subchild.newLeads || "0" }}</td>
                        <td>{{ subchild.junk || "0" }}</td>
                        <td>{{ subchild.nonContactable || "0" }}</td>
                        <td>{{ subchild.siteVisitDone || "0" }}</td>
                        <td>{{ subchild.booked || "0" }}</td>
                        <td>{{ subchild.cancelledBooking || "0" }}</td>
                        <td>{{ subchild.lost || "0" }}</td>
                        <td>{{ subchild.followUp || "0" }}</td>
                        <td>{{ subchild.qualified || "0" }}</td>
                        <td>{{ subchild.siteVisitConfirm || "0" }}</td>

                        <td>{{ subchild.visitProspect || "0" }}</td>
                        <td>{{ subchild.reVisitProposed || "0" }}</td>
                        <td>{{ subchild.reVisitDone || "0" }}</td>
                        <td>{{ subchild.eoiReceivedStatus || "0" }}</td>
                      </tr>
                      // Further Sub-child Nodes (if any)
                      <ng-container
                        *ngIf="
                          subchild.children &&
                          isExpanded(getUniqueId(subchild, i, j, k))
                        "
                      >
                        <ng-container
                          *ngFor="
                            let furtherSubchild of subchild.children;
                            let l = index
                          "
                        >
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td
                              (click)="
                                toggle(getUniqueId(furtherSubchild, i, j, k, l))
                              "
                            >
                              {{ furtherSubchild.name }}
                            </td>
                            <td>{{ furtherSubchild.assignedLeads || "0" }}</td>
                            <td>{{ furtherSubchild.newLeads || "0" }}</td>
                            <td>{{ furtherSubchild.junk || "0" }}</td>
                            <td>{{ furtherSubchild.nonContactable || "0" }}</td>
                            <td>{{ furtherSubchild.siteVisitDone || "0" }}</td>
                            <td>{{ furtherSubchild.booked || "0" }}</td>
                            <td>
                              {{ furtherSubchild.cancelledBooking || "0" }}
                            </td>
                            <td>{{ furtherSubchild.lost || "0" }}</td>
                            <td>{{ furtherSubchild.followUp || "0" }}</td>
                            <td>{{ furtherSubchild.qualified || "0" }}</td>
                            <td>
                              {{ furtherSubchild.siteVisitConfirm || "0" }}
                            </td>
                            <td>{{ furtherSubchild.visitProspect || "0" }}</td>
                            <td>
                              {{ furtherSubchild.reVisitProposed || "0" }}
                            </td>
                            <td>{{ furtherSubchild.reVisitDone || "0" }}</td>
                            <td>{{ furtherSubchild.eoiReceived || "0" }}</td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div style="display: flex; direction: row; width: 100%">
    <div *ngIf="isShow">
      <div class="pie-title">Lead Summary</div>
      <div class="pie-chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [colors]="chartOptions.colors"
          [responsive]="chartOptions.responsive"
        ></apx-chart>
      </div>
    </div>
    <div style="width: 50%; height: 10px; padding-left: 80px">
      <app-lead-followup-calendar
        [isMemberDashBoard]="false"
        [isManagerDashBoard]="true"
        [isSalesHeadDashboard]="false"
      />
    </div>
  </div>
</div>
