<div style="width: 100%; height: 100%; overflow: auto">
  <div class="main-head">
    <div class="header-div">
      <div class="header-cont">
        <h1 class="head-text">Dashboard</h1>
        <p class="date-txt" style="margin: 0">{{ today }}</p>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="dropdown-container">
      <!-- PROJECT -->
      <mat-form-field appearance="outline" class="dropdown-item mat-45">
        <input
          type="text"
          placeholder="Select Projects"
          aria-label="Select projects"
          matInput
          [matAutocomplete]="projectAuto"
          [formControl]="project"
          (input)="searchProject($event)"
        />
      </mat-form-field>

      <mat-autocomplete #projectAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allProjectSelected
            (click)="onAllSelectProject()"
            [checked]="isProjectAllSelected()"
            >All</mat-checkbox
          ></mat-option
        >
        <mat-option
          *ngFor="let umproject of userManageprojects"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedProject(umproject.projectId, umproject.id)"
              (change)="onProjectSelect(umproject, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ umproject.projectName }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onProjectSelectButtonClick()"
        type="button"
        style="margin-left: -10px; margin-top: 3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <!-- BLOCK -->
      <mat-form-field appearance="outline" class="dropdown-item mat-45">
        <input
          type="text"
          placeholder="Select Block"
          aria-label="Select Blocks"
          matInput
          [matAutocomplete]="blockAuto"
          [formControl]="block"
          (input)="searchBlock($event)"
        />
      </mat-form-field>

      <mat-autocomplete #blockAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allBlockSelected
            (click)="onAllSelectBlock()"
            [checked]="isBlockAllSelected()"
            >All</mat-checkbox
          ></mat-option
        >
        <mat-option
          *ngFor="let block of blocks"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedBlock(block.id)"
              (change)="onBlockSelect(block, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ block.name + " ( " + block.projectCode + " )" }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onBlockSelectButtonClick()"
        type="button"
        style="margin-left: -10px; margin-top: 3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <!-- Payment Plan Selection -->
      <mat-form-field appearance="outline" class="dropdown-item mat-45">
        <input
          type="text"
          placeholder="Search Payment Plan"
          aria-label="Select Payments"
          matInput
          [matAutocomplete]="paymentPlanAuto"
          [formControl]="paymentPlan"
          (input)="searchPaymentPlan($event)"
        />
      </mat-form-field>

      <mat-autocomplete #paymentPlanAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allPaymentPlanSelected
            (click)="onAllPaymentPlan()"
            [checked]="isPaymentPlanAllSelected()"
            >All</mat-checkbox
          ></mat-option
        >
        <mat-option
          *ngFor="let option of paymentPlans"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedPaymentPlan(option.id)"
              (change)="onPaymentPlanSelect(option, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ option.planName + " ( " + option.planCode + " )" }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onPaymentPlanSelectButtonClick()"
        type="button"
        style="margin-left: -10px; margin-top: 3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="dropdown-item mat-45">
        <input
          type="text"
          placeholder="Select Stages"
          aria-label="Select Stages"
          matInput
          [matAutocomplete]="stageAuto"
          [formControl]="stageFc"
          (input)="searchStage($event)"
        />
      </mat-form-field>
      <mat-autocomplete #stageAuto="matAutocomplete">
        <mat-option>
          <mat-checkbox
            #allStageSelected
            (click)="onAllStageSelect()"
            [checked]="isStageAllSelected()"
            >All</mat-checkbox
          >
        </mat-option>
        <mat-option
          *ngFor="let option of stages"
          (click)="$event.preventDefault()"
        >
          <div (click)="$event.stopPropagation()">
            <mat-checkbox
              [checked]="isSelectedStage(option.stageId)"
              (change)="onStageSelect(option, $event)"
              (click)="$event.stopPropagation()"
            >
              {{ option.stageName + " ( " + option.planCode + " )" }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="onStageSelectButtonClick()"
        type="button"
        style="margin-left: -10px; margin-top: 3px"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="dropdown-item mat-45">
        <mat-label>Unit Belongs To</mat-label>

        <mat-select
          (selectionChange)="onUnitTypeBelongsChange($event)"
          [(ngModel)]="typeId"
        >
          <mat-option *ngFor="let element of companyType" [value]="element.id">
            {{ element.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        class="mat-45"
        id="proxy"
        appearance="outline"
        style="padding-left: 10px"
      >
        <mat-label>Proxy Login</mat-label>
        <input
          type="text"
          matInput
          (input)="searchUser($event)"
          [formControl]="User"
          [matAutocomplete]="userAuto"
        />
        <mat-autocomplete
          #userAuto="matAutocomplete"
          (optionSelected)="onUserSelect($event)"
          [displayWith]="displayUser"
        >
          <mat-option *ngFor="let option of UserDetails" [value]="option">
            {{ option.userName | titlecase }}
            <span style="font-weight: bold">
              -
              {{
                option.roleName.split(" ").length > 1
                  ? (option.roleName | titlecase)
                  : (option.roleName | uppercase)
              }}
            </span>
            <span>
              <ng-container *ngIf="option.companyName">
                ({{ option.companyName | titlecase }})
              </ng-container>
            </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-icon
        matTooltip="Clear Filters"
        (click)="resetAutoInput()"
        class="clear-filter"
        >filter_list_off</mat-icon
      >
    </div>
  </div>

  <div class="cards">
    <div class="row">
      <h2 class="row-head" style="margin-top: 0px">Customer Payment Details</h2>
      <mat-card
        class="mat-card bg-six"
        (click)="
          navigateToPaymentDetails('Completed', 'Partially Paid', 'Not Paid')
        "
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Total Amount Without TDS</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ formattedTotalAmount }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >currency_rupee</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card
        class="mat-card bg-green"
        (click)="navigateToPaymentDetails('Completed', 'Partially Paid')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Received Amount Without TDS</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ formattedPaidAmount }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >currency_rupee</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card
        class="mat-card bg-purple"
        (click)="navigateToPaymentDetails('Not Paid', 'Partially Paid')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Receivable Amount Without TDS</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ formattedPendingAmount }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >currency_rupee</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card
        class="mat-card bg-nine"
        (click)="navigateToWaitingForApprovalAmount('Waiting For Approval')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Approval Amount Without TDS</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">
              {{
                formattedWaitingForApprovalAmount != null
                  ? formattedWaitingForApprovalAmount
                  : 0
              }}
            </h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >currency_rupee</mat-icon
            >
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row">
      <h2 class="row-head">Sale Agreements</h2>
      <mat-card
        class="mat-card bg-cream"
        (click)="navigateToSaleAgreement('Create')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Pending Sale Agreements</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">
              {{
                pendingSaleAgreementCount != null
                  ? pendingSaleAgreementCount
                  : 0
              }}
            </h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >pending_actions</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card
        class="mat-card bg-one"
        (click)="navigateToSaleAgreement('Waiting For Approval')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Pending Sale Agreement Approvals</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">
              {{
                waitingForApprovalSaleAgreementCount != null
                  ? waitingForApprovalSaleAgreementCount
                  : 0
              }}
            </h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >insert_page_break</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card
        class="mat-card bg-TwentyThree"
        (click)="navigateToSaleAgreement('Rework')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Rework Sale Agreement Approvals</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">
              {{
                reworkSaleAgreementCount != null ? reworkSaleAgreementCount : 0
              }}
            </h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >autorenew</mat-icon
            >
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row">
      <h2 class="row-head">Unit Details</h2>
      <mat-card
        class="mat-card bg-seven"
        (click)="navigateToUnits('Available')"
      >
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Available Units</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ availableCount }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >add_home</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card class="mat-card bg-eleven" (click)="navigateToUnits('Blocked')">
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Blocked Units</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ blockedCount }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >domain_disabled</mat-icon
            >
          </div>
        </div>
      </mat-card>
      <mat-card class="mat-card bg-ten" (click)="navigateToUnits('Booked')">
        <div class="mat-card-hdiv">
          <h3 class="cardtitle">Booked Units</h3>
        </div>
        <div class="mat-card-countdiv">
          <div class="mat-card-count">
            <h2 class="total">{{ bookedCount }}</h2>
          </div>
          <div class="mat-card-icondiv">
            <mat-icon
              class="dashboard-icon notranslate menu-icon material-icons mat-ligature-font mat-icon-no-color"
              >real_estate_agent</mat-icon
            >
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
