/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main-head {
  display: flex;
  flex-wrap: wrap;
}
.header-div {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #b1a6a694;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
}

.header-cont {
  display: flex;
  padding: 2px 5px;
  border-bottom: 0px solid #b1a6a694;
}

.head-text {
  font-weight: bolder;
  font-size: 20px;
  width: 90%;
  padding: 0;
  margin: 0;
  line-height: 24px;
}

.cards {
  /* display: flex; */
  padding: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.row-head {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.2em;
}
.mat-card {
  /* flex: 1; */
  border: 0px solid #b1a6a694;
  margin: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 6px 11px 41px -28px #a99de7;
  box-sizing: border-box;
  width: 22%;
}
.cardtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mat-card-hdiv {
  margin-left: 10px;
  width: 100%;
}
.mat-card-countdiv {
  width: 100%;
  display: flex;
}
.mat-card-count {
  margin-left: 10px;
  width: 75%;
}
.mat-card-icondiv {
  width: 25%;
  text-align: right;
}
.dashboard-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: rgb(209, 210, 213);
}

.bg-blue {
  background: #2b89e0;
}
.bg-blue:hover {
  box-shadow: 0 0 8px #2b89e0;
  text-shadow: 0 0 4px #2b89e0;
}

.bg-green {
  background: #1ed266e3;
}
.bg-green:hover {
  box-shadow: 0 0 8px #1ed266e3;
  text-shadow: 0 0 4px #1ed266e3;
}

.bg-cream {
  background: #e2bb2c;
}
.bg-cream:hover {
  box-shadow: 0 0 8px #e2bb2c;
  text-shadow: 0 0 4px #e2bb2c;
}

.bg-orange {
  background: #ff5056be;
}
.bg-orange:hover {
  box-shadow: 0 0 8px #ff7f50;
  text-shadow: 0 0 4px #ff7f50;
}

.bg-pink {
  background: #b6d310;
}
.bg-pink:hover {
  box-shadow: 0 0 8px #cff303;
  text-shadow: 0 0 4px #cff303;
}

.bg-purple {
  background: #e771e9;
}
.bg-purple:hover {
  box-shadow: 0 0 8px #e856eb;
  text-shadow: 0 0 4px #e856eb;
}
.bg-red {
  background: linear-gradient(45deg, #e14141e3, #df7979);
}
.bg-red:hover {
  background: linear-gradient(230deg, #b45e5e, #8b2121);
}

.bg-lightblue {
  background: #0fa4af;
}
.bg-lightblue:hover {
  box-shadow: 0 0 8px #0fa4af;
  text-shadow: 0 0 4px #0fa4af;
}

.home-container {
  padding: 20px;
}
.clear-filter {
  color: white;
  cursor: pointer;
  border: 1px solid #333;
  height: 26px !important;
  font-size: 25px;
  background: #fff;
  width: 30px;
  margin-left: 4px;
  text-align: center;
  border-radius: 4px;
  margin-top: 6px;
  background-color: #004869;
}
/* Responsive styles */
@media (max-width: 1200px) {
  .table-wrapper {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }

  .table-wrapper {
    max-width: 100%;
  }
}

.day-selector {
  display: flex;
  /* justify-content: flex-end; */
  /* margin-right: 20px; */
  margin-top: 20px;
  width: 36%;
  text-align: right;
  margin-right: 35px;
  margin-left: 2rem;
}
.proxy {
  width: 30%;
  margin-right: 50px;
}
.content {
  display: flex;
  justify-content: space-between;
}
/* Responsive CSS */

@media screen and (max-device-width: 480px) {
  .leads-asigned-div {
    width: 100%;
  }
  .pie-chart {
    max-width: 92%;
  }
  .header-div {
    width: 100%;
  }
  .main-head {
    flex-wrap: wrap;
  }
  .dash-top {
    flex-wrap: wrap;
  }
  .content {
    flex-wrap: wrap;
  }
  .day-selector {
    margin-top: 10px;
    text-align: left;
    margin-left: 2rem;
    margin-right: 0px;
    width: 100% !important;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-card {
    width: 100% !important;
    flex: unset;
  }
  .head-text {
    width: 50%;
  }
  .date-txt {
    width: 50%;
    text-align: right;
  }
  .toolbar-div-left {
    display: none;
  }
}
.dropdown-container {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 10px;
}
.mat-45 {
  width: 14%;
  padding: 6px 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
