.non-pending-po-filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-bottom: 1%;
}

.non-pending-po-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}

.non-pending-po-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.non-pending-po-ml-2 {
  margin-left: 0.1%;
}
.non-pending-po-serach-class {
  width: 15.7%;
}
