<div class="pac-header">PAYMENT PLANS</div>

<div class="example-button-row">
  <span>
    <mat-form-field
      class="example-full-width"
      class="mat-45"
      appearance="outline"
    >
      <mat-label>Search/Select Project</mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </span>
  <span>
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="addPaymentPlan()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </span>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div>
      <table
        matSort
        mat-table
        [dataSource]="paymentPlanData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.projectName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="blockName">
          <th mat-header-cell *matHeaderCellDef>Block Name</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.blockName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="towerName">
          <th mat-header-cell *matHeaderCellDef>Tower Name</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.towerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="planName">
          <th mat-header-cell *matHeaderCellDef>Plan Name</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.planName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Plan Description</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.description ? paymentplans.description : "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let paymentplans">
            {{ paymentplans.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let paymentplans">
            <i
              class="bi bi-pencil"
              style="cursor: pointer"
              (click)="editPaymentPlan(paymentplans)"
            ></i>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i
              (click)="openConfirmDialog(paymentplans.id)"
              style="color: red; cursor: pointer"
              class="bi bi-trash text-danger"
              *ngIf="paymentplans.status == 'A'"
            ></i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="
            let paymentplans of paymentPlanData;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalPages"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
