<h4 class="header">
  <b>{{ isAdding ? "ADD EMPLOYEE BANKING DETAILS" : "UPDATE EMPLOYEE BANKING DETAILS" }}</b>
</h4>

<form
  [class.blur-background]="isModalVisible"
  [formGroup]="formData"
  (ngSubmit)="save()"
>
  <div class="example-container add-lead-main">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-card-content mat-card-scroll">


        <div class="form-row">
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Employee Number</mat-label>
            <input matInput formControlName="employeeId" />
            <mat-error *ngIf="employeeIdControl?.hasError('required') && employeeIdControl?.touched">
              Employee Number is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Bank Name</mat-label>
            <input matInput formControlName="bankName" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Bank Account Number</mat-label>
            <input matInput formControlName="bankAccountNumber" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Bank Ifsc Code</mat-label>
            <input matInput formControlName="bankIfscCode" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Account Type</mat-label>
            <input matInput formControlName="accountType" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Account Opening Date</mat-label>
            <input
              matInput
              [matDatepicker]="accountOpeningDate"
              formControlName="accountOpeningDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="accountOpeningDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #accountOpeningDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-row">
         
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Esic Number</mat-label>
            <input matInput formControlName="esicNumber" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field-33">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber" />
          </mat-form-field>
        </div>

      
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button mat-flat-button class="btn-class primary">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
          <button
            mat-flat-button
            type="button"
            class="btn-class warn"
            (click)="clearForm()"
          >
            RESET
          </button>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="gotoEmployee()"
          >
            BACK
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
