<div class="pac-header">WORK ORDERS</div>
<div class="dwc-filters-div">
  <div class="dwc-search-container">
    <mat-form-field appearance="outline" class="serach-class1">
      <mat-label>Search On WO Number</mat-label>
      <input
        [(ngModel)]="workOrderNumber"
        matInput
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter WO Number "
      />
    </mat-form-field>

    <mat-form-field class="serach-class1 dwc-ml-2" appearance="outline">
      <mat-label> Search/Select Plant Code </mat-label>
      <input
        type="text"
        matInput
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.displayProjectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      class="example-full-width"
      appearance="outline"
      class="serach-class1 dwc-ml-2"
    >
      <mat-label> Search/Select Vendor </mat-label>
      <input
        type="text"
        matInput
        (input)="searchVendorCode($event)"
        [formControl]="vendor"
        [matAutocomplete]="vendorCodeAuto"
      />
      <mat-autocomplete
        #vendorCodeAuto="matAutocomplete"
        (optionSelected)="onVendorCodeSelect($event)"
        [displayWith]="displayVendorCode"
      >
        <mat-option *ngFor="let option of vendors" [value]="option">
          {{ option.vendorCode }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="search-class-wo-type dwc-ml-2"
      *ngIf="workOrdersStatus != 'rework'"
    >
      <mat-label>Select Category</mat-label>
      <mat-select
        [(value)]="selectWorkOrderCategory"
        (selectionChange)="onSelectWorkOrderCategory($event.value)"
      >
        <mat-option *ngFor="let element of woCategory" [value]="element">
          {{ element }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="search-class-owner dwc-ml-2">
      <mat-label>Search Owner</mat-label>
      <input
        matInput
        (input)="onSearchStageOwner($any($event).target?.value)"
        placeholder="Search Owner"
      />
    </mat-form-field> -->

    <mat-form-field
      appearance="outline"
      class="search-class1 dwc-ml-2"
      *ngIf="workOrdersStatus == 'rework'"
    >
      <mat-label>Select Status</mat-label>
      <mat-select
        [(value)]="selectedStatus"
        (selectionChange)="onStatusChange($event.value)"
      >
        <mat-option *ngFor="let element of status" [value]="element.value">
          {{ element.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="search-class-wo-type dwc-ml-2"
      *ngIf="workOrdersStatus != 'rework'"
    >
      <mat-label>Select WO Type</mat-label>
      <mat-select
        [(value)]="selectedWorkOrderType"
        (selectionChange)="onSelectWorkOrderType($event.value)"
      >
        <mat-option *ngFor="let element of woStatus" [value]="element.value">
          {{ element.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-class-date dwc-ml-2">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="formData"
        [rangePicker]="picker"
        (click)="picker.open()"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="customStartDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="customEndDate"
          (focus)="picker.open()"
          (dateChange)="onDateChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-icon
      matTooltip="Clear Date"
      (click)="clearDateRange()"
      class="clear-date-div"
      >sync</mat-icon
    >
    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="clear-date-div"
      >filter_list_off</mat-icon
    >

    <div *ngIf="workOrdersStatus !== 'rework'">
      <button
        mat-flat-button
        (click)="AddWorkOrderCreation()"
        class="btn-class primary"
      >
        <mat-icon class="font">add</mat-icon> ADD
      </button>
    </div>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="workOrders"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="workOrderNumber">
          <th mat-header-cell *matHeaderCellDef>WO Number</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.workOrderNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.createdDate | date : "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="modifiedDate">
          <th mat-header-cell *matHeaderCellDef>Updated Date</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.modifiedDate | date : "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vendorCode">
          <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.vendorCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vendorName">
          <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.vendorName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="plantCode">
          <th mat-header-cell *matHeaderCellDef>Plant Code</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.plantCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actionStatus">
          <th mat-header-cell *matHeaderCellDef>WO Status</th>
          <td
            mat-cell
            *matCellDef="let WorkOrderCreation"
            [ngClass]="getStatusClass(WorkOrderCreation.actionStatus)"
          >
            {{ WorkOrderCreation.actionStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="stageOwner">
          <th mat-header-cell *matHeaderCellDef>Stage Owner</th>
          <td mat-cell *matCellDef="let WorkOrderCreation">
            {{ WorkOrderCreation.currentStageOwner }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td
            mat-cell
            *matCellDef="let WorkOrderCreation"
            [ngClass]="{ 'green-amount': WorkOrderCreation.totalAmount }"
          >
            {{ WorkOrderCreation.totalAmount | currency : "INR" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalAmountWithGst">
          <th mat-header-cell *matHeaderCellDef>Gst With Amount</th>
          <td
            mat-cell
            *matCellDef="let WorkOrderCreation"
            [ngClass]="{
              'green-amount': WorkOrderCreation.totalAmountWithGst
            }"
          >
            {{ WorkOrderCreation.totalAmountWithGst | currency : "INR" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="workOrderType">
          <th mat-header-cell *matHeaderCellDef>WO Type</th>
          <td
            mat-cell
            *matCellDef="let WorkOrderCreation"
            [ngClass]="getStatusClass(WorkOrderCreation.workOrderType)"
          >
            {{ WorkOrderCreation.workOrderType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="workOrderCategory">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td
            mat-cell
            *matCellDef="let WorkOrderCreation"
            [ngClass]="getStatusClass(WorkOrderCreation.workOrderCategory)"
          >
            {{ WorkOrderCreation.workOrderCategory || "NEW" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let workOrderCreation">
            <ng-container *ngIf="!workOrderCreation.actionStatus">
              <mat-icon
                matTooltip="Add Qty"
                class="font icon-spacing work-order-icon"
                (click)="addQuantity(workOrderCreation, 'Create')"
                >add</mat-icon
              >

              <mat-icon
                matTooltip="Send For Approve"
                (click)="sendForApproval(workOrderCreation)"
                class="font icon-spacing work-order-icon"
                *ngIf="!workOrderCreation.actionStatus"
                style="color: green"
                >send</mat-icon
              >
              <mat-icon
                matTooltip="Edit"
                (click)="editWorkOrderCreation(workOrderCreation, 'Create')"
                class="font icon-spacing work-order-icon"
                style="color: #004869"
                >edit</mat-icon
              >

              <mat-icon
                matTooltip="Add Headers"
                class="font icon-spacing work-order-icon"
                (click)="addHeader(workOrderCreation)"
                >add</mat-icon
              >
            </ng-container>

            <mat-icon
              matTooltip="Add Qty"
              class="font icon-spacing work-order-icon"
              *ngIf="
                workOrderCreation.actionStatus === 'Rework' ||
                workOrderCreation.actionStatus === 'Approved' ||
                workOrderCreation.actionStatus === 'Reworking' ||
                workOrderCreation.actionStatus === 'Amendment' ||
                workOrderCreation.actionStatus === 'Amendment Rework' ||
                workOrderCreation.actionStatus === 'Amendment Rework Editing'
              "
              (click)="
                addQuantityAfterRework(
                  workOrderCreation,
                  workOrderCreation.workOrderType
                )
              "
              style="color: #004869"
              >add</mat-icon
            >

            <mat-icon
              matTooltip="Send For Approve"
              (click)="
                sendForApprovalAfterReworkOrAmendament(workOrderCreation)
              "
              class="font icon-spacing work-order-icon"
              *ngIf="
                (workOrderCreation.actionStatus === 'Reworking' &&
                  workOrderCreation.workOrderType === 'Rework') ||
                workOrderCreation.workOrderType === 'Amendment' ||
                workOrderCreation.workOrderType === 'Amendment Rework'
              "
              style="color: green"
              >send</mat-icon
            >

            <mat-icon
              matTooltip="Edit"
              (click)="
                editAfterReworkOrAmendament(
                  workOrderCreation,
                  workOrderCreation.workOrderType
                )
              "
              class="font icon-spacing work-order-icon"
              *ngIf="
                workOrderCreation.actionStatus === 'Rework' ||
                workOrderCreation.workOrderType === 'Rework' ||
                workOrderCreation.workOrderType === 'Amendment Rework'
              "
              style="color: #004869"
              >edit</mat-icon
            >

            <mat-icon
              matTooltip="Add Headers"
              class="font icon-spacing work-order-icon"
              *ngIf="
                workOrderCreation.actionStatus === 'Rework' ||
                workOrderCreation.actionStatus === 'Reworking' ||
                workOrderCreation.actionStatus === 'Approved' ||
                workOrderCreation.actionStatus === 'Amendment' ||
                workOrderCreation.actionStatus === 'Amendment Rework' ||
                workOrderCreation.actionStatus === 'Amendment Rework Editing'
              "
              (click)="addHeader(workOrderCreation)"
              >add</mat-icon
            >

            <mat-icon
              *ngIf="
                workOrderCreation.actionStatus !==
                workOrderStatusConstants.REJECTED
              "
              matTooltip="Generate Pdf"
              class="font icon-spacing icon"
              (click)="generatePdf(workOrderCreation)"
              style="color: #d3493f"
              >manage_history</mat-icon
            >

            <mat-icon
              matTooltip="Edit"
              (click)="
                editAfterAmendament(
                  workOrderCreation,
                  workOrderCreation.workOrderType
                )
              "
              class="font icon-spacing work-order-icon"
              *ngIf="workOrderCreation.actionStatus === 'Amendment'"
              style="color: #004869"
              >edit</mat-icon
            >

            <mat-icon
              matTooltip="View Work Order"
              (click)="goToApprovals(workOrderCreation)"
              class="font icon-spacing work-order-icon"
              style="color: purple"
              >rule</mat-icon
            >

            <mat-icon
              matTooltip="Supported Files"
              (click)="viewDownLoads(workOrderCreation, 'WORK_ORDER_DOCUMENTS')"
              class="font icon-spacing work-order-icon"
              data-bs-toggle="modal"
              data-bs-target="#serviceCodeSearchModal"
              style="color: rgb(34, 34, 164)"
              >attach_file</mat-icon
            >

            <mat-icon
              matTooltip="Work Order PDF"
              (click)="viewDownLoads(workOrderCreation, 'WORK_ORDER_PDF')"
              class="font icon-spacing work-order-icon"
              data-bs-toggle="modal"
              data-bs-target="#serviceCodeSearchModal"
              style="color: #d3493f"
              >picture_as_pdf</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>

<div
  class="modal fade modal-xl"
  id="serviceCodeSearchModal"
  tabindex="-1"
  aria-labelledby="serviceCodeSearchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="color: #004869">DOCUMENTS</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body wo-modal-body">
        <div *ngIf="!documents || documents.length === 0; else documentsTable">
          <p>No documents available.</p>
        </div>

        <div class="tab-head">
          <ng-template #documentsTable>
            <table
              matSort
              mat-table
              [dataSource]="documents"
              class="table table-striped"
            >
              <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef>File Name</th>
                <td mat-cell *matCellDef="let document">
                  {{ document.documentName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let document">
                  {{ document.createdDate | date : "medium" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="status" *ngIf="isWorkOrderDocuments">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let document">Done</td>
              </ng-container>

              <ng-container matColumnDef="status" *ngIf="!isWorkOrderDocuments">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let document">
                  <span>
                    <span *ngIf="document === documents[0]" class="approved"
                      >Current Document</span
                    >
                    <span *ngIf="document !== documents[0]" class="rework"
                      >Past Document</span
                    >
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let document">
                  <mat-icon
                    matTooltip="Download PDF"
                    (click)="downloadDocument(document.documentPath)"
                    class="font icon-spacing icon"
                    style="color: #004869"
                    >download</mat-icon
                  >

                  <mat-icon
                    matTooltip="Review PDF"
                    (click)="viewDocument(document.documentPath)"
                    class="font icon-spacing icon"
                    style="color: #004869"
                    >visibility</mat-icon
                  >
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsDocuments"
              ></tr>
              <tr
                class="table-row"
                mat-row
                *matRowDef="let row; columns: displayedColumnsDocuments"
              ></tr>
            </table>
          </ng-template>
        </div>
      </div>
      <div>
        <mat-card-footer class="pagination-sec">
          <mat-paginator
            [length]="documentTotalItems"
            [pageSize]="documentPageSize"
            [pageSizeOptions]="documentPageSizeOptions"
            (page)="onDocumentPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
          ></mat-paginator>
        </mat-card-footer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
