<h3 class="header"><b>WEEK OFF</b></h3>
<div class="week-off-example-button-row">
  <div class="button-group">
    <!-- <div *ngIf="isManager()">
        <button class="btn btn-leave" style="margin-right: 15px;" (click)="fetchLeaveRequests()">My Leave Requests</button>
        <button class="btn btn-leave" (click)="fetchTeamLeaveRequests()">Team Leave Requests</button>
      </div> -->
  </div>
  <div>
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      class="btn-class"
      (click)="addWeekOff()"
    >
      <i class="bi bi-sign-intersection-fill h6"></i>ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div>
      <table
        matSort
        mat-table
        [dataSource]="WeekOffDtoData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="userName">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            User Name
          </th>
          <td mat-cell *matCellDef="let weekOff">{{ weekOff.userName }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Week Off Day
          </th>
          <td mat-cell *matCellDef="let weekOff">{{ weekOff.weekOffDay }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let weekOff">
            {{ weekOff.status === "A" ? "Active" : "InActive" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let weekOff">
            <!-- Edit Icon -->
            <i
              class="bi bi-pencil"
              style="cursor: pointer"
              (click)="editWeekOff(weekOff)"
            ></i>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <!-- Delete Icon -->
            <i
              class="bi bi-trash text-danger"
              style="cursor: pointer"
              (click)="openConfirmDialog(weekOff.id)"
              *ngIf="weekOff.status == 'A'"
            ></i>
          </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data Rows -->
        <tr
          mat-row
          *matRowDef="let menuItem of menuItemData; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>

  <!-- Pagination Controls -->
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-card-footer>
</mat-card>
