<div class="pac-header">WORK ORDER HEADER</div>

<div class="filters-div">
  <div class="search-container">
    <mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search Work Order Header</mat-label>
      <input
        matInput
        (input)="onSearch($any($event).target?.value)"
        placeholder="Enter Work Order Header"
      />
    </mat-form-field>
  </div>

  <div class="button-container">
    <button
      mat-flat-button
      (click)="AddWorkOrderHeader()"
      class="btn-class primary"
    >
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="workOrderHeaderData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="headerName">
          <th mat-header-cell *matHeaderCellDef>Header Name</th>
          <td mat-cell *matCellDef="let workOrderHeader">
            {{ workOrderHeader.headerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="headerTermsAndConditions">
          <th mat-header-cell *matHeaderCellDef style="width: 60% !important">
            Header Terms And Conditions
          </th>
          <td mat-cell *matCellDef="let workOrderHeader">
            <div [innerHTML]="workOrderHeader.headerTermsAndConditions"></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let workOrderHeader">
            {{ workOrderHeader.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              matTooltip="Edit"
              (click)="editWorkOrderHeader(element)"
              class="font icon-spacing work-order-icon"
              style="color: #004869"
              >edit</mat-icon
            >
            <mat-icon
              matTooltip="Delete"
              (click)="openConfirmDialog(element.id)"
              class="font icon-spacing work-order-icon"
              style="color: #d3493f"
            >
              delete_forever</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="table-row"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <b>
    <hr style="margin: 0" />
  </b>
  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
