<div class="pac-header">PREVIEW PURCHASE ORDER</div>

<form [formGroup]="formData">
  <div>
    <mat-card class="po-details-card" style="padding: 0">
      <mat-card-content class="cmn-card-content">
        <div class="tab-head">
          <div class="row" class="upload-doc-div">
            <div class="green-amount">
              <b style="font-size: 14px">TOTAL AMOUNT EXCLUDE GST:</b>
              {{ quotationData.totalCostWithOutGst | currency : "INR" }}
            </div>

            <div class="green-amount">
              <b style="font-size: 14px"> TOTAL AMOUNT INCLUDE GST:</b>
              {{ quotationData.totalCostWithGst | currency : "INR" }}
            </div>

            <button
              mat-flat-button
              class="btn-class primary"
              type="button"
              (click)="viewIndent()"
            >
              VIEW INDENT
            </button>

            <button
              mat-flat-button
              class="btn-class primary"
              type="button"
              (click)="viewQuotation()"
            >
              VIEW QUOTATION
            </button>
          </div>

          <div class="row sub-details-div">
            <div class="column1">
              <div *ngIf="quotationData?.projectName">
                <b class="column-div">PROJECT NAME:</b>
                {{ quotationData.projectName }}
              </div>
              <div *ngIf="quotationData?.quotationCode">
                <b class="column-div">QUOTATION CODE:</b>
                {{ quotationData.quotationCode }}
              </div>

              <div *ngIf="quotationData?.storeName">
                <b class="column-div">STORE NAME:</b>
                {{ quotationData.storeName }}
              </div>
            </div>

            <div class="column2">
              <div *ngIf="quotationData?.indentCode">
                <b class="column-div">INDENT CODE</b>
                {{ quotationData.indentCode }}
              </div>

              <div *ngIf="quotationData?.vendorName">
                <b class="column-div">VENDOR NAME</b>
                {{ quotationData.vendorName }}
              </div>

              <div *ngIf="quotationData?.storeContactNumber">
                <b class="column-div">STORE CONTACT NUMBER:</b>
                {{ quotationData.storeContactNumber }}
              </div>
            </div>

            <div class="column2">
              <div *ngIf="quotationData?.requiredDate">
                <b class="column-div">INDENT REQUIRED DATE:</b>
                {{ quotationData.requiredDate | date : "MMM d, yyyy" }}
              </div>
              <div *ngIf="quotationData?.deliveryInDays">
                <b class="column-div">DELIVERY IN DAYS:</b>
                {{ quotationData.deliveryInDays }}
              </div>
            </div>
          </div>

          <div style="padding: 0rem 1rem">
            <div class="radio-button-id">QUOTATION TERMS & CONDITIONS</div>
            <div class="mat-elevation-z8">
              <table
                mat-table
                [dataSource]="termsAndConditions"
                class="mat-table"
              >
                <ng-container matColumnDef="rowNumber">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="termsAndConditions">
                  <th mat-header-cell *matHeaderCellDef>Terms & Conditions</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.qoTermsAndConditionDes }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumnsTermsAndCon"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumnsTermsAndCon"
                ></tr>
              </table>
            </div>
            <mat-card-footer class="pagination-sec">
              <mat-paginator
                [length]="termsAndConTotalItems"
                [pageSize]="termsAndConPageSize"
                [pageSizeOptions]="termsAndConPageSizeOptions"
                (page)="onTermsAndCondPageChange($event)"
                showFirstLastButtons
                class="custom-paginator"
              ></mat-paginator>
            </mat-card-footer>
          </div>

          <div
            *ngIf="!isLoading && quotationData.stagesDto.length > 0"
            style="padding: 0rem 1rem"
          >
            <div class="radio-button-id">PURCHASE ORDER STAGE DETAILS</div>
            <ng-container>
              <app-workorder-stage
                [stagesDto]="quotationData.stagesDto"
              ></app-workorder-stage>
            </ng-container>
          </div>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div *ngIf="routeStatus === 'pending'; else backButton">
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="goBack()"
          >
            BACK
          </button>
          <button
            mat-flat-button
            class="btn-class warn"
            type="button"
            (click)="approvalStatus('Rejected')"
          >
            REJECT
          </button>
          <!-- <button
            mat-flat-button
            class="btn-class primary"
            type="button"
            (click)="approvalStatus('Rework')"
          >
            REWORK
          </button> -->
          <button
            mat-flat-button
            class="btn-class success"
            type="button"
            (click)="approvalStatus('Approval')"
          >
            APPROVE
          </button>
        </div>
        <ng-template #backButton>
          <button
            mat-flat-button
            class="btn-class accent"
            type="button"
            (click)="goBack()"
          >
            BACK
          </button>
        </ng-template>
      </mat-card-footer>
    </mat-card>
  </div>
</form>

<!-- indent model -->
<div
  *ngIf="openDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body1">
        <div style="padding: 0rem 1rem">
          <div class="radio-button-id">INDENT ITEMS</div>
          <app-indent-items [indentItems]="indentItems"></app-indent-items>
          <mat-paginator
            [length]="indentTotalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25]"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
            style="border-bottom: 1px solid #999; background-color: #f8f9fa"
          ></mat-paginator>
        </div>

        <div
          *ngIf="!isLoading && indentStages.length > 0"
          style="padding: 0rem 1rem"
        >
          <div class="radio-button-id">INDENT STAGE DETAILS</div>
          <ng-container>
            <app-workorder-stage
              [stagesDto]="indentStages"
            ></app-workorder-stage>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- quotation model -->
<div
  *ngIf="openQuotationDialog"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onCloseQuotation()"
        ></button>
      </div>
      <div class="modal-body1">
        <div style="padding: 0rem 1rem">
          <div class="radio-button-id">QUOTATION ITEMS</div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="quotationItems" class="mat-table">
              <ng-container matColumnDef="ItemId">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.categoryName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="subCategory">
                <th mat-header-cell *matHeaderCellDef>SubCategory</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.subCategoryName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="specification">
                <th mat-header-cell *matHeaderCellDef>Specification</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.specificationName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.unitName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.price | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quantity | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="gst">
                <th mat-header-cell *matHeaderCellDef>GST</th>
                <td mat-cell *matCellDef="let element">{{ element.gst }}</td>
              </ng-container>

              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.discount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quotationItemCostWithGst">
                <th mat-header-cell *matHeaderCellDef>Cost With Gst</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quotationItemCostWithGst | number }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quotationItemCostWithOutGst">
                <th mat-header-cell *matHeaderCellDef>Cost With Out Gst</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quotationItemCostWithOutGst | number }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 20, 25]"
            (page)="onPageChange($event)"
            showFirstLastButtons
            class="custom-paginator"
            style="border-bottom: 1px solid #999; background-color: #f8f9fa"
          ></mat-paginator>
        </div>


            <div style="padding: 0rem 1rem">
          <div class="radio-button-id">QUOTATION CHARGES</div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="quotationCharges" class="mat-table">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="transportCharge">
                <th mat-header-cell *matHeaderCellDef>Transport</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.transportCharge }}
                </td>
              </ng-container>

              <ng-container matColumnDef="loadingCharge">
                <th mat-header-cell *matHeaderCellDef>Loading</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.loadingCharge }}
                </td>
              </ng-container>

              <ng-container matColumnDef="unLoadingCharge">
                <th mat-header-cell *matHeaderCellDef>UnLoading</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.unLoadingChange }}
                </td>
              </ng-container>

              <ng-container matColumnDef="installationCharge">
                <th mat-header-cell *matHeaderCellDef>Installation</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.installationCharge }}
                </td>
              </ng-container>

              <ng-container matColumnDef="otherCharge">
                <th mat-header-cell *matHeaderCellDef>Other</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.otherCharge }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
          </div>
        </div>


        <div *ngIf="!isLoading && stages.length > 0" style="padding: 0rem 1rem">
          <div class="radio-button-id">QUOTATION STAGE DETAILS</div>
          <ng-container>
            <app-workorder-stage [stagesDto]="stages"></app-workorder-stage>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCloseQuotation()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
