<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="container">
    <mat-card class="card">
      <mat-card-header class="header">
        <b>{{
          isAdding ? "CREATE SCHEDULE VISIT " : "UPDATE SCHEDULE VISIT"
        }}</b>
      </mat-card-header>
      <mat-card class="lead-details">
        <div class="row">
          <div class="column1">
            <span><b>Customer Name:</b> {{ lead.name }}</span
            ><br />
            <span><b>Phone Number:</b> {{ lead.phoneNumber }}</span
            ><br />
            <span><b>Email:</b> {{ lead.email }}</span
            ><br />
            <span><b>Opportunity Id:</b> {{ lead.opportunityId }}</span>
          </div>
          <div class="column2">
            <span><b>Project:</b> {{ lead.projectName }}</span
            ><br />
            <span><b>Budget:</b> {{ lead.budget }}</span
            ><br />
            <span><b>Required Flat Type:</b> {{ lead.preferredFlatType }}</span>
          </div>
          <div class="column3">
            <span><b>Source:</b> {{ lead.sourceName }}</span
            ><br />
            <span><b>Sub Source:</b> {{ lead.subSourceName }}</span
            ><br />
            <span><b>Status:</b> {{ lead.status }}</span>
          </div>
        </div>
        <div class="row">
          <span><b>Remarks:</b> {{ lead.remarks }}</span>
        </div>
      </mat-card>

      <div class="card-content">
        <div class="form-div">
          <mat-card class="content-form">
            <mat-card-content class="mat-content mat-card-scroll-followup">
              <div class="row" style="padding: 0 15px">
                <mat-form-field appearance="outline" style="padding-top: 20px">
                  <mat-label>Choose Followup Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepicker"
                    formControlName="followupDate"
                    [min]="minDate"
                    (click)="datepicker.open()"
                  />
                  <mat-error
                    *ngIf="
                      formData.get('followupDate')?.hasError('required') ||
                      formData.get('followupDate')?.touched ||
                      formData.get('followupDate')?.dirty
                    "
                  >
                    Schedule Date is required
                  </mat-error>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datepicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="row" style="padding: 0 15px">
                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="address" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="statusId">
                    <mat-option
                      *ngFor="let item of scheduleVisitStatus"
                      [value]="item.id"
                    >
                      {{ item.commonRefValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formData.get('statusId')?.hasError('required') ||
                      formData.get('statusId')?.touched ||
                      formData.get('statusId')?.dirty
                    "
                  >
                    Please Choose one option
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row" style="padding: 0 15px">
                <!-- <mat-form-field appearance="outline">
                  <mat-label> Remarks </mat-label>
                  <textarea
                    type="text"
                    matInput
                    formControlName="remarks"
                  ></textarea>
                  <mat-error
                    *ngIf="formData.get('remarks')?.hasError('required')"
                  >
                    Remarks required
                  </mat-error>
                </mat-form-field> -->
                <div appearance="outline" class="txtarea-pad">
                  <textarea
                    type="text"
                    matInput
                    formControlName="remarks"
                    rows="1"
                    placeholder="Remarks*"
                    style="flex: 1; width: 100%; padding: 6px 10px"
                  ></textarea>
                  <mat-error
                    *ngIf="
                      formData.get('remarks')?.hasError('required') &&
                      (formData.get('remarks')?.touched ||
                        formData.get('remarks')?.dirty)
                    "
                  >
                    Remarks required
                  </mat-error>
                </div>
              </div>
            </mat-card-content>
            <div>
              <mat-card-footer>
                <div class="button">
                  <button
                    mat-flat-button
                    class="btn-class accent"
                    (click)="goToScheduleVisit()"
                  >
                    BACK
                  </button>
                  <button
                    type="button"
                    mat-flat-button
                    class="btn-class warn"
                    (click)="clearForm()"
                  >
                    RESET
                  </button>

                  <button mat-flat-button class="btn-class primary">
                    {{ isAdding ? "ADD" : "UPDATE" }}
                  </button>
                </div>
              </mat-card-footer>
            </div>
          </mat-card>
        </div>
        <div class="remarks-div">
          <mat-card class="remarks-history">
            <div>
              <div class="table-container">
                <table
                  matSort
                  mat-table
                  [dataSource]="scheduleVisitDetails"
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="visitDate">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Schedule Visit Date
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.dateTime | date : "medium" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Status
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.status }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="address">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Address
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      {{ followup.address }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="background-color: #004869; color: white"
                    >
                      Remarks
                    </th>
                    <td mat-cell *matCellDef="let followup">
                      <div class="">{{ followup.comments }}</div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let followup; columns: displayedColumns"
                  ></tr>
                </table>
              </div>
            </div>
            <div>
              <mat-card-footer>
                <mat-paginator
                  [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="onPageChange($event)"
                  showFirstLastButtons
                ></mat-paginator>
              </mat-card-footer>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</form>
