<h4 class="header">
  <b>{{ isAdding ? "ADD PROJECT" : "EDIT PROJECT" }}</b>
</h4>

<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card">
      <mat-card-content class="cmn-mat-card-content">
        <mat-list-item>Basic Info</mat-list-item>
        <mat-divider style="border-top: 2px solid black; padding-bottom: 10px;"></mat-divider>
        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Name</mat-label>
          <input matInput formControlName="projectName" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project Code</mat-label>
          <input matInput formControlName="projectCode" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Location</mat-label>
          <input
            matInput
            formControlName="projectLocation"
            [readonly]="isView"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Land Area In Acres</mat-label>
          <input
            matInput
            formControlName="landArea"
            type="number"
            min="0"
            [readonly]="isView"
          />
          <mat-error *ngIf="formData.controls['landArea'].hasError('min')">
            Land Area cannot be less than 0.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Towers</mat-label>
          <input matInput formControlName="blocks" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Floor</mat-label>
          <input matInput formControlName="levels" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project Type</mat-label>
          <mat-select formControlName="typeId">
            <mat-option
              *ngFor="let item of projectTypes"
              [value]="item.id"
              [disabled]="isView"
            >
              {{ item.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Currency Type</mat-label>
          <mat-select formControlName="currencyId">
            <mat-option
              *ngFor="let item of currencyTypes"
              [value]="item.id"
              [disabled]="isView"
            >
              {{ item.commonRefValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Number Of Units</mat-label>
          <input
            matInput
            formControlName="noOfUnits"
            type="number"
            min="0"
            [readonly]="isView"
          />
          <mat-error *ngIf="formData.get('noOfUnits')?.hasError('pattern')">
            Please enter a valid number
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project Status</mat-label>
          <mat-select formControlName="projectStatus">
            <mat-option
              *ngFor="let item of projectStatus"
              [value]="item.commonRefValue"
              [disabled]="isView"
            >
              {{ item.commonRefValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('status')?.hasError('required')">
            Please select an option
          </mat-error>
        </mat-form-field>
        <mat-list-item>Address Info</mat-list-item>
        <mat-divider style="border-top: 2px solid black; padding-bottom: 10px;"></mat-divider>
        <div style="width: 100%; display: flex">
          <div appearance="outline" class="pr-mat-50">
            <textarea
              matInput
              formControlName="projectAddress"
              [readonly]="isView"
              rows="1"
              placeholder="Project Address"
              style="flex: 1; width: 100%; padding: 8px 10px"
              (input)="autoResize()"
              #projectAddressTextarea
            ></textarea>
            <mat-error
              *ngIf="formData.get('projectAddress')?.hasError('required')"
            >
              Project Address is required
            </mat-error>
          </div>

          <div appearance="outline" class="pr-mat-50">
            <textarea
              matInput
              formControlName="description"
              [readonly]="isView"
              rows="1"
              placeholder="Description"
              style="flex: 1; width: 100%; padding: 8px 10px"
              (input)="autoResizeDescription()"
              #descriptionTextarea
            ></textarea>
          </div>
        </div>
        <!-- <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project Address</mat-label>
          <textarea
            matInput
            formControlName="projectAddress"
            [readonly]="isView"
          ></textarea>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            [readonly]="isView"
          ></textarea>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" [readonly]="isView" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project City</mat-label>
          <input matInput formControlName="projectCity" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project PinCode</mat-label>
          <input
            matInput
            formControlName="projectPincode"
            [readonly]="isView"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project Gstin Uin</mat-label>
          <input
            matInput
            formControlName="projectGstinUin"
            [readonly]="isView"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project State</mat-label>
          <input matInput formControlName="projectState" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Project Pan</mat-label>
          <input matInput formControlName="projectPan" [readonly]="isView" />
        </mat-form-field>

       
        <mat-form-field
          appearance="outline"
          class="pr-mat-50"
          *ngIf="!isAdding"
          style="padding-top: 20px"
        >
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">Select Status</mat-option>
            <mat-option
              *ngFor="let element of statuses"
              [value]="element.commonRefKey"
            >
              {{ element.commonRefValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('status')?.hasError('required')">
            Please select one option
          </mat-error>
        </mat-form-field>
        <mat-list-item>Contact Info and More</mat-list-item>
        <mat-divider style="border-top: 2px solid black; padding-bottom: 10px;"></mat-divider>
        <mat-form-field
          appearance="outline"
          class="pr-mat-20 pt-20"
          style="padding-left: 10px"
        >
          <mat-label>Country</mat-label>
          <input
            type="text"
            matInput
            (input)="searchCountry($event)"
            formControlName="countryCode"
            [matAutocomplete]="countryAuto"
          />
          <mat-autocomplete #countryAuto="matAutocomplete">
            <mat-option
              *ngFor="let option of countryCodes"
              [value]="option.commonRefKey"
            >
              {{ option.commonRefValue }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="pr-mat-30"
          style="padding-left: 10px"
        >
          <mat-label> Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" />
          <mat-error
            *ngIf="
              formData.get('phoneNumber')?.invalid &&
              (formData.get('phoneNumber')?.dirty ||
                formData.get('phoneNumber')?.touched)
            "
          >
            <span *ngIf="formData.get('phoneNumber')?.errors?.['required']"
              >Customer Contact Number is required.</span
            >
            <span
              *ngIf="
                formData.get('phoneNumber')?.errors?.['length'] &&
                formData.get('phoneNumber')?.value?.length !== 10
              "
            >
              Phone number must contain exactly 10 digits.
            </span>

            <span
              *ngIf="
                formData.get('phoneNumber')?.errors?.['pattern'] &&
                formData.get('phoneNumber')?.value?.length === 10
              "
            >
              Phone number must start with 6, 7, 8, or 9.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="companyName" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Account Number</mat-label>
          <input matInput formControlName="accountNumber" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Rera Number</mat-label>
          <input matInput formControlName="reraNumber" [readonly]="isView" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-mat-50">
          <mat-label>Display Project Name</mat-label>
          <input
            matInput
            formControlName="displayProjectName"
            [readonly]="isView"
          />
        </mat-form-field>

        <div class="row mb-2">
          <div appearance="outline" class="pr-mat-50">
            <mat-label *ngIf="!isAdding">Company Address</mat-label>
            <textarea
              matInput
              formControlName="companyAddress"
              [readonly]="isView"
              rows="1"
              placeholder="Company Address"
              style="flex: 1; width: 100%; padding: 8px 10px"
              (input)="autoResize()"
              #projectAddressTextarea
            ></textarea>
          </div>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Upload File</mat-label>
            <input
              type="file"
              (change)="onLogoSelected($event)"
              #fileInput
              style="display: none"
            />
            <button
              mat-raised-button
              color="primary"
              (click)="fileInput.click()"
            >
              Choose File
            </button>
            <span *ngIf="selectedFile">{{ selectedFile?.name }}</span>
          </mat-form-field> -->
          <!-- <div class="pr-mat-50">
            <label style="font-size: 11px">Upload Logo</label>
            <input type="file" (change)="onLogoSelected($event)" />
          </div> -->
<!-- 
          <mat-form-field appearance="outline" class="pr-mat-50">
            <mat-label>Project Display</mat-label>
            <input matInput formControlName="displayProject
            " [readonly]="isView" />
          </mat-form-field> -->
           
        <mat-form-field
        appearance="outline"
        class="pr-mat-50"
        style="padding-top: 20px"
      >
        <mat-label>Project Display</mat-label>
        <mat-select formControlName="displayProject">
          <mat-option value="">Select Display Project</mat-option>
          <mat-option
            *ngFor="let element of yesNoOption"
            [value]="element.commonRefKey"
          >
            {{ element.commonRefValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
          <mat-form-field appearance="outline" class="pr-mat-50">
            <mat-label>Order</mat-label>
            <input matInput formControlName="projectOrder" [readonly]="isView" />
          </mat-form-field>
  

          <div class="pr-mat-50">
            <label style="font-size: 13px" class="mb-1 ms-1">Upload Logo</label
            ><br />
            <input
              type="file"
              (change)="onLogoSelected($event)"
              #fileInput
              style="display: none"
            />
            <button (click)="fileInput.click()" type="button">
              Choose File</button
            ><br />
            <span class="ms-1">
              {{ selectedFile?.name || "No file chosen" }}</span
            >
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="add-mat-card-footer">
        <div>
          <!-- If isView is true, display only the CLOSE button -->
          <button
            *ngIf="isView"
            mat-flat-button
            class="btn-class accent"
            (click)="closeDialog()"
          >
            CLOSE
          </button>

          <!-- If isView is false, display ADD or UPDATE button along with RESET and BACK buttons -->
          <ng-container *ngIf="!isView">
            <button
              mat-flat-button
              class="btn-class accent"
              (click)="gotoProjects()"
            >
              BACK
            </button>
            <button
              mat-flat-button
              class="btn-class warn"
              (click)="clearForm()"
              *ngIf="isAdding"
            >
              RESET
            </button>
            <button mat-flat-button class="btn-class primary">
              {{ isAdding ? "ADD" : "UPDATE" }}
            </button>
          </ng-container>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
