<div class="pac-header">STORE</div>

<div class="filters-div">
  <div class="store-search-container">
    <mat-form-field appearance="outline" class="store-serach-class">
      <mat-label>Project Name</mat-label>
      <input
        type="text"
        matInput
        [value]="selectedProject.projectName ? selectedProject.projectName : ''"
        (input)="searchProject($event)"
        [formControl]="project"
        [matAutocomplete]="projectAuto"
      />
      <mat-autocomplete
        #projectAuto="matAutocomplete"
        (optionSelected)="onProjectSelect($event)"
        [displayWith]="displayProject"
      >
        <mat-option *ngFor="let option of projects" [value]="option">
          {{ option.projectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="store-serach-class store-ml-div-2"
    >
      <mat-label>Search On Store Name</mat-label>
      <input
        matInput
        [(ngModel)]="storeName"
        (input)="onSearchStoreName($any($event))"
        placeholder="Enter Store Name"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="store-serach-class store-ml-div-2"
    >
      <mat-label>Search On Contact Number</mat-label>
      <input
        matInput
        [(ngModel)]="contactNumber"
        (input)="onSearchContactNumber($any($event))"
        placeholder="Enter Contact Number"
      />
    </mat-form-field>

    <mat-icon
      matTooltip="Clear Filters"
      (click)="resetForm()"
      class="store-clear-date-div"
      >filter_list_off</mat-icon
    >
  </div>

  <div class="button-container">
    <button mat-flat-button (click)="addStore()" class="btn-class primary">
      <mat-icon class="font">add</mat-icon> ADD
    </button>
  </div>
</div>

<mat-card class="cmn-card" style="margin-top: 10px">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="rowNumber">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index">
            {{ pageIndex * pageSize + i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let store">{{ store.projectName }}</td>
        </ng-container>
        <ng-container matColumnDef="storeName">
          <th mat-header-cell *matHeaderCellDef>Store Name</th>
          <td mat-cell *matCellDef="let store">{{ store.storeName }}</td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
          <th mat-header-cell *matHeaderCellDef>Contact Number</th>
          <td mat-cell *matCellDef="let store">{{ store.contactNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="billingGstNumber">
          <th mat-header-cell *matHeaderCellDef>Billing GstNumber</th>
          <td mat-cell *matCellDef="let store">{{ store.billingGstNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="billingAddress">
          <th mat-header-cell *matHeaderCellDef>Billing Address</th>
          <td mat-cell *matCellDef="let store">{{ store.billingAddress }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let store">
            <mat-icon
              matTooltip="Edit"
              (click)="onEdit(store.storeId)"
              class="font icon-spacing icon"
              style="color: #004869"
            >
              edit
            </mat-icon>
            <mat-icon
              matTooltip="Delete"
              (click)="openConfirmDialog(store.storeId)"
              class="font icon-spacing icon"
              style="color: #d3493f"
            >
              delete_forever
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>

  <mat-card-footer class="pagination-sec">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
