/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main-head {
  display: flex;
  flex-wrap: wrap;
}

.header-div {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #b1a6a694;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  border-bottom: 0px solid #b1a6a694;
}

.head-text {
  font-weight: bolder;
  font-size: 20px;
  width: 50%;
  padding: 0;
  margin: 0;
  line-height: 24px;
}

.date-txt {
  font-size: 14px;
  width: 50%;
  text-align: right;
  line-height: 26px;
}

.user-txt {
  margin: 0;
  padding: 10px 0 2px 0;
}

.cards {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  width: 100%;
}

/*.mat-card {
  /* flex: 1;
  border: 0px solid #b1a6a694;
  margin: 8px;
  color: white;
  cursor: pointer;
  position: static;
  box-shadow: 6px 11px 41px -28px #a99de7;
} */

.mat-card {
  flex: 1 1 calc(13.33% - 16px);
  /*max-width: calc(16.33% - 16px);  */
  border: 0px solid #b1a6a694;
  margin: 8px;
  color: white;
  cursor: pointer;
  position: static;
  box-shadow: 6px 11px 41px -28px #a99de7;
  box-sizing: border-box;
}

.mat-card-hdiv {
  width: 100%;
}
.mat-card-countdiv {
  width: 100%;
  display: flex;
}
.mat-card-count {
  width: 78%;
}
.mat-card-icondiv {
  width: 20%;
}
.dashboard-icon {
  font-size: 26px;
  height: 26px;
  width: 26px;
  color: rgb(209, 210, 213);
  margin-top: 5px;
}

.bg-blue {
  background: #2b89e0;
}
.bg-blue:hover {
  box-shadow: 0 0 8px #2b89e0;
  text-shadow: 0 0 4px #2b89e0;
}

.bg-green {
  background: #1ed266;
}
.bg-green:hover {
  box-shadow: 0 0 8px #1ed266;
  text-shadow: 0 0 4px #1ed266;
}

.bg-cream {
  background: #e2bb2c;
}
.bg-cream:hover {
  box-shadow: 0 0 8px #e2bb2c;
  text-shadow: 0 0 4px #e2bb2c;
}

.bg-orange {
  background: #ff7f50;
}
.bg-orange:hover {
  box-shadow: 0 0 8px #ff7f50;
  text-shadow: 0 0 4px #ff7f50;
}

.bg-pink {
  background: #b6d310;
}
.bg-pink:hover {
  box-shadow: 0 0 8px #cff303;
  text-shadow: 0 0 4px #cff303;
}

.bg-purple {
  background: #e771e9;
}
.bg-purple:hover {
  box-shadow: 0 0 8px #e856eb;
  text-shadow: 0 0 4px #e856eb;
}

.bg-red {
  background: linear-gradient(45deg, #e14141e3, #df7979);
}
.bg-red:hover {
  background: linear-gradient(230deg, #b45e5e, #8b2121);
}

.bg-lightblue {
  background: #0fa4af;
}
.bg-lightblue:hover {
  box-shadow: 0 0 8px #0fa4af;
  text-shadow: 0 0 4px #0fa4af;
}

.home-container {
  padding: 20px;
}

/* Table container styles */
.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Table wrapper styles */
.table-wrapper {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 30%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.table-wrapper:hover {
  transform: scale(1.05);
}

/* Table header styles */
.table-wrapper h2 {
  margin: 0;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #b8e6fb;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #000 !important;
}

tr:hover {
  background-color: #f1f1f1;
}

.total {
  text-align: left;
  color: "black";
  font-size: 24px;
  padding-left: 10px;
}

.cardtitle {
  padding: 10px;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
}
.margin-20 {
  margin: 20px;
}
.mat-expansion-panel-header {
  border-bottom: 1px solid #c6c4c4;
}
/* Responsive styles */
@media (max-width: 1200px) {
  .table-wrapper {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }

  .table-wrapper {
    max-width: 100%;
  }
}

.search-container {
  display: flex;
  /* justify-content: flex-end; */
  /* margin-right: 20px; */
  margin: 0px 20px;
  width: 100%;
  margin-right: 35px;
  gap: 1rem;
}
.project-srch {
  width: 23%;
}
.proxy-srch {
  width: 23%;
}
.select-day {
  width: 54%;
  margin-top: 1rem;
  display: flex;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-data-table {
  overflow-y: auto;
  height: 250px;
}

.team-data-th {
  background-color: #b8e6fb !important;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.team-data-td {
  font-size: 12px;
  text-align: center;
}
.team-data-th-tr {
  height: 42px;
}
.team-data-td-tr {
  height: 42px;
}
.team-data-td-tr:hover {
  background-color: #e6e7e8 !important;
}

.date-range-container {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leads-asigned-div {
  background-color: white;
  border: 1px solid #b1a6a694;
  width: 100%;
  margin: 15px;
}
.leads-asigned-table {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.pie-chart {
  flex: 1;
  width: 100%;
  max-width: 100%;
  display: flex;
  /* justify-content: center; */
  /* padding: 50px; */
  border: 1px solid #b1a6a694;
  margin: 15px;
  background-color: white;
}
apx-chart {
  margin: auto;
  padding: 20px 0px;
}
.table-header {
  margin: 0;
  padding: 10px;
  color: rgb(5, 31, 63);
  text-align: center;
}
.time-picker {
  margin-right: 12px;
}

#MyChart {
  margin-top: 7%;
}

.compact-filter {
  width: 100%;
  padding: 0px 2px;
  font-size: 14px;
  border: 1px solid #b1b1b4;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 4px;
}

/* Responsive CSS */

@media screen and (max-device-width: 768px) {
  .leads-asigned-div {
    width: 100%;
  }
  .pie-chart {
    max-width: 100%;
  }
  .header-div {
    width: 100%;
  }
  .search-container {
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  .mat-mdc-text-field-wrapper {
    width: 75% !important;
  }
  .project-srch {
    width: 50%;
  }
  .proxy-srch {
    width: 50%;
  }
  .select-day {
    width: 100%;
    display: flex;
  }
  .mat-card-count {
    width: 80%;
  }
  .mat-card-icondiv {
    width: 20%;
  }
  .cardtitle {
    padding-left: 30px;
  }
}

@media screen and (max-device-width: 480px) {
  .leads-asigned-div {
    width: 92%;
  }
  .pie-chart {
    max-width: 92%;
  }
  .header-div {
    width: 100%;
  }
  .search-container {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    margin-right: 0px;
    width: 100%;
    flex-wrap: wrap;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-card {
    width: 100%;
  }
  .head-text {
    width: 50%;
  }
  .date-txt {
    width: 50%;
    text-align: right;
  }
  .toolbar-div-left {
    display: none;
  }
  .project-srch {
    width: 100%;
  }
  .proxy-srch {
    width: 100%;
  }
  .select-day {
    width: 100%;
    flex-wrap: wrap;
  }
  .total {
    padding-left: 30px;
  }
  .fc-day-disabled {
    background-color: #e9ecef; /* Light gray background */
    pointer-events: none; /* Disable interaction */
    color: #6c757d; /* Muted text color */
  }

  .chart-container {
    height: 300px; /* Set desired height */
  }

  .chart-container canvas {
    height: 100% !important; /* Ensure canvas fills the container */
    width: 100% !important; /* Ensure canvas width scales proportionally */
  }
}

.search-lead-btn {
  margin: 0px 0px 0px 15px;
}
