/* Flexbox Layout for the Form Fields */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between fields */
  flex-wrap: wrap; /* Wrap if necessary */
}

.form-field {
  flex: 1;
  min-width: 200px; /* Ensure fields do not get too small */
  padding-left: 20px;
  padding-right: 20px;
}

.services-list-div {
  margin-top: 15px;
}

.service-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px; /* Space between dynamic fields */
}

button {
  margin-right: 10px;
}

/* Footer buttons in a row */
.add-mat-card-footer .button-group {
  display: flex;
  justify-content: space-between;
}

.bi-trash {
  cursor: pointer;
}

.large-icon {
  cursor: pointer;
  font-size: 1.5rem;
}
.example-container {
  width: 80%; /* Set the width to 80% of the parent container */
  max-width: 1000px; /* You can limit the maximum width if needed */
  margin: 20px auto; /* Center the container horizontally */
}
