<h2 class="header"><b>Sales Agreement Fields</b></h2>

<form [formGroup]="formData">
  <div class="example-container">
    <mat-card class="ajna-consmp-card">
      <mat-card-header>
        <b>{{
          isAdding
            ? "ADD Sales Agreement Fields"
            : "EDIT Sales Agreement Fields"
        }}</b>
      </mat-card-header>

      <mat-card-content class="cmn-mat-card-content">
        <div class="form-row">
          <!-- Project Input Field with Autocomplete -->
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Project</mat-label>
            <input
              type="text"
              matInput
              (input)="searchProject($event)"
              [formControl]="project"
              [matAutocomplete]="projectAuto"
            />

            <!-- Autocomplete Options -->
            <mat-autocomplete
              #projectAuto="matAutocomplete"
              (optionSelected)="onProjectSelect($event)"
              [displayWith]="displayProject"
            >
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let option of projects" [value]="option">
                {{ option.projectName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

           <mat-form-field class="form-field" appearance="outline">
            <mat-label>Company Type</mat-label>
            <mat-select (selectionChange)="onUnitTypeBelongsChange($event)">
              <mat-option *ngFor="let element of companyType" [value]="element">
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Template Select Field -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select Template</mat-label>
            <mat-select
              formControlName="salesAggrementTemplateId"
              (selectionChange)="onTemplateSelect($event)"
            >
              <mat-option
                *ngFor="let temp of templates"
                [value]="temp.salesAggrementTemplateId"
              >
                {{ temp.salesAggrementTemplateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Dynamic Fields Section -->
        <div formArrayName="salesAggrementTemplateFields" class="form-field">
          <div
            *ngFor="
              let item of salesAggrementTemplateFields.controls;
              let i = index
            "
            [formGroupName]="i"
            class="service-div"
          >
            <!-- Field Name Input -->
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Field Name</mat-label>
              <input matInput formControlName="fieldName" type="text" />
            </mat-form-field>

            <!-- Is Mandatory Dropdown -->
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Is Mandatory</mat-label>
              <mat-select formControlName="isMandatory">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Validation Message Input (Conditional) -->
            <div *ngIf="isMandatoryField(item)">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Validation Message</mat-label>
                <input
                  matInput
                  formControlName="validationMessage"
                  type="text"
                />
              </mat-form-field>
            </div>

            <!-- Remove Button -->
            <span>
              <i
                *ngIf="salesAggrementTemplateFields.length > 1"
                style="color: red; cursor: pointer; margin-left: 1%"
                class="bi bi-trash text-danger"
                (click)="removeIcons(i)"
              ></i>
            </span>

            <!-- Add Button -->
            <span *ngIf="i === salesAggrementTemplateFields.length - 1">
              <i class="bi bi-plus h5 large-icon" (click)="addItems()"></i>
            </span>
          </div>
        </div>
      </mat-card-content>

      <!-- Footer with Buttons -->
      <mat-card-footer class="add-mat-card-footer">
        <div class="button-group">
          <button
            *ngIf="isView"
            mat-flat-button
            class="btn-class primary"
            (click)="clearForm()"
          >
            CLOSE
          </button>

          <ng-container *ngIf="!isView">
            <button mat-flat-button class="btn-class primary" (click)="save()">
              {{ isAdding ? "ADD" : "UPDATE" }}
            </button>
            <button
              mat-flat-button
              type="button"
              class="btn-class warn"
              (click)="clearForm()"
            >
              RESET
            </button>
            <!-- <button mat-flat-button class="btn-class accent" type="button" (click)="gotToClients()">BACK</button> -->
          </ng-container>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
