<div class="pac-header">
  {{ isAdding ? " ADD WORK ORDER BILLING " : "EDIT WORK ORDER BILLING" }}
</div>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="example-container">
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="cmn-mat-content mat-card-scroll">
        <div class="upload-doc-div">
          <div class="wob-mat-45" appearance="outline">
            <b *ngIf="totalWorkOrderAmount > 0" style="color: rgb(34, 34, 164)">
              TOTAL WORK ORDER AMOUNT : {{ totalWorkOrderAmount | number }}
            </b>
          </div>

          <div>
            <mat-form-field
              appearance="outline"
              *ngIf="showRanNumberField"
              class="cwob-mat-25"
            >
              <mat-label>RA NUMBER</mat-label>
              <input matInput formControlName="raNumber" type="text" readonly />
            </mat-form-field>

            <button
              mat-flat-button
              class="btn-class primary"
              (click)="viewDownLoads()"
              type="button"
            >
              Attach Documents
            </button>
          </div>
        </div>

        <div class="row" style="padding: 10px 15px">
          <mat-form-field class="cwob-mat-25" appearance="outline">
            <mat-label>Search/Select Work Order Number</mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedWOB.workOrderNumber ? selectedWOB.workOrderNumber : ''
              "
              (input)="searchWorkOrderNumber($event)"
              [formControl]="workOrders"
              [matAutocomplete]="workOrderAuto"
            />
            <mat-autocomplete
              #workOrderAuto="matAutocomplete"
              (optionSelected)="onSelectWorkOrderBilling($event)"
              [displayWith]="displayWorkOrder"
            >
              <mat-option *ngFor="let option of workOrder" [value]="option">
                {{ option.workOrderNumber }}
              </mat-option>
            </mat-autocomplete>

            <div
              *ngIf="validationMessage || showWorkOrderError"
              class="error-message"
            >
              {{ validationMessage }}
            </div>
          </mat-form-field>
          <!-- 
          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>RA Number</mat-label>
            <input
              matInput
              formControlName="projectCode"
              type="text"
              readonly
            />
          </mat-form-field> -->

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Project Code</mat-label>
            <input
              matInput
              formControlName="projectCode"
              type="text"
              readonly
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Vendor Code</mat-label>
            <input matInput formControlName="vendorCode" type="text" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Vendor Name</mat-label>
            <input matInput formControlName="vendorName" type="text" readonly />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Vendor Gst Number</mat-label>
            <input
              matInput
              formControlName="vendorGstNumber"
              type="text"
              readonly
            />
          </mat-form-field>
          <!-- </div> -->

          <!-- <div class="row" style="padding: 0 15px"> -->
          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Bill Period From Date</mat-label>
            <input
              matInput
              [matDatepicker]="startDatePicker"
              (click)="startDatePicker.open()"
              formControlName="billPeriodFromDate"
              [value]="
                formData.get('billPeriodFromDate')?.value | date : 'yyyy-MM-dd'
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Bill Period To Date</mat-label>
            <input
              matInput
              [matDatepicker]="endDatePicker"
              (click)="endDatePicker.open()"
              formControlName="billPeriodToDate"
              [value]="
                formData.get('billPeriodToDate')?.value | date : 'yyyy-MM-dd'
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>INVOICE/BILL No</mat-label>
            <input matInput formControlName="invoiceBillNumber" type="text" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>INVOICE/BILL Date</mat-label>
            <input
              matInput
              [matDatepicker]="invoiceBillDatePicker"
              (click)="invoiceBillDatePicker.open()"
              formControlName="invoiceBillDate"
              [value]="
                formData.get('invoiceBillDate')?.value | date : 'yyyy-MM-dd'
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="invoiceBillDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #invoiceBillDatePicker></mat-datepicker>
          </mat-form-field> -->
          <!-- </div> -->

          <!-- <div class="row" style="padding: 0 15px"> -->
          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Debits/Deductions</mat-label>
            <input
              matInput
              (input)="formatRate($event)"
              (keydown)="restrictToNumbers($event)"
              formControlName="debitAmount"
              type="text"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Retention</mat-label>
            <mat-select formControlName="retension">
              <mat-option
                *ngFor="let element of retensions"
                [value]="element.gstPercentage"
              >
                {{ element.gstPercentage }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label>Advance Recovered upto Previous Bill</mat-label>
            <input
              matInput
              (input)="formatRate($event)"
              (keydown)="restrictToNumbers($event)"
              formControlName="advanceRecoveredUptoPreviousBill"
              type="text"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-21">
            <mat-label>Advance Recovered On This Bill</mat-label>
            <input
              matInput
              (input)="formatRate($event)"
              (keydown)="restrictToNumbers($event)"
              formControlName="advanceRecoveredOnThisBill"
              type="text"
            />
          </mat-form-field>

          <!-- <mat-form-field
            appearance="outline"
            class="mat-gst"
            *ngIf="!isFromKarnatakaGst"
          >
            <mat-label> GST</mat-label>
            <mat-select formControlName="billingGst">
              <mat-option
                *ngFor="let element of gstOutOfKarnataka"
                [value]="element.gstPercentage"
              >
                {{ element.gstPercentage }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- 
          <mat-form-field
            appearance="outline"
            class="mat-gst"
            *ngIf="isFromKarnatakaGst"
          >
            <mat-label>Select SGST</mat-label>

            <mat-select
              formControlName="billingSgst"
              (selectionChange)="onSgstChange($event.value)"
            >
              <mat-option
                *ngFor="let element of gstFromKarnataka"
                [value]="element.id"
              >
                {{ element.gstPercentage }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- 
          <mat-form-field
            appearance="outline"
            class="mat-gst"
            *ngIf="isFromKarnatakaGst"
          >
            <mat-label>Select CGST</mat-label>
            <mat-select
              formControlName="billingCgst"
              (selectionChange)="onCgstChange($event.value)"
            >
              <mat-option
                *ngFor="let element of gstFromKarnataka"
                [value]="element.id"
              >
                {{ element.gstPercentage }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field appearance="outline" class="other-recovery">
            <mat-label>Other Recoveries</mat-label>
            <input
              matInput
              (input)="formatRate($event)"
              (keydown)="restrictToNumbers($event)"
              formControlName="otherRecoveries"
              type="text"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="other-recovery">
            <mat-label>Mobilization Amount</mat-label>
            <input
              matInput
              (input)="formatRate($event)"
              (keydown)="restrictToNumbers($event)"
              formControlName="billingMobilizationAmount"
              type="text"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="cwob-mat-25">
            <mat-label> Checked By</mat-label>
            <mat-select formControlName="checkedBy">
              <mat-option
                *ngFor="let element of checkedBy"
                [value]="element.commonRefValue"
              >
                {{ element.commonRefValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div formArrayName="wobInvoices">
          <div
            *ngFor="let items of wobInvoices.controls; let i = index"
            style="padding: 10px 20px"
          >
            <div [formGroupName]="i" class="wobQuantities">
              <mat-form-field appearance="outline" class="wob-mat-45">
                <mat-label>INVOICE/BILL Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="invoiceBillDatePicker"
                  (click)="invoiceBillDatePicker.open()"
                  formControlName="invoiceBillDate"
                  [value]="
                    formData.get('invoiceBillDate')?.value | date : 'yyyy-MM-dd'
                  "
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="invoiceBillDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #invoiceBillDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="wob-mat-45">
                <mat-label>INVOICE/BILL No</mat-label>
                <input
                  matInput
                  formControlName="invoiceBillNumber"
                  type="text"
                />
              </mat-form-field>

              <span style="margin-left: 5px" *ngIf="wobInvoices.length > 1">
                <i
                  style="
                    color: red;
                    cursor: pointer;
                    border: 1px solid #333;
                    height: 24px !important;
                    font-size: 13px;
                    background: #fff;
                    padding: 4px 5px;
                  "
                  (click)="removeIcons(i)"
                  class="bi bi-trash text-danger"
                ></i
              ></span>
              <span style="margin-left: 5px" *ngIf="wobInvoices.length > 0">
                <i
                  class="bi bi-plus h5"
                  (click)="addInvoices()"
                  style="
                    cursor: pointer;
                    border: 1px solid #333;
                    height: 24px !important;
                    font-size: 15px;
                    background: #fff;
                    padding: 3px 4px;
                  "
                ></i
              ></span>
            </div>
          </div>
        </div>

        <div style="padding: 0rem 1rem">
          <div *ngIf="allBillingQuantities as bq">
            <div *ngIf="bq.length > 0 && !validationMessage">
              <div class="text-color-div">WORK ORDER BILLING</div>
              <app-workorder-billing-quantity
                [workOrderBillingData]="bq"
              ></app-workorder-billing-quantity>
            </div>
          </div>
        </div>
        <div formArrayName="workOrderBillingQuantities">
          <div
            *ngFor="
              let items of workOrderBillingQuantities.controls;
              let i = index
            "
            style="padding: 10px 20px"
          >
            <div [formGroupName]="i" class="wobQuantities">
              <mat-form-field appearance="outline" class="cwob-mat-25">
                <mat-label>Service Code</mat-label>
                <input
                  type="text"
                  matInput
                  [formControlName]="'serviceCode'"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Service UOM</mat-label>
                <input
                  matInput
                  formControlName="scUomRefValue"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Service Group</mat-label>
                <input
                  matInput
                  formControlName="serviceGroupCode"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Prime Activity</mat-label>
                <input
                  matInput
                  formControlName="primeActivityNumber"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Budget Quantity</mat-label>
                <input
                  matInput
                  formControlName="budgetQuantity"
                  type="text"
                  readonly
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Quantity</mat-label>
                <input
                  matInput
                  formControlName="quantity"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Rate</mat-label>
                <input matInput formControlName="rate" type="text" readonly />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Value</mat-label>
                <input matInput formControlName="value" type="text" readonly />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Gst With Amount</mat-label>
                <input
                  matInput
                  formControlName="gstWithAmount"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Amendment Quantity</mat-label>
                <input
                  matInput
                  formControlName="amendmentQuantity"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Amendment With Out Gst</mat-label>
                <input
                  matInput
                  formControlName="amendmentAmount"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Amendment With gst</mat-label>
                <input
                  matInput
                  formControlName="gstWithAmountAfterAmendment"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Total Quantity</mat-label>
                <input
                  matInput
                  formControlName="totalQuantityAfterAmendment"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Total Cost With Out Gst</mat-label>
                <input
                  matInput
                  formControlName="totalAmountAfterAmendment"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Total Cost With Gst</mat-label>
                <input
                  matInput
                  formControlName="totalAmountWthGstAfterAmendment"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-13">
                <mat-label>Released Till Previous</mat-label>
                <input
                  matInput
                  formControlName="releasedTillPrevious"
                  type="text"
                  (input)="formatRate($event)"
                  (keydown)="restrictToNumbers($event)"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Current Period</mat-label>
                <input
                  matInput
                  formControlName="currentPeriod"
                  type="text"
                  step="any"
                  (input)="formatRate($event)"
                  (keydown)="restrictToNumbers($event)"
                />
                <mat-error> Current Period Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="cwob-mat-25">
                <mat-label>Current Period Amount</mat-label>
                <input
                  matInput
                  formControlName="currentPeriodAmount"
                  type="text"
                  readonly
                  (input)="formatRate($event)"
                  (keydown)="restrictToNumbers($event)"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Cumulative</mat-label>
                <input
                  matInput
                  formControlName="cumulative"
                  type="text"
                  readonly
                  (input)="formatRate($event)"
                  (keydown)="restrictToNumbers($event)"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Balance</mat-label>
                <input
                  matInput
                  formControlName="balance"
                  type="text"
                  readonly
                  (input)="formatRate($event)"
                  (keydown)="restrictToNumbers($event)"
                />
                <div *ngIf="items.get('balance')?.errors?.['min'] ">
                  <span style="color: red"
                    >Balance cannot be less than zero.</span
                  >
                </div>
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-small">
                <mat-label>Gst</mat-label>
                <input
                  matInput
                  formControlName="workOrderGstPercentage"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <div appearance="outline" class="mat-100">
                <mat-label>Service Description</mat-label>
                <textarea
                  matInput
                  formControlName="serviceDescription"
                  rows="1"
                  placeholder="Service Description"
                  style="flex: 1; width: 100%; padding: 5px 10px"
                  [readonly]="true"
                  #serviceDescriptionTextarea
                ></textarea>
              </div>

              <mat-form-field appearance="outline" class="mat-50">
                <mat-label>Wbs Elements</mat-label>
                <input
                  matInput
                  formControlName="wbsElements"
                  type="text"
                  readonly
                />
              </mat-form-field>

              <!-- <span>
                <i
                  *ngIf="showAdditionalFields.length > 1"
                  style="color: red; cursor: pointer; margin-left: 1%"
                  class="bi bi-trash text-danger"
                  (click)="removeIcons(i)"
                ></i
              ></span>
              <span *ngIf="i === showAdditionalFields.length - 1">
                <i class="bi bi-plus h5" (click)="addServiceCodes()"></i
              ></span> -->
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoWorkOrderBilling()"
            type="button"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
