<h3 class="header">ISSUES</h3>

<div class="example-button-row">
  <span
    ><mat-form-field appearance="outline" class="serach-class">
      <mat-label>Search On Issues Name</mat-label>
      <input matInput  (input)="getIssues($any($event).target?.value)" > </mat-form-field
  ></span>
  <span>
    <button
      mat-flat-button
      style="color: white; background-color: #004869"
      (click)="addIssues()"
      class="btn-class"
    >
      <i class="bi bi-sign-intersection-fill h6"></i> ADD
    </button>
  </span>
</div>

<mat-card>
  <mat-card-content>
    <div>
      <table matSort mat-table [dataSource]="issuesData" class="mat-elevation-z8">
        <ng-container matColumnDef="ticketNumber">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Ticket Number
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.issueNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="issueType">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Type
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.commonRefValue }}</td>
        </ng-container>

        <ng-container matColumnDef="issueDiscription">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Description
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.issueDescription }}</td>
        </ng-container>
        <ng-container matColumnDef="issueStartDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Start Date
          </th>
          <td mat-cell *matCellDef="let issues">
           
            {{
              issues.issueRequestDate
              ? (issues.issueRequestDate | date : 'mediumDate')
              : ""
              }}
          </td>
        </ng-container>

        <ng-container matColumnDef="issueStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Issue Status
          </th>
          <td mat-cell *matCellDef="let issues">{{ issues.issueStatus }}</td>
        </ng-container>
        <!-- <div *ngIf="roleName=='Admin'">
          <ng-container matColumnDef="assignedTo">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
             Assigned To
            </th>
            <td mat-cell *matCellDef="let issues">{{ issues.issueAssignedTo }}</td>
          </ng-container>
        </div> -->

       <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="background-color: #004869; color: white">
            Actions
          </th>
          <td mat-cell *matCellDef="let issues">
              <mat-icon matTooltip="Reopen" (click)="approvalIssue(issues)" *ngIf="issues.issueStatus=='CLOSED'">autorenew</mat-icon>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let issues of issuesData; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
