.woq-cmn-mat-content {
  margin-top: 1% !important;
  height: 70vh;
  overflow-y: auto;
}
.woq-mat-card-scroll {
  max-height: 90vh;
  overflow: hidden;
  /* overflow-y: scroll; */
}

.wo-pac-header {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 1% !important;
}
.woq-filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1.8rem;
}
.woq-search-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2%;
}
.search-class-sc {
  width: 30%;
}
