<div class="units-container">
  <h4 class="head"><b>BOOKED UNITS</b></h4>
  <div class="row">
    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Project</mat-label>
      <mat-select
        [(ngModel)]="projectId"
        (selectionChange)="getBlocksBasedOnProjectId(projectId)"
      >
        <mat-option [value]="0"> All </mat-option>
        <mat-option
          *ngFor="let project of projects"
          [value]="project.projectId"
        >
          {{ project.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Tower</mat-label>
      <mat-select
        [(ngModel)]="blockId"
        (selectionChange)="getLevelsBasedOnBlockId(blockId)"
      >
        <mat-option [value]="0"> All </mat-option>
        <mat-option *ngFor="let block of blocks" [value]="block.id">
          {{ block.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Floor</mat-label>
      <mat-select [(ngModel)]="levelId">
        <mat-option [value]="0"> All </mat-option>
        <mat-option *ngFor="let level of levels" [value]="level.levelId">
          {{ level.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Phase Type</mat-label>
      <mat-select [(ngModel)]="phaseReferenceId">
        <mat-option [value]="0"> All </mat-option>
        <mat-option *ngFor="let phase of phaseTypes" [value]="phase.id">
          {{ phase.commonRefValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Unit Type</mat-label>
      <mat-select [(ngModel)]="unitType">
        <mat-option [value]="''">All</mat-option>
        <mat-option *ngFor="let type of unitTypeNames" [value]="type">{{
          type
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-45">
      <mat-label>Area</mat-label>
      <mat-select [(ngModel)]="area">
        <mat-option [value]="0"> All </mat-option>
        <mat-option *ngFor="let area of areas" [value]="area">
          {{ area }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <button
        mat-flat-button
        style="
          color: white;
          background-color: #004869;
          width: 8%;
          margin-top: 25px;
        "
        class="btn-class"
        (click)="onSearchGetAvailableUnits()"
      >
        <mat-icon>search</mat-icon>
        Search
      </button> -->
  </div>
  <div class="row">
    <button
      mat-flat-button
      class="btn-class search-button"
      (click)="onSearchGetAvailableUnits()"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
</div>
<div class="table-content">
  <mat-card *ngIf="flag == 'available'">
    <mat-card-content class="mat-content">
      <div class="tab-head">
        <div class="table-content-lft">
          <h4 style="margin-bottom: 0px; line-height: 30px; margin-left: 20px">
            <b>Booked units</b>
          </h4>
        </div>
      </div>
      <div class="table-container" style="height: 400px; overflow: auto">
        <table
          matSort
          mat-table
          [dataSource]="availableUnits"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Id
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 + pageSize * pageIndex }}
            </td>
          </ng-container>

          <ng-container matColumnDef="unitName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Unit Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.unitName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="unitTypeName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              UnitType Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.unitTypeName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="projectName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Project Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.projectName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="projectAddress">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Project Address
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.projectAddress }}
            </td>
          </ng-container>

          <ng-container matColumnDef="blockName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Tower Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.blockName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="levelName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Floor Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.levelName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phase">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Phase
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.phase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="superArea">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Super Area
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.superArea }}
            </td>
          </ng-container>

          <ng-container matColumnDef="preSalesMember">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              PreSales Member
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.preSalesUserName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="salesMember">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #004869; color: white"
            >
              Sales Member
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.salesUserName }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr
            class="table-row"
            mat-row
            *matRowDef="let lead of leads; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </mat-card-content>
    <b>
      <hr style="margin: 0" />
    </b>
    <mat-card-footer class="pagination-sec">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons
        class="custom-paginator"
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
<div *ngIf="flag == 'not available'" class="no-units">
  <h4>No booked units for this Floor</h4>
</div>
