<div class="pac-header">
  {{ title }}
</div>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div>
    <mat-card class="card" style="padding: 0">
      <mat-card-content class="woc-cmn-mat-content mat-card-scroll">
        <div class="upload-doc-div">
          <mat-form-field appearance="outline" class="mat-25">
            <mat-label>Select Work Order Category</mat-label>
            <mat-select
              formControlName="workOrderCategory"
              (selectionChange)="workOrderCategoryChange($event)"
            >
              <mat-option *ngFor="let element of woStatus" [value]="element">
                {{ element }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="mat-25"
            *ngIf="selectedWorkOrderCategory === 'OLD'"
          >
            <mat-label>Work Order Number</mat-label>
            <input matInput formControlName="workOrderNumber" type="text" />
          </mat-form-field>

          <b *ngIf="totalAmount > 0" style="color: rgb(34, 34, 164)">
            TOTAL AMOUNT : {{ totalAmount | number }}
          </b>

          <button
            mat-flat-button
            class="btn-class primary"
            (click)="viewDownLoads()"
            type="button"
          >
            Attach Documents
          </button>

          <!-- <button
            mat-flat-button
            class="btn-class primary"
            (click)="viewStageDetails()"
            type="button"
            *ngIf="!isAdding && !title.toLowerCase().includes('amendment')"
          >
            View Rework Reason
          </button> -->
        </div>

        <div class="row" style="padding: 0 30px">
          <mat-form-field class="mat-27" appearance="outline">
            <mat-label [ngClass]="{ 'error-label': showPlantCodeError }">
              Search/Select Plant Code
            </mat-label>
            <input
              type="text"
              matInput
              (input)="searchProject($event)"
              [formControl]="project"
              [matAutocomplete]="projectAuto"
              [readonly]="isForView"
            />
            <mat-autocomplete
              #projectAuto="matAutocomplete"
              (optionSelected)="onProjectSelect($event)"
              [displayWith]="displayProject"
            >
              <mat-option *ngFor="let option of projects" [value]="option">
                {{ option.displayProjectName }}
              </mat-option>
            </mat-autocomplete>

            <div *ngIf="showPlantCodeError" class="error-message">
              Select project
            </div>

            <mat-error
              *ngIf="formData.get('project')?.hasError('invalidProject')"
            >
              Please select a valid project.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="example-full-width"
            appearance="outline"
            class="mat-25"
          >
            <mat-label [ngClass]="{ 'error-label': showVendorError }">
              Search/Select Vendor
            </mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedVendor.vendorCode ? selectedVendor.vendorCode : ''
              "
              (input)="searchVendorCode($event)"
              [formControl]="vendor"
              [matAutocomplete]="vendorCodeAuto"
              [readonly]="isForView"
            />
            <mat-autocomplete
              #vendorCodeAuto="matAutocomplete"
              (optionSelected)="onVendorCodeSelect($event)"
              [displayWith]="displayVendorCode"
            >
              <mat-option *ngFor="let option of vendors" [value]="option">
                {{ option.vendorCode }}
              </mat-option>
            </mat-autocomplete>

            <div *ngIf="showVendorError" class="error-message">
              Select Vendor
            </div>
          </mat-form-field>

          <mat-form-field
            class="example-full-width"
            appearance="outline"
            class="mat-25"
          >
            <mat-label> Search/Select Vendor Name </mat-label>
            <input
              type="text"
              matInput
              [value]="
                selectedVendor.vendorName ? selectedVendor.vendorName : ''
              "
              (input)="searchVendorName($event)"
              [formControl]="vendor"
              [matAutocomplete]="vendorNameAuto"
              [readonly]="isForView"
            />
            <mat-autocomplete
              #vendorNameAuto="matAutocomplete"
              (optionSelected)="onVendorNameSelect($event)"
              [displayWith]="displayVendorName"
            >
              <mat-option *ngFor="let option of vendors" [value]="option">
                {{ option.vendorName }}
              </mat-option>
            </mat-autocomplete>

            <mat-error
              *ngIf="formData.get('vendor')?.hasError('invalidVendorName')"
            >
              Invalid vendor
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-25">
            <mat-label>Vendor Gst Number</mat-label>
            <input
              matInput
              formControlName="vendorGst"
              type="text"
              [readonly]="true"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-25">
            <mat-label>Person Name At Site</mat-label>
            <input
              matInput
              formControlName="contactPersonName"
              type="text"
              [readonly]="isForView"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-25">
            <mat-label>Person Number At Site</mat-label>
            <input
              matInput
              formControlName="personContactNumber"
              type="text"
              [readonly]="isForView"
            />
            <mat-error
              *ngIf="formData.get('personContactNumber')?.hasError('required')"
            >
              Phone number is required.
            </mat-error>
            <mat-error
              *ngIf="formData.get('personContactNumber')?.hasError('pattern')"
            >
              Number must be 10 digits and start with 6, 7, 8, or 9.
            </mat-error>
          </mat-form-field>

          <mat-radio-group
            aria-label="Select an option"
            formControlName="mobilizationIn"
            class="radio-but"
          >
            <label class="radio-button1">Mobilization In</label>
            <mat-radio-button value="1">Amount</mat-radio-button>
            <mat-radio-button value="2">Percentage</mat-radio-button>
          </mat-radio-group>

          <mat-form-field
            appearance="outline"
            class="mat-25"
            *ngIf="isAmountSelected"
          >
            <mat-label> Mobilization In Amount </mat-label>
            <input
              matInput
              formControlName="mobilizationInAmount"
              (input)="formatRate($event)"
              (keydown)="restrictToNumbers($event)"
            />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="mat-25"
            *ngIf="isPercentageSelected"
          >
            <mat-label> Mobilization In Percentage </mat-label>
            <input
              matInput
              formControlName="mobilizationInPercentage"
              (keydown)="restrictToNumbers($event)"
            />
            <mat-error
              *ngIf="
                formData.get('mobilizationInPercentage')?.hasError('required')
              "
              >Mobilization Percentage Required</mat-error
            >
            <mat-error
              *ngIf="formData.get('mobilizationInPercentage')?.hasError('min')"
              >Mobilization Percentage Minimum 0</mat-error
            >
            <mat-error
              *ngIf="formData.get('mobilizationInPercentage')?.hasError('max')"
              >Mobilization Percentage Maximum 100</mat-error
            >
          </mat-form-field>
        </div>

        <div class="row" style="padding: 0 20px">
          <div formArrayName="workOrderHeaders">
            <div class="ter-con">Terms And Conditions :</div>
            <div
              *ngFor="let items1 of workOrderHeaders.controls; let i = index"
            >
              <div [formGroupName]="i" class="woHeaders">
                <div class="row" style="padding: 0 20px">
                  <mat-form-field class="mat-90" appearance="outline">
                    <mat-label [ngClass]="{ 'error-label': headerErrors[i] }">
                      Search/Select Work Order Header
                    </mat-label>
                    <input
                      type="text"
                      matInput
                      (input)="searchHeader($event, i)"
                      [formControlName]="'headerId'"
                      [matAutocomplete]="headerAuto"
                      [readonly]="items1?.get('id')?.value > 0 && isForView"
                    />
                    <mat-autocomplete
                      #headerAuto="matAutocomplete"
                      (optionSelected)="onHeaderSelect($event, i, items1)"
                      [displayWith]="displayHeader"
                    >
                      <mat-option
                        *ngFor="let option of getFilteredHeaders(i)"
                        [value]="option"
                      >
                        {{ option.headerName }}
                      </mat-option>
                    </mat-autocomplete>

                    <div *ngIf="headerErrors[i]" class="error-message">
                      Select Header
                    </div>
                    <div *ngIf="duplicateHeaderErrors[i]" class="error-message">
                      Duplicate header
                    </div>
                  </mat-form-field>
                  <mat-icon
                    matTooltip="Refresh Headers"
                    class="font2"
                    (click)="refreshWoHeader()"
                  >
                    sync
                  </mat-icon>

                  <!-- <mat-form-field appearance="outline" class="woc-mat-50">
                    <mat-label>Header Order</mat-label>
                    <input
                      matInput
                      formControlName="headerOrder"
                      type="text"
                      (input)="checkForDuplicatesAfterValueChange(i)"
                      [readonly]="items1?.get('id')?.value > 0 && isForView"
                    />
                    <mat-error
                      *ngIf="
                        workOrderHeaders
                          .at(i)
                          .get('headerOrder')
                          ?.hasError('required')
                      "
                    >
                      Header order is required.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        workOrderHeaders
                          .at(i)
                          .get('headerOrder')
                          ?.hasError('notNumber')
                      "
                      >Please enter a valid number greater than 0.</mat-error
                    >

                    <mat-error
                      *ngIf="
                        workOrderHeaders
                          .at(i)
                          .get('headerOrder')
                          ?.hasError('uniqueHeader')
                      "
                    >
                      Header order must be unique and should not be 0 (Zero).
                    </mat-error>
                  </mat-form-field> -->
                </div>
                <div style="padding: 0 20px">
                  <label for="headerName">Header Name</label>
                  <div style="position: relative">
                    <textarea
                      matInput
                      formControlName="headerName"
                      rows="1"
                      placeholder="Header Name"
                      style="
                        flex: 1;
                        width: 100%;
                        padding: 5px 10px;
                        font-size: 13px;
                      "
                      (input)="autoResizeHeaderName()"
                      #headerTextarea
                      [readonly]="items1?.get('id')?.value > 0 && isForView"
                    >
                    </textarea>

                    <mat-error *ngIf="headerNameErrors[i]"
                      >Header Name is required.</mat-error
                    >
                  </div>
                </div>

                <div class="row" style="padding: 0 15px">
                  <label for="headerTermsAndConditions"
                    >Header Terms And Conditions</label
                  >
                  <div
                    class="terms-and-con-ck-editor"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <quill-editor
                      formControlName="headerTermsAndConditions"
                    ></quill-editor>
                    <div
                      style="
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-left: 7px;
                      "
                    >
                      <span *ngIf="workOrderHeaders.length > 1">
                        <i
                          style="
                            color: red;
                            cursor: pointer;
                            border: 1px solid #333;
                            height: 24px !important;
                            font-size: 13px;
                            background: #fff;
                            padding: 4px 5px;
                          "
                          class="bi bi-trash text-danger"
                          (click)="removeWorkOrderHeaderIcons(i)"
                        ></i>
                      </span>

                      <span>
                        <i
                          class="bi bi-plus h5"
                          *ngIf="
                            !isAdding &&
                            workOrderHeaders.length > 1 &&
                            i !== workOrderHeaders.length - 1
                          "
                          (click)="addTermsAndConditions(i)"
                          style="
                            cursor: pointer;
                            border: 1px solid #333;
                            height: 24px !important;
                            font-size: 15px;
                            background: #fff;
                            padding: 3px 4px;
                          "
                        ></i>
                      </span>

                      <span style="margin-top: 3.5%">
                        <i
                          class="bi bi-plus h5"
                          *ngIf="isAdding"
                          (click)="addTermsAndConditions(i)"
                          style="
                            cursor: pointer;
                            border: 1px solid #333;
                            height: 24px !important;
                            font-size: 15px;
                            background: #fff;
                            padding: 3px 4px;
                          "
                        ></i
                      ></span>
                    </div>
                  </div>
                  <mat-error *ngIf="headerTermsAndConditionsErrors[i]"
                    >Terms and Conditions are required.</mat-error
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-footer class="add-mat-card-footer">
        <div>
          <button
            mat-flat-button
            class="btn-class accent"
            (click)="gotoWorkOrderCreation()"
            type="button"
          >
            BACK
          </button>
          <button
            *ngIf="isAdding"
            mat-flat-button
            class="btn-class warn"
            (click)="clearForm()"
            type="button"
          >
            RESET
          </button>
          <button mat-flat-button class="btn-class primary" type="submit">
            {{ isAdding ? "ADD" : "UPDATE" }}
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
