<h3 class="header">LEAD SOURCES</h3>
<div class="example-button-row">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search Source Name</mat-label>
      <input matInput (input)="onSearch($any($event).target?.value)" />
    </mat-form-field>
  </div>
  <div style="display: flex; gap: 8px">
    <app-refresh-button (refreshEvent)="refreshTable()"></app-refresh-button>
    <button mat-icon-button (click)="addLeadSource()" matTooltip="Add">
      <i class="bi bi-sign-intersection-fill"></i>
    </button>
  </div>
</div>

<mat-card class="cmn-card">
  <mat-card-content class="cmn-card-content">
    <div class="tab-head">
      <table
        matSort
        mat-table
        [dataSource]="leadSourceData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Source Name
          </th>
          <td mat-cell *matCellDef="let leadSource">{{ leadSource.name }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let leadSource">
            {{ leadSource.status === "A" ? "Active" : "InActive" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #004869; color: white"
          >
            Actions
          </th>
          <td mat-cell *matCellDef="let leadSource">
            <i
              class="bi bi-pencil"
              style="cursor: pointer"
              (click)="editLeadSource(leadSource)"
            ></i>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i
              (click)="openConfirmDialog(leadSource.leadSourceId)"
              style="color: red; cursor: pointer"
              class="bi bi-trash text-danger"
            ></i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="
            let leadSource of leadSourceData;
            columns: displayedColumns
          "
        ></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
